force-app/main/default/flows/faults_sms_calledin.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_4977e655_8b08_4432_88d2_32a741410c31</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>p_4977e655_8b08_4432_88d2_32a741410c31</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>thankYouCustomSectionAssignment1</name>
        <label>thankYouCustomSectionAssignment1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>thankYouLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thankYouLabelTextTemplate1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thankYouDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thankYouDescriptionTextTemplate1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thankYouCtaText0</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thankYouCtaTextTextTemplate10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thankYouCtaUrl0</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thankYouCtaUrlInternalVar10</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>thankYouDefaultSectionAssignment</name>
        <label>thankYouDefaultSectionAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>thankYouLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thankYouLabelTextTemplate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thankYouDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thankYouDescriptionTextTemplate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thankYouCtaText0</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thankYouCtaTextTextTemplate00</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thankYouCtaUrl0</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thankYouCtaUrlInternalVar00</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>c_132b30af_c34f_408f_82c0_49a141ae4066</name>
        <choiceText>3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1704199a_881c_4933_9a23_6fbd83d70f1b</name>
        <choiceText>8</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>8</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1daa096c_f92a_44c5_b4cb_4ab623ba4a7c</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1f33d6f1_a0a7_4677_969e_994247bf386c</name>
        <choiceText>3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2cab34f3_9a2e_4751_bb13_a207557d792d</name>
        <choiceText>6</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2f3e9149_92c7_415e_8381_2a2d4636df80</name>
        <choiceText>8</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>8</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_33986ccb_9854_4546_87f2_7a5f49c74df3</name>
        <choiceText>5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_372c17cd_54ca_4406_8454_8531011b3c9c</name>
        <choiceText>7</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>7</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_38850f92_7b4a_4465_ac6d_49912b0c6447</name>
        <choiceText>6</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_38bbe3ee_d694_4a10_b1a1_7b8fc1b5bc53</name>
        <choiceText>10</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_41701f31_a1d9_4a5a_a60c_26b7695e36f1</name>
        <choiceText>5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4789b5ba_81f6_437c_989b_aa42594f4576</name>
        <choiceText>9</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>9</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_524bee0f_10fb_41ac_aeee_dc61753f1016</name>
        <choiceText>5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5ab78dbc_1490_401e_b5de_4244ed62c58f</name>
        <choiceText>4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_6078a028_9dd8_43cb_8d9a_4a70959607c8</name>
        <choiceText>2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_63474fdf_e2bb_4b02_8cc5_d246c834465f</name>
        <choiceText>10</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_651d3834_c5c0_47b3_a804_03e388001f95</name>
        <choiceText>1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_67fd5826_c42a_4c94_9d4d_5d4635ed5097</name>
        <choiceText>1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_74622c63_4486_49fc_a12d_dbbe263f7fb6</name>
        <choiceText>9</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>9</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_804fc754_509a_46a3_af50_1decccc305ce</name>
        <choiceText>3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_80d6c977_85df_4506_86cc_04e66beab4be</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_960de663_e626_4b42_9833_b203eeaaeb76</name>
        <choiceText>2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9a5ea268_9957_4551_863b_620324d015ff</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9fcb8d39_5a12_4217_a1af_cd7cb92a400a</name>
        <choiceText>1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a2f290f7_a965_4323_91e9_0d2550eeab3f</name>
        <choiceText>4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a3e32cc4_c8f8_44fe_8572_c96da7cac0fd</name>
        <choiceText>9</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>9</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a4a446c8_2b88_49c8_9feb_68df7740b8f2</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ad271131_c7d3_49a4_81bb_21ad0b54aa88</name>
        <choiceText>7</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>7</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b3c1d1d5_adfa_4645_8ea6_7b8aadfce2a9</name>
        <choiceText>8</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>8</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_bd0f274a_2c45_47e9_af9c_23cdcd6726e9</name>
        <choiceText>4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c26f727d_9775_4ef9_89b0_0ba412240942</name>
        <choiceText>7</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>7</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_cb6f8bcc_14c0_4164_ac17_c223d7af627a</name>
        <choiceText>8</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>8</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ce2be55b_7efa_4f25_afc0_15e2e1ac1c69</name>
        <choiceText>10</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d35d7b1a_ea67_470b_b392_82ceb653f45d</name>
        <choiceText>5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d7a9e765_a99a_4052_8c7e_77f63180987e</name>
        <choiceText>7</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>7</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_da69fd45_956d_40f0_9bcc_e02e80b42761</name>
        <choiceText>1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e5d96527_c569_4742_8155_8e393a89fafd</name>
        <choiceText>4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e6bcac14_9f45_41fe_ad0c_64471f67c06d</name>
        <choiceText>6</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e8bb1fa7_1f91_4270_89c6_b2f23511c1ed</name>
        <choiceText>10</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f03d47cf_a61e_4bda_acd6_6b31c3666d95</name>
        <choiceText>2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f289805a_7e04_49cd_b390_5e9cf48932f9</name>
        <choiceText>9</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>9</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f5d70d16_04b3_41ab_9e76_3b72e6b93442</name>
        <choiceText>2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f968adb0_0aaa_4769_9144_ad95b3ef15d5</name>
        <choiceText>6</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_fcf172dd_19b0_403f_bfea_0c946772090c</name>
        <choiceText>3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <decisions>
        <name>thankYouDecisionAfterAllNodes</name>
        <label>Thank You Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>thankYouDefaultSectionAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>thankYouPageRule1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_f2a8bf2b_c90f_46d2_ae93_5f7b488b61c9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_9fcb8d39_5a12_4217_a1af_cd7cb92a400a</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_f2a8bf2b_c90f_46d2_ae93_5f7b488b61c9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_960de663_e626_4b42_9833_b203eeaaeb76</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_f2a8bf2b_c90f_46d2_ae93_5f7b488b61c9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_132b30af_c34f_408f_82c0_49a141ae4066</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_f2a8bf2b_c90f_46d2_ae93_5f7b488b61c9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_bd0f274a_2c45_47e9_af9c_23cdcd6726e9</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_f2a8bf2b_c90f_46d2_ae93_5f7b488b61c9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_41701f31_a1d9_4a5a_a60c_26b7695e36f1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_f2a8bf2b_c90f_46d2_ae93_5f7b488b61c9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_2cab34f3_9a2e_4751_bb13_a207557d792d</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_f2a8bf2b_c90f_46d2_ae93_5f7b488b61c9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_372c17cd_54ca_4406_8454_8531011b3c9c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_f2a8bf2b_c90f_46d2_ae93_5f7b488b61c9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_b3c1d1d5_adfa_4645_8ea6_7b8aadfce2a9</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_b3a3dcb2_132f_4682_876c_c4ba43159f9e</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_651d3834_c5c0_47b3_a804_03e388001f95</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_b3a3dcb2_132f_4682_876c_c4ba43159f9e</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_f03d47cf_a61e_4bda_acd6_6b31c3666d95</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_b3a3dcb2_132f_4682_876c_c4ba43159f9e</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_1f33d6f1_a0a7_4677_969e_994247bf386c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_b3a3dcb2_132f_4682_876c_c4ba43159f9e</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_a2f290f7_a965_4323_91e9_0d2550eeab3f</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_b3a3dcb2_132f_4682_876c_c4ba43159f9e</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_524bee0f_10fb_41ac_aeee_dc61753f1016</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_9888e8f6_643c_4b65_ad32_130bb4a7ee70</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_da69fd45_956d_40f0_9bcc_e02e80b42761</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_9888e8f6_643c_4b65_ad32_130bb4a7ee70</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_f5d70d16_04b3_41ab_9e76_3b72e6b93442</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_9888e8f6_643c_4b65_ad32_130bb4a7ee70</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_fcf172dd_19b0_403f_bfea_0c946772090c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_9888e8f6_643c_4b65_ad32_130bb4a7ee70</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_e5d96527_c569_4742_8155_8e393a89fafd</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_9888e8f6_643c_4b65_ad32_130bb4a7ee70</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_33986ccb_9854_4546_87f2_7a5f49c74df3</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_a37f697a_80fe_44b6_a0f1_4ff1f4698dcb</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_67fd5826_c42a_4c94_9d4d_5d4635ed5097</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_a37f697a_80fe_44b6_a0f1_4ff1f4698dcb</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_6078a028_9dd8_43cb_8d9a_4a70959607c8</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_a37f697a_80fe_44b6_a0f1_4ff1f4698dcb</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_804fc754_509a_46a3_af50_1decccc305ce</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_a37f697a_80fe_44b6_a0f1_4ff1f4698dcb</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_5ab78dbc_1490_401e_b5de_4244ed62c58f</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_a37f697a_80fe_44b6_a0f1_4ff1f4698dcb</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_d35d7b1a_ea67_470b_b392_82ceb653f45d</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>thankYouCustomSectionAssignment1</targetReference>
            </connector>
            <label>thankYouPageRule1</label>
        </rules>
    </decisions>
    <interviewLabel>Faults-SMS-CalledIn</interviewLabel>
    <label>Faults-SMS-CalledIn</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>sb_faults_sms_calledin_c1eefd4f_8576_4ec6_a080_9f720b9bd75e</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>advanceThankYouPageEnabled</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isSimpleSurvey</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>surveyType</name>
        <value>
            <stringValue>Survey</stringValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_4977e655_8b08_4432_88d2_32a741410c31</name>
        <label>Faults-SMS-CalledIn</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>thankYouDecisionAfterAllNodes</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_f2a8bf2b_c90f_46d2_ae93_5f7b488b61c9</name>
            <choiceReferences>c_80d6c977_85df_4506_86cc_04e66beab4be</choiceReferences>
            <choiceReferences>c_9fcb8d39_5a12_4217_a1af_cd7cb92a400a</choiceReferences>
            <choiceReferences>c_960de663_e626_4b42_9833_b203eeaaeb76</choiceReferences>
            <choiceReferences>c_132b30af_c34f_408f_82c0_49a141ae4066</choiceReferences>
            <choiceReferences>c_bd0f274a_2c45_47e9_af9c_23cdcd6726e9</choiceReferences>
            <choiceReferences>c_41701f31_a1d9_4a5a_a60c_26b7695e36f1</choiceReferences>
            <choiceReferences>c_2cab34f3_9a2e_4751_bb13_a207557d792d</choiceReferences>
            <choiceReferences>c_372c17cd_54ca_4406_8454_8531011b3c9c</choiceReferences>
            <choiceReferences>c_b3c1d1d5_adfa_4645_8ea6_7b8aadfce2a9</choiceReferences>
            <choiceReferences>c_74622c63_4486_49fc_a12d_dbbe263f7fb6</choiceReferences>
            <choiceReferences>c_63474fdf_e2bb_4b02_8cc5_d246c834465f</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Overall, how satisfied are you with your experience with SP Energy Networks?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_b3a3dcb2_132f_4682_876c_c4ba43159f9e</name>
            <choiceReferences>c_a4a446c8_2b88_49c8_9feb_68df7740b8f2</choiceReferences>
            <choiceReferences>c_651d3834_c5c0_47b3_a804_03e388001f95</choiceReferences>
            <choiceReferences>c_f03d47cf_a61e_4bda_acd6_6b31c3666d95</choiceReferences>
            <choiceReferences>c_1f33d6f1_a0a7_4677_969e_994247bf386c</choiceReferences>
            <choiceReferences>c_a2f290f7_a965_4323_91e9_0d2550eeab3f</choiceReferences>
            <choiceReferences>c_524bee0f_10fb_41ac_aeee_dc61753f1016</choiceReferences>
            <choiceReferences>c_f968adb0_0aaa_4769_9144_ad95b3ef15d5</choiceReferences>
            <choiceReferences>c_c26f727d_9775_4ef9_89b0_0ba412240942</choiceReferences>
            <choiceReferences>c_1704199a_881c_4933_9a23_6fbd83d70f1b</choiceReferences>
            <choiceReferences>c_4789b5ba_81f6_437c_989b_aa42594f4576</choiceReferences>
            <choiceReferences>c_38bbe3ee_d694_4a10_b1a1_7b8fc1b5bc53</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;How satisfied are you with your interaction(s) with SP Energy Networks employees (if applicable)?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_9888e8f6_643c_4b65_ad32_130bb4a7ee70</name>
            <choiceReferences>c_9a5ea268_9957_4551_863b_620324d015ff</choiceReferences>
            <choiceReferences>c_da69fd45_956d_40f0_9bcc_e02e80b42761</choiceReferences>
            <choiceReferences>c_f5d70d16_04b3_41ab_9e76_3b72e6b93442</choiceReferences>
            <choiceReferences>c_fcf172dd_19b0_403f_bfea_0c946772090c</choiceReferences>
            <choiceReferences>c_e5d96527_c569_4742_8155_8e393a89fafd</choiceReferences>
            <choiceReferences>c_33986ccb_9854_4546_87f2_7a5f49c74df3</choiceReferences>
            <choiceReferences>c_e6bcac14_9f45_41fe_ad0c_64471f67c06d</choiceReferences>
            <choiceReferences>c_d7a9e765_a99a_4052_8c7e_77f63180987e</choiceReferences>
            <choiceReferences>c_cb6f8bcc_14c0_4164_ac17_c223d7af627a</choiceReferences>
            <choiceReferences>c_a3e32cc4_c8f8_44fe_8572_c96da7cac0fd</choiceReferences>
            <choiceReferences>c_e8bb1fa7_1f91_4270_89c6_b2f23511c1ed</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;How satisfied are you with your interaction(s) with our automated voice messaging system (if applicable)?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_a37f697a_80fe_44b6_a0f1_4ff1f4698dcb</name>
            <choiceReferences>c_1daa096c_f92a_44c5_b4cb_4ab623ba4a7c</choiceReferences>
            <choiceReferences>c_67fd5826_c42a_4c94_9d4d_5d4635ed5097</choiceReferences>
            <choiceReferences>c_6078a028_9dd8_43cb_8d9a_4a70959607c8</choiceReferences>
            <choiceReferences>c_804fc754_509a_46a3_af50_1decccc305ce</choiceReferences>
            <choiceReferences>c_5ab78dbc_1490_401e_b5de_4244ed62c58f</choiceReferences>
            <choiceReferences>c_d35d7b1a_ea67_470b_b392_82ceb653f45d</choiceReferences>
            <choiceReferences>c_38850f92_7b4a_4465_ac6d_49912b0c6447</choiceReferences>
            <choiceReferences>c_ad271131_c7d3_49a4_81bb_21ad0b54aa88</choiceReferences>
            <choiceReferences>c_2f3e9149_92c7_415e_8381_2a2d4636df80</choiceReferences>
            <choiceReferences>c_f289805a_7e04_49cd_b390_5e9cf48932f9</choiceReferences>
            <choiceReferences>c_ce2be55b_7efa_4f25_afc0_15e2e1ac1c69</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;How satisfied are you with the quality of information provided to you regarding the power cut?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_b84e5867_f222_4385_b4be_c018371fcdb0</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Please tell us why you have given these scores.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouCtaTextTextTemplate00</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Preparing for a Power Cut</text>
    </textTemplates>
    <textTemplates>
        <name>thankYouCtaTextTextTemplate10</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Preparing for a Power Cut</text>
    </textTemplates>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Thank you for your feedback.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;To discuss your experience further, call us on &lt;/strong&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 9pt;&quot;&gt;0330 1010 277. &lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Thank you for your feedback. A team member will be in touch to discuss how we can improve your experience now &amp;amp; in the future.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Should you wish to speak with us sooner, please call &lt;/strong&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 9pt;&quot;&gt;0330 1010 277.&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouCtaText0</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thankYouCtaText1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thankYouCtaText2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thankYouCtaUrl0</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thankYouCtaUrl1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thankYouCtaUrl2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thankYouCtaUrlInternalVar00</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://www.spenergynetworks.co.uk/pages/being_prepared_for_a_power_cut.aspx</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouCtaUrlInternalVar10</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://www.spenergynetworks.co.uk/pages/being_prepared_for_a_power_cut.aspx</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thankYouRedirectUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
