force-app/main/default/flows/faults_sms_proactive.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_b5fae274_3fa4_492f_8b26_e38ec89814bc</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>p_b5fae274_3fa4_492f_8b26_e38ec89814bc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>thankYouCustomSectionAssignment1</name>
        <label>thankYouCustomSectionAssignment1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>thankYouLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thankYouLabelTextTemplate1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thankYouDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thankYouDescriptionTextTemplate1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thankYouCtaText0</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thankYouCtaTextTextTemplate10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thankYouCtaUrl0</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thankYouCtaUrlInternalVar10</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>thankYouDefaultSectionAssignment</name>
        <label>thankYouDefaultSectionAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>thankYouLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thankYouLabelTextTemplate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thankYouDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thankYouDescriptionTextTemplate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thankYouCtaText0</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thankYouCtaTextTextTemplate00</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thankYouCtaUrl0</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thankYouCtaUrlInternalVar00</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>c_0d0bfba6_8ae5_4a7e_a26d_6be7dcee6ef2</name>
        <choiceText>10</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_15bc406b_2647_45da_b8cc_69ca70f12941</name>
        <choiceText>1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_163dd6ea_df78_43fd_8866_b39cd0770bf7</name>
        <choiceText>7</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>7</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1f86d0cd_965c_4fdb_89b5_f26eb45200b2</name>
        <choiceText>2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_24dacdce_b0cf_4141_be3d_ab6c3e012ffe</name>
        <choiceText>1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2bff6444_588b_4199_a277_152f6c441c07</name>
        <choiceText>4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2c0e87e0_793d_4973_bcb3_5eb23912f662</name>
        <choiceText>9</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>9</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_35bc94db_fa16_4eb7_b49a_5f19fa834899</name>
        <choiceText>5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_38f574e1_b427_44cc_bb2b_bf5d9e7fb7e6</name>
        <choiceText>4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4777928d_162e_4412_b15b_c8eaeb5b8da8</name>
        <choiceText>9</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>9</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4d961a31_22ee_4eb0_bc04_f7d2f6caaf79</name>
        <choiceText>2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4ee24a95_84eb_42e7_a9a7_d8d44b91bb0b</name>
        <choiceText>5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5508019e_7fef_4d12_a946_7f2bc037ae5e</name>
        <choiceText>3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5a2b073e_06cb_43fe_8ce7_f840143b62b7</name>
        <choiceText>6</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5b9e534b_22de_412b_b87e_0214b257b60b</name>
        <choiceText>6</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5c7760c3_b077_4508_a9c7_8bab037a60e8</name>
        <choiceText>9</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>9</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_62f22114_79ff_4658_9a93_18e69cf119de</name>
        <choiceText>10</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_65fc4672_0859_407f_b9d7_9fc33e142adf</name>
        <choiceText>4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_72abfe43_bee4_45e5_95e4_45b9b4cd3658</name>
        <choiceText>5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_757c0b3e_2845_4b5e_a103_f81dfdd0b8fb</name>
        <choiceText>10</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_773e9db0_fb3f_43f4_b059_2d57b3a26571</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_79d6beac_b846_4552_ae8c_d9ea8dcc13b6</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7b158f2c_4f99_4094_aab6_46fd7791b118</name>
        <choiceText>6</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7f385c90_a09a_43be_83fe_9a84505ff516</name>
        <choiceText>7</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>7</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_849c2a97_2b17_4a84_a127_2958d59e4a4b</name>
        <choiceText>3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8b9e9bad_d321_4f90_b5e8_ff004c7d3cc1</name>
        <choiceText>8</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>8</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8e2fa71e_6007_4662_958b_c5455cb06a09</name>
        <choiceText>10</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9b56b331_3384_4337_b874_86ace3a1f2cf</name>
        <choiceText>4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9c3026cd_a9d9_4268_85b5_f347b817834f</name>
        <choiceText>2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9e654b37_87ad_4326_85f0_9cb593d3014a</name>
        <choiceText>3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a185a99b_e0e7_499d_95a9_a98adee29691</name>
        <choiceText>5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a8578b25_405d_416b_9fdb_bce6f653ce13</name>
        <choiceText>2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_abbe8c27_80bf_4634_88f1_4e5ae2c5b31f</name>
        <choiceText>1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b106e8de_8f2a_46d6_90d9_1c31ec113320</name>
        <choiceText>8</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>8</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b4be094c_b9f9_4c8a_8668_8f4c7a3490d7</name>
        <choiceText>3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b5f7f628_6f62_4dfd_a3da_3c8e02a5d11b</name>
        <choiceText>7</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>7</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b7d2d5f5_0303_40c5_8644_38c0c993affd</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c5f276a1_361b_4a77_9ae3_075ef758a05b</name>
        <choiceText>8</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>8</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_cb487b6b_1340_431e_bdcb_d251ecd52812</name>
        <choiceText>7</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>7</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_dd70b859_947d_4805_ab79_5e7f37151756</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ddc00db8_b655_4b84_a62b_a78feb2d40be</name>
        <choiceText>1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f3dc1cf4_a922_4121_841f_a6167b9e39a5</name>
        <choiceText>8</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>8</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_fbd42da1_5ce0_4c87_a3d1_66253660a324</name>
        <choiceText>6</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_fbd603ef_0d0a_48f9_94b3_d2c4e3c9c9b3</name>
        <choiceText>9</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>9</stringValue>
        </value>
    </choices>
    <decisions>
        <name>thankYouDecisionAfterAllNodes</name>
        <label>Thank You Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>thankYouDefaultSectionAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>thankYouPageRule1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_1f319894_4259_4997_ac29_f0a58e6df40a</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_ddc00db8_b655_4b84_a62b_a78feb2d40be</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_1f319894_4259_4997_ac29_f0a58e6df40a</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_9c3026cd_a9d9_4268_85b5_f347b817834f</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_1f319894_4259_4997_ac29_f0a58e6df40a</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_9e654b37_87ad_4326_85f0_9cb593d3014a</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_1f319894_4259_4997_ac29_f0a58e6df40a</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_38f574e1_b427_44cc_bb2b_bf5d9e7fb7e6</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_1f319894_4259_4997_ac29_f0a58e6df40a</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_35bc94db_fa16_4eb7_b49a_5f19fa834899</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_1f319894_4259_4997_ac29_f0a58e6df40a</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_fbd42da1_5ce0_4c87_a3d1_66253660a324</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_1f319894_4259_4997_ac29_f0a58e6df40a</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_cb487b6b_1340_431e_bdcb_d251ecd52812</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_1f319894_4259_4997_ac29_f0a58e6df40a</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_f3dc1cf4_a922_4121_841f_a6167b9e39a5</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_f9a5a6d7_0b21_4ce6_a6df_3393ec2deccd</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_15bc406b_2647_45da_b8cc_69ca70f12941</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_f9a5a6d7_0b21_4ce6_a6df_3393ec2deccd</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_a8578b25_405d_416b_9fdb_bce6f653ce13</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_f9a5a6d7_0b21_4ce6_a6df_3393ec2deccd</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_5508019e_7fef_4d12_a946_7f2bc037ae5e</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_f9a5a6d7_0b21_4ce6_a6df_3393ec2deccd</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_2bff6444_588b_4199_a277_152f6c441c07</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_f9a5a6d7_0b21_4ce6_a6df_3393ec2deccd</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_4ee24a95_84eb_42e7_a9a7_d8d44b91bb0b</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_7c4447f1_4aae_4f84_8f50_0682497c4b77</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_24dacdce_b0cf_4141_be3d_ab6c3e012ffe</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_7c4447f1_4aae_4f84_8f50_0682497c4b77</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_1f86d0cd_965c_4fdb_89b5_f26eb45200b2</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_7c4447f1_4aae_4f84_8f50_0682497c4b77</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_849c2a97_2b17_4a84_a127_2958d59e4a4b</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_7c4447f1_4aae_4f84_8f50_0682497c4b77</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_9b56b331_3384_4337_b874_86ace3a1f2cf</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_7c4447f1_4aae_4f84_8f50_0682497c4b77</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_72abfe43_bee4_45e5_95e4_45b9b4cd3658</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_3fdedd42_a9ea_4cfc_a6e7_a0bd938a246f</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_abbe8c27_80bf_4634_88f1_4e5ae2c5b31f</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_3fdedd42_a9ea_4cfc_a6e7_a0bd938a246f</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_4d961a31_22ee_4eb0_bc04_f7d2f6caaf79</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_3fdedd42_a9ea_4cfc_a6e7_a0bd938a246f</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_b4be094c_b9f9_4c8a_8668_8f4c7a3490d7</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_3fdedd42_a9ea_4cfc_a6e7_a0bd938a246f</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_65fc4672_0859_407f_b9d7_9fc33e142adf</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_3fdedd42_a9ea_4cfc_a6e7_a0bd938a246f</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_a185a99b_e0e7_499d_95a9_a98adee29691</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>thankYouCustomSectionAssignment1</targetReference>
            </connector>
            <label>thankYouPageRule1</label>
        </rules>
    </decisions>
    <interviewLabel>Faults-SMS-Proactive</interviewLabel>
    <label>Faults-SMS-Proactive</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>sb_faults_sms_proactive_1_1344a251_8d0d_4cec_bbfc_e9dc0faf5725</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>advanceThankYouPageEnabled</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isSimpleSurvey</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>surveyType</name>
        <value>
            <stringValue>Survey</stringValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_b5fae274_3fa4_492f_8b26_e38ec89814bc</name>
        <label>Faults-SMS-Proactive</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>thankYouDecisionAfterAllNodes</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_1f319894_4259_4997_ac29_f0a58e6df40a</name>
            <choiceReferences>c_79d6beac_b846_4552_ae8c_d9ea8dcc13b6</choiceReferences>
            <choiceReferences>c_ddc00db8_b655_4b84_a62b_a78feb2d40be</choiceReferences>
            <choiceReferences>c_9c3026cd_a9d9_4268_85b5_f347b817834f</choiceReferences>
            <choiceReferences>c_9e654b37_87ad_4326_85f0_9cb593d3014a</choiceReferences>
            <choiceReferences>c_38f574e1_b427_44cc_bb2b_bf5d9e7fb7e6</choiceReferences>
            <choiceReferences>c_35bc94db_fa16_4eb7_b49a_5f19fa834899</choiceReferences>
            <choiceReferences>c_fbd42da1_5ce0_4c87_a3d1_66253660a324</choiceReferences>
            <choiceReferences>c_cb487b6b_1340_431e_bdcb_d251ecd52812</choiceReferences>
            <choiceReferences>c_f3dc1cf4_a922_4121_841f_a6167b9e39a5</choiceReferences>
            <choiceReferences>c_2c0e87e0_793d_4973_bcb3_5eb23912f662</choiceReferences>
            <choiceReferences>c_0d0bfba6_8ae5_4a7e_a26d_6be7dcee6ef2</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Overall, how satisfied are you with your experience with SP Energy Networks?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_f9a5a6d7_0b21_4ce6_a6df_3393ec2deccd</name>
            <choiceReferences>c_773e9db0_fb3f_43f4_b059_2d57b3a26571</choiceReferences>
            <choiceReferences>c_15bc406b_2647_45da_b8cc_69ca70f12941</choiceReferences>
            <choiceReferences>c_a8578b25_405d_416b_9fdb_bce6f653ce13</choiceReferences>
            <choiceReferences>c_5508019e_7fef_4d12_a946_7f2bc037ae5e</choiceReferences>
            <choiceReferences>c_2bff6444_588b_4199_a277_152f6c441c07</choiceReferences>
            <choiceReferences>c_4ee24a95_84eb_42e7_a9a7_d8d44b91bb0b</choiceReferences>
            <choiceReferences>c_5b9e534b_22de_412b_b87e_0214b257b60b</choiceReferences>
            <choiceReferences>c_163dd6ea_df78_43fd_8866_b39cd0770bf7</choiceReferences>
            <choiceReferences>c_b106e8de_8f2a_46d6_90d9_1c31ec113320</choiceReferences>
            <choiceReferences>c_4777928d_162e_4412_b15b_c8eaeb5b8da8</choiceReferences>
            <choiceReferences>c_62f22114_79ff_4658_9a93_18e69cf119de</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;How satisfied are you with your interaction(s) with SP Energy Networks employees (if applicable)?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_7c4447f1_4aae_4f84_8f50_0682497c4b77</name>
            <choiceReferences>c_b7d2d5f5_0303_40c5_8644_38c0c993affd</choiceReferences>
            <choiceReferences>c_24dacdce_b0cf_4141_be3d_ab6c3e012ffe</choiceReferences>
            <choiceReferences>c_1f86d0cd_965c_4fdb_89b5_f26eb45200b2</choiceReferences>
            <choiceReferences>c_849c2a97_2b17_4a84_a127_2958d59e4a4b</choiceReferences>
            <choiceReferences>c_9b56b331_3384_4337_b874_86ace3a1f2cf</choiceReferences>
            <choiceReferences>c_72abfe43_bee4_45e5_95e4_45b9b4cd3658</choiceReferences>
            <choiceReferences>c_7b158f2c_4f99_4094_aab6_46fd7791b118</choiceReferences>
            <choiceReferences>c_7f385c90_a09a_43be_83fe_9a84505ff516</choiceReferences>
            <choiceReferences>c_c5f276a1_361b_4a77_9ae3_075ef758a05b</choiceReferences>
            <choiceReferences>c_5c7760c3_b077_4508_a9c7_8bab037a60e8</choiceReferences>
            <choiceReferences>c_8e2fa71e_6007_4662_958b_c5455cb06a09</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;How satisfied are you with your interaction(s) with our automated voice messaging system (if applicable)?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_3fdedd42_a9ea_4cfc_a6e7_a0bd938a246f</name>
            <choiceReferences>c_dd70b859_947d_4805_ab79_5e7f37151756</choiceReferences>
            <choiceReferences>c_abbe8c27_80bf_4634_88f1_4e5ae2c5b31f</choiceReferences>
            <choiceReferences>c_4d961a31_22ee_4eb0_bc04_f7d2f6caaf79</choiceReferences>
            <choiceReferences>c_b4be094c_b9f9_4c8a_8668_8f4c7a3490d7</choiceReferences>
            <choiceReferences>c_65fc4672_0859_407f_b9d7_9fc33e142adf</choiceReferences>
            <choiceReferences>c_a185a99b_e0e7_499d_95a9_a98adee29691</choiceReferences>
            <choiceReferences>c_5a2b073e_06cb_43fe_8ce7_f840143b62b7</choiceReferences>
            <choiceReferences>c_b5f7f628_6f62_4dfd_a3da_3c8e02a5d11b</choiceReferences>
            <choiceReferences>c_8b9e9bad_d321_4f90_b5e8_ff004c7d3cc1</choiceReferences>
            <choiceReferences>c_fbd603ef_0d0a_48f9_94b3_d2c4e3c9c9b3</choiceReferences>
            <choiceReferences>c_757c0b3e_2845_4b5e_a103_f81dfdd0b8fb</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;How satisfied are you with the quality of information provided to you regarding the power cut?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_332fea1e_bb96_41ee_bedb_5e5b8789d8fd</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Please tell us why you have given these scores.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouCtaTextTextTemplate00</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Preparing for a Power Cut</text>
    </textTemplates>
    <textTemplates>
        <name>thankYouCtaTextTextTemplate10</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Preparing for a Power Cut</text>
    </textTemplates>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Thank you for your feedback.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;To discuss your experience further, call us on&amp;nbsp;&lt;/strong&gt;&lt;strong style=&quot;font-size: 9pt; font-family: Arial, sans-serif;&quot;&gt;0330 1010 277.&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Thank you for you for your feedback. A team member will be in touch to discuss how we can improve your experience now &amp;amp; in the future.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;Should you wish to speak with us sooner, please call &lt;/strong&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;0330 1010 277.&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouCtaText0</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thankYouCtaText1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thankYouCtaText2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thankYouCtaUrl0</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thankYouCtaUrl1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thankYouCtaUrl2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thankYouCtaUrlInternalVar00</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://www.spenergynetworks.co.uk/pages/being_prepared_for_a_power_cut.aspx</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouCtaUrlInternalVar10</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://www.spenergynetworks.co.uk/pages/being_prepared_for_a_power_cut.aspx</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thankYouRedirectUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
