force-app/main/default/flows/SPEN_FieldValidationsForTransmissionPlanningDetails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Auto_Populate_via_insert</name>
        <label>Auto Populate via insert</label>
        <locationX>94</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Insert</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_ClockStartDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_DraftDueDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_DateRevisedInformationReceived__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_TargetSRG__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_DateInitialSBNreceived__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdatePlanningFields</targetReference>
            </connector>
            <label>Insert</label>
        </rules>
        <rules>
            <name>SPEN_MTM2OfferExpireToNGESOCCM14DaysInsert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CaseId.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_CaseTransmission</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_Openforacceptancedate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_CaseId.SPEN_NGESOCCMAccount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_CaseId.SPEN_NGESOCCMContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_communication_scheduler_Record</targetReference>
            </connector>
            <label>MTM 2 Offer Expire To NGESO CCM 14 Days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_new</name>
        <label>Is new</label>
        <locationX>556</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_CaseIdforupdate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.SPEN_BypassFlowPlanningDetails</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CaseId</targetReference>
            </connector>
            <label>Is New Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_IsCommunicationSchedulerRecordExist</name>
        <label>Is Communication Scheduler Record Exist</label>
        <locationX>1150</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Create_Communication_scheduler</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Event_MTM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Communication_scheduler.SPEN_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MTM 2 Offer Expire To NGESO CCM 14 Days</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Communication_Scheduler</targetReference>
            </connector>
            <label>Event MTM</label>
        </rules>
    </decisions>
    <decisions>
        <name>ToComparePriorAndCurrentValues</name>
        <label>To compare prior and current values of the Planning fields</label>
        <locationX>1018</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CompareValues</name>
            <conditionLogic>(1 OR (2 AND 3) OR (4 AND 5) OR (6 AND 7) OR (8 AND 9)) AND 10</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_ClockStartDate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SPEN_DraftDueDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_DraftDueDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SPEN_DateRevisedInformationReceived__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_DateRevisedInformationReceived__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SPEN_TargetSRG__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_TargetSRG__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SPEN_DateInitialSBNreceived__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_DateInitialSBNreceived__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.SPEN_BypassFlowPlanningDetails</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdatePlanningFields</targetReference>
            </connector>
            <label>Compare Prior and Current Values</label>
        </rules>
        <rules>
            <name>Allow_User_to_Edit</name>
            <conditionLogic>((1 AND 2 AND 3) OR (4 AND 5 AND 6) OR (7 AND 8 AND 9) OR (10 AND 11 AND 12)) AND 13</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.SPEN_ClockStartDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SPEN_ClockStartDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SPEN_ClockStartDate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_ClockStartDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SPEN_DraftDueDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SPEN_DraftDueDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SPEN_DraftDueDate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_DraftDueDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SPEN_DateRevisedInformationReceived__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SPEN_DateRevisedInformationReceived__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SPEN_DateRevisedInformationReceived__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_DateRevisedInformationReceived__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SPEN_TargetSRG__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SPEN_TargetSRG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SPEN_TargetSRG__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_TargetSRG__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.SPEN_BypassFlowPlanningDetails</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Allow User to Edit</label>
        </rules>
        <rules>
            <name>SPEN_MTM2OfferExpireToNGESOCCM14Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CaseIdforupdate.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_CaseTransmission</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_Openforacceptancedate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_CaseIdforupdate.SPEN_NGESOCCMAccount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_CaseIdforupdate.SPEN_NGESOCCMContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.SPEN_BypassFlowPlanningDetails</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_GetCommSchedulerRecordType</targetReference>
            </connector>
            <label>MTM 2 Offer Expire To NGESO CCM 14 Days</label>
        </rules>
    </decisions>
    <description>This is to Auto Populate the Planning object fields - Draft Due Date, Final Due Date, Open for acceptance date, Revised Information response target date, Options doc target date, Cost sheet target date, TOCO ciculate target date, P&amp;S target date, NGESO Offer To User</description>
    <environments>Default</environments>
    <formulas>
        <name>isNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>NGESOOfferToUser_FinInfo</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!SPEN_NGESOOfferToUser},3)</expression>
    </formulas>
    <formulas>
        <name>openDateAcceptance14DaysPrior</name>
        <dataType>Date</dataType>
        <expression>{!$Record.SPEN_Openforacceptancedate__c}-14</expression>
    </formulas>
    <formulas>
        <name>SPEN_Costsheettarget</name>
        <dataType>Date</dataType>
        <expression>{!$Record.SPEN_ClockStartDate__c}+28</expression>
    </formulas>
    <formulas>
        <name>SPEN_DraftDueDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.SPEN_ClockStartDate__c},2)</expression>
    </formulas>
    <formulas>
        <name>SPEN_FinalDueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.SPEN_DraftDueDate__c}+14</expression>
    </formulas>
    <formulas>
        <name>SPEN_InitialSBNResponseTargetDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.SPEN_DateInitialSBNreceived__c}+7</expression>
    </formulas>
    <formulas>
        <name>SPEN_NGESOOfferToUser</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.SPEN_ClockStartDate__c},3)</expression>
    </formulas>
    <formulas>
        <name>SPEN_OpenForAcceptanceDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.SPEN_ClockStartDate__c},7)</expression>
    </formulas>
    <formulas>
        <name>SPEN_Optionsdoctarget</name>
        <dataType>Date</dataType>
        <expression>{!$Record.SPEN_ClockStartDate__c}+14</expression>
    </formulas>
    <formulas>
        <name>SPEN_PStarget</name>
        <dataType>Date</dataType>
        <expression>{!$Record.SPEN_TargetSRG__c}+14</expression>
    </formulas>
    <formulas>
        <name>SPEN_RevisedInforesponsetargetdate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.SPEN_DateRevisedInformationReceived__c}+3</expression>
    </formulas>
    <formulas>
        <name>SPEN_TOCOciculatetarget</name>
        <dataType>Date</dataType>
        <expression>{!$Record.SPEN_TargetSRG__c}+7</expression>
    </formulas>
    <interviewLabel>SPEN Field Validations for Transmission Planning Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SPEN Field Validations for Transmission Planning Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Communication_scheduler</name>
        <label>Create Communication scheduler</label>
        <locationX>1150</locationX>
        <locationY>1163</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SPEN_GetCommSchedulerRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Case__c</field>
            <value>
                <elementReference>Get_CaseIdforupdate.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Event__c</field>
            <value>
                <stringValue>MTM 2 Offer Expire To NGESO CCM 14 Days</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_ScheduledDateTime__c</field>
            <value>
                <elementReference>openDateAcceptance14DaysPrior</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Status__c</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>SPEN_CommunicationScheduler__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_communication_scheduler_Record</name>
        <label>Create communication scheduler Record</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>SPEN_Case__c</field>
            <value>
                <elementReference>Get_CaseId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Event__c</field>
            <value>
                <stringValue>MTM 2 Offer Expire To NGESO CCM 14 Days</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_ScheduledDateTime__c</field>
            <value>
                <elementReference>openDateAcceptance14DaysPrior</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Status__c</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>SPEN_CommunicationScheduler__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_CaseId</name>
        <label>Get CaseId</label>
        <locationX>94</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Auto_Populate_via_insert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SPEN_PlanningDetails__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CaseIdforupdate</name>
        <label>Get CaseId</label>
        <locationX>1018</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ToComparePriorAndCurrentValues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SPEN_PlanningDetails__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Communication_scheduler</name>
        <label>Get Communication scheduler</label>
        <locationX>1150</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SPEN_IsCommunicationSchedulerRecordExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SPEN_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MTM 2 Offer Expire To NGESO CCM 14 Days</stringValue>
            </value>
        </filters>
        <filters>
            <field>SPEN_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CaseIdforupdate.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SPEN_CommunicationScheduler__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SPEN_GetCommSchedulerRecordType</name>
        <label>Get Comm Scheduler Record Type</label>
        <locationX>1150</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Communication_scheduler</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_CommunicationScheduler__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_EmailNotification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Communication_Scheduler</name>
        <label>Update Communication Scheduler to Abort</label>
        <locationX>1018</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Create_Communication_scheduler</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Communication_scheduler.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_Status__c</field>
            <value>
                <stringValue>Aborted</stringValue>
            </value>
        </inputAssignments>
        <object>SPEN_CommunicationScheduler__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>To Update the Update the Date Initial SBN Received Field with create date value</description>
        <name>UpdatePlanningFields</name>
        <label>Update the Planning Fields</label>
        <locationX>556</locationX>
        <locationY>1547</locationY>
        <inputAssignments>
            <field>SPEN_Costsheettarget__c</field>
            <value>
                <elementReference>SPEN_Costsheettarget</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_DraftDueDate__c</field>
            <value>
                <elementReference>SPEN_DraftDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_FinalDueDate__c</field>
            <value>
                <elementReference>SPEN_FinalDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_InitialSBNresponsetargetdate__c</field>
            <value>
                <elementReference>SPEN_InitialSBNResponseTargetDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_NGESOOfferToUser__c</field>
            <value>
                <elementReference>SPEN_NGESOOfferToUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Openforacceptancedate__c</field>
            <value>
                <elementReference>SPEN_OpenForAcceptanceDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Optionsdoctarget__c</field>
            <value>
                <elementReference>SPEN_Optionsdoctarget</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_PStarget__c</field>
            <value>
                <elementReference>SPEN_PStarget</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_RevisedInforesponsetargetdate__c</field>
            <value>
                <elementReference>SPEN_RevisedInforesponsetargetdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_TOCOciculatetarget__c</field>
            <value>
                <elementReference>SPEN_TOCOciculatetarget</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>430</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_new</targetReference>
        </connector>
        <object>SPEN_PlanningDetails__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SPEN_IsUpdate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
