force-app/main/default/flows/SPEN_EmailToCaseGE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>SW_SPD_values_assignment</name>
        <label>SW SPD values assignment</label>
        <locationX>1171</locationX>
        <locationY>376</locationY>
        <assignmentItems>
            <assignToReference>Get_Case.BusinessHoursId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SPD_GE_Business_Hours.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.SPEN_SPDSPMIndicator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SPD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_GE_SPD_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SPD_GE_Case_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SW_SPM_values_assignment</name>
        <label>SW SPM values assignment</label>
        <locationX>2030</locationX>
        <locationY>367</locationY>
        <assignmentItems>
            <assignToReference>Get_Case.BusinessHoursId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SPM_GE_Business_Hours.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.SPEN_SPDSPMIndicator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SPM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_GE_SPM_Queue_0.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SPM_GE_Case_Record</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>DummyParentCaseNumber</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00036701</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_RT</name>
        <label>Check RT</label>
        <locationX>1271</locationX>
        <locationY>99</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RT_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_GeneralEnquiries</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Latest_Inbound_Email_Message</targetReference>
            </connector>
            <label>RT: Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_SPD_SPM</name>
        <label>Determine SPD/SPM</label>
        <locationX>1604</locationX>
        <locationY>244</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPD</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Latest_Inbound_Email_Message.ToAddress</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>customer.resolution</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SPD_GE_Business_Hours</targetReference>
            </connector>
            <label>SPD</label>
        </rules>
        <rules>
            <name>SPM</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Latest_Inbound_Email_Message.ToAddress</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>south.customerresolution</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SPM_GE_Business_Hours</targetReference>
            </connector>
            <label>SPM</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Ca {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email to Case GE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>1092</locationX>
        <locationY>97</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_GE_SPD_Queue</name>
        <label>Get GE SPD Queue</label>
        <locationX>1182</locationX>
        <locationY>254</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SW_SPD_values_assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GE SPD - Customer Resolution</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_GE_SPM_Queue_0</name>
        <label>Get GE SPM Queue</label>
        <locationX>1998</locationX>
        <locationY>205</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SW_SPM_values_assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GE SPM - Customer Resolution</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Fetch email message record to determine relevant fields for case routing etc.</description>
        <name>Get_Latest_Inbound_Email_Message</name>
        <label>Get Latest Inbound Email Message</label>
        <locationX>1491</locationX>
        <locationY>101</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Determine_SPD_SPM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Incoming</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailMessage</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SPD_GE_Business_Hours</name>
        <label>Get SPD GE Business Hours</label>
        <locationX>1334</locationX>
        <locationY>253</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_GE_SPD_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN GE SPD Business Hours</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BusinessHours</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SPM_GE_Business_Hours</name>
        <label>Get SPM GE Business Hours</label>
        <locationX>1840</locationX>
        <locationY>245</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_GE_SPM_Queue_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN GE SPM Business Hours</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BusinessHours</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SPD_GE_Case_Record</name>
        <label>Update SPD GE Case Record</label>
        <locationX>1577</locationX>
        <locationY>413</locationY>
        <inputReference>Get_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SPM_GE_Case_Record</name>
        <label>Update SPM GE Case Record</label>
        <locationX>1759</locationX>
        <locationY>412</locationY>
        <inputReference>Get_Case</inputReference>
    </recordUpdates>
    <start>
        <locationX>687</locationX>
        <locationY>79</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ParentCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ParentCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>holds the ID of the record being routed (a case)</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
