force-app/main/default/flows/SPEN_VoiceCallsRoutedtoFaultQueues.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>DCC_Faults_No_Message_Heard_Voice_call_contact_record</name>
        <label>DCC Faults No Message Heard Voice call contact record</label>
        <locationX>2665</locationX>
        <locationY>624</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>INVOKE_SPENDCCFaultsNoMessageHeard</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;6b4f8515&quot;,&quot;targetObjectId&quot;:&quot;{!GetContact.Id}&quot;,&quot;isFocused&quot;:false},{&quot;id&quot;:&quot;9cb4df9e&quot;,&quot;targetObjectId&quot;:&quot;{!input_record.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>DCC_Faults_PSR_Voice_call_contact_record</name>
        <label>DCC-Faults-PSR Voice call contact record</label>
        <locationX>1887</locationX>
        <locationY>703</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>INVOKE_GetDCCFaultsPSRQueue</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;6b4f8515&quot;,&quot;targetObjectId&quot;:&quot;{!GetContact.Id}&quot;,&quot;isFocused&quot;:false},{&quot;id&quot;:&quot;9cb4df9e&quot;,&quot;targetObjectId&quot;:&quot;{!input_record.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>DCCFaultCallbackVIPVoicecallcontactrecord</name>
        <label>DCC Fault Callback VIP Voice call contact record</label>
        <locationX>438</locationX>
        <locationY>879</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>INVOKE_GetVIPFaultCallbackQueue</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;852e6332&quot;,&quot;targetObjectId&quot;:&quot;{!GetContact.Id}&quot;,&quot;isFocused&quot;:false},{&quot;id&quot;:&quot;f9830e05&quot;,&quot;targetObjectId&quot;:&quot;{!input_record.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>DCCFaultCallbackVoicecallcontactrecord</name>
        <label>DCC Fault Callback Voice call contact record</label>
        <locationX>1594</locationX>
        <locationY>299</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>INVOKE_GetFaultCallbackQueue</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;6a7f63c8&quot;,&quot;targetObjectId&quot;:&quot;{!GetContact.Id}&quot;,&quot;isFocused&quot;:false},{&quot;id&quot;:&quot;0a98f04c&quot;,&quot;targetObjectId&quot;:&quot;{!input_record.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>DCCFaultsDangerCheckVoicecallcontactrecord</name>
        <label>DCC_Faults_Danger_Check Voice call contact record</label>
        <locationX>2970</locationX>
        <locationY>607</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>INVOKE_SPEN_DCC_Faults_Danger_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;6b4f8515&quot;,&quot;targetObjectId&quot;:&quot;{!GetContact.Id}&quot;,&quot;isFocused&quot;:false},{&quot;id&quot;:&quot;9cb4df9e&quot;,&quot;targetObjectId&quot;:&quot;{!input_record.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>DCCFaultsRepeatCallerVoicecallcontactrecord</name>
        <label>DCC Faults Repeat Caller Voice call contact record</label>
        <locationX>2320</locationX>
        <locationY>702</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>INVOKE_DCCFaultsRepeatCaller</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;6b4f8515&quot;,&quot;targetObjectId&quot;:&quot;{!GetContact.Id}&quot;,&quot;isFocused&quot;:false},{&quot;id&quot;:&quot;9cb4df9e&quot;,&quot;targetObjectId&quot;:&quot;{!input_record.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>DCCFaultVIPVoicecallcontactrecord</name>
        <label>DCC Fault VIP Voice call contact record</label>
        <locationX>1378</locationX>
        <locationY>919</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>INVOKE_GetVIPFaultAgentQueueID</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;6b4f8515&quot;,&quot;targetObjectId&quot;:&quot;{!GetContact.Id}&quot;,&quot;isFocused&quot;:false},{&quot;id&quot;:&quot;9cb4df9e&quot;,&quot;targetObjectId&quot;:&quot;{!input_record.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>DCCFaultVoicecallcontactrecord</name>
        <label>DCC Fault Voice call contact record</label>
        <locationX>200</locationX>
        <locationY>360</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>INVOKE_GetFaultAgentQueue</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;bdd8bd85&quot;,&quot;targetObjectId&quot;:&quot;{!input_record.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>INVOKE_DCCFaultsRepeatCaller</name>
        <label>GetDCC_Faults_Repeat_Caller</label>
        <locationX>2103</locationX>
        <locationY>616</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Route_to_SPEN_DCC_Faults_Repeat_Caller</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN_DCC_Faults_Repeat_Caller</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>INVOKE_GetDCCFaultsPSRQueue</name>
        <label>GetDCC-Faults-PSRQueue</label>
        <locationX>1710</locationX>
        <locationY>726</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Route_to_SPEN_DCC_Faults_PSR</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN_DCC_Faults_PSR</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>INVOKE_GetFaultAgentQueue</name>
        <label>GetFaultAgentQueue</label>
        <locationX>571</locationX>
        <locationY>366</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Route_to_DCC_Faults_CC</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN_FaultAgentQueue</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>INVOKE_GetFaultCallbackQueue</name>
        <label>GetFaultCallbackQueue</label>
        <locationX>1259</locationX>
        <locationY>313</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Route_to_DCC_Faults_CC_Callback</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN_FaultCallbackQueue</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>INVOKE_GetVIPFaultAgentQueueID</name>
        <label>Get VIP Fault Agent Queue ID</label>
        <locationX>1042</locationX>
        <locationY>806</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Route_to_DCC_Faults_CC_VIP</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN_VIPFaultAgentQueue</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>INVOKE_GetVIPFaultCallbackQueue</name>
        <label>Get VIP Fault Callback Queue</label>
        <locationX>731</locationX>
        <locationY>660</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Route_to_DCC_Faults_CC_VIP_Callback</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN_VIPFaultCallbackQueue</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>INVOKE_SPEN_DCC_Faults_Danger_Check</name>
        <label>Get DCC-Faults-Danger-Check</label>
        <locationX>2818</locationX>
        <locationY>645</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Route_to_SPEN_DCC_Faults_Danger_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN_DCC_Faults_Danger_Check</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>INVOKE_SPENDCCFaultsNoMessageHeard</name>
        <label>Get SPEN DCC Faults No Message Heard</label>
        <locationX>2488</locationX>
        <locationY>605</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Route_to_SDCC_Faults_No_Message_Heard</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN_DCC_Faults_No_Message_Heard</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>The Route Work action is used to input the routing requirements to Omni-Channel.</description>
        <name>Route_to_DCC_Faults_CC</name>
        <label>Route to DCC-Faults-CC</label>
        <locationX>233</locationX>
        <locationY>517</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>SPEN_UpdateCurrentDateTimeOnVC</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isAgentRequired</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isAgentVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isRoutingConfigVariable</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>DCCFaultVoicecallcontactrecord.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>INVOKE_GetFaultAgentQueue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>Fault Agent Queue</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98d000000skg0CAA</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Route_to_DCC_Faults_CC_Callback</name>
        <label>Route to DCC-Faults-CC-Callback</label>
        <locationX>1552</locationX>
        <locationY>497</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>SPEN_UpdateCurrentDateTimeOnVC</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>DCCFaultCallbackVoicecallcontactrecord.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>INVOKE_GetFaultCallbackQueue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98d000000skg0CAA</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Route_to_DCC_Faults_CC_VIP</name>
        <label>Route to DCC-Faults-CC-VIP</label>
        <locationX>1011</locationX>
        <locationY>1045</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>SPEN_UpdateCurrentDateTimeOnVC</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>DCCFaultVIPVoicecallcontactrecord.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>INVOKE_GetVIPFaultAgentQueueID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>VIP Fault Agent Queue</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98d000000skg0CAA</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Route_to_DCC_Faults_CC_VIP_Callback</name>
        <label>Route to DCC-Faults-CC-VIP-Callback</label>
        <locationX>727</locationX>
        <locationY>1057</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>SPEN_UpdateCurrentDateTimeOnVC</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>DCCFaultCallbackVIPVoicecallcontactrecord.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>INVOKE_GetVIPFaultCallbackQueue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>VIP Fault Callback Queue</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98d000000skg0CAA</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Route_to_SDCC_Faults_No_Message_Heard</name>
        <label>Route to SDCC_Faults_No_Message_Heard</label>
        <locationX>2524</locationX>
        <locationY>982</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>SPEN_UpdateCurrentDateTimeOnVC</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>DCCFaultVIPVoicecallcontactrecord.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>INVOKE_SPENDCCFaultsNoMessageHeard</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>VIP Fault Agent Queue</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98d000000skg0CAA</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Route_to_SPEN_DCC_Faults_Danger_Check</name>
        <label>Route to SPEN_DCC_Faults_Danger_Check</label>
        <locationX>2876</locationX>
        <locationY>886</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>SPEN_UpdateCurrentDateTimeOnVC</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>DCCFaultVIPVoicecallcontactrecord.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>INVOKE_SPEN_DCC_Faults_Danger_Check</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>VIP Fault Agent Queue</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98d000000skg0CAA</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Route_to_SPEN_DCC_Faults_PSR</name>
        <label>Route to SPEN_DCC_Faults_PSR</label>
        <locationX>1619</locationX>
        <locationY>920</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>SPEN_UpdateCurrentDateTimeOnVC</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>DCCFaultVIPVoicecallcontactrecord.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>INVOKE_GetDCCFaultsPSRQueue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>VIP Fault Agent Queue</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98d000000skg0CAA</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Route_to_SPEN_DCC_Faults_Repeat_Caller</name>
        <label>Route to SPEN_DCC_Faults_Repeat_Caller</label>
        <locationX>1956</locationX>
        <locationY>883</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>SPEN_UpdateCurrentDateTimeOnVC</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>DCCFaultVIPVoicecallcontactrecord.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>INVOKE_DCCFaultsRepeatCaller</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>VIP Fault Agent Queue</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98d000000skg0CAA</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_Contact_Number</name>
        <label>Check Contact Number</label>
        <locationX>1137</locationX>
        <locationY>619</locationY>
        <defaultConnector>
            <targetReference>INVOKE_GetVIPFaultAgentQueueID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_ContactNumber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_ContactPhoneNumber</targetReference>
            </connector>
            <label>Check Contact Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Number_0</name>
        <label>Check Contact Number</label>
        <locationX>1806</locationX>
        <locationY>519</locationY>
        <defaultConnector>
            <targetReference>INVOKE_GetDCCFaultsPSRQueue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_ContactNumber_PSR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_ContactPhoneNumber_0</targetReference>
            </connector>
            <label>Check Contact Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Number_0_0</name>
        <label>Check Contact Number</label>
        <locationX>2217</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>INVOKE_DCCFaultsRepeatCaller</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_ContactNumber_RepeatedCaller</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_ContactPhoneNumber_0_0</targetReference>
            </connector>
            <label>Check Contact Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Number_0_0_0</name>
        <label>Check Contact Number</label>
        <locationX>2619</locationX>
        <locationY>298</locationY>
        <defaultConnector>
            <targetReference>INVOKE_SPENDCCFaultsNoMessageHeard</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_ContactNumber_NoMessageHeard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_ContactPhoneNumber_0_0_0</targetReference>
            </connector>
            <label>Check Contact Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Number_0_0_0_0</name>
        <label>Check Contact Number</label>
        <locationX>2870</locationX>
        <locationY>241</locationY>
        <defaultConnector>
            <targetReference>INVOKE_SPEN_DCC_Faults_Danger_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_ContactNumber_Danger</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_ContactPhoneNumber_0_0_0_0</targetReference>
            </connector>
            <label>Check Contact Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Phone</name>
        <label>Check Contact Phone</label>
        <locationX>1266</locationX>
        <locationY>53</locationY>
        <defaultConnector>
            <targetReference>INVOKE_GetFaultCallbackQueue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_ContactPhone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ContactDetails</targetReference>
            </connector>
            <label>Check Contact Phone</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Phone_Number</name>
        <label>Check Contact Phone Number</label>
        <locationX>542</locationX>
        <locationY>196</locationY>
        <defaultConnector>
            <targetReference>INVOKE_GetFaultAgentQueue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Contact_Phone_Numberisfalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Details</targetReference>
            </connector>
            <label>Check Contact Phone Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckContact_PhoneNumber</name>
        <label>Check Contact Phone Number</label>
        <locationX>624</locationX>
        <locationY>504</locationY>
        <defaultConnector>
            <targetReference>INVOKE_GetVIPFaultCallbackQueue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckContactPhone_Numberisfalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateContact_Details</targetReference>
            </connector>
            <label>Check Contact Phone Number</label>
        </rules>
    </decisions>
    <decisions>
        <description>This example decision node looks at the Contact that is calling and decides which Queue they should be routed to. Here, it checks both the name and country of the customer.</description>
        <name>CustomerRoutingDecision</name>
        <label>How should the customer be routed?</label>
        <locationX>902</locationX>
        <locationY>420</locationY>
        <defaultConnectorLabel>All Other Customers</defaultConnectorLabel>
        <rules>
            <name>Verify_DCC_Faults_CC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DCCFaultsAgentQueue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Contact_Phone_Number</targetReference>
            </connector>
            <label>Verify DCC Faults CC</label>
        </rules>
        <rules>
            <name>DCC_Faults_CC_Callback</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DCCFaultsAgentCallbackQueue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Contact_Phone</targetReference>
            </connector>
            <label>Verify DCC-Faults-CC-Callback</label>
        </rules>
        <rules>
            <name>DCC_Faults_CC_VIP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DCCVIPFaultsAgentQueue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Contact_Number</targetReference>
            </connector>
            <label>Verify DCC-Faults-CC-VIP</label>
        </rules>
        <rules>
            <name>DCC_Faults_CC_VIP_Callback</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DCCVIPFaultsAgentCallbackQueue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckContact_PhoneNumber</targetReference>
            </connector>
            <label>Verify DCC-Faults-CC-VIP-Callback</label>
        </rules>
        <rules>
            <name>Verify_DCC_Faults_PSR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DCCPSRFaultsAgentQueue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Contact_Number_0</targetReference>
            </connector>
            <label>Verify DCC-Faults-PSR</label>
        </rules>
        <rules>
            <name>Verify_DCC_Faults_Repeat_Caller</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DCCRepeatCallerFaultsAgentQueue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Contact_Number_0_0</targetReference>
            </connector>
            <label>Verify DCC-Faults-Repeat-Caller</label>
        </rules>
        <rules>
            <name>Verify_DCC_Faults_No_Message_Heard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DCCNoMessageHeardFaultsAgentQueue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Contact_Number_0_0_0</targetReference>
            </connector>
            <label>Verify DCC-Faults-No-Message-Heard</label>
        </rules>
        <rules>
            <name>Verify_DCC_Faults_Danger_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DCCDangerCheckFaultsAgentQueue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Contact_Number_0_0_0_0</targetReference>
            </connector>
            <label>Verify DCC-Faults-Danger-Check</label>
        </rules>
    </decisions>
    <description>voice calls will route to fault, fault callback and VIP fault, VIP fault callback queues</description>
    <environments>Default</environments>
    <interviewLabel>VoiceCalls Routed to Fault Queues {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Voice Calls Routed to Fault Queues</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordLookups>
        <description>This example action is used to load the Contact who is calling, using the Phone Number from the Voice Call record.
This contact can later be used to inform the decision on where to route the call.</description>
        <name>GetContact</name>
        <label>Get Contact by Phone Number</label>
        <locationX>773</locationX>
        <locationY>164</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CustomerRoutingDecision</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.SPEN_ContactId__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Check_ContactPhoneNumber</name>
        <label>Check Contact Phone Number where Id is Voice Call</label>
        <locationX>1380</locationX>
        <locationY>680</locationY>
        <connector>
            <targetReference>DCCFaultVIPVoicecallcontactrecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_ContactId__c</field>
            <value>
                <elementReference>GetContact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>Check_ContactPhoneNumber_0</name>
        <label>Check Contact Phone Number where Id is Voice Call</label>
        <locationX>1927</locationX>
        <locationY>515</locationY>
        <connector>
            <targetReference>DCC_Faults_PSR_Voice_call_contact_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_ContactId__c</field>
            <value>
                <elementReference>GetContact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>Check_ContactPhoneNumber_0_0</name>
        <label>Check Contact Phone Number where Id is Voice Call</label>
        <locationX>2340</locationX>
        <locationY>495</locationY>
        <connector>
            <targetReference>DCCFaultsRepeatCallerVoicecallcontactrecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_ContactId__c</field>
            <value>
                <elementReference>GetContact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>Check_ContactPhoneNumber_0_0_0</name>
        <label>Check Contact Phone Number where Id is Voice Call</label>
        <locationX>2718</locationX>
        <locationY>438</locationY>
        <connector>
            <targetReference>DCC_Faults_No_Message_Heard_Voice_call_contact_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_ContactId__c</field>
            <value>
                <elementReference>GetContact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>Check_ContactPhoneNumber_0_0_0_0</name>
        <label>Check Contact Phone Number where Id is Voice Call</label>
        <locationX>3012</locationX>
        <locationY>428</locationY>
        <connector>
            <targetReference>DCCFaultsDangerCheckVoicecallcontactrecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_ContactId__c</field>
            <value>
                <elementReference>GetContact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>SPEN_UpdateCurrentDateTimeOnVC</name>
        <label>Update current dateTime on VC queue entered time</label>
        <locationX>1455</locationX>
        <locationY>1126</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_QueueEnteredDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Details</name>
        <label>Update Contact Details</label>
        <locationX>224</locationX>
        <locationY>172</locationY>
        <connector>
            <targetReference>DCCFaultVoicecallcontactrecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_ContactId__c</field>
            <value>
                <elementReference>GetContact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ContactDetails</name>
        <label>Update Contact Info Details</label>
        <locationX>1640</locationX>
        <locationY>155</locationY>
        <connector>
            <targetReference>DCCFaultCallbackVoicecallcontactrecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_ContactId__c</field>
            <value>
                <elementReference>GetContact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateContact_Details</name>
        <label>Update Contact Details from Contact ID</label>
        <locationX>438</locationX>
        <locationY>666</locationY>
        <connector>
            <targetReference>DCCFaultCallbackVIPVoicecallcontactrecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_ContactId__c</field>
            <value>
                <elementReference>GetContact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <sourceTemplate>omnichannel_voice__VoiceRouting</sourceTemplate>
    <start>
        <locationX>647</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetContact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DialledNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The voice call record that is being inputted into the flow. Necessary for the flow to run.</description>
        <name>input_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>VoiceCall</objectType>
    </variables>
    <variables>
        <description>The ID of the record being inputted into the flow. Necessary for the flow to run.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
