force-app/main/default/flows/SPEN_Compliance_Stores_Move_Equipment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Adds the assigned product transfer to the finalProductTransfers record collection variable.</description>
        <name>Add_Product_Transfer</name>
        <label>Add Product Transfer</label>
        <locationX>3091</locationX>
        <locationY>4094</locationY>
        <assignmentItems>
            <assignToReference>finalProductTransfers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assigned_product_transfer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_recordIds_Collection_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assignment to add assigned Product Transfer State to collection variable.</description>
        <name>Add_Product_Transfer_State</name>
        <label>Add Product Transfer State</label>
        <locationX>3091</locationX>
        <locationY>4610</locationY>
        <assignmentItems>
            <assignToReference>finalProductTransferStates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assigned_Product_Transfer_State</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Created_Product_Transfers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add the Serialised Product with updated values to the record collection.</description>
        <name>Add_Serialised_Products</name>
        <label>Add Serialised Products</label>
        <locationX>3091</locationX>
        <locationY>5750</locationY>
        <assignmentItems>
            <assignToReference>finalSerialisedProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assignedSerialisedProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Serialised_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the assigned updated Product Transfer to record collection</description>
        <name>Add_Updated_Product_Transfer</name>
        <label>Add Updated Product Transfer</label>
        <locationX>3091</locationX>
        <locationY>5126</locationY>
        <assignmentItems>
            <assignToReference>finalUpdatedProductTransfers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updated_product_transfers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_Update_Product_Transfers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the chosen screen values to relevant variables.</description>
        <name>Assign_Chosen_Screen_Values</name>
        <label>Assign Chosen Screen Values</label>
        <locationX>2030</locationX>
        <locationY>2462</locationY>
        <assignmentItems>
            <assignToReference>assigned_destinationlocationid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Change_Location.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_booking_type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>action_Booking_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_item_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Item_Status_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_transfer_comments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>transfercommentsInput1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Compliance_Stores_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the chosen screen values to relevant variables.</description>
        <name>assign_Chosen_Screen_Values1</name>
        <label>Assign Chosen Screen Values</label>
        <locationX>4406</locationX>
        <locationY>3302</locationY>
        <assignmentItems>
            <assignToReference>assigned_destinationlocationid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Change_Location_Global.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_booking_type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>action_Type_Picklist2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_item_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Item_Status_Picklist_Global</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_transfer_comments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TransferCommentsInput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Compliance_Stores_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the individual ENID from Multiset to recordId variable.</description>
        <name>Assign_Individual_ENID_to_recordId_Variable</name>
        <label>Assign Individual ENID to recordId Variable</label>
        <locationX>4670</locationX>
        <locationY>2336</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Serialised_Product_from_Individual_ENID_Entry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Active_Check_Multi_to_Single</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the recordId to recordidscollection variable.</description>
        <name>Assign_Record_Id</name>
        <label>Assign Record Id</label>
        <locationX>1370</locationX>
        <locationY>2162</locationY>
        <assignmentItems>
            <assignToReference>recordidscollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Chosen_Screen_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the recordId to recordidscollection variable.</description>
        <name>assign_Record_Id1</name>
        <label>Assign Record Id</label>
        <locationX>3482</locationX>
        <locationY>3002</locationY>
        <assignmentItems>
            <assignToReference>recordidscollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_Chosen_Screen_Values1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assignment to add all record Ids of the multiset item to record Ids variable.</description>
        <name>Assign_Record_IDs</name>
        <label>Assign Record IDs</label>
        <locationX>1106</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>recordidscollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Multiset_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Chosen_Screen_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assignment to add all record Ids of the multiset item to record Ids variable.</description>
        <name>assign_Record_IDs1</name>
        <label>Assign Record IDs</label>
        <locationX>5066</locationX>
        <locationY>3110</locationY>
        <assignmentItems>
            <assignToReference>recordidscollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Multiset_Records1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_Chosen_Screen_Values1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the Serialised Product record to recordId variable.</description>
        <name>Assign_Serialised_Product_Record_to_recordId_Variable</name>
        <label>Assign Serialised Product Record to recordId Variable</label>
        <locationX>5198</locationX>
        <locationY>2120</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_a_Serialised_Product_from_Entry_ENID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Active_Check_Multi_to_Single</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the Serialised Product record to recordId variable.</description>
        <name>Assign_Serialised_Product_Record_to_recordId_Variable_Single</name>
        <label>Assign Serialised Product Record to recordId Variable</label>
        <locationX>5858</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_a_Serialised_Product_from_Entry_ENID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Category_Permission_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the product transfer details.</description>
        <name>assignment_for_Create_Product_Transfer</name>
        <label>Assignment for Create Product Transfer</label>
        <locationX>3091</locationX>
        <locationY>3986</locationY>
        <assignmentItems>
            <assignToReference>assigned_product_transfer.DestinationLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assigned_destinationlocationid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_recordIds_Collection_Variable.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer.QuantityReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer.QuantitySent</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer.QuantityUnitOfMeasure</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Each</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer.ReceivedById</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Running_User_ID_Return</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Compliance_Stores_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer.SPEN_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assigned_booking_type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer.SPEN_Energy_Networks_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_recordIds_Collection_Variable.SPEN_Energy_Networks_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer.SPEN_Multiset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_recordIds_Collection_Variable.SPEN_Multiset__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer.SPEN_Parent_Energy_Networks_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_recordIds_Collection_Variable.SPEN_Parent_Energy_Networks_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer.SPEN_Safety_Check_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_recordIds_Collection_Variable.SPEN_Safety_Check_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer.SPEN_Serialised_Product_Helper__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_recordIds_Collection_Variable.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer.SourceLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_recordIds_Collection_Variable.SPEN_Current_Location__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer.SourceProductItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_recordIds_Collection_Variable.ProductItemId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer.SPEN_Transfer_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer.SPEN_Transfer_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assigned_transfer_comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer.SPEN_Previous_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_recordIds_Collection_Variable.SPEN_Item_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer.SPEN_New_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>final_item_status_formula_product_transfer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Product_Transfer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the new variables to Product Transfer State in order to add to record collection.</description>
        <name>Assignment_for_Create_Product_Transfer_State</name>
        <label>Assignment for Create Product Transfer State</label>
        <locationX>3091</locationX>
        <locationY>4502</locationY>
        <assignmentItems>
            <assignToReference>assigned_Product_Transfer_State.Action</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Receive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_Product_Transfer_State.ProductTransferId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Created_Product_Transfers.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_Product_Transfer_State.SerializedProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Created_Product_Transfers.SPEN_Serialised_Product_Helper__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_Product_Transfer_State.TransferState</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Product_Transfer_State</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns new values to created Product Transfer record.</description>
        <name>Assignment_for_Updating_Product_Transfers</name>
        <label>Assignment for Updating Product Transfers</label>
        <locationX>3091</locationX>
        <locationY>5018</locationY>
        <assignmentItems>
            <assignToReference>updated_product_transfers.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_to_Update_Product_Transfers.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updated_product_transfers.IsReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updated_product_transfers.QuantityReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updated_product_transfers.QuantityUnitOfMeasure</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Each</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Updated_Product_Transfer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the new variables to record variable in order to update Serialised Products.</description>
        <name>Assignment_for_Updating_Serialised_Product</name>
        <label>Assignment for Updating Serialised Product</label>
        <locationX>3091</locationX>
        <locationY>5642</locationY>
        <assignmentItems>
            <assignToReference>assignedSerialisedProduct.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>final_serialised_product_owner_id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignedSerialisedProduct.SPEN_Current_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assigned_destinationlocationid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignedSerialisedProduct.SPEN_Item_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>final_item_status_formula_serialised_product</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignedSerialisedProduct.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignedSerialisedProduct.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Serialised_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignedSerialisedProduct.SPEN_Energy_Networks_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Serialised_Products.SPEN_Energy_Networks_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignedSerialisedProduct.SPEN_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Serialised_Products.SPEN_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignedSerialisedProduct.SPEN_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Serialised_Products.SPEN_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignedSerialisedProduct.SPEN_Location_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assigned_location_name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Serialised_Products</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Available_Choice</name>
        <choiceText>Available</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Available</stringValue>
        </value>
    </choices>
    <choices>
        <name>Away_For_Calibration_Choice</name>
        <choiceText>Away For Calibration</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Away For Calibration</stringValue>
        </value>
    </choices>
    <choices>
        <name>Away_For_Repair_Choice</name>
        <choiceText>Away For Repair</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Away For Repair</stringValue>
        </value>
    </choices>
    <choices>
        <name>booked_out_choice</name>
        <choiceText>Booked Out</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Booked Out</stringValue>
        </value>
    </choices>
    <choices>
        <name>calibration_Repair_Choice</name>
        <choiceText>Calibration/Repair</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Calibration/Repair</stringValue>
        </value>
    </choices>
    <choices>
        <name>data_Fix_Choice</name>
        <choiceText>Data Fix</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Data Fix</stringValue>
        </value>
    </choices>
    <choices>
        <name>manual_Move_Choice</name>
        <choiceText>Manual Move</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Manual Move</stringValue>
        </value>
    </choices>
    <choices>
        <name>quarantine_awaiting_calibration_choice</name>
        <choiceText>Quarantine - Awaiting Calibration</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quarantine - Awaiting Calibration</stringValue>
        </value>
    </choices>
    <choices>
        <name>Quarantine_Awaiting_Inspection_Choice</name>
        <choiceText>Quarantine - Awaiting Inspection</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quarantine - Awaiting Inspection</stringValue>
        </value>
    </choices>
    <choices>
        <name>Quarantine_Awaiting_Repair_Choice</name>
        <choiceText>Quarantine - Awaiting Repair</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quarantine - Awaiting Repair</stringValue>
        </value>
    </choices>
    <choices>
        <name>Update_All_Choice</name>
        <choiceText>Update All</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update All</stringValue>
        </value>
    </choices>
    <choices>
        <name>Update_Individual_Choice</name>
        <choiceText>Update Individual Item</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update Individual Item</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Checks to see if item is active and first needs reactivating.</description>
        <name>Active_Check_Multi_to_Single</name>
        <label>Active Check</label>
        <locationX>5000</locationX>
        <locationY>2678</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Inactive_Single_Item_Confirmation_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Item Inactive</defaultConnectorLabel>
        <rules>
            <name>Item_Active_Multi_to_Single</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.SPEN_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Chosen_Location_Information</targetReference>
            </connector>
            <label>Item Active</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if item is active and first needs reactivating.</description>
        <name>Active_Check_Quick_Action</name>
        <label>Active Check</label>
        <locationX>2624</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Inactive_Single_Item_Confirmation_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Item Inactive</defaultConnectorLabel>
        <rules>
            <name>Item_Active_Quick</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.SPEN_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Compliance_Stores_Category_Permission_Set_Assignment</targetReference>
            </connector>
            <label>Item Active</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if item is active and first needs reactivating.</description>
        <name>Active_Check_Single_Global</name>
        <label>Active Check</label>
        <locationX>5990</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>Inactive_Single_Item_Confirmation_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Item Inactive</defaultConnectorLabel>
        <rules>
            <name>Item_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_a_Serialised_Product_from_Entry_ENID.SPEN_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Serialised_Product_Record_to_recordId_Variable_Single</targetReference>
            </connector>
            <label>Item Active</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the item is appendix 1/personal issue as Team Leaders are only authorised to move this category of equipment.</description>
        <name>Category_Permission_Check</name>
        <label>Category Permission Check</label>
        <locationX>2030</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Failed_Permission_Set_Check_Screen_Compliance_Category</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Authorised</defaultConnectorLabel>
        <rules>
            <name>Appendix_1_Personal_Issue_Category</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appendix 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Personal Issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Status_Location_Change_Screen</targetReference>
            </connector>
            <label>Appendix 1/Personal Issue Category</label>
        </rules>
        <rules>
            <name>Compliance_Stores_Category</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>complianceCategoryPermissionSetAssignmentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Status_Location_Change_Screen</targetReference>
            </connector>
            <label>Compliance Stores Category</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the item is appendix 1/personal issue as Team Leaders are only authorised to move this category of equipment.</description>
        <name>Category_Permission_Check_Multi</name>
        <label>Category Permission Check</label>
        <locationX>5000</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Failed_Permission_Set_Check_Screen_Compliance_Category</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Authorised</defaultConnectorLabel>
        <rules>
            <name>Appendix_1_Personal_Issue_Category_Multi</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_a_Serialised_Product_from_Entry_ENID.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appendix 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_a_Serialised_Product_from_Entry_ENID.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Personal Issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Status_Location_Change_Screen_Multiset</targetReference>
            </connector>
            <label>Appendix 1/Personal Issue Category</label>
        </rules>
        <rules>
            <name>Compliance_Stores_Category_Multi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>complianceCategoryPermissionSetAssignmentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Status_Location_Change_Screen_Multiset</targetReference>
            </connector>
            <label>Compliance Stores Category</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if a Serialised Product is found where the ENID entered matches ENID field.</description>
        <name>Check_If_Individual_ENID_Serialised_Product_Found</name>
        <label>Check If Individual ENID Serialised Product Found</label>
        <locationX>4802</locationX>
        <locationY>2228</locationY>
        <defaultConnector>
            <targetReference>Invalid_ENID_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No ENID Identified</defaultConnectorLabel>
        <rules>
            <name>ENID_Identified_Individual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Serialised_Product_from_Individual_ENID_Entry.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Individual_ENID_to_recordId_Variable</targetReference>
            </connector>
            <label>ENID Identified</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if a Serialised Product is found where the ENID entered matches Parent ENID field.</description>
        <name>Check_If_Parent_ENID_Serialised_Product_Found</name>
        <label>Check If Parent ENID Serialised Product Found</label>
        <locationX>5693</locationX>
        <locationY>1538</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Invalid_ENID_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No ENID Identified</defaultConnectorLabel>
        <rules>
            <name>Parent_ENID_Identified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_a_Serialised_Product_from_Entry_ENID.SPEN_Parent_Energy_Networks_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ENID_Entry_Text</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_a_Serialised_Product_from_Entry_ENID.SPEN_Multiset__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Category_Permission_Check_Multi</targetReference>
            </connector>
            <label>Parent ENID Identified</label>
        </rules>
        <rules>
            <name>Standard_ENID_Identified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_a_Serialised_Product_from_Entry_ENID.SPEN_Energy_Networks_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ENID_Entry_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_Check_Single_Global</targetReference>
            </connector>
            <label>Standard ENID Identified</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the item is being moved from a Quarantine area and status is being changed to available. This should be done via an Inspection rather than manual move.</description>
        <name>check_Move_Validity</name>
        <label>Check Move Validity</label>
        <locationX>2030</locationX>
        <locationY>2054</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Record_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Individual Move</defaultConnectorLabel>
        <rules>
            <name>data_Fix_Multi_Move</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>action_Booking_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>data_Fix_Choice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_All_Checkbox_Multiset</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Multiset_Records</targetReference>
            </connector>
            <label>Data Fix - Multi Move</label>
        </rules>
        <rules>
            <name>data_Fix_Individual_Move</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>action_Booking_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>data_Fix_Choice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_All_Checkbox_Multiset</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Multiset__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Record_Id</targetReference>
            </connector>
            <label>Data Fix - Individual Move</label>
        </rules>
        <rules>
            <name>Invalid_Return_Booked_Out_Move_Quick</name>
            <conditionLogic>((1 OR 2) AND 3 AND 4) OR (3 AND (5 OR 6 OR 7 OR 8)) OR (4 AND 9 AND 10)</conditionLogic>
            <conditions>
                <leftValueReference>recordId.SPEN_Item_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Away For Calibration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Item_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Away For Repair</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Item_Status_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>booked_out_choice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Chosen_Location_Information_Quick.LocationType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Item_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Available</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Item_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quarantine - Awaiting Calibration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Item_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quarantine - Awaiting Inspection</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Item_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quarantine - Awaiting Repair</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Item_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Booked Out</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Item_Status_Picklist</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Invalid_Return_Book_Out_Move_Screen</targetReference>
            </connector>
            <label>Invalid Return Booked Out Move - Quick</label>
        </rules>
        <rules>
            <name>Invalid_Quarantine_Status_Change1</name>
            <conditionLogic>((1 OR 2 OR 3) AND 4) OR ((5 OR 6 OR 7) AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>Item_Status_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>quarantine_awaiting_calibration_choice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Item_Status_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Quarantine_Awaiting_Inspection_Choice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Item_Status_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Quarantine_Awaiting_Repair_Choice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Chosen_Location_Information_Quick.SPEN_Is_Quarantine_Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Item_Status_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Available_Choice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Item_Status_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Away_For_Calibration_Choice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Item_Status_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Away_For_Repair_Choice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Chosen_Location_Information_Quick.SPEN_Is_Quarantine_Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Invalid_Quarantine_Move_Screen</targetReference>
            </connector>
            <label>Invalid Quarantine Status Change</label>
        </rules>
        <rules>
            <name>Inspection_Due_Quick</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5) AND (6 OR 7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>recordId.SPEN_Item_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quarantine - Awaiting Inspection</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Current_Location__r.SPEN_Is_Quarantine_Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Item_Status_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Available_Choice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Item_Status_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Away_For_Calibration_Choice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Item_Status_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Away_For_Repair_Choice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_All_Checkbox_Multiset</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Multiset__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_All_Checkbox_Multiset</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inspection_Due_Screen</targetReference>
            </connector>
            <label>Inspection Due - Quick</label>
        </rules>
        <rules>
            <name>Non_Quarantine_Move_Quick</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>recordId.SPEN_Item_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quarantine - Awaiting Inspection</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Current_Location__r.SPEN_Is_Quarantine_Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Chosen_Location_Information_Quick.SPEN_Is_Quarantine_Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Item_Status_Picklist</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_All_Checkbox_Multiset</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_All_Checkbox_Multiset</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Multiset__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Non_Quarantine_Move_Screen</targetReference>
            </connector>
            <label>Non Quarantine Move - Quick</label>
        </rules>
        <rules>
            <name>multi_Move</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Update_All_Checkbox_Multiset</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Multiset_Records</targetReference>
            </connector>
            <label>Multi Move</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the item is being moved from a Quarantine area and status is being changed to available. This should be done via an Inspection rather than manual move.</description>
        <name>check_Move_Validity1</name>
        <label>Check Move Validity</label>
        <locationX>4406</locationX>
        <locationY>2894</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>assign_Record_Id1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Individual Move</defaultConnectorLabel>
        <rules>
            <name>data_Fix_Individual_Move1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>action_Type_Picklist2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>data_Fix_Choice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_Option_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Update_Individual_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Record_Id1</targetReference>
            </connector>
            <label>Data Fix - Individual Move</label>
        </rules>
        <rules>
            <name>data_Fix_Multi_Move1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>action_Type_Picklist2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>data_Fix_Choice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_Option_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Update_All_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Multiset_Records1</targetReference>
            </connector>
            <label>Data Fix - Multi Move</label>
        </rules>
        <rules>
            <name>Invalid_Returned_Book_Out_Move_Global</name>
            <conditionLogic>((1 OR 2) AND 3 AND 4) OR (3 AND (5 OR 6 OR 7 OR 8)) OR (4 AND 9 AND 10)</conditionLogic>
            <conditions>
                <leftValueReference>recordId.SPEN_Item_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Away For Calibration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Item_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Away For Repair</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Item_Status_Picklist_Global</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>booked_out_choice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Chosen_Location_Information.LocationType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Item_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Available</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Item_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quarantine - Awaiting Calibration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Item_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quarantine - Awaiting Inspection</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Item_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quarantine - Awaiting Repair</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Item_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Booked Out</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Item_Status_Picklist_Global</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invalid_Return_Book_Out_Move_Screen</targetReference>
            </connector>
            <label>Invalid Returned Book Out Move - Global</label>
        </rules>
        <rules>
            <name>Invalid_Quarantine_Change</name>
            <conditionLogic>((1 OR 2 OR 3) AND 4) OR ((5 OR 6 OR 7) AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>Item_Status_Picklist_Global</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>quarantine_awaiting_calibration_choice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Item_Status_Picklist_Global</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Quarantine_Awaiting_Inspection_Choice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Item_Status_Picklist_Global</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Quarantine_Awaiting_Repair_Choice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Chosen_Location_Information.SPEN_Is_Quarantine_Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Item_Status_Picklist_Global</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Available_Choice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Item_Status_Picklist_Global</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Away_For_Calibration_Choice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Item_Status_Picklist_Global</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Away_For_Repair_Choice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Chosen_Location_Information.SPEN_Is_Quarantine_Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invalid_Quarantine_Move_Screen</targetReference>
            </connector>
            <label>Invalid Quarantine Change</label>
        </rules>
        <rules>
            <name>Inspection_Due_Global</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5) AND (6 OR 7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>recordId.SPEN_Item_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quarantine - Awaiting Inspection</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Current_Location__r.SPEN_Is_Quarantine_Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Item_Status_Picklist_Global</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Available_Choice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Item_Status_Picklist_Global</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Away_For_Calibration_Choice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Item_Status_Picklist_Global</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Away_For_Repair_Choice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_Option_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Update_Individual_Choice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_Option_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Update_All_Choice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_Option_Picklist</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Inspection_Due_Screen</targetReference>
            </connector>
            <label>Inspection Due - Global</label>
        </rules>
        <rules>
            <name>Non_Quarantine_Move_Global</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.SPEN_Item_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quarantine - Awaiting Inspection</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Current_Location__r.SPEN_Is_Quarantine_Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Chosen_Location_Information.SPEN_Is_Quarantine_Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Item_Status_Picklist_Global</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_Option_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Update_Individual_Choice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_Option_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Update_All_Choice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_Option_Picklist</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Non_Quarantine_Move_Screen</targetReference>
            </connector>
            <label>Non Quarantine Move - Global</label>
        </rules>
        <rules>
            <name>multi_Move1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Update_Option_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Update_All_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Multiset_Records1</targetReference>
            </connector>
            <label>Multi Move</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if all permission set Ids were located, and also if the user has a permission set assignment for any of the permission sets.</description>
        <name>Permission_Set_Assignment_Check</name>
        <label>Permission Set Assignment Check</label>
        <locationX>1592</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Get_Compliance_Stores_Serialised_Product_Record_Type_Single</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Authorised</defaultConnectorLabel>
        <rules>
            <name>Missing_Permission_Set</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ComplianceTeamPermissionSetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SiteManagerPermissionSetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OperationalSafetyEngineerPermissionSetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>teamLeaderPermissionSetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missing_Permission_Sets_Screen</targetReference>
            </connector>
            <label>Missing Permission Set</label>
        </rules>
        <rules>
            <name>Missing_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>foundPermissionSetAssignmentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Failed_Permission_Set_Check_Screen</targetReference>
            </connector>
            <label>Missing Assignment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Transfer_Record_Type_Found</name>
        <label>Product Transfer Record Type Found?</label>
        <locationX>3135</locationX>
        <locationY>3770</locationY>
        <defaultConnector>
            <targetReference>Missing_Product_Transfer_Record_Type_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None Found</defaultConnectorLabel>
        <rules>
            <name>Found_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Compliance_Stores_Record_Type.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_recordIds_Collection_Variable</targetReference>
            </connector>
            <label>Found Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the flow has been invoked from a Quick Action or a Global Action.</description>
        <name>Quick_Action_or_Global_Action</name>
        <label>Quick Action or Global Action</label>
        <locationX>3135</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>CaptureENIDScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Global Action</defaultConnectorLabel>
        <rules>
            <name>Missing_Compliance_Stores_Serialised_Product_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>serialisedProductRecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missing_Serialised_Product_Record_Type_Screen</targetReference>
            </connector>
            <label>Missing Compliance Stores Serialised Product Record Type</label>
        </rules>
        <rules>
            <name>Missing_Compliance_Stores_Location_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>locationRecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missing_Location_Record_Type_Screen</targetReference>
            </connector>
            <label>Missing Compliance Stores Location Record Type</label>
        </rules>
        <rules>
            <name>Quick_Action</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_Check_Quick_Action</targetReference>
            </connector>
            <label>Quick Action</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if user chose to enter a selected individual ENID.</description>
        <name>User_Selected_Individual_ENID</name>
        <label>User Selected Individual ENID</label>
        <locationX>5000</locationX>
        <locationY>2012</locationY>
        <defaultConnector>
            <targetReference>Assign_Serialised_Product_Record_to_recordId_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Multiset ENID</defaultConnectorLabel>
        <rules>
            <name>individual_ENID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Energy_Networks_ID_Individual_Update</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Serialised_Product_from_Individual_ENID_Entry</targetReference>
            </connector>
            <label>Individual ENID</label>
        </rules>
    </decisions>
    <description>Screen flow to allow users to manually move Item Status or Location on a Compliance Stores Serialised Product.</description>
    <dynamicChoiceSets>
        <name>newLocationCollectionChoiceSet</name>
        <collectionReference>Get_All_Location_Records</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Location</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>assigned_transfer_date</name>
        <dataType>Date</dataType>
        <expression>TODAY ()</expression>
    </formulas>
    <formulas>
        <name>final_item_status_formula_product_transfer</name>
        <dataType>String</dataType>
        <expression>IF ( ISBLANK( {!assigned_item_status}) , TEXT( {!loop_recordIds_Collection_Variable.SPEN_Item_Status__c} ) , {!assigned_item_status} )</expression>
    </formulas>
    <formulas>
        <name>final_item_status_formula_serialised_product</name>
        <dataType>String</dataType>
        <expression>IF ( ISBLANK( {!assigned_item_status}) , TEXT( {!Loop_Serialised_Products.SPEN_Item_Status__c} ) , {!assigned_item_status} )</expression>
    </formulas>
    <formulas>
        <name>final_serialised_product_owner_id</name>
        <dataType>String</dataType>
        <expression>IF( OR( {!assigned_item_status} = {!Away_For_Repair_Choice} ,  {!assigned_item_status} = {!Away_For_Calibration_Choice}       )
, 
{!Loop_Serialised_Products.SPEN_Base_Location__r.OwnerId}   , {!assigned_owner_Id})</expression>
    </formulas>
    <formulas>
        <name>Running_User_ID_Return</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <formulas>
        <description>Formula to hold today&apos;s date.</description>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY ()</expression>
    </formulas>
    <interviewLabel>Move Equipment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Move Equipment</label>
    <loops>
        <description>Loops through the created product transfers.</description>
        <name>Loop_Created_Product_Transfers</name>
        <label>Loop Created Product Transfers</label>
        <locationX>3003</locationX>
        <locationY>4394</locationY>
        <collectionReference>finalProductTransfers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_for_Create_Product_Transfer_State</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Product_Transfer_State_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through the recordids collection variable in order to generate product transfer records for each (multiset or single).</description>
        <name>loop_recordIds_Collection_Variable</name>
        <label>Loop recordids Collection</label>
        <locationX>3003</locationX>
        <locationY>3878</locationY>
        <collectionReference>recordidscollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignment_for_Create_Product_Transfer</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Product_Transfer_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loops through the recordsIds collection in order to update the Serialised Products.</description>
        <name>Loop_Serialised_Products</name>
        <label>Loop Serialised Products</label>
        <locationX>3003</locationX>
        <locationY>5534</locationY>
        <collectionReference>recordidscollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_for_Updating_Serialised_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Serialised_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loops through the created Product Transfers in order to update the records.</description>
        <name>Loop_to_Update_Product_Transfers</name>
        <label>Loop to Update Product Transfers</label>
        <locationX>3003</locationX>
        <locationY>4910</locationY>
        <collectionReference>finalProductTransfers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_for_Updating_Product_Transfers</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Product_Transfers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates the Product Transfer records.</description>
        <name>Create_Product_Transfer_Records</name>
        <label>Create Product Transfer Records</label>
        <locationX>3003</locationX>
        <locationY>4286</locationY>
        <connector>
            <targetReference>Loop_Created_Product_Transfers</targetReference>
        </connector>
        <inputReference>finalProductTransfers</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Creates all Product Transfer records as needed.</description>
        <name>Create_Product_Transfer_State_Records</name>
        <label>Create Product Transfer State Records</label>
        <locationX>3003</locationX>
        <locationY>4802</locationY>
        <connector>
            <targetReference>Loop_to_Update_Product_Transfers</targetReference>
        </connector>
        <inputReference>finalProductTransferStates</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get Records element to find one of the Serialised Products via the Energy Networks ID entered.</description>
        <name>Get_a_Serialised_Product_from_Entry_ENID</name>
        <label>Get a Serialised Product from entry ENID</label>
        <locationX>5693</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Compliance_Stores_Category_Permission_Set_Assignment_ID_Global</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 4 AND 5) OR (3 AND 4)</filterLogic>
        <filters>
            <field>SPEN_Parent_Energy_Networks_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ENID_Entry_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Multiset__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SPEN_Energy_Networks_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ENID_Entry_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serialisedProductRecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SerializedProduct</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get records element to find all Compliance Stores locations for user selection.</description>
        <name>Get_All_Location_Records</name>
        <label>Get All Location Records</label>
        <locationX>3135</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quick_Action_or_Global_Action</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SPEN_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>locationRecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Location</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Records to find the chosen Location record and store the quarantine information.</description>
        <name>get_Chosen_Location_Information</name>
        <label>Get Chosen Location Information</label>
        <locationX>4406</locationX>
        <locationY>2786</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Move_Validity1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Change_Location_Global.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Records to find the chosen Location record and store the quarantine information.</description>
        <name>get_Chosen_Location_Information_Quick</name>
        <label>Get Chosen Location Information</label>
        <locationX>2030</locationX>
        <locationY>1946</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Move_Validity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Change_Location.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Checks to see if the user has permission set assignment valid to move compliance store category equipment.</description>
        <name>Get_Compliance_Stores_Category_Permission_Set_Assignment</name>
        <label>Get Compliance Stores Category Permission Set Assignment ID</label>
        <locationX>2030</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Category_Permission_Check</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Running_User_ID_Return</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OperationalSafetyEngineerPermissionSetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SiteManagerPermissionSetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ComplianceTeamPermissionSetId</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputAssignments>
            <assignToReference>complianceCategoryPermissionSetAssignmentId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Checks to see if the user has permission set assignment valid to move compliance store category equipment.</description>
        <name>Get_Compliance_Stores_Category_Permission_Set_Assignment_ID_Global</name>
        <label>Get Compliance Stores Category Permission Set Assignment ID</label>
        <locationX>5693</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Parent_ENID_Serialised_Product_Found</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Running_User_ID_Return</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OperationalSafetyEngineerPermissionSetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SiteManagerPermissionSetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ComplianceTeamPermissionSetId</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputAssignments>
            <assignToReference>complianceCategoryPermissionSetAssignmentId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Compliance_Stores_Location_Record_Type</name>
        <label>Get Compliance Stores Location Record Type</label>
        <locationX>3135</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Location_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Location</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_Compliance_Stores</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>locationRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Records to find the Compliance Stores record type for Product Transfer.</description>
        <name>Get_Compliance_Stores_Record_Type</name>
        <label>Get Compliance Stores Record Type</label>
        <locationX>3135</locationX>
        <locationY>3662</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Transfer_Record_Type_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ProductTransfer</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_Compliance_Stores</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Compliance_Stores_Serialised_Product_Record_Type_Single</name>
        <label>Get Compliance Stores Serialised Product Record Type</label>
        <locationX>3135</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Compliance_Stores_Location_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SerializedProduct</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_Compliance_Stores</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>serialisedProductRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Compliance_Team_Permission_Set_ID</name>
        <label>Get Compliance Team Permission Set Id</label>
        <locationX>1592</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Site_Manager_Permission_Set_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_Compliance_Stores_Compliance_Team</stringValue>
            </value>
        </filters>
        <object>PermissionSet</object>
        <outputAssignments>
            <assignToReference>ComplianceTeamPermissionSetId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Records to find the destination records owner.</description>
        <name>Get_Destination_Owner</name>
        <label>Get Destination Owner</label>
        <locationX>3003</locationX>
        <locationY>5426</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Serialised_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>assigned_destinationlocationid</elementReference>
            </value>
        </filters>
        <object>Location</object>
        <outputAssignments>
            <assignToReference>assigned_location_name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>assigned_owner_Id</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Records to find all items in the multiset with matching parent ID.</description>
        <name>Get_Multiset_Records</name>
        <label>Get Multiset Records</label>
        <locationX>1106</locationX>
        <locationY>2162</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Record_IDs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SPEN_Parent_Energy_Networks_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.SPEN_Parent_Energy_Networks_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serialisedProductRecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SerializedProduct</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Records to find all items in the multiset with matching parent ID.</description>
        <name>Get_Multiset_Records1</name>
        <label>Get Multiset Records</label>
        <locationX>5066</locationX>
        <locationY>3002</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_Record_IDs1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SPEN_Parent_Energy_Networks_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.SPEN_Parent_Energy_Networks_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SerializedProduct</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Operational_Safety_Engineer_Permission_Set_Id</name>
        <label>Get Operational Safety Engineer Permission Set Id</label>
        <locationX>1592</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Permission_Set_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_Compliance_Stores_Operational_Safety_Engineer</stringValue>
            </value>
        </filters>
        <object>PermissionSet</object>
        <outputAssignments>
            <assignToReference>OperationalSafetyEngineerPermissionSetId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_Set_Assignment</name>
        <label>Get Permission Set Assignment</label>
        <locationX>1592</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Permission_Set_Assignment_Check</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR 4) AND 5</filterLogic>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ComplianceTeamPermissionSetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SiteManagerPermissionSetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OperationalSafetyEngineerPermissionSetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>teamLeaderPermissionSetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Running_User_ID_Return</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputAssignments>
            <assignToReference>foundPermissionSetAssignmentId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the Serialised Product record via the Individual ENID entry from user on previous screen.</description>
        <name>Get_Serialised_Product_from_Individual_ENID_Entry</name>
        <label>Get Serialised Product from Individual ENID Entry</label>
        <locationX>4802</locationX>
        <locationY>2120</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Individual_ENID_Serialised_Product_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SPEN_Energy_Networks_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Energy_Networks_ID_Individual_Update</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serialisedProductRecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SerializedProduct</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Site_Manager_Permission_Set_Id</name>
        <label>Get Site Manager Permission Set Id</label>
        <locationX>1592</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Operational_Safety_Engineer_Permission_Set_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_Compliance_Stores_Site_Manager</stringValue>
            </value>
        </filters>
        <object>PermissionSet</object>
        <outputAssignments>
            <assignToReference>SiteManagerPermissionSetId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Team_Leader_Permission_Set_Id</name>
        <label>Get Team Leader Permission Set Id</label>
        <locationX>1592</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Compliance_Team_Permission_Set_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_Compliance_Stores_Team_Leader</stringValue>
            </value>
        </filters>
        <object>PermissionSet</object>
        <outputAssignments>
            <assignToReference>teamLeaderPermissionSetId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Update Records element to update all Product Transfers previously generated.</description>
        <name>Update_Product_Transfers</name>
        <label>Update Product Transfers</label>
        <locationX>3003</locationX>
        <locationY>5318</locationY>
        <connector>
            <targetReference>Get_Destination_Owner</targetReference>
        </connector>
        <inputReference>finalUpdatedProductTransfers</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the Serialised Products</description>
        <name>Update_Serialised_Products</name>
        <label>Update Serialised Products</label>
        <locationX>3003</locationX>
        <locationY>5942</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <inputReference>finalSerialisedProducts</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Screen to manually capture the ENID for the equipment due to being invoked from a global action.</description>
        <name>CaptureENIDScreen</name>
        <label>Capture ENID Screen</label>
        <locationX>5693</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_a_Serialised_Product_from_Entry_ENID</targetReference>
        </connector>
        <fields>
            <name>ENID_Entry_Text</name>
            <dataType>String</dataType>
            <fieldText>Input or Scan Energy Networks ID:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Find Item</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Confirms to the user the update has been carried out as required.</description>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>3003</locationX>
        <locationY>6050</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ConfirmationDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(68, 68, 68);&quot;&gt;The below item(s) are now updated:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UpdatedSerialisedProductsDisplay</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>SerializedProduct</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Equipment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>finalSerialisedProducts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;SPEN_Energy_Networks_ID__c&quot;,&quot;guid&quot;:&quot;column-0883&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Energy Networks ID&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;SPEN_Type__c&quot;,&quot;guid&quot;:&quot;column-50b6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Product Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Type&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;SPEN_Category__c&quot;,&quot;guid&quot;:&quot;column-d465&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Category&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;SPEN_Item_Status__c&quot;,&quot;guid&quot;:&quot;column-8181&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Item Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;SPEN_Location_Name__c&quot;,&quot;guid&quot;:&quot;column-8bdf&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Location Name&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to allow the user to confirm what status and location they wish to change to.</description>
        <name>Enter_Status_Location_Change_Screen</name>
        <label>Enter Status &amp; Location Change Screen</label>
        <locationX>2030</locationX>
        <locationY>1838</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_Chosen_Location_Information_Quick</targetReference>
        </connector>
        <fields>
            <name>Display_Energy_Networks_ID</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 14px;&quot;&gt;Energy Networks ID: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 14px;&quot;&gt;{!recordId.SPEN_Energy_Networks_ID__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1 OR (2 AND 3)</conditionLogic>
                <conditions>
                    <leftValueReference>Standard_ENID_Identified</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Quick_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>recordId.SPEN_Multiset__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Display_Dual_ID</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 14px;&quot;&gt;Energy Networks ID: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 14px;&quot;&gt;{!recordId.SPEN_Energy_Networks_ID__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 14px;&quot;&gt;Parent Energy Networks ID: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 14px;&quot;&gt;{!recordId.SPEN_Parent_Energy_Networks_ID__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Quick_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>recordId.SPEN_Multiset__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>StatusLocationChangeDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You can choose to change both the item status and location below:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Enter_Status_Location_Change_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Status_Location_Change_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>action_Booking_Type</name>
                    <choiceReferences>calibration_Repair_Choice</choiceReferences>
                    <choiceReferences>data_Fix_Choice</choiceReferences>
                    <choiceReferences>manual_Move_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Action</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Item_Status_Picklist</name>
                    <choiceReferences>Available_Choice</choiceReferences>
                    <choiceReferences>Away_For_Calibration_Choice</choiceReferences>
                    <choiceReferences>Away_For_Repair_Choice</choiceReferences>
                    <choiceReferences>booked_out_choice</choiceReferences>
                    <choiceReferences>quarantine_awaiting_calibration_choice</choiceReferences>
                    <choiceReferences>Quarantine_Awaiting_Inspection_Choice</choiceReferences>
                    <choiceReferences>Quarantine_Awaiting_Repair_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Change Item Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Status_Location_Change_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>transfercommentsInput1</name>
                    <dataType>String</dataType>
                    <fieldText>Reason</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Change_Location</name>
                    <choiceReferences>newLocationCollectionChoiceSet</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Change Location</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Status_Location_Change_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_text_screen1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;This equipment is part of a multiset, if you wish to update all items in the set, please tick the box below.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>(1 OR 3) AND 2</conditionLogic>
                        <conditions>
                            <leftValueReference>Item_Status_Picklist</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>recordId.SPEN_Multiset__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Change_Location.selectedChoiceValues</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Update_All_Checkbox_Multiset</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Update All</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>(1 OR 2) AND 3</conditionLogic>
                        <conditions>
                            <leftValueReference>Change_Location.selectedChoiceValues</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Item_Status_Picklist</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>recordId.SPEN_Multiset__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Update</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to allow the user to confirm what status and location they wish to change to.</description>
        <name>Enter_Status_Location_Change_Screen_Multiset</name>
        <label>Enter Status &amp; Location Change Screen</label>
        <locationX>5000</locationX>
        <locationY>1904</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>User_Selected_Individual_ENID</targetReference>
        </connector>
        <fields>
            <name>StatusLocationChangeDisplayText_Multi</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Parent Energy Networks ID: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Get_a_Serialised_Product_from_Entry_ENID.SPEN_Parent_Energy_Networks_ID__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You can choose to change both the item status and location below:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Enter_Status_Location_Change_Screen_Multiset_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Status_Location_Change_Screen_Multiset_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>action_Type_Picklist2</name>
                    <choiceReferences>calibration_Repair_Choice</choiceReferences>
                    <choiceReferences>data_Fix_Choice</choiceReferences>
                    <choiceReferences>manual_Move_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Action</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Item_Status_Picklist_Global</name>
                    <choiceReferences>Available_Choice</choiceReferences>
                    <choiceReferences>Away_For_Calibration_Choice</choiceReferences>
                    <choiceReferences>Away_For_Repair_Choice</choiceReferences>
                    <choiceReferences>booked_out_choice</choiceReferences>
                    <choiceReferences>quarantine_awaiting_calibration_choice</choiceReferences>
                    <choiceReferences>Quarantine_Awaiting_Inspection_Choice</choiceReferences>
                    <choiceReferences>Quarantine_Awaiting_Repair_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Change Item Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Status_Location_Change_Screen_Multiset_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TransferCommentsInput</name>
                    <dataType>String</dataType>
                    <fieldText>Reason</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Change_Location_Global</name>
                    <choiceReferences>newLocationCollectionChoiceSet</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Change Location</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Status_Location_Change_Screen_Multiset_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Display_text_screen1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You have scanned a parent Energy Networks ID, please confirm if you wish to update all active items?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>(1 OR 2) AND 3</conditionLogic>
                        <conditions>
                            <leftValueReference>Change_Location_Global.selectedChoiceValues</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Item_Status_Picklist_Global</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_a_Serialised_Product_from_Entry_ENID.SPEN_Multiset__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Update_Option_Picklist</name>
                    <choiceReferences>Update_All_Choice</choiceReferences>
                    <choiceReferences>Update_Individual_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Update Option</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>(1 OR 2) AND 3</conditionLogic>
                        <conditions>
                            <leftValueReference>Change_Location_Global.selectedChoiceValues</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Item_Status_Picklist_Global</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_a_Serialised_Product_from_Entry_ENID.SPEN_Multiset__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Energy_Networks_ID_Individual_Update</name>
                    <dataType>String</dataType>
                    <fieldText>Energy Networks ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Update_Option_Picklist</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Update_Individual_Choice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Update</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to the user that they don&apos;t have the relevant permissions to run the flow.</description>
        <name>Failed_Permission_Set_Check_Screen</name>
        <label>Failed Permission Set Check Screen</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NotAuthorisedDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You are not authorised to manually change item status/location.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;If you should have authorisation, please speak with your team leader/manager to request access.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to the user that they don&apos;t have the relevant permissions to run the flow.</description>
        <name>Failed_Permission_Set_Check_Screen_Compliance_Category</name>
        <label>Failed Permission Set Check Screen</label>
        <locationX>2206</locationX>
        <locationY>1538</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NotAuthorisedDisplayTextComplianceCategory</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You are not authorised to manually change item status/location, this is because the category is not appendix 1/personal issue.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;If you should have authorisation, please speak with your team leader/manager to request access.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Confirms to user that the item needs reactivating first before it status/location can be updated.</description>
        <name>Inactive_Single_Item_Confirmation_Screen</name>
        <label>Inactive Single Item Confirmation</label>
        <locationX>6122</locationX>
        <locationY>1754</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>inactiveItemDisplayTextGlobalSingle</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;This equipment is currently inactive and will need to be reactivated prior to updating status/location. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;If you are unable to reactivate, please request this action from a member of the compliance team.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to users they are attempting to move an item sat in quarantine - awaiting inspection to a non quarantine location.</description>
        <name>Inspection_Due_Screen</name>
        <label>Inspection Due Screen</label>
        <locationX>2162</locationX>
        <locationY>2162</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Retry</backButtonLabel>
        <fields>
            <name>InspectionDueDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You are attempting to move a quarantined item that is awaiting an inspection. Please complete an inspection to change the status or location.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to the user that the ENID entered is not valid/doesn&apos;t match a Serialised Product record.</description>
        <name>Invalid_ENID_Screen</name>
        <label>Invalid ENID Screen</label>
        <locationX>4934</locationX>
        <locationY>2336</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>CaptureENIDScreen</targetReference>
        </connector>
        <fields>
            <name>InvalidENIDDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;The chosen Energy Networks ID is not valid. Please input or scan an ID that matches a valid item.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Retry</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to users they are attempting to move an item to a quarantine status but to a non quarantine location.</description>
        <name>Invalid_Quarantine_Move_Screen</name>
        <label>Invalid Quarantine Move Screen</label>
        <locationX>4274</locationX>
        <locationY>3002</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Retry</backButtonLabel>
        <fields>
            <name>InvalidQuarantineChange</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You are attempting to change the item to a quarantine status but are moving to a non quarantine location. Please go back to amend the location details.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>get_Chosen_Location_Information.SPEN_Is_Quarantine_Location__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Chosen_Location_Information_Quick.SPEN_Is_Quarantine_Location__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>InvalidQuarantineStatusChange</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;You are attempting to change the item to a non quarantine status and are moving to a quarantine location. Please go back to amend the location details.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>get_Chosen_Location_Information.SPEN_Is_Quarantine_Location__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Chosen_Location_Information_Quick.SPEN_Is_Quarantine_Location__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to users they are attempting to move an item back to booked out following return from calibration/repair but the location chose is not of user type.</description>
        <name>Invalid_Return_Book_Out_Move_Screen</name>
        <label>Invalid Return Book Out Move Screen</label>
        <locationX>4010</locationX>
        <locationY>3002</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Retry</backButtonLabel>
        <fields>
            <name>InvalidReturnBookOutStatusChangeDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;You are attempting to change the item  to booked out, but the chosen destination is not a user location.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.SPEN_Item_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Away For Calibration</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>recordId.SPEN_Item_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Away For Repair</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>recordId.SPEN_Item_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Booked Out</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>InvalidBookOutStatusChangeDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;You are attempting to change the item to booked out, please use the book out process.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.SPEN_Item_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Available</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Appendix 1</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Personal Issue</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>InvalidIssueItemStatusChangeDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(68, 68, 68);&quot;&gt;You are attempting to change the item to booked out, please use the issue item process.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3)</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.SPEN_Item_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Available</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Appendix 1</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Personal Issue</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>InvalidQuarantinedBookOutStatusChangeDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(68, 68, 68);&quot;&gt;You are attempting to change the item to booked out but the equipment is quarantined.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.SPEN_Item_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Quarantine - Awaiting Calibration</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>recordId.SPEN_Item_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Quarantine - Awaiting Inspection</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>recordId.SPEN_Item_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Quarantine - Awaiting Repair</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm the Compliance Stores record type for Location is missing from the system.</description>
        <name>Missing_Location_Record_Type_Screen</name>
        <label>Missing Location Record Type Screen</label>
        <locationX>842</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MissingLocationRecordTypeDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You cannot move item status/location at this time. Please advise the system administrator of the below issue.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The below Record Type is missing from the Location object:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Compliance Stores&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to the user that the system is missing permission sets, these need to be uploaded before the flow can be ran.</description>
        <name>Missing_Permission_Sets_Screen</name>
        <label>Missing Permission Sets Screen</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MissingPermissionSetsDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;There are missing permissions in the system to check you are authorised. Please advise the system administrator of the below issue.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;One of the below custom permissions are missing in the Salesforce system:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Compliance Team&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Operational Safety Engineer&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Site Manager&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Team Leader&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm the Compliance Stores record type for Product Transfers is missing from the system.</description>
        <name>Missing_Product_Transfer_Record_Type_Screen</name>
        <label>Missing Product Transfer Record Type Screen</label>
        <locationX>3267</locationX>
        <locationY>3878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MissingProductTransferRecordTypeDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You cannot move item status/location for this equipment. Please advise the system administrator of the below issue.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The below Record Type is missing from the Product Transfer object:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Compliance Stores&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm the Compliance Stores record type for Serialised Products is missing from the system.</description>
        <name>Missing_Serialised_Product_Record_Type_Screen</name>
        <label>Missing Serialised Product Record Type Screen</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MissingSerialisedProductRecordTypeDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You cannot move item status/location at this time. Please advise the system administrator of the below issue.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The below Record Type is missing from the Serialised Product object:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Compliance Stores&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to users they are attempting to move an item sat in quarantine - awaiting inspection to a non quarantine location.</description>
        <name>Non_Quarantine_Move_Screen</name>
        <label>Non Quarantine Move Screen</label>
        <locationX>2426</locationX>
        <locationY>2162</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Retry</backButtonLabel>
        <fields>
            <name>NonQuarantineDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You are attempting to move a quarantined item to a non quarantine location. Please go back to amend the location details.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1466</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Team_Leader_Permission_Set_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>assigned_booking_type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assigned_destinationlocationid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assigned_item_status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the new location name.</description>
        <name>assigned_location_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable to store the new owner ID for Serialised Product.</description>
        <name>assigned_owner_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Holds the assigned product transfer details prior to being entered in product transfer collection</description>
        <name>assigned_product_transfer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransfer</objectType>
    </variables>
    <variables>
        <description>Stores the new assigned variables for product transfer state records to be generated.</description>
        <name>assigned_Product_Transfer_State</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransferState</objectType>
    </variables>
    <variables>
        <name>assigned_transfer_comments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the new fields for Serialised Product being updated in the flow.</description>
        <name>assignedSerialisedProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>complianceCategoryPermissionSetAssignmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ComplianceTeamPermissionSetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores all the product transfers to be generated via the flow.</description>
        <name>finalProductTransfers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransfer</objectType>
    </variables>
    <variables>
        <description>Record collection variable to store all Product Transfer State records to be generated.</description>
        <name>finalProductTransferStates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransferState</objectType>
    </variables>
    <variables>
        <description>Stores all Serialised Product records to be updated.</description>
        <name>finalSerialisedProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <description>Stores the updated Product Transfer records to be updated.</description>
        <name>finalUpdatedProductTransfers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransfer</objectType>
    </variables>
    <variables>
        <name>foundPermissionSetAssignmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>locationRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OperationalSafetyEngineerPermissionSetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productTransferRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Populates if the user enters a location ID and it brings back a record which is a quarantine location.</description>
        <name>QuarantineLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Serialised Product record which the flow has been invoked from when applicable via Quick Action, stores the Serialised Product assigned when user chooses via ENID if invoked via Global Action.</description>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <description>Stores all the record Ids of the multiset.</description>
        <name>recordidscollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>serialisedProductRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SiteManagerPermissionSetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>teamLeaderPermissionSetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the new variables to update the created Product Transfer records.</description>
        <name>updated_product_transfers</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransfer</objectType>
    </variables>
</Flow>
