force-app/main/default/flows/SPEN_RAACConcreteSurvey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Territory_Id</name>
        <label>Assign Territory Id</label>
        <locationX>270</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>var_ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_ServiceTerritoryId1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Service_Territory_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Territory_Id_From_Effective_Date_Not_Null</name>
        <label>Assign Territory Id From Effective Date Not Null</label>
        <locationX>534</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>var_ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_ServiceTerritoryId2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Service_Territory_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values</name>
        <label>Assign Values</label>
        <locationX>270</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>Selectwhatyoucanseeevidenceof_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_what_you_can_see_evidence_of_Checkbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Areyouabletopressasharpobjectintoconcretesurface_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_you_able_to_penetrate_the_concrete_surface_using_a_sharp_instrument</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Widthofroofpanels_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Width_of_roof_panels_mm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsRAACSuspected_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_RAAC_suspected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_called_from_Work_step</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values1</name>
        <label>Assign Values</label>
        <locationX>534</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>Selectwhatyoucanseeevidenceof_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_what_you_can_see_evidence_of_Checkbox2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Areyouabletopressasharpobjectintoconcretesurface_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_you_able_to_penetrate_the_concrete_surface_using_a_sharp_instrument1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Widthofroofpanels_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Width_of_roof_panels_mm1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsRAACSuspected_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_RAAC_suspected1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_called_from_Work_step</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values2</name>
        <label>Assign Values</label>
        <locationX>754</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>Whyistheinternalroofnotaccessible_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Why_is_the_internal_roof_not_accessible1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Whatisrequiredtoaccesstheinternalroof_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_is_required_to_access_the_internal_roof1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asbestos_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values3</name>
        <label>Assign Values</label>
        <locationX>490</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>Whyistheinternalroofnotaccessible_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Why_is_the_internal_roof_not_accessible</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Whatisrequiredtoaccesstheinternalroof_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_is_required_to_access_the_internal_roof</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Isitsafetoinspecttheexternalroof_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_it_safe_to_inspect_the_external_roof</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asbestos_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values4</name>
        <label>Assign Values</label>
        <locationX>50</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>Isitsafetoinspecttheexternalroof_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_it_safe_to_inspect_the_external_roof1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asbestos_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_Work_Step_boolean_to_update_status</name>
        <label>Check Work Step boolean to update status</label>
        <locationX>270</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>isWorkStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Service_Resource</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Attached</name>
        <choiceText>Attached</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Attached</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bareconcrete</name>
        <choiceText>Bare concrete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bare concrete</stringValue>
        </value>
    </choices>
    <choices>
        <name>Basement</name>
        <choiceText>Basement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Basement</stringValue>
        </value>
    </choices>
    <choices>
        <name>Embedded</name>
        <choiceText>Embedded</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Embedded</stringValue>
        </value>
    </choices>
    <choices>
        <name>Freestanding</name>
        <choiceText>Freestanding</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Freestanding</stringValue>
        </value>
    </choices>
    <choices>
        <name>Integral</name>
        <choiceText>Integral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Integral</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other (specify later in this form)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other (specify)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Plasterboard</name>
        <choiceText>Plasterboard</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Plasterboard</stringValue>
        </value>
    </choices>
    <choices>
        <name>Suspendedceiling</name>
        <choiceText>Suspended ceiling</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Suspended ceiling</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Assign_correct_Service_Territory_Member</name>
        <label>Assign correct Service Territory Member</label>
        <locationX>402</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Assign_Territory_Id_From_Effective_Date_Not_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not filled</defaultConnectorLabel>
        <rules>
            <name>STM_from_Effective_Date_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceTerritoryId1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ServiceTerritoryId1</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Territory_Id</targetReference>
            </connector>
            <label>STM from Effective Date Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_4</name>
        <label>Where is being called?</label>
        <locationX>402</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Service_Resource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>From_Work_Step</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0hF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Work_Step_boolean_to_update_status</targetReference>
            </connector>
            <label>From Work Step</label>
        </rules>
    </decisions>
    <decisions>
        <name>External_roof_accessible</name>
        <label>External roof accessible?</label>
        <locationX>622</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Roof_Details2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Can_the_roof_be_accessed_externally</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Roof_Details_screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>External_roof_accessible1</name>
        <label>External roof accessible?</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Asbestos_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Can_the_roof_be_accessed_externally</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Roof_Details1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_called_from_Work_step</name>
        <label>If called from Work step</label>
        <locationX>402</locationX>
        <locationY>2498</locationY>
        <defaultConnector>
            <targetReference>Create_I_M_Form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Work_Step_status_to_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isWorkStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updating_Work_Step_Status</targetReference>
            </connector>
            <label>Update Work Step status to Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_internal_roof_construction</name>
        <label>Other internal roof construction?</label>
        <locationX>402</locationX>
        <locationY>2090</locationY>
        <defaultConnector>
            <targetReference>Specifying_Internal_Roof_Construction1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_internal_roof_construction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Other</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SpecifyingInternalRoofConstruction</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Roof_Internally_accessible</name>
        <label>Roof Internally accessible?</label>
        <locationX>402</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>External_roof_accessible</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_the_internal_roof_accessible</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>External_roof_accessible1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Flow used for the RAAC Concrete Survey</description>
    <dynamicChoiceSets>
        <name>RAAC_District</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SPEN_District__c</picklistField>
        <picklistObject>SPEN_IMForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Select_What_You_Can_See_Evidence_Of</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SPEN_SelectWhatYouCanSeeEvidenceOf__c</picklistField>
        <picklistObject>SPEN_IMForm__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>var_DateTimeNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>RAAC Concrete Survey Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RAAC Concrete Survey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_I_M_Form</name>
        <label>Create I&amp;M Form</label>
        <locationX>402</locationX>
        <locationY>2798</locationY>
        <assignRecordIdToReference>IMForm.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Photos_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>SPEN_AreYouAbleToPenetrateTheConcrete__c</field>
            <value>
                <elementReference>Areyouabletopressasharpobjectintoconcretesurface_var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_BuildingName__c</field>
            <value>
                <elementReference>Building_Name_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_BuildingNumber__c</field>
            <value>
                <elementReference>Substation_number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_BuildingType__c</field>
            <value>
                <elementReference>Building_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_CanTheRoofBeAccessedExternally__c</field>
            <value>
                <elementReference>Can_the_roof_be_accessed_externally</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_District__c</field>
            <value>
                <elementReference>RAAC_DistrictValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_DoTheRoofHaveChamferedEdge__c</field>
            <value>
                <elementReference>Do_the_roof_have_a_chamfered_edge1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_HasTheAsbestosReportBeenConsulted__c</field>
            <value>
                <elementReference>Has_the_asbestos_report_been_consulted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_IfNotAccessibleWhy__c</field>
            <value>
                <elementReference>Whyistheinternalroofnotaccessible_var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_IsItSafeToInspectTheRoof__c</field>
            <value>
                <elementReference>Isitsafetoinspecttheexternalroof_var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_IsRAACSuspected__c</field>
            <value>
                <elementReference>IsRAACSuspected_var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_NumberOfBuildingsOnSite__c</field>
            <value>
                <elementReference>Number_of_Buildings_on_Site</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_RecordTypeDevName__c</field>
            <value>
                <stringValue>SPEN_RAACConcreteSurvey</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_RiskOfAsbestosInCeilingAreas__c</field>
            <value>
                <elementReference>Is_there_any_risk_of_asbestos_in_the_ceiling_area</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_RoofInternallyAccessible__c</field>
            <value>
                <elementReference>Is_the_internal_roof_accessible</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_SelectInternalRoofConstruction__c</field>
            <value>
                <elementReference>Select_internal_roof_construction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_SelectWhatYouCanSeeEvidenceOf__c</field>
            <value>
                <elementReference>Selectwhatyoucanseeevidenceof_var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_SiteENID__c</field>
            <value>
                <elementReference>Site_ENID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_SpecifyInternalRoofConstruction__c</field>
            <value>
                <elementReference>Please_specify_internal_roof_construction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_SubstationName__c</field>
            <value>
                <elementReference>Substation_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_WhatIsRequiredToAccess__c</field>
            <value>
                <elementReference>Whatisrequiredtoaccesstheinternalroof_var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_WidthOfRoofPanels__c</field>
            <value>
                <elementReference>Widthofroofpanels_var</elementReference>
            </value>
        </inputAssignments>
        <object>SPEN_IMForm__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Service_Resource</name>
        <label>Get Service Resource</label>
        <locationX>402</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Territory_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputAssignments>
            <assignToReference>var_ServiceResourceId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Territory_Member</name>
        <label>Get Service Territory Member By Effective Date Null</label>
        <locationX>402</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Territory_Member_By_Effective_Date_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ServiceResourceId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TerritoryType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>P</stringValue>
            </value>
        </filters>
        <filters>
            <field>EffectiveStartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>var_DateTimeNow</elementReference>
            </value>
        </filters>
        <filters>
            <field>EffectiveEndDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceTerritoryMember</object>
        <outputAssignments>
            <assignToReference>var_ServiceTerritoryId1</assignToReference>
            <field>ServiceTerritoryId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Territory_Member_By_Effective_Date_Not_Null</name>
        <label>Get Service Territory Member By Effective Date Not Null</label>
        <locationX>402</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_correct_Service_Territory_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ServiceResourceId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TerritoryType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>P</stringValue>
            </value>
        </filters>
        <filters>
            <field>EffectiveStartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>var_DateTimeNow</elementReference>
            </value>
        </filters>
        <filters>
            <field>EffectiveEndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>var_DateTimeNow</elementReference>
            </value>
        </filters>
        <object>ServiceTerritoryMember</object>
        <outputAssignments>
            <assignToReference>var_ServiceTerritoryId2</assignToReference>
            <field>ServiceTerritoryId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Territory_Name</name>
        <label>Get Service Territory Name</label>
        <locationX>402</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Building_General_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <object>ServiceTerritory</object>
        <outputAssignments>
            <assignToReference>var_ServiceTerritoryName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Updating_Work_Step_Status</name>
        <label>Updating Work Step Status</label>
        <locationX>270</locationX>
        <locationY>2606</locationY>
        <connector>
            <targetReference>Create_I_M_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>WorkStep</object>
    </recordUpdates>
    <screens>
        <name>Asbestos_Information</name>
        <label>Asbestos Information</label>
        <locationX>402</locationX>
        <locationY>1982</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Other_internal_roof_construction</targetReference>
        </connector>
        <fields>
            <name>Asbestos</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Asbestos information&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Asbestos_warning</name>
            <fieldText>&lt;p&gt;Do not disturb any area that asbestos is either present or suspected.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Has_the_asbestos_report_been_consulted</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Has the asbestos report been consulted?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_there_any_risk_of_asbestos_in_the_ceiling_area</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is there any risk of asbestos in the ceiling area?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Building_General_Info</name>
        <label>Building General Info</label>
        <locationX>402</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Roof_access</targetReference>
        </connector>
        <fields>
            <name>JobDistrictHeader</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Job district&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RAAC_DistrictValue</name>
            <choiceReferences>RAAC_District</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>var_ServiceTerritoryName</elementReference>
            </defaultValue>
            <fieldText>District</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Building_information</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Building information&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Substation_name</name>
            <dataType>String</dataType>
            <fieldText>Substation name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Substation_number</name>
            <dataType>String</dataType>
            <fieldText>Substation number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Number_of_Buildings_on_Site</name>
            <dataType>Number</dataType>
            <fieldText>Number of buildings on site</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;font-size: inherit;&quot;&gt;Please insert a number greater or equal than 0 with a maximum of 9 digits.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Number_of_Buildings_on_Site}&gt;=0 &amp;&amp; {!Number_of_Buildings_on_Site} &lt;= 999999999</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Building_Type</name>
            <choiceReferences>Freestanding</choiceReferences>
            <choiceReferences>Attached</choiceReferences>
            <choiceReferences>Integral</choiceReferences>
            <choiceReferences>Embedded</choiceReferences>
            <choiceReferences>Basement</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Building type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Building_Name_0</name>
            <dataType>String</dataType>
            <fieldText>Building Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Site_ENID</name>
            <dataType>String</dataType>
            <fieldText>Site ENID</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Select_internal_roof_construction</name>
            <choiceReferences>Bareconcrete</choiceReferences>
            <choiceReferences>Plasterboard</choiceReferences>
            <choiceReferences>Suspendedceiling</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select internal roof construction</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Do_the_roof_have_a_chamfered_edge1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do the roof panels have a chamfered edge?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Roof_access</name>
        <label>Roof access</label>
        <locationX>402</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Roof_Internally_accessible</targetReference>
        </connector>
        <fields>
            <name>Roof_Access_text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Roof access&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Is_the_internal_roof_accessible</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is the internal roof accessible?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Can_the_roof_be_accessed_externally</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Can the roof be accessed externally?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Roof_Details1</name>
        <label>Roof Details</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Values4</targetReference>
        </connector>
        <fields>
            <name>Copy_3_of_Roof_Details</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Roof access more details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Is_it_safe_to_inspect_the_external_roof1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is it safe to inspect the external roof?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Roof_Details2</name>
        <label>Roof Details</label>
        <locationX>754</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Values2</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Roof_Details</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Roof access more details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Why_is_the_internal_roof_not_accessible1</name>
            <fieldText>Why is the internal roof not accessible?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>What_is_required_to_access_the_internal_roof1</name>
            <fieldText>What is required to access the internal roof?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Roof_Details_screen</name>
        <label>Roof Details</label>
        <locationX>490</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Values3</targetReference>
        </connector>
        <fields>
            <name>Roof_Details</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Roof access more details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Why_is_the_internal_roof_not_accessible</name>
            <fieldText>Why is the internal roof not accessible?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>What_is_required_to_access_the_internal_roof</name>
            <fieldText>What is required to access the internal roof?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_it_safe_to_inspect_the_external_roof</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is it safe to inspect the external roof?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Specifying_Internal_Roof_Construction1</name>
        <label>Specifying Internal Roof Construction</label>
        <locationX>534</locationX>
        <locationY>2198</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Values1</targetReference>
        </connector>
        <fields>
            <name>Roof_conditions3</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Roof condition&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Width_of_roof_panels_mm1</name>
            <dataType>Number</dataType>
            <fieldText>Width of roof panels (mm)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please insert a number with a maximum of 9 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Width_of_roof_panels_mm1} &gt;= 0 &amp;&amp; {!Width_of_roof_panels_mm1} &lt;= 999999999</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Select_what_you_can_see_evidence_of_Checkbox2</name>
            <choiceReferences>Select_What_You_Can_See_Evidence_Of</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select what you can see evidence of</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Are_you_able_to_penetrate_the_concrete_surface_using_a_sharp_instrument1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you able to penetrate the concrete surface using a sharp instrument?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_RAAC_suspected1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is RAAC suspected?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_text</name>
            <fieldText>&lt;p&gt;You can upload photos at the end of the form.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SpecifyingInternalRoofConstruction</name>
        <label>Specifying Internal Roof Construction</label>
        <locationX>270</locationX>
        <locationY>2198</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Values</targetReference>
        </connector>
        <fields>
            <name>Roof_conditions1</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Roof condition&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Width_of_roof_panels_mm</name>
            <dataType>Number</dataType>
            <fieldText>Width of roof panels (mm)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Please insert a number with a maximum of 9 characters&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Width_of_roof_panels_mm} &gt;= 0 &amp;&amp; {!Width_of_roof_panels_mm} &lt;= 999999999</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Please_specify_internal_roof_construction</name>
            <fieldText>Please specify internal roof construction</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_what_you_can_see_evidence_of_Checkbox</name>
            <choiceReferences>Select_What_You_Can_See_Evidence_Of</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select what you can see evidence of</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Are_you_able_to_penetrate_the_concrete_surface_using_a_sharp_instrument</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you able to penetrate the concrete surface using a sharp instrument?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_RAAC_suspected</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is RAAC suspected?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>text</name>
            <fieldText>&lt;p&gt;You can upload photos at the end of the form.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_Photos_Screen</name>
        <label>Upload Photos</label>
        <locationX>402</locationX>
        <locationY>2906</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Photo_upload</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Photo upload&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Photo_List</name>
            <fieldText>&lt;p&gt;Please consider taking photos of the following points:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Building&lt;/li&gt;&lt;li&gt;Roof&lt;/li&gt;&lt;li&gt;Water ponding&lt;/li&gt;&lt;li&gt;Internal roof&lt;/li&gt;&lt;li&gt;Roof panel&lt;/li&gt;&lt;li&gt;Ingress degradation of internal roof finish&lt;/li&gt;&lt;li&gt;Signs of rust staining&lt;/li&gt;&lt;li&gt;Cracking/spalling of the internal surface of the roof&lt;/li&gt;&lt;li&gt;Cracking at the supports&lt;/li&gt;&lt;li&gt;Deflection of the roof panels&lt;/li&gt;&lt;li&gt;Chamfer&lt;/li&gt;&lt;li&gt;Bubbles&lt;/li&gt;&lt;li&gt;Screwdriver test area&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Upload_Photos</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Photo upload</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>IMForm.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_4</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Areyouabletopressasharpobjectintoconcretesurface_var</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BuildingsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IMForm</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SPEN_IMForm__c</objectType>
    </variables>
    <variables>
        <name>Isitsafetoinspecttheexternalroof_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsRAACSuspected_var</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isWorkStep</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumberOfBuildings</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>RAACRecordType_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record_Already_Created</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selectwhatyoucanseeevidenceof_var</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ServiceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ServiceTerritoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ServiceTerritoryId1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ServiceTerritoryId2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ServiceTerritoryName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Whatisrequiredtoaccesstheinternalroof_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Whyistheinternalroofnotaccessible_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Widthofroofpanels_var</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
