force-app/main/default/flows/SPEN_VoiceCallsRoutedtoAgentsandQueues.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GenralEnquiryScreenPop</name>
        <label>GenralEnquiryScreenPop</label>
        <locationX>4890</locationX>
        <locationY>614</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>INVOKE_GetGeneralEnequiresScotLand</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;b8c59def&quot;,&quot;targetObjectId&quot;:&quot;{!input_record.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>INVOKE_Get3PD</name>
        <label>Get3PD</label>
        <locationX>1062</locationX>
        <locationY>806</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SPEN3PD</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN3PD</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>INVOKE_GetComplaintsSPD</name>
        <label>GetComplaintsSPD</label>
        <locationX>5902</locationX>
        <locationY>806</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SPEN_SPDRouting</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>Complaints_SPD</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>INVOKE_GetComplaintsSPM</name>
        <label>GetComplaintsSPM</label>
        <locationX>6342</locationX>
        <locationY>806</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SPEN_SPMRouting</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>Complaints_SPM</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>INVOKE_GetCSAT</name>
        <label>GetCSAT</label>
        <locationX>4582</locationX>
        <locationY>806</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SPEN_CSATRouting</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>CSAT</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>INVOKE_GetDebt</name>
        <label>GetDebt</label>
        <locationX>4142</locationX>
        <locationY>806</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SPEN_Debt</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>Debt</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>INVOKE_GetGeneralEnequiresScotLand</name>
        <label>GetGeneralEnequiresScotLand</label>
        <locationX>5022</locationX>
        <locationY>806</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SPEN_GeneralEnrquiry</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>General_Enequires_Scotland</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>INVOKE_GetGeneralEnequiresWales</name>
        <label>GetGeneralEnequiresWales</label>
        <locationX>5462</locationX>
        <locationY>806</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>WalesRouting</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>General_Enequires_Wales</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>INVOKE_GetMOP</name>
        <label>GetMOP</label>
        <locationX>2382</locationX>
        <locationY>806</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SPEN_MOP</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>MOP</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>INVOKE_GetNRSWA_North</name>
        <label>GetNRSWA-North</label>
        <locationX>1502</locationX>
        <locationY>806</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>NRSWANorth</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>NRSWA_North</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>INVOKE_GetNRSWA_South</name>
        <label>GetNRSWA-South</label>
        <locationX>1942</locationX>
        <locationY>806</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>NRSWASouth</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>NRSWA_South</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>INVOKE_GetPSR</name>
        <label>GetPSR</label>
        <locationX>2822</locationX>
        <locationY>806</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SPEN_PSR</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN_PSR</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>INVOKE_GetSocialOBS</name>
        <label>GetSocialOBS</label>
        <locationX>3262</locationX>
        <locationY>806</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SPEN_SocialObs</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN_SocialOBS</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>INVOKE_GetStormBureau</name>
        <label>GetStormBureau</label>
        <locationX>3702</locationX>
        <locationY>806</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SPEN_Strom</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN_StormBureau</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>INVOKE_GetStreetWorks_North</name>
        <label>GetStreetWorks-North</label>
        <locationX>182</locationX>
        <locationY>806</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>RouteToNorth</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN_StreetWorkNorth</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>INVOKE_GetStreetWorks_South</name>
        <label>GetStreetWorks-South</label>
        <locationX>622</locationX>
        <locationY>806</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>RouteToSouth</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN_StreetWorkSouth</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>NRSWANorth</name>
        <label>NRSWA-North</label>
        <locationX>1502</locationX>
        <locationY>914</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>SPEN_UpdateVCQueueAssignedDatetime</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>SPEN_NRSWANorthContactDetails.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>INVOKE_GetNRSWA_North</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>NRSWA-North</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98d000000skg0CAA</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>NRSWASouth</name>
        <label>NRSWA-South</label>
        <locationX>1942</locationX>
        <locationY>914</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>SPEN_UpdateVCQueueAssignedDatetime</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>SPEN_NRSWASouthContactDetails.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>INVOKE_GetNRSWA_South</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>NRSWA-South</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98d000000skg0CAA</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>RouteToNorth</name>
        <label>RouteToNorth</label>
        <locationX>182</locationX>
        <locationY>914</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>SPEN_UpdateVCQueueAssignedDatetime</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>SPEN_RouteToNorthContactDetails.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>INVOKE_GetStreetWorks_North</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>StreetWorks - North</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98d000000skg0CAA</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>The Route Work action is used to input the routing requirements to Omni-Channel.
This example shows routing to a defined Queue.</description>
        <name>RouteToSouth</name>
        <label>Route to South</label>
        <locationX>622</locationX>
        <locationY>914</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>SPEN_UpdateVCQueueAssignedDatetime</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>SPEN_RouteToSouthContactDetails.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>INVOKE_GetStreetWorks_South</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>StreetWorks - South</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98d000000skg0CAA</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>ScreenPopup</name>
        <label>ScreenPopup</label>
        <locationX>4450</locationX>
        <locationY>614</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>INVOKE_GetCSAT</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;b33e90c6&quot;,&quot;targetObjectId&quot;:&quot;{!input_record.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN3PD</name>
        <label>3PD</label>
        <locationX>1062</locationX>
        <locationY>914</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>SPEN_UpdateVCQueueAssignedDatetime</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>SPEN_3PDContactDetails.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>INVOKE_Get3PD</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>3PD</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98d000000skg0CAA</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_3PDContactDetails</name>
        <label>3PD Contact Details</label>
        <locationX>930</locationX>
        <locationY>614</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>INVOKE_Get3PD</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;58207123&quot;,&quot;targetObjectId&quot;:&quot;{!input_record.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pendingServiceRoutingInteractionInfoInputList</name>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_CSATRouting</name>
        <label>CSATRouting</label>
        <locationX>4582</locationX>
        <locationY>914</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>SPEN_UpdateVCQueueAssignedDatetime</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>ScreenPopup.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>INVOKE_GetCSAT</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>CSAT</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98d000000skg0CAA</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_Debt</name>
        <label>Debt</label>
        <locationX>4142</locationX>
        <locationY>914</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>SPEN_UpdateVCQueueAssignedDatetime</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>SPEN_DebtContactDetails.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>INVOKE_GetDebt</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>Debt</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98d000000skg0CAA</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_DebtContactDetails</name>
        <label>DebtContactDetails</label>
        <locationX>4010</locationX>
        <locationY>614</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>INVOKE_GetDebt</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;608e0fec&quot;,&quot;targetObjectId&quot;:&quot;{!input_record.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_GeneralEnrquiry</name>
        <label>GeneralEnrquiry</label>
        <locationX>5022</locationX>
        <locationY>914</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>SPEN_UpdateVCQueueAssignedDatetime</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>GenralEnquiryScreenPop.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>INVOKE_GetGeneralEnequiresScotLand</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>General Enequires ScotLand</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98d000000skg0CAA</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_MOP</name>
        <label>MOP</label>
        <locationX>2382</locationX>
        <locationY>914</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>SPEN_UpdateVCQueueAssignedDatetime</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>SPEN_MOPContactDetails.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>INVOKE_GetMOP</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>MOP</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98d000000skg0CAA</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_MOPContactDetails</name>
        <label>MOPContactDetails</label>
        <locationX>2250</locationX>
        <locationY>614</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>INVOKE_GetMOP</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;41026b22&quot;,&quot;targetObjectId&quot;:&quot;{!input_record.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_NRSWANorthContactDetails</name>
        <label>NRSWANorthContactDetails</label>
        <locationX>1370</locationX>
        <locationY>614</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>INVOKE_GetNRSWA_North</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;920f1713&quot;,&quot;targetObjectId&quot;:&quot;{!input_record.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_NRSWASouthContactDetails</name>
        <label>NRSWASouthContactDetails</label>
        <locationX>1810</locationX>
        <locationY>614</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>INVOKE_GetNRSWA_South</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;4dc20d42&quot;,&quot;targetObjectId&quot;:&quot;{!input_record.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_PSR</name>
        <label>PSR</label>
        <locationX>2822</locationX>
        <locationY>914</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>SPEN_UpdateVCQueueAssignedDatetime</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>SPEN_PSRContactDetails.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>INVOKE_GetPSR</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>PSR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98d000000skg0CAA</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_PSRContactDetails</name>
        <label>PSRContactDetails</label>
        <locationX>2690</locationX>
        <locationY>614</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>INVOKE_GetPSR</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;d756d204&quot;,&quot;targetObjectId&quot;:&quot;{!input_record.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_RouteToNorthContactDetails</name>
        <label>RouteToNorthContactDetails</label>
        <locationX>50</locationX>
        <locationY>614</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>INVOKE_GetStreetWorks_North</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;7aa56fed&quot;,&quot;targetObjectId&quot;:&quot;{!input_record.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_RouteToSouthContactDetails</name>
        <label>RouteToSouth Contact Details</label>
        <locationX>490</locationX>
        <locationY>614</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>INVOKE_GetStreetWorks_South</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;8fd69086&quot;,&quot;targetObjectId&quot;:&quot;{!input_record.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_RouteToSPDContactDetails</name>
        <label>RouteToSPD Contact Details</label>
        <locationX>5770</locationX>
        <locationY>614</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>INVOKE_GetComplaintsSPD</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;c559a1fd&quot;,&quot;targetObjectId&quot;:&quot;{!input_record.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_SocialObs</name>
        <label>Social Obs</label>
        <locationX>3262</locationX>
        <locationY>914</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>SPEN_UpdateVCQueueAssignedDatetime</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>SPEN_SocialObsContactDetails.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>INVOKE_GetSocialOBS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>Social OBS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98d000000skg0CAA</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_SocialObsContactDetails</name>
        <label>SocialObsContactDetails</label>
        <locationX>3130</locationX>
        <locationY>614</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>INVOKE_GetSocialOBS</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;51c31f47&quot;,&quot;targetObjectId&quot;:&quot;{!input_record.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_SPDRouting</name>
        <label>SPDRouting</label>
        <locationX>5902</locationX>
        <locationY>914</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>SPEN_UpdateVCQueueAssignedDatetime</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isAgentVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>SPEN_RouteToSPDContactDetails.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>INVOKE_GetComplaintsSPD</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98d000000skg0CAA</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_SPMRouting</name>
        <label>SPMRouting</label>
        <locationX>6342</locationX>
        <locationY>914</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>SPEN_UpdateVCQueueAssignedDatetime</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>SPEN_SPMScreenPop.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>INVOKE_GetComplaintsSPM</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>Complaints - SPM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98d000000skg0CAA</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_SPMScreenPop</name>
        <label>SPMScreenPop</label>
        <locationX>6210</locationX>
        <locationY>614</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>INVOKE_GetComplaintsSPM</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;de89ec10&quot;,&quot;targetObjectId&quot;:&quot;{!input_record.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_Strom</name>
        <label>Strom</label>
        <locationX>3702</locationX>
        <locationY>914</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>SPEN_UpdateVCQueueAssignedDatetime</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>SPEN_StromContactDetails.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>INVOKE_GetStormBureau</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>Storm Bureau</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98d000000skg0CAA</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_StromContactDetails</name>
        <label>Strom Contact Details</label>
        <locationX>3570</locationX>
        <locationY>614</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>INVOKE_GetStormBureau</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;ec17fa80&quot;,&quot;targetObjectId&quot;:&quot;{!input_record.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>WalesRouting</name>
        <label>WalesRouting</label>
        <locationX>5462</locationX>
        <locationY>914</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>SPEN_UpdateVCQueueAssignedDatetime</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00G3G000004oSuUUAU</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>General Enequires Wales</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98d000000skg0CAA</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>WalesScreenPopup</name>
        <label>WalesScreenPopup</label>
        <locationX>5330</locationX>
        <locationY>614</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>INVOKE_GetGeneralEnequiresWales</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;272df098&quot;,&quot;targetObjectId&quot;:&quot;{!input_record.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <description>This example decision node looks at the Contact that is calling and decides which Queue they should be routed to. Here, it checks both the name and country of the customer.</description>
        <name>CustomerRoutingDecision</name>
        <label>How should the customer be routed?</label>
        <locationX>3416</locationX>
        <locationY>290</locationY>
        <defaultConnectorLabel>All Other Customers</defaultConnectorLabel>
        <rules>
            <name>StreetWorkNorth</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>StreetWorks - North</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_VerifyRouteToNorthContactRecord</targetReference>
            </connector>
            <label>StreetWorkNorth</label>
        </rules>
        <rules>
            <name>StreetWorkSouth</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>StreetWorks - South</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_VerifyRouteToSouthContactRecord</targetReference>
            </connector>
            <label>StreetWorkSouth</label>
        </rules>
        <rules>
            <name>SPEN_3PD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3PD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_VerifyingContactRecord</targetReference>
            </connector>
            <label>3PD</label>
        </rules>
        <rules>
            <name>NRSWA_North</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NRSWA-North</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_VerifyNRSWANorthContactRecord</targetReference>
            </connector>
            <label>NRSWA-North</label>
        </rules>
        <rules>
            <name>NRSWA_South</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NRSWA-South</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_VerifyNRSWASouthContactRecord</targetReference>
            </connector>
            <label>NRSWA-South</label>
        </rules>
        <rules>
            <name>MOP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MOP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_VerifyMOPContactRecord</targetReference>
            </connector>
            <label>MOP</label>
        </rules>
        <rules>
            <name>PSR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_VerifyPSRContactRecord</targetReference>
            </connector>
            <label>PSR</label>
        </rules>
        <rules>
            <name>SocialObs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SOBS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_VerifyingSocialObsContactRecord</targetReference>
            </connector>
            <label>SocialObs</label>
        </rules>
        <rules>
            <name>StromB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Storm-Bureau</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_VerifyStromContactRecord</targetReference>
            </connector>
            <label>StromB</label>
        </rules>
        <rules>
            <name>Debt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Debt</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_VerifyDebtContactRecord</targetReference>
            </connector>
            <label>Debt</label>
        </rules>
        <rules>
            <name>CSAT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSAT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_CSATContacttRecord</targetReference>
            </connector>
            <label>CSAT</label>
        </rules>
        <rules>
            <name>General_Enquires</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General-Enquiries-Scotland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Spen_GeneralEquiresContactRecod</targetReference>
            </connector>
            <label>General Enquires</label>
        </rules>
        <rules>
            <name>General_Enquiries_Wales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue> General-Enquiries-Wales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GeneralEnquiresWalesContactPresent</targetReference>
            </connector>
            <label>General Enquiries Wales</label>
        </rules>
        <rules>
            <name>Complaints_SPD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CompliantsQueueSPD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_SPDContactCasePresent</targetReference>
            </connector>
            <label>Complaints-SPD</label>
        </rules>
        <rules>
            <name>SPEN_ComplaintsSPM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CompliantsQueueSPM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_SPMContactPresent</targetReference>
            </connector>
            <label>Complaints-SPM</label>
        </rules>
        <rules>
            <name>CheckConnectionQueues</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Connections Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Connections Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPD Design-East</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPD Design-West</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPD Design-Major</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPM Design-Cheshire</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPM Design-Merseyside</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPM Design-Wales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ayrshire &amp; Clyde South Delivery</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Border Delivery</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Central &amp; Fife Delivery</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dee Valley Oswestry Delivery</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dumfries Delivery</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edinburgh &amp; Borders Delivery</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Glasgow &amp; Clyde North Delivery</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lanarkshire Delivery</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Merseyside Delivery</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mid Cheshire Delivery</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mid Wales Delivery</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>North Wales Delivery</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wirral Delivery</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS Admin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPM Design-132kV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConnectionQueueFlow</targetReference>
            </connector>
            <label>CheckConnectionQueues</label>
        </rules>
        <rules>
            <name>Route_to_Fault_Queues</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DCCFaultsAgentQueue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DCCFaultsAgentCallbackQueue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DCCVIPFaultsAgentQueue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DCCVIPFaultsAgentCallbackQueue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DCCPSRFaultsAgentQueue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DCCRepeatCallerFaultsAgentQueue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DCCNoMessageHeardFaultsAgentQueue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DCCDangerCheckFaultsAgentQueue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fault_Queues_Flow</targetReference>
            </connector>
            <label>Route to Fault Queues</label>
        </rules>
    </decisions>
    <decisions>
        <name>GeneralEnquiresWalesContactPresent</name>
        <label>GeneralEnquiresWalesContactPresent</label>
        <locationX>5462</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>INVOKE_GetGeneralEnequiresWales</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WalesContactPresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_GetContactRecords.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateGeneralEnquiresRecord</targetReference>
            </connector>
            <label>WalesContactPresent</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_CSATContacttRecord</name>
        <label>CSATContacttRecord</label>
        <locationX>4582</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>INVOKE_GetCSAT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CSATContactRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_GetContactRecords.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Spen_CSATUpdateRecord</targetReference>
            </connector>
            <label>CSATContactRecord</label>
        </rules>
    </decisions>
    <decisions>
        <name>Spen_GeneralEquiresContactRecod</name>
        <label>General_EquiresContactRecord</label>
        <locationX>5022</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>INVOKE_GetGeneralEnequiresScotLand</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GeneralEquiresContactRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_GetContactRecords.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateGeneralRecords</targetReference>
            </connector>
            <label>GeneralEquiresContactRecord</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_SPDContactCasePresent</name>
        <label>SPDContactCasePresent</label>
        <locationX>5902</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>INVOKE_GetComplaintsSPD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_SPDContactCaseUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_GetContactRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_UpdateSPDCaseContact</targetReference>
            </connector>
            <label>SPDContactCaseUpdate</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_SPMContactPresent</name>
        <label>SPMContactPresent</label>
        <locationX>6342</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>INVOKE_GetComplaintsSPM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_SPMContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_GetContactRecords.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_SPMUpdateContact</targetReference>
            </connector>
            <label>SPMContact</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_VerifyDebtContactRecord</name>
        <label>Verify Debt Contact Record</label>
        <locationX>4142</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>INVOKE_GetDebt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_DebtContactRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_GetContactRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_DebtUpdateVoiceCallRecord</targetReference>
            </connector>
            <label>DebtContactRecord</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_VerifyingContactRecord</name>
        <label>Verifying Contact Record</label>
        <locationX>1062</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>INVOKE_Get3PD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ContactRecordExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_GetContactRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_Update_Voice_Call_Record</targetReference>
            </connector>
            <label>Contact Record Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_VerifyingSocialObsContactRecord</name>
        <label>Verifying SocialObs Contact Record</label>
        <locationX>3262</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>INVOKE_GetSocialOBS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_SocialObsContactRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_GetContactRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_SocialObsUpdateVoiceCallRecord</targetReference>
            </connector>
            <label>SocialObs Contact Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_VerifyMOPContactRecord</name>
        <label>Verify MOP Contact Record</label>
        <locationX>2382</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>INVOKE_GetMOP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_MOPContactRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_GetContactRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_MOPUpdateVoiceCallRecord</targetReference>
            </connector>
            <label>MOP Contact Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_VerifyNRSWANorthContactRecord</name>
        <label>Verify NRSWANorth Contact Record</label>
        <locationX>1502</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>INVOKE_GetNRSWA_North</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_NRSWANorthContactRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_GetContactRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_NRSWANorthUpdateVoiceCallRecord</targetReference>
            </connector>
            <label>NRSWANorth Contact Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_VerifyNRSWASouthContactRecord</name>
        <label>Verify NRSWASouth Contact Record</label>
        <locationX>1942</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>INVOKE_GetNRSWA_South</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_NRSWASouthContactRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_GetContactRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_NRSWASouthUpdateVoiceCallRecord</targetReference>
            </connector>
            <label>NRSWASouth Contact Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_VerifyPSRContactRecord</name>
        <label>Verify PSR Contact Record</label>
        <locationX>2822</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>INVOKE_GetPSR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_PSRContactRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_GetContactRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_PSRUpdateVoiceCallRecord</targetReference>
            </connector>
            <label>PSR Contact Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_VerifyRouteToNorthContactRecord</name>
        <label>VerifyRouteToNorthContactRecord</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>INVOKE_GetStreetWorks_North</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_RouteToNorthContactRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_GetContactRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_RouteToNorthUpdateVoiceCallRecord</targetReference>
            </connector>
            <label>RouteToNorthContactRecord</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_VerifyRouteToSouthContactRecord</name>
        <label>Verify RouteToSouth Contact Record</label>
        <locationX>622</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>INVOKE_GetStreetWorks_South</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_RouteToSouthContactRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_GetContactRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_RoutToSouthUpdateVoiceCallRecord</targetReference>
            </connector>
            <label>RouteToSouth Contact Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_VerifyStromContactRecord</name>
        <label>Verify Strom Contact Record</label>
        <locationX>3702</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>INVOKE_GetStormBureau</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_StromContactRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_GetContactRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_StromUpdateVoiceCallRecord</targetReference>
            </connector>
            <label>Strom Contact Record</label>
        </rules>
    </decisions>
    <description>Removed Contact Auto-population</description>
    <environments>Default</environments>
    <interviewLabel>Voice Calls Routed to Agents and Queues {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Voice Calls Routed to Agents and Queues</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordLookups>
        <name>SPEN_GetContactRecords</name>
        <label>Get Contact Records</label>
        <locationX>3416</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CustomerRoutingDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.SPEN_ContactId__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Spen_CSATUpdateRecord</name>
        <label>CSATUpdateRecord</label>
        <locationX>4450</locationX>
        <locationY>506</locationY>
        <connector>
            <targetReference>ScreenPopup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_ContactId__c</field>
            <value>
                <elementReference>SPEN_GetContactRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>SPEN_DebtUpdateVoiceCallRecord</name>
        <label>Debt Update Voice Call Record</label>
        <locationX>4010</locationX>
        <locationY>506</locationY>
        <connector>
            <targetReference>SPEN_DebtContactDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_ContactId__c</field>
            <value>
                <elementReference>SPEN_GetContactRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>SPEN_MOPUpdateVoiceCallRecord</name>
        <label>MOP Update Voice Call Record</label>
        <locationX>2250</locationX>
        <locationY>506</locationY>
        <connector>
            <targetReference>SPEN_MOPContactDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_ContactId__c</field>
            <value>
                <elementReference>SPEN_GetContactRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>SPEN_NRSWANorthUpdateVoiceCallRecord</name>
        <label>NRSWANorth Update Voice Call Record</label>
        <locationX>1370</locationX>
        <locationY>506</locationY>
        <connector>
            <targetReference>SPEN_NRSWANorthContactDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_ContactId__c</field>
            <value>
                <elementReference>SPEN_GetContactRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>SPEN_NRSWASouthUpdateVoiceCallRecord</name>
        <label>NRSWASouth Update Voice Call Record</label>
        <locationX>1810</locationX>
        <locationY>506</locationY>
        <connector>
            <targetReference>SPEN_NRSWASouthContactDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_ContactId__c</field>
            <value>
                <elementReference>SPEN_GetContactRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>SPEN_PSRUpdateVoiceCallRecord</name>
        <label>PSR Update Voice Call Record</label>
        <locationX>2690</locationX>
        <locationY>506</locationY>
        <connector>
            <targetReference>SPEN_PSRContactDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_ContactId__c</field>
            <value>
                <elementReference>SPEN_GetContactRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>SPEN_RouteToNorthUpdateVoiceCallRecord</name>
        <label>RouteToNorth Update Voice Call Record</label>
        <locationX>50</locationX>
        <locationY>506</locationY>
        <connector>
            <targetReference>SPEN_RouteToNorthContactDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_ContactId__c</field>
            <value>
                <elementReference>SPEN_GetContactRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>SPEN_RoutToSouthUpdateVoiceCallRecord</name>
        <label>RoutToSouth Update Voice Call Record</label>
        <locationX>490</locationX>
        <locationY>506</locationY>
        <connector>
            <targetReference>SPEN_RouteToSouthContactDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_ContactId__c</field>
            <value>
                <elementReference>SPEN_GetContactRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>SPEN_SocialObsUpdateVoiceCallRecord</name>
        <label>SocialObs Update Voice Call Record</label>
        <locationX>3130</locationX>
        <locationY>506</locationY>
        <connector>
            <targetReference>SPEN_SocialObsContactDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_ContactId__c</field>
            <value>
                <elementReference>SPEN_GetContactRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>SPEN_SPMUpdateContact</name>
        <label>SPMUpdateContact</label>
        <locationX>6210</locationX>
        <locationY>506</locationY>
        <connector>
            <targetReference>SPEN_SPMScreenPop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_ContactId__c</field>
            <value>
                <elementReference>SPEN_GetContactRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>SPEN_StromUpdateVoiceCallRecord</name>
        <label>Strom Update Voice Call Record</label>
        <locationX>3570</locationX>
        <locationY>506</locationY>
        <connector>
            <targetReference>SPEN_StromContactDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_ContactId__c</field>
            <value>
                <elementReference>SPEN_GetContactRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>SPEN_Update_Voice_Call_Record</name>
        <label>Update Voice Call Record</label>
        <locationX>930</locationX>
        <locationY>506</locationY>
        <connector>
            <targetReference>SPEN_3PDContactDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_ContactId__c</field>
            <value>
                <elementReference>SPEN_GetContactRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>SPEN_UpdateSPDCaseContact</name>
        <label>UpdateSPDCaseContact</label>
        <locationX>5770</locationX>
        <locationY>506</locationY>
        <connector>
            <targetReference>SPEN_RouteToSPDContactDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_ContactId__c</field>
            <value>
                <elementReference>SPEN_GetContactRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>SPEN_UpdateVCQueueAssignedDatetime</name>
        <label>Update VC queue assigned Datetime</label>
        <locationX>3416</locationX>
        <locationY>1106</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_QueueEnteredDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateGeneralEnquiresRecord</name>
        <label>UpdateGeneralEnquiresRecord</label>
        <locationX>5330</locationX>
        <locationY>506</locationY>
        <connector>
            <targetReference>WalesScreenPopup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_ContactId__c</field>
            <value>
                <elementReference>SPEN_GetContactRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateGeneralRecords</name>
        <label>UpdateGeneralRecords</label>
        <locationX>4890</locationX>
        <locationY>506</locationY>
        <connector>
            <targetReference>GenralEnquiryScreenPop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_ContactId__c</field>
            <value>
                <elementReference>SPEN_GetContactRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <sourceTemplate>omnichannel_voice__VoiceRouting</sourceTemplate>
    <start>
        <locationX>3290</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>SPEN_GetContactRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>CRMD-9789</description>
        <name>ConnectionQueueFlow</name>
        <label>ConnectionQueueFlow</label>
        <locationX>6650</locationX>
        <locationY>350</locationY>
        <flowName>Voice_Calls_Routed_to_Agents_and_Queues_connections</flowName>
        <inputAssignments>
            <name>DialledNumber</name>
            <value>
                <elementReference>DialledNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_record</name>
            <value>
                <elementReference>input_record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SPEN_CaseOwner</name>
            <value>
                <elementReference>input_record.SPEN_VCCase__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Agent routing fault queue from GE</description>
        <name>Fault_Queues_Flow</name>
        <label>Fault Queues Flow</label>
        <locationX>4068</locationX>
        <locationY>193</locationY>
        <flowName>SPEN_VoiceCallsRoutedtoFaultQueues</flowName>
        <inputAssignments>
            <name>DialledNumber</name>
            <value>
                <elementReference>DialledNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_record</name>
            <value>
                <elementReference>input_record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>DialledNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The voice call record that is being inputted into the flow. Necessary for the flow to run.</description>
        <name>input_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>VoiceCall</objectType>
    </variables>
    <variables>
        <description>The ID of the record being inputted into the flow. Necessary for the flow to run.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SPEN_CaseOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
