force-app/main/default/flows/SPEN_Compliance_Stores_User_Permission_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>Add Permission Set names and Permission Set Group names to text collection variable.</description>
        <name>Add_Names_to_Collection</name>
        <label>Add Names to Collection</label>
        <locationX>633</locationX>
        <locationY>1284</locationY>
        <assignmentItems>
            <assignToReference>permissionSetNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_All_Found_Permission_Set_Assignments.PermissionSet.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>permissionSetNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_All_Found_Permission_Set_Assignments.PermissionSetGroup.DeveloperName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Found_Permission_Set_Assignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Permission_Set_Group_Ids</name>
        <label>Add All Permission Set Group Ids</label>
        <locationX>633</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>permissionSetGroupIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_All_Permission_Set_Groups.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Permission_Set_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Permission_Set_IDs_to_Collection</name>
        <label>Add Permission Set IDs to Collection</label>
        <locationX>633</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>permissionSetIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_All_Permission_Sets.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Permission_Sets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_All_Checkbox_True</name>
        <label>Assign All Checkbox True</label>
        <locationX>50</locationX>
        <locationY>1692</locationY>
        <assignmentItems>
            <assignToReference>updateServiceResource.SPEN_Authorised_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateServiceResource.SPEN_Competent_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateServiceResource.SPEN_Compliance_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateServiceResource.SPEN_Operational_Safety_Engineer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateServiceResource.SPEN_Site_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateServiceResource.SPEN_Team_Leader__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_User_Service_Resource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Authorised_User__c checkbox to false.</description>
        <name>Authorised_User_Checkbox_False</name>
        <label>Authorised User Checkbox False</label>
        <locationX>578</locationX>
        <locationY>1800</locationY>
        <assignmentItems>
            <assignToReference>updateServiceResource.SPEN_Authorised_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_Competent_User_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Authorised_User__c checkbox to true.</description>
        <name>Authorised_User_Checkbox_True</name>
        <label>Authorised User Checkbox True</label>
        <locationX>314</locationX>
        <locationY>1800</locationY>
        <assignmentItems>
            <assignToReference>updateServiceResource.SPEN_Authorised_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_Competent_User_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Competent_User__c checkbox to false.</description>
        <name>Competent_User_Checkbox_False</name>
        <label>Competent User Checkbox False</label>
        <locationX>578</locationX>
        <locationY>2100</locationY>
        <assignmentItems>
            <assignToReference>updateServiceResource.SPEN_Competent_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_Compliance_Team_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Competent_User__c checkbox to true.</description>
        <name>Competent_User_Checkbox_True</name>
        <label>Competent User Checkbox True</label>
        <locationX>314</locationX>
        <locationY>2100</locationY>
        <assignmentItems>
            <assignToReference>updateServiceResource.SPEN_Competent_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_Compliance_Team_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Compliance_Team__c checkbox to false.</description>
        <name>Compliance_Team_Checkbox_False</name>
        <label>Compliance Team Checkbox False</label>
        <locationX>578</locationX>
        <locationY>2400</locationY>
        <assignmentItems>
            <assignToReference>updateServiceResource.SPEN_Compliance_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_Site_Manager_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Compliance_Team__c checkbox to true.</description>
        <name>Compliance_Team_Checkbox_True</name>
        <label>Compliance Team Checkbox True</label>
        <locationX>314</locationX>
        <locationY>2400</locationY>
        <assignmentItems>
            <assignToReference>updateServiceResource.SPEN_Compliance_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_Site_Manager_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Operational_Safety_Engineer__c checkbox to false.</description>
        <name>Operational_Safety_Engineer_Checkbox_False</name>
        <label>Operational Safety Engineer Checkbox False</label>
        <locationX>578</locationX>
        <locationY>3300</locationY>
        <assignmentItems>
            <assignToReference>updateServiceResource.SPEN_Operational_Safety_Engineer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_User_Service_Resource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Operational_Safety_Engineer__c checkbox to true.</description>
        <name>Operational_Safety_Engineer_Checkbox_True</name>
        <label>Operational Safety Engineer Checkbox True</label>
        <locationX>314</locationX>
        <locationY>3300</locationY>
        <assignmentItems>
            <assignToReference>updateServiceResource.SPEN_Operational_Safety_Engineer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_User_Service_Resource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Site_Manager__c checkbox to false.</description>
        <name>Site_Manager_Checkbox_False</name>
        <label>Site Manager Checkbox False</label>
        <locationX>578</locationX>
        <locationY>2700</locationY>
        <assignmentItems>
            <assignToReference>updateServiceResource.SPEN_Site_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_Team_Leader_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Site_Manager__c checkbox to true.</description>
        <name>Site_Manager_Checkbox_True</name>
        <label>Site Manager Checkbox True</label>
        <locationX>314</locationX>
        <locationY>2700</locationY>
        <assignmentItems>
            <assignToReference>updateServiceResource.SPEN_Site_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_Team_Leader_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Team_Leader__c checkbox to false.</description>
        <name>Team_Leader_Checkbox_False</name>
        <label>Team Leader Checkbox False</label>
        <locationX>578</locationX>
        <locationY>3000</locationY>
        <assignmentItems>
            <assignToReference>updateServiceResource.SPEN_Team_Leader__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_Operational_Safety_Engineer_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Team_Leader__c checkbox to true.</description>
        <name>Team_Leader_Checkbox_True</name>
        <label>Team Leader Checkbox True</label>
        <locationX>314</locationX>
        <locationY>3000</locationY>
        <assignmentItems>
            <assignToReference>updateServiceResource.SPEN_Team_Leader__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_Operational_Safety_Engineer_Found</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks the collection variable to see if the base Compliance Stores permission is present.</description>
        <name>Compliance_Stores_User_Permission_Found</name>
        <label>Compliance Stores User Permission Found?</label>
        <locationX>545</locationX>
        <locationY>1476</locationY>
        <defaultConnectorLabel>None Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Compliance_Stores_User_Permission_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>permissionSetNames</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Was_Admin_User_Found</targetReference>
            </connector>
            <label>Yes Compliance Stores User Permission Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Admin_User_Found</name>
        <label>Was Admin User Found</label>
        <locationX>248</locationX>
        <locationY>1584</locationY>
        <defaultConnector>
            <targetReference>Was_Authorised_User_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Admin_User_Found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>permissionSetNames</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SPEN_Compliance_Stores_Field_Service_Admin_Group</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>permissionSetNames</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Compliance_Stores_Field_Service_Admin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_All_Checkbox_True</targetReference>
            </connector>
            <label>Yes Admin User Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decides if any of the Authorised User Permission Sets or Permission Set Groups are present.</description>
        <name>Was_Authorised_User_Found</name>
        <label>Was Authorised User Found</label>
        <locationX>446</locationX>
        <locationY>1692</locationY>
        <defaultConnector>
            <targetReference>Authorised_User_Checkbox_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Authorised_User_Found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>permissionSetNames</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SPEN_Compliance_Stores_Authorised_User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>permissionSetNames</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SPEN_Compliance_Stores_Authorised_User_Group</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>permissionSetNames</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SPEN_Compliance_Stores_Authorised_User_Contractor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>permissionSetNames</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SPEN_Compliance_Stores_Authorised_User_Contractor_Group</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Authorised_User_Checkbox_True</targetReference>
            </connector>
            <label>Authorised User Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decides if any of the Competent User Permission Sets or Permission Set Groups are present.</description>
        <name>Was_Competent_User_Found</name>
        <label>Was Competent User Found</label>
        <locationX>446</locationX>
        <locationY>1992</locationY>
        <defaultConnector>
            <targetReference>Competent_User_Checkbox_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Competent_User_Found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>permissionSetNames</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SPEN_Compliance_Stores_Competent_User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>permissionSetNames</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SPEN_Compliance_Stores_Competent_User_Group</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>permissionSetNames</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SPEN_Compliance_Stores_Competent_User_Contractor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>permissionSetNames</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SPEN_Compliance_Stores_Competent_User_Contractor_Group</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Competent_User_Checkbox_True</targetReference>
            </connector>
            <label>Competent User Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decides if any of the Compliance Team Permission Sets or Permission Set Groups are present.</description>
        <name>Was_Compliance_Team_Found</name>
        <label>Was Compliance Team Found</label>
        <locationX>446</locationX>
        <locationY>2292</locationY>
        <defaultConnector>
            <targetReference>Compliance_Team_Checkbox_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Compliance_Team_Found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>permissionSetNames</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SPEN_Compliance_Stores_Compliance_Team</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>permissionSetNames</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SPEN_Compliance_Stores_Compliance_Team_Group</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Compliance_Team_Checkbox_True</targetReference>
            </connector>
            <label>Yes Compliance Team Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decides if any of the Operational Safety Engineer Permission Sets or Permission Set Groups are present.</description>
        <name>Was_Operational_Safety_Engineer_Found</name>
        <label>Was Operational Safety Engineer Found</label>
        <locationX>446</locationX>
        <locationY>3192</locationY>
        <defaultConnector>
            <targetReference>Operational_Safety_Engineer_Checkbox_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Operational_Safety_Engineer_Found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>permissionSetNames</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SPEN_Compliance_Stores_Operational_Safety_Engineer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>permissionSetNames</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SPEN_Compliance_Stores_Operational_Safety_Engineer_Group</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Operational_Safety_Engineer_Checkbox_True</targetReference>
            </connector>
            <label>Yes Operational Safety Engineer Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decides if any of the Site Manager Permission Sets or Permission Set Groups are present.</description>
        <name>Was_Site_Manager_Found</name>
        <label>Was Site Manager Found</label>
        <locationX>446</locationX>
        <locationY>2592</locationY>
        <defaultConnector>
            <targetReference>Site_Manager_Checkbox_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Site_Manager_Found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>permissionSetNames</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SPEN_Compliance_Stores_Site_Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>permissionSetNames</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SPEN_Compliance_Stores_Site_Manager_Group</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Site_Manager_Checkbox_True</targetReference>
            </connector>
            <label>Yes Site Manager Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decides if any of the Team Leader Permission Sets or Permission Set Groups are present.</description>
        <name>Was_Team_Leader_Found</name>
        <label>Was Team Leader Found</label>
        <locationX>446</locationX>
        <locationY>2892</locationY>
        <defaultConnector>
            <targetReference>Team_Leader_Checkbox_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Team_Leader_Found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>permissionSetNames</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SPEN_Compliance_Stores_Team_Leader</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>permissionSetNames</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SPEN_Compliance_Stores_Team_Leader_Group</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Team_Leader_Checkbox_True</targetReference>
            </connector>
            <label>Yes Team Leader Found</label>
        </rules>
    </decisions>
    <description>Flow runs daily to check Compliance Store user permissions, allows references in Field Service mobile flows.
24/01/2024 - CMPS-57 - Updated to check for Permission Set Groups.</description>
    <environments>Default</environments>
    <interviewLabel>Compliance Stores - User Permission Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Compliance Stores - User Permission Check</label>
    <loops>
        <description>Loop over all Permission Set Assignments found in the previous Get Records element.</description>
        <name>Loop_All_Found_Permission_Set_Assignments</name>
        <label>Loop All Found Permission Set Assignments</label>
        <locationX>545</locationX>
        <locationY>1176</locationY>
        <collectionReference>Get_Permission_Set_Assignments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Names_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Compliance_Stores_User_Permission_Found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_All_Permission_Set_Groups</name>
        <label>Loop All Permission Set Groups</label>
        <locationX>545</locationX>
        <locationY>768</locationY>
        <collectionReference>allComplianceStoresPermissionSetGroups</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Permission_Set_Group_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Permission_Set_Assignments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_All_Permission_Sets</name>
        <label>Loop All Permission Sets</label>
        <locationX>545</locationX>
        <locationY>360</locationY>
        <collectionReference>allComplianceStoresPermissionSets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Permission_Set_IDs_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_Compliance_Stores_Permission_Set_Groups</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Compliance_Stores_Permission_Set_Groups</name>
        <label>Get All Compliance Stores Permission Set Groups</label>
        <locationX>545</locationX>
        <locationY>660</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_Permission_Set_Groups</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_Compliance_Stores_Authorised_User_Group</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_Compliance_Stores_Competent_User_Group</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_Compliance_Stores_Compliance_Team_Group</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_Compliance_Stores_Field_Service_Admin_Group</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_Compliance_Stores_Operational_Safety_Engineer_Group</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_Compliance_Stores_Site_Manager_Group</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_Compliance_Stores_Team_Leader_Group</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_Compliance_Stores_Authorised_User_Contractor_Group</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_Compliance_Stores_Competent_User_Contractor_Group</stringValue>
            </value>
        </filters>
        <object>PermissionSetGroup</object>
        <outputReference>allComplianceStoresPermissionSetGroups</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Compliance_Stores_Permission_Sets</name>
        <label>Get All Compliance Stores Permission Sets</label>
        <locationX>545</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_Permission_Sets</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_Compliance_Stores_Authorised_User</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_Compliance_Stores_Authorised_User_Contractor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_Compliance_Stores_Competent_User</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_Compliance_Stores_Competent_User_Contractor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_Compliance_Stores_Compliance_Team</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_Compliance_Stores_Site_Manager</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_Compliance_Stores_Team_Leader</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_Compliance_Stores_Operational_Safety_Engineer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Compliance_Stores_Field_Service_Admin</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_Compliance_Stores_User</stringValue>
            </value>
        </filters>
        <object>PermissionSet</object>
        <outputReference>allComplianceStoresPermissionSets</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Finds all Permission Set Assignments related to the User in the current flow interview.</description>
        <name>Get_Permission_Set_Assignments</name>
        <label>Get Permission Set Assignments</label>
        <locationX>545</locationX>
        <locationY>1068</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_Found_Permission_Set_Assignments</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>In</operator>
            <value>
                <elementReference>permissionSetIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetGroupId</field>
            <operator>In</operator>
            <value>
                <elementReference>permissionSetGroupIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>PermissionSetGroupId</queriedFields>
        <queriedFields>PermissionSetId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Finds the Service Resource related to the User in the current flow interview and updates all the relevent checkboxes based on the previous decision.</description>
        <name>Update_User_Service_Resource</name>
        <label>Update User Service Resource</label>
        <locationX>248</locationX>
        <locationY>3576</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_Authorised_User__c</field>
            <value>
                <elementReference>updateServiceResource.SPEN_Authorised_User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Competent_User__c</field>
            <value>
                <elementReference>updateServiceResource.SPEN_Competent_User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Compliance_Team__c</field>
            <value>
                <elementReference>updateServiceResource.SPEN_Compliance_Team__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Operational_Safety_Engineer__c</field>
            <value>
                <elementReference>updateServiceResource.SPEN_Operational_Safety_Engineer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Site_Manager__c</field>
            <value>
                <elementReference>updateServiceResource.SPEN_Site_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Team_Leader__c</field>
            <value>
                <elementReference>updateServiceResource.SPEN_Team_Leader__c</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceResource</object>
    </recordUpdates>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Compliance_Stores_Permission_Sets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-02-09</startDate>
            <startTime>07:05:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>allComplianceStoresPermissionSetGroups</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetGroup</objectType>
    </variables>
    <variables>
        <name>allComplianceStoresPermissionSets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSet</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>permissionSetGroupIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>permissionSetIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>permissionSetNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updateServiceResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
</Flow>
