force-app/main/default/flows/SPEN_Compliance_Stores_Book_Out_Mobile.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Assigns multiset text to variables in order to display on confirmation screen.</description>
        <name>Add_MultiSet_Information</name>
        <label>Add MultiSet Information</label>
        <locationX>2514</locationX>
        <locationY>2096</locationY>
        <assignmentItems>
            <assignToReference>multisetCollectionList1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>multiSetTextTemplate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordIdsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopVariable_ActiveMultisetSerialisedProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Active_Multiset_Serialised_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assignment to add assigned Product Transfer State to collection variable.</description>
        <name>Add_Product_Transfer_State</name>
        <label>Add Product Transfer State</label>
        <locationX>3658</locationX>
        <locationY>4496</locationY>
        <assignmentItems>
            <assignToReference>finalProductTransferStates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assigned_product_transfer_state</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_for_Updating_Product_Transfers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add the Serialised Product with updated values to the record collection.</description>
        <name>Add_Serialised_Products</name>
        <label>Add Serialised Products</label>
        <locationX>3658</locationX>
        <locationY>4928</locationY>
        <assignmentItems>
            <assignToReference>finalSerialisedProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assigned_serialised_product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_recordids_Collection_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the assigned updated Product Transfer to record collection</description>
        <name>Add_Updated_Product_Transfer</name>
        <label>Add Updated Product Transfer</label>
        <locationX>3658</locationX>
        <locationY>4712</locationY>
        <assignmentItems>
            <assignToReference>finalUpdatedProductTransfers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updated_product_transfer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_for_Updating_Serialised_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the entered details for the Product Transfer records.</description>
        <name>Assign_The_Product_Transfer_Details_Multi</name>
        <label>Assign The Product Transfer Details</label>
        <locationX>3042</locationX>
        <locationY>3278</locationY>
        <assignmentItems>
            <assignToReference>final_expected_return_date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expected_Return_Date_Multiset</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>final_site_description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Site_Description_Multiset</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Final_User_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordIdsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Active_Serialised_Products_Search</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Components_Screen1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the entered details for the Product Transfer records.</description>
        <name>Assign_The_Product_Transfer_Details_Multi_BF</name>
        <label>Assign The Product Transfer Details</label>
        <locationX>2074</locationX>
        <locationY>3428</locationY>
        <assignmentItems>
            <assignToReference>final_expected_return_date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expected_Return_Date_Multiset</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>final_site_description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Site_Description_Multiset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Components_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the entered details for the Product Transfer records.</description>
        <name>Assign_The_Product_Transfer_Details_Single</name>
        <label>Assign The Product Transfer Details</label>
        <locationX>5506</locationX>
        <locationY>2828</locationY>
        <assignmentItems>
            <assignToReference>final_expected_return_date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expected_Return_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>final_site_description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Site_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Final_User_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordIdsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_recordids_Collection_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the entered details for the Product Transfer records.</description>
        <name>Assign_The_Product_Transfer_Details_Single_BF</name>
        <label>Assign The Product Transfer Details</label>
        <locationX>4538</locationX>
        <locationY>2720</locationY>
        <assignmentItems>
            <assignToReference>final_expected_return_date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expected_Return_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>final_site_description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Site_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordIdsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Component_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the unavailable Serialised Product ID to a record variable so this can be referenced in a decision.</description>
        <name>Assign_Unavailable_Multiset_Serialised_Product_Record_ID</name>
        <label>Assign Unavailable Multiset Serialised Product Record ID</label>
        <locationX>2250</locationX>
        <locationY>2096</locationY>
        <assignmentItems>
            <assignToReference>Unavailable_Multiset_Serialised_Product_Storage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopVariable_ActiveMultisetSerialisedProduct.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>multisetCollectionList1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>multiSetTextTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Active_Multiset_Serialised_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the new variables to Product Transfer State in order to add to record collection.</description>
        <name>Assignment_for_Create_Product_Transfer_State</name>
        <label>Assignment for Create Product Transfer State</label>
        <locationX>3658</locationX>
        <locationY>4388</locationY>
        <assignmentItems>
            <assignToReference>assigned_product_transfer_state.ProductTransferId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assigned_product_transfer.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer_state.Action</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Receive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer_state.SerializedProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_records_ids_collection.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer_state.TransferState</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Product_Transfer_State</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns new values to created Product Transfer record.</description>
        <name>Assignment_for_Updating_Product_Transfers</name>
        <label>Assignment for Updating Product Transfers</label>
        <locationX>3658</locationX>
        <locationY>4604</locationY>
        <assignmentItems>
            <assignToReference>updated_product_transfer.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assigned_product_transfer.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updated_product_transfer.IsReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updated_product_transfer.QuantityReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updated_product_transfer.QuantityUnitOfMeasure</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Each</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Updated_Product_Transfer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the new variables to record variable in order to update Serialised Products.</description>
        <name>Assignment_for_Updating_Serialised_Product</name>
        <label>Assignment for Updating Serialised Product</label>
        <locationX>3658</locationX>
        <locationY>4820</locationY>
        <assignmentItems>
            <assignToReference>assigned_serialised_product.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_records_ids_collection.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_serialised_product.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Final_User_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_serialised_product.SPEN_Current_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Final_Location_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_serialised_product.SPEN_Expected_Return_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>final_expected_return_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_serialised_product.SPEN_Item_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Booked Out</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_serialised_product.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Serialised_Products</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No_Choice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Choice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Checks to ensure the expected return date entered is not later than the safety check date on the Serialised Product record.</description>
        <name>Check_Booking_Validity</name>
        <label>Check Booking Validity</label>
        <locationX>5506</locationX>
        <locationY>2396</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Non_Bookable_Confirmation1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Valid</defaultConnectorLabel>
        <rules>
            <name>Earlier_Than_Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Expected_Return_Date</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Non_Bookable_Confirmation_Early</targetReference>
            </connector>
            <label>Earlier Than Today</label>
        </rules>
        <rules>
            <name>Expected_Return_Date_Valid</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Expected_Return_Date</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>recordId.SPEN_Safety_Check_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Safety_Check_Date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Expected_Return_Date</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Component_Screen1</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to ensure the expected return date entered is not later than the safety check date on the Serialised Product record.</description>
        <name>Check_Booking_Validity1</name>
        <label>Check Booking Validity</label>
        <locationX>4538</locationX>
        <locationY>1988</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Non_Bookable_Confirmation1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Valid</defaultConnectorLabel>
        <rules>
            <name>Earlier_Than_Today1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Expected_Return_Date</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Non_Bookable_Confirmation_Early</targetReference>
            </connector>
            <label>Earlier Than Today</label>
        </rules>
        <rules>
            <name>Valid1</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Expected_Return_Date</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>recordId.SPEN_Safety_Check_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Safety_Check_Date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Expected_Return_Date</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Selection_Screen</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to ensure the expected return date entered is not later than the safety check date on the Serialised Product record.</description>
        <name>Check_Booking_Validity_Multiset_Behalf_Of</name>
        <label>Check Booking Validity</label>
        <locationX>2074</locationX>
        <locationY>2696</locationY>
        <defaultConnector>
            <targetReference>Non_Bookable_Confirmation1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Valid</defaultConnectorLabel>
        <rules>
            <name>Earlier_Than_Today2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Expected_Return_Date_Multiset</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Non_Bookable_Confirmation_Early</targetReference>
            </connector>
            <label>Earlier Than Today</label>
        </rules>
        <rules>
            <name>Valid_Multiset</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Expected_Return_Date_Multiset</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>recordId.SPEN_Safety_Check_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Safety_Check_Date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Expected_Return_Date_Multiset</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Selection_Screen_Multiset</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to ensure the expected return date entered is not later than the safety check date on the Serialised Product record.</description>
        <name>Check_Booking_Validity_Multiset_Running_User</name>
        <label>Check Booking Validity</label>
        <locationX>3042</locationX>
        <locationY>2954</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Non_Bookable_Confirmation1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Valid</defaultConnectorLabel>
        <rules>
            <name>Earlier_Than_Today2_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Expected_Return_Date_Multiset</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Non_Bookable_Confirmation_Early</targetReference>
            </connector>
            <label>Earlier Than Today</label>
        </rules>
        <rules>
            <name>Valid_Multiset_0</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Expected_Return_Date_Multiset</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>recordId.SPEN_Safety_Check_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Safety_Check_Date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Expected_Return_Date_Multiset</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Location_Record_of_Running_User_Multiset</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision to check if the chosen user is a competent user and has permission to own the item being booked out.</description>
        <name>Check_If_Chosen_User_Is_Competent_User_Multiset</name>
        <label>Check If Chosen User Is Competent User</label>
        <locationX>2074</locationX>
        <locationY>3020</locationY>
        <defaultConnector>
            <targetReference>Unauthorised_Selection_Retry_Multi</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unauthorised</defaultConnectorLabel>
        <rules>
            <name>Competent_User_Multiset</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>onBehalfOfServiceResourceRecord.SPEN_Competent_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_The_Product_Transfer_Details_Multi_BF</targetReference>
            </connector>
            <label>Competent User</label>
        </rules>
        <rules>
            <name>Authorised_User_Alternate_Multi</name>
            <conditionLogic>(1 AND 9 AND 2) OR (1 AND 9 AND 3) OR (1 AND 9 AND 4) OR (1 AND 9 AND 5) OR (1 AND 9 AND 6) OR (1 AND 9 AND 7) OR (1 AND 9 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>onBehalfOfServiceResourceRecord.SPEN_Competent_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fuserod</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ladder</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lifting Equipment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Miscellaneous</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Portable Earth</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Test Equipment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working at Height</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Competent_User_Needed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_The_Product_Transfer_Details_Multi_BF</targetReference>
            </connector>
            <label>Authorised User Alternate</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision to check if the chosen user is a competent user and has permission to own the item being booked out.</description>
        <name>Check_If_Chosen_User_Is_Competent_User_Single</name>
        <label>Check If Chosen User Is Competent User</label>
        <locationX>4538</locationX>
        <locationY>2312</locationY>
        <defaultConnector>
            <targetReference>Unauthorised_Selection_Retry_Single</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unauthorised</defaultConnectorLabel>
        <rules>
            <name>Competent_User_Single</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>onBehalfOfServiceResourceRecord.SPEN_Competent_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_The_Product_Transfer_Details_Single_BF</targetReference>
            </connector>
            <label>Competent User</label>
        </rules>
        <rules>
            <name>Authorised_User_Alternate</name>
            <conditionLogic>(1 AND 9 AND 2) OR (1 AND 9 AND 3) OR (1 AND 9 AND 4) OR (1 AND 9 AND 5) OR (1 AND 9 AND 6) OR (1 AND 9 AND 7) OR (1 AND 9 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>onBehalfOfServiceResourceRecord.SPEN_Competent_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fuserod</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ladder</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lifting Equipment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Miscellaneous</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Portable Earth</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Test Equipment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working at Height</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Competent_User_Needed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_The_Product_Transfer_Details_Single_BF</targetReference>
            </connector>
            <label>Authorised User Alternate</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if a Serialised Product is found where the ENID entered matches ENID field.</description>
        <name>Check_if_Multi_ENID_Serialised_Product_Found</name>
        <label>Check if Multi ENID Serialised Product Found</label>
        <locationX>3702</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Invalid_ENID_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No ENID Identified</defaultConnectorLabel>
        <rules>
            <name>Multi_ENID_Identified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initial_Multiset_Check</targetReference>
            </connector>
            <label>Multi ENID Identified</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if the item is recalled.</description>
        <name>Check_If_Recalled</name>
        <label>Check If Recalled</label>
        <locationX>1238</locationX>
        <locationY>2696</locationY>
        <defaultConnector>
            <targetReference>Non_Bookable_Confirmation_Multiset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unavailable On Shelf</defaultConnectorLabel>
        <rules>
            <name>Recalled_Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Final_Unavailable_Serialised_Product_Multiset.SPEN_Recalled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recalled_Confirmation_Part_Set</targetReference>
            </connector>
            <label>Recalled Confirmed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if a Serialised Product is found where the ENID entered matches ENID field.</description>
        <name>Check_If_Single_ENID_Serialised_Product_Found</name>
        <label>Check If Single ENID Serialised Product Found</label>
        <locationX>3570</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>GetMulti_Serialised_Product_from_ENID_Entry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No ENID Identified</defaultConnectorLabel>
        <rules>
            <name>Single_ENID_Identified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initial_Multiset_Check</targetReference>
            </connector>
            <label>Single ENID Identified</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decides if the initial Multiset Serialised Product is available for book out.</description>
        <name>Check_Initial_Multiset_Availability</name>
        <label>Check Initial Multiset Availability</label>
        <locationX>2206</locationX>
        <locationY>1664</locationY>
        <defaultConnector>
            <targetReference>Non_Bookable_Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Bookable</defaultConnectorLabel>
        <rules>
            <name>Recalled_Multi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.SPEN_Recalled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Item_Is_Recalled_Confirmation_Screen</targetReference>
            </connector>
            <label>Recalled</label>
        </rules>
        <rules>
            <name>Initial_Multiset_Bookable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.SPEN_Item_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Available</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Active_Multiset_Serialised_Products</targetReference>
            </connector>
            <label>Bookable</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decides if the chosen Serialised Products within the multiset is available for book out.</description>
        <name>Check_Multiset_Availability</name>
        <label>Check Multiset Availability</label>
        <locationX>1898</locationX>
        <locationY>2372</locationY>
        <defaultConnector>
            <targetReference>Book_Out_Screen_Multiset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Bookable</defaultConnectorLabel>
        <rules>
            <name>Multiset_Not_Bookable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Unavailable_Multiset_Serialised_Product_Storage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Unavailable_Multiset_Serialised_Product</targetReference>
            </connector>
            <label>Not Bookable</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks the current item in the loop for their Item Status.</description>
        <name>Check_Multiset_Serialised_Product_Item_Status</name>
        <label>Check Multiset Serialised Product Item Status</label>
        <locationX>2250</locationX>
        <locationY>1988</locationY>
        <defaultConnector>
            <targetReference>Add_MultiSet_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Available</defaultConnectorLabel>
        <rules>
            <name>Recalled_Multi_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopVariable_ActiveMultisetSerialisedProduct.SPEN_Recalled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_Unavailable_Multiset_Serialised_Product_Record_ID</targetReference>
            </connector>
            <label>Recalled</label>
        </rules>
        <rules>
            <name>Not_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopVariable_ActiveMultisetSerialisedProduct.SPEN_Item_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Available</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Unavailable_Multiset_Serialised_Product_Record_ID</targetReference>
            </connector>
            <label>Not Available</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks that competent user permission set has been found, and record types have been found</description>
        <name>Check_Records_Found</name>
        <label>Check Records Found</label>
        <locationX>1810</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Capture_ENID_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Found</defaultConnectorLabel>
        <rules>
            <name>Serialised_Product_Record_Type_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>serialisedProductRecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missing_System_Record_Type_Serialised_Product</targetReference>
            </connector>
            <label>Serialised Product Record Type Missing</label>
        </rules>
        <rules>
            <name>Location_Record_Type_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>locationRecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missing_System_Record_Type_Location</targetReference>
            </connector>
            <label>Location Record Type Missing</label>
        </rules>
        <rules>
            <name>Product_Transfer_Record_Type_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productTransferRecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missing_System_Record_Type_Product_Transfer</targetReference>
            </connector>
            <label>Product Transfer Record Type Missing</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decides if the chosen serialised product is available and active for book out.</description>
        <name>Check_Serialised_Product_Availability</name>
        <label>Check Serialised Product Availability</label>
        <locationX>4934</locationX>
        <locationY>1664</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Non_Bookable_Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Bookable</defaultConnectorLabel>
        <rules>
            <name>Recalled_Single</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.SPEN_Recalled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Item_Is_Recalled_Confirmation_Screen</targetReference>
            </connector>
            <label>Recalled</label>
        </rules>
        <rules>
            <name>Bookable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.SPEN_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Item_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Available</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Book_Out_Screen</targetReference>
            </connector>
            <label>Bookable</label>
        </rules>
    </decisions>
    <decisions>
        <description>Performs an initial check on the Serialised Product to see if this is part of a Multiset kit.</description>
        <name>Initial_Multiset_Check</name>
        <label>Initial Multiset Check</label>
        <locationX>3570</locationX>
        <locationY>1556</locationY>
        <defaultConnector>
            <targetReference>Check_Serialised_Product_Availability</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Isn&apos;t Multiset</defaultConnectorLabel>
        <rules>
            <name>Is_Multiset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.SPEN_Multiset__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Initial_Multiset_Availability</targetReference>
            </connector>
            <label>Is Multiset</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the user is booking for themselves or on behalf of somebody else.</description>
        <name>Is_User_Booking_For_Themself</name>
        <label>Is User Booking For Themself?</label>
        <locationX>5022</locationX>
        <locationY>1880</locationY>
        <defaultConnector>
            <targetReference>Permission_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>For Themselves</defaultConnectorLabel>
        <rules>
            <name>On_Behalf_of_Someone_Else</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>On_Behalf_Of_Text</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Booking_Validity1</targetReference>
            </connector>
            <label>On Behalf of Someone Else</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the user is booking for themselves or on behalf of somebody else.</description>
        <name>Is_User_Booking_For_Themself_Multi</name>
        <label>User Booking For Themself?</label>
        <locationX>2558</locationX>
        <locationY>2588</locationY>
        <defaultConnector>
            <targetReference>Permission_Check_Multi</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>For Themselves</defaultConnectorLabel>
        <rules>
            <name>On_Behalf_of_Someone_Else_Multiset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>On_Behalf_Of_Text_Multiset</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Booking_Validity_Multiset_Behalf_Of</targetReference>
            </connector>
            <label>On Behalf of Someone Else</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the user has internal or external Competent User permission set.</description>
        <name>Permission_Check</name>
        <label>Permission Check</label>
        <locationX>5506</locationX>
        <locationY>1988</locationY>
        <defaultConnector>
            <targetReference>Failed_Permission_Check_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None Found</defaultConnectorLabel>
        <rules>
            <name>Permission_Set_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>serviceResourceRecord.SPEN_Competent_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Booking_Validity</targetReference>
            </connector>
            <label>Permission Set Found</label>
        </rules>
        <rules>
            <name>Permission_Set_Alternate</name>
            <conditionLogic>(1 AND 9 AND 2) OR (1 AND 9 AND 3) OR (1 AND 9 AND 4) OR (1 AND 9 AND 5) OR (1 AND 9 AND 6) OR (1 AND 9 AND 7) OR (1 AND 9 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>serviceResourceRecord.SPEN_Competent_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fuserod</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ladder</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lifting Equipment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Miscellaneous</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Portable Earth</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Test Equipment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working at Height</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Competent_User_Needed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Booking_Validity</targetReference>
            </connector>
            <label>Permission Set Alternate</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the user has internal or external Competent User permission set.</description>
        <name>Permission_Check_Multi</name>
        <label>Permission Check</label>
        <locationX>3042</locationX>
        <locationY>2696</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Failed_Permission_Check_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None Found</defaultConnectorLabel>
        <rules>
            <name>Permission_Set_Found_Multi</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>serviceResourceRecord.SPEN_Competent_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Booking_Validity_Multiset_Running_User</targetReference>
            </connector>
            <label>Permission Set Found</label>
        </rules>
        <rules>
            <name>Permission_Set_Alternate_Multi</name>
            <conditionLogic>(1 AND 9 AND 2) OR (1 AND 9 AND 3) OR (1 AND 9 AND 4) OR (1 AND 9 AND 5) OR (1 AND 9 AND 6) OR (1 AND 9 AND 7) OR (1 AND 9 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>serviceResourceRecord.SPEN_Competent_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fuserod</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ladder</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lifting Equipment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Miscellaneous</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Portable Earth</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Test Equipment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working at Height</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Competent_User_Needed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Booking_Validity_Multiset_Running_User</targetReference>
            </connector>
            <label>Permission Set Alternate</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decides which screen to show to user following book out completion.</description>
        <name>Screen_Check</name>
        <label>Screen Check</label>
        <locationX>3570</locationX>
        <locationY>5444</locationY>
        <defaultConnector>
            <targetReference>Get_Product_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Single Confirmation</defaultConnectorLabel>
        <rules>
            <name>Multiset_Confirmation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.SPEN_Multiset__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirmation_Screen_Multiset</targetReference>
            </connector>
            <label>Multiset Confirmation</label>
        </rules>
    </decisions>
    <description>Field Service mobile flow for users to book out compliance stores equipment.</description>
    <dynamicChoiceSets>
        <name>UserListMulti</name>
        <collectionReference>Location_Records_Search</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Location</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UserListSingle</name>
        <collectionReference>Location_Records_Search</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Location</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UserLocationListMulti</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LocationType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>User</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>On_Behalf_Of_Text_Multiset</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>locationRecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Location</object>
        <outputAssignments>
            <assignToReference>Final_Location_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Final_Location_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Final_User_Id</assignToReference>
            <field>SPEN_User__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UserLocationListSingle</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LocationType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>User</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>On_Behalf_Of_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>locationRecordTypeId</elementReference>
            </value>
        </filters>
        <object>Location</object>
        <outputAssignments>
            <assignToReference>Final_Location_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Final_Location_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Final_User_Id</assignToReference>
            <field>SPEN_User__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Formula to check if the safety check date is blank on the Serialised Product record.</description>
        <name>Safety_Check_Date</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!recordId.SPEN_Safety_Check_Date__c})</expression>
    </formulas>
    <interviewLabel>Compliance Stores - Book Out {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Compliance Stores - Book Out</label>
    <loops>
        <description>Loop through the recordids collection variable in order to generate product transfer records for each (multiset or single).</description>
        <name>Loop_recordids_Collection_Variable</name>
        <label>Loop recordids Collection Variable</label>
        <locationX>3570</locationX>
        <locationY>4172</locationY>
        <assignNextValueToReference>loop_records_ids_collection</assignNextValueToReference>
        <collectionReference>recordIdsCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Product_Transfer_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Product_Transfer_State_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loops through the active multiset Serialised Products to check if any are not sat in available status.</description>
        <name>Loop_Through_Active_Multiset_Serialised_Products</name>
        <label>Loop Through Active Multiset Serialised Products</label>
        <locationX>1898</locationX>
        <locationY>1880</locationY>
        <assignNextValueToReference>LoopVariable_ActiveMultisetSerialisedProduct</assignNextValueToReference>
        <collectionReference>Active_Serialised_Products_Search</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Multiset_Serialised_Product_Item_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Multiset_Availability</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <description>Creates the Product Transfer records.</description>
        <name>Create_Product_Transfer_Records</name>
        <label>Create Product Transfer Records</label>
        <locationX>3658</locationX>
        <locationY>4280</locationY>
        <assignRecordIdToReference>assigned_product_transfer.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Assignment_for_Create_Product_Transfer_State</targetReference>
        </connector>
        <inputAssignments>
            <field>DestinationLocationId</field>
            <value>
                <elementReference>Final_Location_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>loop_records_ids_collection.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityReceived</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantitySent</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityUnitOfMeasure</field>
            <value>
                <stringValue>Each</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReceivedById</field>
            <value>
                <elementReference>Final_User_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>productTransferRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Booked_For__c</field>
            <value>
                <elementReference>Final_User_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Energy_Networks_ID__c</field>
            <value>
                <elementReference>loop_records_ids_collection.SPEN_Energy_Networks_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Expected_Return_Date__c</field>
            <value>
                <elementReference>final_expected_return_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Multiset__c</field>
            <value>
                <elementReference>loop_records_ids_collection.SPEN_Multiset__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_New_Status__c</field>
            <value>
                <stringValue>Booked Out</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Parent_Energy_Networks_ID__c</field>
            <value>
                <elementReference>loop_records_ids_collection.SPEN_Parent_Energy_Networks_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Previous_Status__c</field>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Safety_Check_Date__c</field>
            <value>
                <elementReference>loop_records_ids_collection.SPEN_Safety_Check_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Serialised_Product_Helper__c</field>
            <value>
                <elementReference>loop_records_ids_collection.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Site_Description__c</field>
            <value>
                <elementReference>final_site_description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Transfer_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Type__c</field>
            <value>
                <stringValue>Book Out</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceLocationId</field>
            <value>
                <elementReference>loop_records_ids_collection.SPEN_Current_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceProductItemId</field>
            <value>
                <elementReference>loop_records_ids_collection.ProductItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>ProductTransfer</object>
    </recordCreates>
    <recordCreates>
        <description>Creates all Product Transfer records as needed.</description>
        <name>Create_Product_Transfer_State_Records</name>
        <label>Create Product Transfer State Records</label>
        <locationX>3570</locationX>
        <locationY>5120</locationY>
        <connector>
            <targetReference>Update_Product_Transfers</targetReference>
        </connector>
        <inputReference>finalProductTransferStates</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get Records element to find all Serialised Products which have the same Parent Energy Networks ID as the Serialised Product the user is attempting to book out.</description>
        <name>Get_Active_Multiset_Serialised_Products</name>
        <label>Get Active Multiset Serialised Products</label>
        <locationX>1898</locationX>
        <locationY>1772</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Active_Multiset_Serialised_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SPEN_Parent_Energy_Networks_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.SPEN_Parent_Energy_Networks_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SerializedProduct</object>
        <outputReference>Active_Serialised_Products_Search</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SPEN_Parent_Energy_Networks_ID__c</queriedFields>
        <queriedFields>SPEN_Energy_Networks_ID__c</queriedFields>
        <queriedFields>SPEN_Safety_Check_Date__c</queriedFields>
        <queriedFields>ProductItemId</queriedFields>
        <queriedFields>SPEN_Multiset__c</queriedFields>
        <queriedFields>SPEN_Item_Status__c</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>SPEN_Active__c</queriedFields>
        <queriedFields>SPEN_Category__c</queriedFields>
        <queriedFields>SPEN_Item_Description__c</queriedFields>
        <queriedFields>SPEN_Current_Location__c</queriedFields>
        <queriedFields>SPEN_Location_Name__c</queriedFields>
        <queriedFields>SPEN_ENID_Category_Description_Safety__c</queriedFields>
        <queriedFields>SPEN_Recalled__c</queriedFields>
        <sortField>SPEN_Category__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Gets the record type ID of the compliance stores record type for the Product Transfer object.</description>
        <name>Get_Compliance_Stores_Product_Transfer_Record_Type</name>
        <label>Get Compliance Stores Product Transfer Record Type</label>
        <locationX>1810</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Records_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ProductTransfer</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_Compliance_Stores</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>productTransferRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Finds the Location record which is type &apos;User&apos; and is linked to the User record of the running user.</description>
        <name>Get_Location_Record_of_Running_User</name>
        <label>Get Location Record of Running User</label>
        <locationX>5506</locationX>
        <locationY>2612</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LocationType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>User</stringValue>
            </value>
        </filters>
        <filters>
            <field>SPEN_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>Location</object>
        <outputAssignments>
            <assignToReference>Final_Location_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Final_Location_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Finds the Location record which is type &apos;User&apos; and is linked to the User record of the running user.</description>
        <name>Get_Location_Record_of_Running_User_Multiset</name>
        <label>Get Location Record of Booked For User</label>
        <locationX>3042</locationX>
        <locationY>3062</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Name_Multi</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LocationType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>User</stringValue>
            </value>
        </filters>
        <filters>
            <field>SPEN_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>Location</object>
        <outputAssignments>
            <assignToReference>Final_Location_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Final_Location_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Location_Record_Type</name>
        <label>Get Location Record Type</label>
        <locationX>1810</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Compliance_Stores_Product_Transfer_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Location</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_Compliance_Stores</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>locationRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Records element to find the Service Resource record of the User equipment is being booked out to.</description>
        <name>Get_On_Behalf_Of_Service_Resource_Record_Multi</name>
        <label>Get On Behalf Of Service Resource Record</label>
        <locationX>2074</locationX>
        <locationY>2912</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Chosen_User_Is_Competent_User_Multiset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Final_User_Id</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>onBehalfOfServiceResourceRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SPEN_Authorised_User__c</queriedFields>
        <queriedFields>SPEN_Competent_User__c</queriedFields>
        <queriedFields>SPEN_Compliance_Team__c</queriedFields>
        <queriedFields>SPEN_Site_Manager__c</queriedFields>
        <queriedFields>SPEN_Operational_Safety_Engineer__c</queriedFields>
        <queriedFields>SPEN_Team_Leader__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get Records element to find the Service Resource record of the User equipment is being booked out to.</description>
        <name>Get_On_Behalf_Of_Service_Resource_Record_Single</name>
        <label>Get On Behalf Of Service Resource Record</label>
        <locationX>4538</locationX>
        <locationY>2204</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Chosen_User_Is_Competent_User_Single</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Final_User_Id</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>onBehalfOfServiceResourceRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SPEN_Authorised_User__c</queriedFields>
        <queriedFields>SPEN_Competent_User__c</queriedFields>
        <queriedFields>SPEN_Compliance_Team__c</queriedFields>
        <queriedFields>SPEN_Site_Manager__c</queriedFields>
        <queriedFields>SPEN_Operational_Safety_Engineer__c</queriedFields>
        <queriedFields>SPEN_Team_Leader__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get Records to find the product name to display on confirmation screen.</description>
        <name>Get_Product_Name</name>
        <label>Get Product Name</label>
        <locationX>3702</locationX>
        <locationY>5552</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirmation_Screen_Single</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Product2Id</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>Final_Product_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Serialised_Product_Record_Type</name>
        <label>Get Serialised Product Record Type</label>
        <locationX>1810</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Location_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SerializedProduct</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_Compliance_Stores</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>serialisedProductRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the Serialised Product record via the ENID entry from user on previous screen.</description>
        <name>Get_Single_Serialised_Product_from_ENID_Entry</name>
        <label>Get Single Serialised Product from ENID Entry</label>
        <locationX>3570</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Single_ENID_Serialised_Product_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SPEN_Energy_Networks_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ENID_Entry_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serialisedProductRecordTypeId</elementReference>
            </value>
        </filters>
        <object>SerializedProduct</object>
        <outputReference>recordId</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>SPEN_Active__c</queriedFields>
        <queriedFields>SPEN_Base_Location__c</queriedFields>
        <queriedFields>SPEN_Category__c</queriedFields>
        <queriedFields>SPEN_Current_Location__c</queriedFields>
        <queriedFields>SPEN_Energy_Networks_ID__c</queriedFields>
        <queriedFields>SPEN_Item_Status__c</queriedFields>
        <queriedFields>SPEN_Location_Name__c</queriedFields>
        <queriedFields>SPEN_Multiset__c</queriedFields>
        <queriedFields>SPEN_Parent_Energy_Networks_ID__c</queriedFields>
        <queriedFields>SPEN_Safety_Check_Date__c</queriedFields>
        <queriedFields>SPEN_ENID_Category_Description_Safety__c</queriedFields>
        <queriedFields>SPEN_Recalled__c</queriedFields>
        <queriedFields>SPEN_Competent_User_Needed__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get Records to get the users full name who the item is being booked out for.</description>
        <name>Get_the_Booked_For_User_Name</name>
        <label>Get the Booked For User Name</label>
        <locationX>4538</locationX>
        <locationY>2936</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_recordids_Collection_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Final_User_Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>Final_User_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Records to get the users full name who the item is being booked out for.</description>
        <name>Get_the_Booked_For_User_Name_Multiset</name>
        <label>Get the Booked For User Name</label>
        <locationX>2074</locationX>
        <locationY>3644</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_recordids_Collection_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Final_User_Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>Final_User_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Records element to find the unavailable Multiset Serialised Product in order to display on the non bookable confirmation screen.</description>
        <name>Get_Unavailable_Multiset_Serialised_Product</name>
        <label>Get Unavailable Multiset Serialised Product</label>
        <locationX>1238</locationX>
        <locationY>2480</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Unavailable_Serialised_Products_Product_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Unavailable_Multiset_Serialised_Product_Storage</elementReference>
            </value>
        </filters>
        <object>SerializedProduct</object>
        <outputReference>Final_Unavailable_Serialised_Product_Multiset</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SPEN_Energy_Networks_ID__c</queriedFields>
        <queriedFields>SPEN_Category__c</queriedFields>
        <queriedFields>SPEN_Item_Status__c</queriedFields>
        <queriedFields>SPEN_Location_Name__c</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>SPEN_Recalled__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get Records element to find the Product record related to the unavailable Serialised Product.</description>
        <name>Get_Unavailable_Serialised_Products_Product_Record</name>
        <label>Get Unavailable Serialised Products Product Record</label>
        <locationX>1238</locationX>
        <locationY>2588</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Recalled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Final_Unavailable_Serialised_Product_Multiset.Product2Id</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>Final_Unavailable_Serialised_Product_Product_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Name</name>
        <label>Get User Name</label>
        <locationX>5506</locationX>
        <locationY>2720</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_The_Product_Transfer_Details_Single</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>Final_User_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Name_Multi</name>
        <label>Get User Name</label>
        <locationX>3042</locationX>
        <locationY>3170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_The_Product_Transfer_Details_Multi</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>Final_User_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Records to find linked Service Resource to running user.</description>
        <name>Get_User_Service_Resource_Record</name>
        <label>Get User Service Resource Record</label>
        <locationX>1810</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Serialised_Product_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>serviceResourceRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SPEN_Authorised_User__c</queriedFields>
        <queriedFields>SPEN_Competent_User__c</queriedFields>
        <queriedFields>SPEN_Compliance_Team__c</queriedFields>
        <queriedFields>SPEN_Site_Manager__c</queriedFields>
        <queriedFields>SPEN_Operational_Safety_Engineer__c</queriedFields>
        <queriedFields>SPEN_Team_Leader__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Gets the Multi Set Serialised Product record via the ENID entry from user on previous screen.</description>
        <name>GetMulti_Serialised_Product_from_ENID_Entry</name>
        <label>Get Multi Serialised Product from ENID Entry</label>
        <locationX>3702</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Multi_ENID_Serialised_Product_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SPEN_Parent_Energy_Networks_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ENID_Entry_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serialisedProductRecordTypeId</elementReference>
            </value>
        </filters>
        <object>SerializedProduct</object>
        <outputReference>recordId</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>SPEN_Active__c</queriedFields>
        <queriedFields>SPEN_Base_Location__c</queriedFields>
        <queriedFields>SPEN_Category__c</queriedFields>
        <queriedFields>SPEN_Current_Location__c</queriedFields>
        <queriedFields>SPEN_Energy_Networks_ID__c</queriedFields>
        <queriedFields>SPEN_Item_Status__c</queriedFields>
        <queriedFields>SPEN_Location_Name__c</queriedFields>
        <queriedFields>SPEN_Multiset__c</queriedFields>
        <queriedFields>SPEN_Parent_Energy_Networks_ID__c</queriedFields>
        <queriedFields>SPEN_Safety_Check_Date__c</queriedFields>
        <queriedFields>SPEN_ENID_Category_Description_Safety__c</queriedFields>
        <queriedFields>SPEN_Recalled__c</queriedFields>
        <queriedFields>SPEN_Competent_User_Needed__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Update Records element to update all Product Transfers previously generated.</description>
        <name>Update_Product_Transfers</name>
        <label>Update Product Transfers</label>
        <locationX>3570</locationX>
        <locationY>5228</locationY>
        <connector>
            <targetReference>Update_Serialised_Products</targetReference>
        </connector>
        <inputReference>finalUpdatedProductTransfers</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the Serialised Products</description>
        <name>Update_Serialised_Products</name>
        <label>Update Serialised Products</label>
        <locationX>3570</locationX>
        <locationY>5336</locationY>
        <connector>
            <targetReference>Screen_Check</targetReference>
        </connector>
        <inputReference>finalSerialisedProducts</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <description>Screen to capture initial book out details.</description>
        <name>Book_Out_Screen</name>
        <label>Enter Booking Details</label>
        <locationX>5022</locationX>
        <locationY>1772</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_User_Booking_For_Themself</targetReference>
        </connector>
        <fields>
            <name>Energy_Networks_ID</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.SPEN_Energy_Networks_ID__c</elementReference>
            </defaultValue>
            <fieldText>Energy Networks ID</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Booking_For_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Only enter the below field if you are booking on behalf of somebody else.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>On_Behalf_Of_Text</name>
            <dataType>String</dataType>
            <fieldText>On Behalf Of</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Site_Description</name>
            <dataType>String</dataType>
            <fieldText>Site Description</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Expected_Return_Date</name>
            <dataType>Date</dataType>
            <fieldText>Expected Return Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Display_Safety_Check_Date</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 149, 36); font-size: 14px;&quot;&gt;You can&apos;t book this out past its safety date, if one is due see below: &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 149, 36); font-size: 14px;&quot;&gt;{!recordId.SPEN_Safety_Check_Date__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen to capture initial book out details.</description>
        <name>Book_Out_Screen_Multiset</name>
        <label>Enter Booking Details</label>
        <locationX>2558</locationX>
        <locationY>2480</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_User_Booking_For_Themself_Multi</targetReference>
        </connector>
        <fields>
            <name>Display_Parent_ENID</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Parent Energy Network ID: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!recordId.SPEN_Parent_Energy_Networks_ID__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Booking_For_Display_Text_Multiset</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Only enter the below field if you are booking on behalf of somebody else.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>On_Behalf_Of_Text_Multiset</name>
            <dataType>String</dataType>
            <fieldText>On Behalf Of</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Site_Description_Multiset</name>
            <dataType>String</dataType>
            <fieldText>Site Description</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Expected_Return_Date_Multiset</name>
            <dataType>Date</dataType>
            <fieldText>Expected Return Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Display_Safety_Check_Date_Multiset</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(255, 149, 36);&quot;&gt;You can&apos;t book this out past its safety date, if one is due see below: &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(255, 149, 36);&quot;&gt;{!recordId.SPEN_Safety_Check_Date__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen to manually capture the ENID from the equipment due to being invoked from a global action.</description>
        <name>Capture_ENID_Screen</name>
        <label>Enter Energy Networks ID</label>
        <locationX>3570</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Single_Serialised_Product_from_ENID_Entry</targetReference>
        </connector>
        <fields>
            <name>ENID_Entry_Text</name>
            <dataType>String</dataType>
            <fieldText>Input or Scan Energy Networks ID:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Enter Booking Information</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen_Multiset</name>
        <label>Confirmation</label>
        <locationX>3438</locationX>
        <locationY>5552</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MultisetConfirmation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The multiset item is now booked out:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Parent Energy Network ID: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!recordId.SPEN_Parent_Energy_Networks_ID__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Expected Return Date: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!final_expected_return_date}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); font-size: 14px; color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68)));&quot;&gt;Booked For: &lt;/strong&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); font-size: 14px; color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68)));&quot;&gt;{!Final_User_Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Location: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Final_Location_Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Confirmation screen to show user component booked.</description>
        <name>Confirmation_Screen_Single</name>
        <label>Confirmation Screen</label>
        <locationX>3702</locationX>
        <locationY>5660</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SingleConfirmation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The below item is now booked out:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Energy Network ID: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!recordId.SPEN_Energy_Networks_ID__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Product Name: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Final_Product_Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Category:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; {!recordId.SPEN_Category__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Description: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!recordId.SPEN_Item_Description__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Expected Return Date: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;);&quot;&gt; {!final_expected_return_date}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-size: 14px; font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;);&quot;&gt;Booked For: &lt;/strong&gt;&lt;span style=&quot;color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-size: 14px; font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;);&quot;&gt;{!Final_User_Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Location: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Final_Location_Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays the component being booked out.</description>
        <name>Display_Component_Screen</name>
        <label>Display Equipment</label>
        <locationX>4538</locationX>
        <locationY>2828</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Go Back</backButtonLabel>
        <connector>
            <targetReference>Get_the_Booked_For_User_Name</targetReference>
        </connector>
        <fields>
            <name>Component_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;See below the component being booked out:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!recordId.SPEN_ENID_Category_Description_Safety__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays the component being booked out.</description>
        <name>Display_Component_Screen1</name>
        <label>Display Equipment</label>
        <locationX>5506</locationX>
        <locationY>2504</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Location_Record_of_Running_User</targetReference>
        </connector>
        <fields>
            <name>Single_Components_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;See below the component being booked out:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!recordId.SPEN_ENID_Category_Description_Safety__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays the individual components within the multiset.</description>
        <name>Display_Components_Screen</name>
        <label>Display Components Screen</label>
        <locationX>2074</locationX>
        <locationY>3536</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_the_Booked_For_User_Name_Multiset</targetReference>
        </connector>
        <fields>
            <name>Multiset_Components_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;See below the components currently contained within this multiset.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!FinalMultiSetList}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays the individual components within the multiset.</description>
        <name>Display_Components_Screen1</name>
        <label>Display Equipment</label>
        <locationX>3042</locationX>
        <locationY>3386</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Go Back</backButtonLabel>
        <connector>
            <targetReference>Loop_recordids_Collection_Variable</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Multiset_Components_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;See below the components currently contained within this multiset.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>multicomponentdisplaylist</name>
            <fieldText>&lt;p&gt;{!FinalMultiSetList}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to the user that they don&apos;t have the relevant permissions to book out the item in their name.</description>
        <name>Failed_Permission_Check_Screen</name>
        <label>Failed Permission Check</label>
        <locationX>5682</locationX>
        <locationY>2096</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NotAuthorisedDisplayText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;This equipment has not been booked out.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You are not authorised to book out this item in your name.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;If you should have authorisation, please speak with your team leader/manager to request access.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to the user that the ENID entered is not valid/doesn&apos;t match a Serialised Product record.</description>
        <name>Invalid_ENID_Screen</name>
        <label>Invalid Energy Networks ID</label>
        <locationX>3790</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Capture_ENID_Screen</targetReference>
        </connector>
        <fields>
            <name>InvalidENIDDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;The chosen Energy Networks ID is not valid. Please input or scan an ID that matches a valid item.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Retry</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to user that the serialised product is non bookable as it&apos;s currently being recalled.</description>
        <name>Item_Is_Recalled_Confirmation_Screen</name>
        <label>Item Is Recalled</label>
        <locationX>3834</locationX>
        <locationY>1772</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Item_Recalled_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 14px;&quot;&gt;This equipment has not been booked out.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Current Status:&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 14px;&quot;&gt; {!recordId.SPEN_Item_Status__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 14px;&quot;&gt;Current Location: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 14px;&quot;&gt;{!recordId.SPEN_Location_Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You can&apos;t book this equipment as it&apos;s currently being recalled.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm the Compliance Stores record type for Location is missing from the system.</description>
        <name>Missing_System_Record_Type_Location</name>
        <label>Missing System Record Type</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MissingLocationRecordTypeDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You cannot book out an item at this time. Please advise the system administrator of the below issue.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The below Record Type is missing from the Location object:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Compliance Stores&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm the Compliance Stores record type for Product Transfer is missing from the system.</description>
        <name>Missing_System_Record_Type_Product_Transfer</name>
        <label>Missing System Record Type</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MissingProductTransferRecordTypeDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You cannot book out an item at this time. Please advise the system administrator of the below issue.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The below Record Type is missing from the Product Transfer object:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Compliance Stores&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm the Compliance Stores record type for Serialised Products is missing from the system.</description>
        <name>Missing_System_Record_Type_Serialised_Product</name>
        <label>Missing System Record Type</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MissingSerialisedProductRecordTypeDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You cannot book out an item at this time. Please advise the system administrator of the below issue.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The below Record Type is missing from the Serialised Product object:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Compliance Stores&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to user that the serialised product is non bookable as it&apos;s not active/available status.</description>
        <name>Non_Bookable_Confirmation</name>
        <label>Non Bookable Confirmation</label>
        <locationX>3570</locationX>
        <locationY>1772</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Non_Bookable_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;This equipment has not been booked out. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Current Status:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; {!recordId.SPEN_Item_Status__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Current Location: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!recordId.SPEN_Location_Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You can&apos;t book this equipment as it&apos;s not available on the shelf for issue.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to user that the Serialised Product is non bookable as they are attempting to return later than the safety check date on the Serialised Product record.</description>
        <name>Non_Bookable_Confirmation1</name>
        <label>Non Bookable Confirmation</label>
        <locationX>2514</locationX>
        <locationY>2804</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Change Expected Return Date</backButtonLabel>
        <fields>
            <name>Non_Bookable_Display_Text1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;This equipment has not been booked out.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You can&apos;t book this equipment as you are attempting to return it after a safety check is due.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to user that the Serialised Product is non bookable as they are attempting to return earlier than today&apos;s date.</description>
        <name>Non_Bookable_Confirmation_Early</name>
        <label>Non Bookable Confirmation</label>
        <locationX>1634</locationX>
        <locationY>2804</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Change Expected Return Date</backButtonLabel>
        <fields>
            <name>Non_Bookable_Display_Text_Early</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;This equipment has not been booked out.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The expected return date is earlier than today&apos;s date. Please go back and amend to the correct date.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to user that the serialised product is non bookable as it&apos;s not active/available status.</description>
        <name>Non_Bookable_Confirmation_Multiset</name>
        <label>Non Bookable Confirmation</label>
        <locationX>1370</locationX>
        <locationY>2804</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Non_Multiset_Bookable_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;This equipment has not been booked out.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Energy Networks ID: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Final_Unavailable_Serialised_Product_Multiset.SPEN_Energy_Networks_ID__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Product: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Final_Unavailable_Serialised_Product_Product_Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Category: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Final_Unavailable_Serialised_Product_Multiset.SPEN_Category__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Current Status:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; {!Final_Unavailable_Serialised_Product_Multiset.SPEN_Item_Status__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Current Location: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Final_Unavailable_Serialised_Product_Multiset.SPEN_Location_Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You can&apos;t book this multiset as the above piece is not available on the shelf for issue.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to user that the serialised product is non bookable as part of the set is being recalled.</description>
        <name>Recalled_Confirmation_Part_Set</name>
        <label>Recalled Confirmation</label>
        <locationX>1106</locationX>
        <locationY>2804</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Recalled_Multiset_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;This equipment has not been booked out.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Energy Networks ID: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Final_Unavailable_Serialised_Product_Multiset.SPEN_Energy_Networks_ID__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Product: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Final_Unavailable_Serialised_Product_Product_Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Category: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Final_Unavailable_Serialised_Product_Multiset.SPEN_Category__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Current Status:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; {!Final_Unavailable_Serialised_Product_Multiset.SPEN_Item_Status__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Current Location: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Final_Unavailable_Serialised_Product_Multiset.SPEN_Location_Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You can&apos;t book this multiset as the above piece is currently in the process of being recalled.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to user that the user they&apos;ve chosen to book out for is unauthorised to own the item.</description>
        <name>Unauthorised_Selection_Retry_Multi</name>
        <label>Unauthorised Selection</label>
        <locationX>2250</locationX>
        <locationY>3128</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MultiBookedForUnauthorised</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;This equipment has not been booked out.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;You have chosen a user who does not have permission to own items. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;If you believe they should have permission to book out this item, please ask them to escalate this internally.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to user that the user they&apos;ve chosen to book out for is unauthorised to own the item.</description>
        <name>Unauthorised_Selection_Retry_Single</name>
        <label>Unauthorised Selection</label>
        <locationX>4714</locationX>
        <locationY>2420</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SingleBookedForUnauthorised</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;This equipment has not been booked out.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;You have chosen a user who does not have permission to own items.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;If you believe they should have permission to book out this item, please ask them to escalate this internally.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Allows user to select the correct user/location for the booking out process.</description>
        <name>User_Selection_Screen</name>
        <label>User Selection Screen</label>
        <locationX>4538</locationX>
        <locationY>2096</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Go Back</backButtonLabel>
        <connector>
            <targetReference>Get_On_Behalf_Of_Service_Resource_Record_Single</targetReference>
        </connector>
        <fields>
            <name>User_Selection_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please confirm the user to book this equipment out for.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>User_List_Single</name>
            <choiceReferences>UserLocationListSingle</choiceReferences>
            <dataType>String</dataType>
            <fieldText>User</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Book Out</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Allows user to select the correct user/location for the booking out process.</description>
        <name>User_Selection_Screen_Multiset</name>
        <label>User Selection</label>
        <locationX>2074</locationX>
        <locationY>2804</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Go Back</backButtonLabel>
        <connector>
            <targetReference>Get_On_Behalf_Of_Service_Resource_Record_Multi</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_User_Selection_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please confirm the user to book this equipment out for.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>User_List_Multi</name>
            <choiceReferences>UserLocationListMulti</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Users</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1684</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User_Service_Resource_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>FinalMultiSetList</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!multisetCollectionList1}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>multiSetTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;{!LoopVariable_ActiveMultisetSerialisedProduct.SPEN_ENID_Category_Description_Safety__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;_____________________________&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>removemetexttemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!loop_records_ids_collection.Id}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>Stores the active Serialised Products records searched.</description>
        <name>Active_Serialised_Products_Search</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>assigned_product_transfer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransfer</objectType>
    </variables>
    <variables>
        <name>assigned_product_transfer_state</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransferState</objectType>
    </variables>
    <variables>
        <name>assigned_serialised_product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>final_expected_return_date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the final Location Id that should be entered on the new Product Transfer record.</description>
        <name>Final_Location_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the chosen Location Name.</description>
        <name>Final_Location_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the final Product name in order to display on the confirmation screen.</description>
        <name>Final_Product_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the newly created product transfer Id</description>
        <name>Final_Product_Transfer_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>final_site_description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Serialised Products current Source Location Id from the Product Item is is currently related to (prior to the Product Transfer).</description>
        <name>Final_Source_Location_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the final unavailable Serialised Product record obtained via the checks, in order to display on confirmation screen.</description>
        <name>Final_Unavailable_Serialised_Product_Multiset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <description>Stores the Product name field related to the unavailable Serialised Product record.</description>
        <name>Final_Unavailable_Serialised_Product_Product_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the chosen User Id</description>
        <name>Final_User_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the chosen User name field.</description>
        <name>Final_User_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>finalProductTransfers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransfer</objectType>
    </variables>
    <variables>
        <name>finalProductTransferStates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransferState</objectType>
    </variables>
    <variables>
        <name>finalSerialisedProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>finalUpdatedProductTransfers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransfer</objectType>
    </variables>
    <variables>
        <description>Stores the location IDs/Names that are found following the information entered by the user when booking on behalf of another user.</description>
        <name>Location_Records_Search</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>locationidPLACEHOLDERfordatatableselection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>locationRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loop_final_product_transfers</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransfer</objectType>
    </variables>
    <variables>
        <name>loop_final_product_transfers_update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransfer</objectType>
    </variables>
    <variables>
        <name>loop_records_ids_collection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>loop_to_update_recordsidscollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <description>Stores the current item in the loop for Active Multiset Serialised Product</description>
        <name>LoopVariable_ActiveMultisetSerialisedProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>multisetCollectionList1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>onBehalfOfServiceResourceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <description>Stores the record type ID for the Product Transfer record (SPEN_Compliance_Stores)</description>
        <name>productTransferRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the serialised product Id where the flow has been invoked from.</description>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>recordIdsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>removemetext</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Serialised Product ID found via Parent ENID entry.</description>
        <name>Searched_Parent_ENID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Serialised Product found via ENID searched.</description>
        <name>Searched_Standard_ENID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serialisedProductRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceResourceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <description>Stores the record ID of the unavailable multiset Serialised Product if one is found.</description>
        <name>Unavailable_Multiset_Serialised_Product_Storage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updated_product_transfer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransfer</objectType>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the expected return date entered by the user.</description>
        <name>Validated_Expected_Return_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
