force-app/main/default/flows/SPEN_LVServiceTerminationSurvey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Add_1_per_File</name>
        <label>Add 1 per File</label>
        <locationX>666</locationX>
        <locationY>10256</locationY>
        <assignmentItems>
            <assignToReference>PhotoCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Counting_Files</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Id</name>
        <label>Assign Id</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Where_is_being_called</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_location_values</name>
        <label>Assign location values</label>
        <locationX>380</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>premiseAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>workOrder.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>premisePostcode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>workOrder.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>premiseCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>workOrder.City</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Field_Operative</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Territory_Id_1</name>
        <label>Assign Territory Id</label>
        <locationX>446</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>var_ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_ServiceTerritoryId1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Service_Territory_Name_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Territory_Id_From_Effective_Date_Not_Null</name>
        <label>Assign Territory Id From Effective Date Not Null</label>
        <locationX>710</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>var_ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_ServiceTerritoryId2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Service_Territory_Name_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_answer_given</name>
        <label>Assign the answer given</label>
        <locationX>446</locationX>
        <locationY>9740</locationY>
        <assignmentItems>
            <assignToReference>Additional_Comments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Any_additional_comments_answer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_LV_Service_Termination_Survey</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_answer_given_0</name>
        <label>Assign the answer given</label>
        <locationX>710</locationX>
        <locationY>9740</locationY>
        <assignmentItems>
            <assignToReference>Additional_Comments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Any_additional_comments_answer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_LV_Service_Termination_Survey</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values</name>
        <label>Assign Values</label>
        <locationX>1194</locationX>
        <locationY>2738</locationY>
        <assignmentItems>
            <assignToReference>Type_Unmetered_Connection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_unmetered_connection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Supply_Type_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values1</name>
        <label>Assign Values</label>
        <locationX>446</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>Main_Reason_Visit</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fault replacement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_District</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>District_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FirstLineOfAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Postcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ConnectionMetered</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_connection_Metered_or_Unmetered</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Latitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Latitude_number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Longitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Longitude_number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Metered_or_Unmetered</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values10</name>
        <label>Assign Values</label>
        <locationX>424</locationX>
        <locationY>6494</locationY>
        <assignmentItems>
            <assignToReference>Type_Earthing_Connection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_Earthing_Connection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Purpose_of_undertaking_survey2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values11</name>
        <label>Assign Values</label>
        <locationX>512</locationX>
        <locationY>8516</locationY>
        <assignmentItems>
            <assignToReference>Select_LCT_Found</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_select_any_LCTs_found_at_this_address</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Smart_Meter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values12</name>
        <label>Assign Values</label>
        <locationX>248</locationX>
        <locationY>8624</locationY>
        <assignmentItems>
            <assignToReference>Select_LCT_Found</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_select_any_LCTs_found_at_this_address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Specify_LCT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_specify_LCT_below</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Smart_Meter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values14</name>
        <label>Assign Values</label>
        <locationX>160</locationX>
        <locationY>4502</locationY>
        <assignmentItems>
            <assignToReference>Voltage_Surface</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Value_of_Voltage_at_LV_Service_Termination_surface</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Purpose_of_undertaking_survey_decision2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values15</name>
        <label>Assign Values</label>
        <locationX>446</locationX>
        <locationY>5078</locationY>
        <assignmentItems>
            <assignToReference>Current_Rating_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_rating_of_the_LV_Service_Termination</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Current_Rating_Fuse_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_rating_of_installed_Fuse_s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Supply_Type1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values16</name>
        <label>Assign Values</label>
        <locationX>182</locationX>
        <locationY>5486</locationY>
        <assignmentItems>
            <assignToReference>CableOrConductorType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cable_or_Conductor_type_Internal_Mains</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Number_Of_Phases_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_phases_picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>As_left_LV_Service_Termination_Type_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>As_left_LV_Service_Termination_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Connected_phase_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Connected_phase</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Earthing_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Earthing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>As_left_LV_Service_Termination_Type_decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values17</name>
        <label>Assign Values</label>
        <locationX>446</locationX>
        <locationY>5486</locationY>
        <assignmentItems>
            <assignToReference>CableOrConductorType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cable_or_Conductor_type_OHL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Number_Of_Phases_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_phases_picklist_OHL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>As_left_LV_Service_Termination_Type_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>As_left_LV_Service_Termination_Type_OHL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Connected_phase_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Connected_phase_OHL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Earthing_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Earthing_OHL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>As_left_LV_Service_Termination_Type_decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values18</name>
        <label>Assign Values</label>
        <locationX>710</locationX>
        <locationY>5486</locationY>
        <assignmentItems>
            <assignToReference>CableOrConductorType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cable_or_Conductor_type_UnderGround</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Number_Of_Phases_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_phases_Underground</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>As_left_LV_Service_Termination_Type_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>As_left_LV_Service_Termination_Type_Underground</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Connected_phase_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Connected_phase_Underground</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Earthing_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Earthing_Underground</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>As_left_LV_Service_Termination_Type_decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values19</name>
        <label>Assign Values</label>
        <locationX>974</locationX>
        <locationY>5486</locationY>
        <assignmentItems>
            <assignToReference>CableOrConductorType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cable_or_Conductor_type_Mural_Wirring</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Number_Of_Phases_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_phases_picklist_Mural_Wirring</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>As_left_LV_Service_Termination_Type_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>As_left_LV_Service_Termination_Type_Mural_Wirring</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Connected_phase_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Connected_phase_Mural_Wirring</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Earthing_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Earthing_Mural_Wirring</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>As_left_LV_Service_Termination_Type_decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values21</name>
        <label>Assign Values</label>
        <locationX>314</locationX>
        <locationY>6902</locationY>
        <assignmentItems>
            <assignToReference>Polarity_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Polarity_Correct_Replace</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Voltage_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorded_Voltage_Replace</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Earth_Loop_Impedance_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Earth_Loop_Impedance_Ze_Replace</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_s_the_voltage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values23</name>
        <label>Assign Values</label>
        <locationX>50</locationX>
        <locationY>7226</locationY>
        <assignmentItems>
            <assignToReference>Voltage_Violation_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Under</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Earth_Loop_Impedance_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values24</name>
        <label>Assign Values</label>
        <locationX>314</locationX>
        <locationY>7226</locationY>
        <assignmentItems>
            <assignToReference>Voltage_Violation_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Over</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Earth_Loop_Impedance_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values25</name>
        <label>Assign Values</label>
        <locationX>578</locationX>
        <locationY>7118</locationY>
        <assignmentItems>
            <assignToReference>Voltage_Violation_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Earth_Loop_Impedance_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values26</name>
        <label>Assign Values</label>
        <locationX>314</locationX>
        <locationY>7784</locationY>
        <assignmentItems>
            <assignToReference>Earth_Loop_Violation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Message10</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values27</name>
        <label>Assign Values</label>
        <locationX>490</locationX>
        <locationY>7526</locationY>
        <assignmentItems>
            <assignToReference>Earth_Loop_Violation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Form_Information3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values3</name>
        <label>Assign Values</label>
        <locationX>710</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>Main_Reason_Visit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_service_connection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_District</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>District_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FirstLineOfAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Postcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ConnectionMetered</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Is_connection_Metered_or_Unmetered</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Latitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Latitude_number_NewServiceConnection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Longitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Longitude_number_NewServiceConnection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Metered_or_Unmetered</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values4</name>
        <label>Assign Values</label>
        <locationX>886</locationX>
        <locationY>2846</locationY>
        <assignmentItems>
            <assignToReference>Type_Unmetered_Connection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_unmetered_connection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Which_Type_Cabinet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Which_type_of_cabinet_is_it</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Other</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values6</name>
        <label>Assign Values</label>
        <locationX>490</locationX>
        <locationY>2846</locationY>
        <assignmentItems>
            <assignToReference>Type_Unmetered_Connection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_unmetered_connection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Electric_Vehicle_Charger</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_an_electric_vehicle_charger_on_column</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Supply_Type_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values7</name>
        <label>Assign Values</label>
        <locationX>754</locationX>
        <locationY>3170</locationY>
        <assignmentItems>
            <assignToReference>Specify_Cabinet_Owner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_specify_cabinet_owner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Supply_Type_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values8</name>
        <label>Assign Values</label>
        <locationX>292</locationX>
        <locationY>4178</locationY>
        <assignmentItems>
            <assignToReference>Voltage_Leak</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_there_voltage_leak_present_in_the_LV_Service_Termination</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_there_voltage_leak</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values9</name>
        <label>Assign Values</label>
        <locationX>292</locationX>
        <locationY>3854</locationY>
        <assignmentItems>
            <assignToReference>What_Type_LVST_Replaced</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_type_of_LV_Service_Termination_is_being_replaced</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Type_of_LV_Service_Termination_is_being_replaced</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_30</name>
        <label>Assign Values</label>
        <locationX>666</locationX>
        <locationY>9224</locationY>
        <assignmentItems>
            <assignToReference>Smart_Meter_Ready</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_the_installation_smart_meter_ready</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Further_works_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_Work_Step_Boolean</name>
        <label>Check Work Step Boolean to Update Status</label>
        <locationX>380</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>isWorkStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Work_Step</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ABC</name>
        <choiceText>ABC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ABC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bubsar_Riser</name>
        <choiceText>Bubsar riser</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bubsar riser</stringValue>
        </value>
    </choices>
    <choices>
        <name>Coincidental_Inspection_while_at_property</name>
        <choiceText>Coincidental inspection while at property</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Coincidental inspection while at property</stringValue>
        </value>
    </choices>
    <choices>
        <name>Concentric</name>
        <choiceText>Concentric</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Concentric</stringValue>
        </value>
    </choices>
    <choices>
        <name>Concentric_CNE</name>
        <choiceText>Concentric - CNE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Concentric - CNE</stringValue>
        </value>
    </choices>
    <choices>
        <name>Concentric_LSOH</name>
        <choiceText>Concentric - LSOH</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Concentric - LSOH</stringValue>
        </value>
    </choices>
    <choices>
        <name>Concentric_Old</name>
        <choiceText>Concentric - old</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Concentric - old</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fault</name>
        <choiceText>Fault</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fault</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fault_Replacement</name>
        <choiceText>Fault replacement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fault replacement</stringValue>
        </value>
    </choices>
    <choices>
        <name>HSOS</name>
        <choiceText>HSOS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HSOS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hybrid_Concentric</name>
        <choiceText>Hybrid concentric</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hybrid concentric</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lead_Covered</name>
        <choiceText>Lead covered</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lead covered</stringValue>
        </value>
    </choices>
    <choices>
        <name>Looped_Service</name>
        <choiceText>Looped service</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Looped service</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_service_connection</name>
        <choiceText>New service connection</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New service connection</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>PILC</name>
        <choiceText>PILC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PILC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Proactive_Inspection</name>
        <choiceText>Proactive inspection</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Proactive inspection</stringValue>
        </value>
    </choices>
    <choices>
        <name>Proactive_Inspection_Programme</name>
        <choiceText>Proactive inspection programme</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Proactive inspection programme</stringValue>
        </value>
    </choices>
    <choices>
        <name>Proactive_LV_Service_Termination_Replacement</name>
        <choiceText>Proactive LV service termination replacement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Proactive LV service termination replacement</stringValue>
        </value>
    </choices>
    <choices>
        <name>Proactive_Unlooping_Replacement</name>
        <choiceText>Proactive unlooping replacement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Proactive unlooping replacement</stringValue>
        </value>
    </choices>
    <choices>
        <name>PVC_Looped_Neutral</name>
        <choiceText>PVC looped neutral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PVC looped neutral</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pyro_Cable</name>
        <choiceText>Pyro cable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pyro cable</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reactive_LV_Service_Termination_Replacement</name>
        <choiceText>Reactive LV service termination replacement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reactive LV service termination replacement</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reactive_Unlooping_Replacement</name>
        <choiceText>Reactive unlooping replacement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reactive unlooping replacement</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rising_Lateral_Main_Replacement</name>
        <choiceText>Rising lateral main replacement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rising lateral main replacement</stringValue>
        </value>
    </choices>
    <choices>
        <name>Smart_Services_driven_Replacement</name>
        <choiceText>Smart services driven replacement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Smart services driven replacement</stringValue>
        </value>
    </choices>
    <choices>
        <name>Split_Concentric</name>
        <choiceText>Split concentric</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Split concentric</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tape_Armoured</name>
        <choiceText>Tape armoured</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tape armoured</stringValue>
        </value>
    </choices>
    <choices>
        <name>Under_Eaves</name>
        <choiceText>Under eaves</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Under eaves</stringValue>
        </value>
    </choices>
    <choices>
        <name>Undersized_PVC</name>
        <choiceText>Undersized PVC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Undersized PVC</stringValue>
        </value>
    </choices>
    <choices>
        <name>VIR_Cabling</name>
        <choiceText>VIR cabling</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VIR cabling</stringValue>
        </value>
    </choices>
    <choices>
        <name>VIR_Mackenite</name>
        <choiceText>VIR/mackenite</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VIR/mackenite</stringValue>
        </value>
    </choices>
    <choices>
        <name>Wire_Armour</name>
        <choiceText>Wire armour</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Wire armour</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_1</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Are_there_further_works</name>
        <label>Are there further works?</label>
        <locationX>578</locationX>
        <locationY>9524</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Any_Additional_comments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Answer_to_furter_works</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Any_Additional_comments</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>As_left_LV_Service_Termination_Type_decision</name>
        <label>As left LV Service Termination Type</label>
        <locationX>578</locationX>
        <locationY>5678</locationY>
        <defaultConnector>
            <targetReference>Type_of_earthing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fused_Neutral</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>As_left_LV_Service_Termination_Type_var</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fused neutral</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Message5</targetReference>
            </connector>
            <label>Fused Neutral</label>
        </rules>
        <rules>
            <name>Rewireable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>As_left_LV_Service_Termination_Type_var</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rewireable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Message6</targetReference>
            </connector>
            <label>Rewireable</label>
        </rules>
        <rules>
            <name>None</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>As_left_LV_Service_Termination_Type_var</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Message7</targetReference>
            </connector>
            <label>None</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assign_correct_Service_Territory_Member</name>
        <label>Assign correct Service Territory Member</label>
        <locationX>578</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Assign_Territory_Id_From_Effective_Date_Not_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not filled</defaultConnectorLabel>
        <rules>
            <name>STM_from_Effective_Date_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceTerritoryId1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ServiceTerritoryId1</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Territory_Id_1</targetReference>
            </connector>
            <label>STM from Effective Date Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Earth_Loop_Impedance_value</name>
        <label>Earth Loop Impedance value</label>
        <locationX>314</locationX>
        <locationY>7418</locationY>
        <defaultConnector>
            <targetReference>Assign_Values27</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ok</defaultConnectorLabel>
        <rules>
            <name>Higher</name>
            <conditionLogic>(1 AND 4 AND 5) OR (2 AND 3 AND 5) OR (1 AND (3 OR 4) AND 6 AND 7) OR ((4 AND 6 AND 1) OR (3 AND 6 AND 2))</conditionLogic>
            <conditions>
                <leftValueReference>Earth_Loop_Impedance_var</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.35</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Earth_Loop_Impedance_var</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.8</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Earthing_var</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SNE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Earthing_var</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PME</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Number_Of_Phases_var</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Single phase</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Number_Of_Phases_var</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Three phase</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Current_Rating_var</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>200A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values26</targetReference>
            </connector>
            <label>Higher</label>
        </rules>
        <rules>
            <name>Higher2</name>
            <conditionLogic>(8 AND 5 AND 3) OR (8 AND 6 AND 2) OR (8 AND 7 AND 1 AND 9) OR (8 AND 7 AND 2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>Earth_Loop_Impedance_var</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.1</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Earth_Loop_Impedance_var</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.15</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Earth_Loop_Impedance_var</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.2</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Earthing_var</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SNE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Current_Rating_var</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>300A (heavy duty)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Current_Rating_var</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>400A (heavy duty)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Current_Rating_var</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>600A (heavy duty)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Number_Of_Phases_var</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Three phase</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Earthing_var</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PME</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values26</targetReference>
            </connector>
            <label>Higher</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_called_from_Work_Step</name>
        <label>If called from Work Step</label>
        <locationX>578</locationX>
        <locationY>10748</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_WorkStep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isWorkStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updating_Work_Step_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Premise_Id_has_value</name>
        <label>If Premise Id has value</label>
        <locationX>776</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Get_Field_Operative</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>premiseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>premiseId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>null</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Premise_Info</targetReference>
            </connector>
            <label>Has value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_existing_LV_Service_Termination_being_replaced_decidion</name>
        <label>Is the existing LV Service Termination being replaced?</label>
        <locationX>578</locationX>
        <locationY>3638</locationY>
        <defaultConnector>
            <targetReference>Purpose_of_undertaking_survey_decision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_the_existing_LV_Service_Termination_being_replaced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_type_of_LV_Service_Termination_is_being_replaced_screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Smart_Meter_installed_1</name>
        <label>Is there a Smart Meter installed?</label>
        <locationX>578</locationX>
        <locationY>9008</locationY>
        <defaultConnector>
            <targetReference>Is_the_installation_Smart_Meter_ready_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_23</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_there_a_Smart_Meter_installed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Further_works_screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_any_evidence_of_LCT</name>
        <label>Is there any evidence of LCT?</label>
        <locationX>578</locationX>
        <locationY>8192</locationY>
        <defaultConnector>
            <targetReference>Smart_Meter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_there_any_evidence_of_LCT_Low_Carbon_Technology_installed_on_site</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_there_any_evidence_of_LCT_screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_voltage_leak</name>
        <label>Is there voltage leak?</label>
        <locationX>292</locationX>
        <locationY>4286</locationY>
        <defaultConnector>
            <targetReference>Purpose_of_undertaking_survey_decision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_there_voltage_leak_present_in_the_LV_Service_Termination</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Voltage_Leak_Present</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Metered_or_Unmetered</name>
        <label>Metered or Unmetered?</label>
        <locationX>578</locationX>
        <locationY>2414</locationY>
        <defaultConnector>
            <targetReference>Type_of_unmetered_connection_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unmetered</defaultConnectorLabel>
        <rules>
            <name>Metered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ConnectionMetered</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Metered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Supply_Type_screen</targetReference>
            </connector>
            <label>Metered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other</name>
        <label>Other?</label>
        <locationX>886</locationX>
        <locationY>2954</locationY>
        <defaultConnector>
            <targetReference>Supply_Type_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Which_type_of_cabinet_is_it</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other (specify)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Please_specify_cabinet_owner_screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other2</name>
        <label>Other?</label>
        <locationX>380</locationX>
        <locationY>8408</locationY>
        <defaultConnector>
            <targetReference>Assign_Values11</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_any_LCTs_found_at_this_address</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Other (specify)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Purpose_of_undertaking_survey2</name>
        <label>Purpose of undertaking survey</label>
        <locationX>578</locationX>
        <locationY>6686</locationY>
        <defaultConnector>
            <targetReference>Form_Information3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New service connection</defaultConnectorLabel>
        <rules>
            <name>LV_Service_Termination_Replacement2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Purpose_of_undertaking_survey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fault</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Form_Information7</targetReference>
            </connector>
            <label>Fault</label>
        </rules>
    </decisions>
    <decisions>
        <name>Purpose_of_undertaking_survey_decision</name>
        <label>Purpose of undertaking survey</label>
        <locationX>578</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Location_and_General_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New service connection</defaultConnectorLabel>
        <rules>
            <name>LV_Service_Termination_Replacement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Purpose_of_undertaking_survey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Fault</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Location_and_General_Information</targetReference>
            </connector>
            <label>Fault</label>
        </rules>
    </decisions>
    <decisions>
        <name>Purpose_of_undertaking_survey_decision2</name>
        <label>Purpose of undertaking survey</label>
        <locationX>578</locationX>
        <locationY>4862</locationY>
        <defaultConnector>
            <targetReference>Supply_Type1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New service connection</defaultConnectorLabel>
        <rules>
            <name>LV_Service_Termination_Replacement1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Purpose_of_undertaking_survey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fault</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Form_Information5</targetReference>
            </connector>
            <label>Fault</label>
        </rules>
    </decisions>
    <decisions>
        <name>Supply_Type1</name>
        <label>Supply Type?</label>
        <locationX>578</locationX>
        <locationY>5270</locationY>
        <defaultConnector>
            <targetReference>Form_Information_Mural_Wirring</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Internal_Mains</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Supply_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal mains</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Form_Information</targetReference>
            </connector>
            <label>Internal Mains</label>
        </rules>
        <rules>
            <name>OHL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Supply_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OHL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Form_Information_OHL</targetReference>
            </connector>
            <label>OHL</label>
        </rules>
        <rules>
            <name>U_G_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Supply_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U/G service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Form_Information_Underground</targetReference>
            </connector>
            <label>U/G Service</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_earthing</name>
        <label>Type of earthing</label>
        <locationX>578</locationX>
        <locationY>5978</locationY>
        <defaultConnector>
            <targetReference>Purpose_of_undertaking_survey2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PME or TT</defaultConnectorLabel>
        <rules>
            <name>SNE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Earthing_var</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SNE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Message8</targetReference>
            </connector>
            <label>SNE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_LV_Service_Termination_is_being_replaced</name>
        <label>Type of LV Service Termination is being replaced</label>
        <locationX>292</locationX>
        <locationY>3962</locationY>
        <defaultConnector>
            <targetReference>Message2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fused Neutral / Rewireable / None</defaultConnectorLabel>
        <rules>
            <name>Grey_Plastic_Metal_Clad</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_LV_Service_Termination_is_being_replaced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Grey Plastic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>What_type_of_LV_Service_Termination_is_being_replaced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Metal Clad</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Purpose_of_undertaking_survey_decision2</targetReference>
            </connector>
            <label>Grey Plastic / Metal Clad</label>
        </rules>
        <rules>
            <name>Black_Plastic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_LV_Service_Termination_is_being_replaced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Black Plastic</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Message1</targetReference>
            </connector>
            <label>Black Plastic</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_unmetered_connection_decision</name>
        <label>Type of unmetered connection?</label>
        <locationX>842</locationX>
        <locationY>2630</locationY>
        <defaultConnector>
            <targetReference>Assign_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Street_Lamp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_unmetered_connection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Street lamp</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Street_Lamp_screen</targetReference>
            </connector>
            <label>Street Lamp</label>
        </rules>
        <rules>
            <name>Telephone_Broadband_cabinet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_unmetered_connection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Telephone/broadband cabinet</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Telephone_Broadband_cabinet_screen</targetReference>
            </connector>
            <label>Telephone / Broadband cabinet</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unapproved</name>
        <label>Unapproved?</label>
        <locationX>424</locationX>
        <locationY>6194</locationY>
        <defaultConnector>
            <targetReference>Assign_Values10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Earthing_Connection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unapproved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Message9</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_files_uploaded</name>
        <label>Were files uploaded</label>
        <locationX>578</locationX>
        <locationY>10448</locationY>
        <defaultConnector>
            <targetReference>Warning_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PhotoCounter</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_called_from_Work_Step</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_s_the_voltage</name>
        <label>What&apos;s the voltage?</label>
        <locationX>314</locationX>
        <locationY>7010</locationY>
        <defaultConnector>
            <targetReference>Assign_Values25</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X216</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Voltage_var</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>216.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Number_Of_Phases_var</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Single phase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Message20</targetReference>
            </connector>
            <label>&lt;216</label>
        </rules>
        <rules>
            <name>X253</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Voltage_var</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>253.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Number_Of_Phases_var</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Single phase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Message21</targetReference>
            </connector>
            <label>&gt;253</label>
        </rules>
    </decisions>
    <decisions>
        <name>Where_is_being_called</name>
        <label>Where is being called ?</label>
        <locationX>578</locationX>
        <locationY>434</locationY>
        <defaultConnector>
            <targetReference>If_Premise_Id_has_value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>From_Work_Step</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0hF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Work_Step_Boolean</targetReference>
            </connector>
            <label>From Work Step</label>
        </rules>
    </decisions>
    <decisions>
        <name>Where_it_comes_from</name>
        <label>Where it comes from</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Where_is_being_called</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Mobile</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Where_it_comes_from</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Id</targetReference>
            </connector>
            <label>BackOffice</label>
        </rules>
    </decisions>
    <description>Flow used to record LV Service Termination Survey information</description>
    <dynamicChoiceSets>
        <name>AsleftLVServiceTerminationType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SPEN_AsLeftLVServiceTerminationType__c</picklistField>
        <picklistObject>SPEN_CustomerServiceForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_AnyFurtherWorksRequired</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SPEN_AreAnyFurtherWorksRequired__c</picklistField>
        <picklistObject>SPEN_CustomerServiceForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CurrentratingofinstalledFuses</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SPEN_CurrentRatingInstalledFuse__c</picklistField>
        <picklistObject>SPEN_CustomerServiceForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CurrentratingoftheLVServiceTermination</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SPEN_CurrentRatingLVServiceTermination__c</picklistField>
        <picklistObject>SPEN_CustomerServiceForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>District</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SPEN_District__c</picklistField>
        <picklistObject>SPEN_CustomerServiceForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>District_var</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SPEN_District__c</picklistField>
        <picklistObject>SPEN_CustomerServiceForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HasLVServiceTerminationbeenSealed</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SPEN_LVServiceTerminationSealed__c</picklistField>
        <picklistObject>SPEN_CustomerServiceForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Isanelectricvehiclechargeroncolumn</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SPEN_ElectricVehicleColumn__c</picklistField>
        <picklistObject>SPEN_CustomerServiceForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IsconnectionMeteredorUnmetered</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SPEN_ConnectionMeteredOrUnmetered__c</picklistField>
        <picklistObject>SPEN_CustomerServiceForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IstheexistingLVServiceTerminationbeingreplaced</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SPEN_LVServiceTerminationReplaced__c</picklistField>
        <picklistObject>SPEN_CustomerServiceForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IstheinstallationSmartMeterready</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SPEN_SmartMeterReady__c</picklistField>
        <picklistObject>SPEN_CustomerServiceForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IsthereaSmartMeterinstalled</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SPEN_SmartMeterInstalled__c</picklistField>
        <picklistObject>SPEN_CustomerServiceForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IstherevoltageleakpresentintheLVServiceTermination</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SPEN_IsThereVoltageLeakPresent__c</picklistField>
        <picklistObject>SPEN_CustomerServiceForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Number_Of_Phases</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SPEN_NumberOfPhases__c</picklistField>
        <picklistObject>SPEN_CustomerServiceForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PleaseselectanyLCTsfoundatthisaddress</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SPEN_SelectLCTFoundAddress__c</picklistField>
        <picklistObject>SPEN_CustomerServiceForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PurposeUndertakingSurvey_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SPEN_PurposeOfUndertakingSurvey__c</picklistField>
        <picklistObject>SPEN_CustomerServiceForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SPEN_ConnectedPhase</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SPEN_ConnectedPhase__c</picklistField>
        <picklistObject>SPEN_CustomerServiceForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SPEN_Earthing</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SPEN_Earthing__c</picklistField>
        <picklistObject>SPEN_CustomerServiceForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SPEN_EvidenceOfLCTInstalledOnSite</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SPEN_EvidenceOfLCTInstalledOnSite__c</picklistField>
        <picklistObject>SPEN_CustomerServiceForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SPEN_LVServiceTerminationType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SPEN_LVServiceTerminationType__c</picklistField>
        <picklistObject>SPEN_CustomerServiceForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SPEN_PolarityCorrect</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SPEN_PolarityCorrect__c</picklistField>
        <picklistObject>SPEN_CustomerServiceForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SupplyType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SPEN_SupplyType__c</picklistField>
        <picklistObject>SPEN_CustomerServiceForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypeofEarthingConnection</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SPEN_TypeOfEarthingConnection__c</picklistField>
        <picklistObject>SPEN_CustomerServiceForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Typeofunmeteredconnection</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SPEN_TypeOfUnmeteredConnection__c</picklistField>
        <picklistObject>SPEN_CustomerServiceForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Whichtypeofcabinetisit</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SPEN_WhichTypeOfCabinet__c</picklistField>
        <picklistObject>SPEN_CustomerServiceForm__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>LV Service Termination Survey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LV Service Termination Survey</label>
    <loops>
        <name>Counting_Files</name>
        <label>Counting Files</label>
        <locationX>578</locationX>
        <locationY>10148</locationY>
        <assignNextValueToReference>loopFile</assignNextValueToReference>
        <collectionReference>FileNames</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_1_per_File</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Were_files_uploaded</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_LV_Service_Termination_Survey</name>
        <label>Create LV Service Termination Survey</label>
        <locationX>578</locationX>
        <locationY>9932</locationY>
        <assignRecordIdToReference>Customer_Service_Form_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Photos</targetReference>
        </connector>
        <inputAssignments>
            <field>SPEN_AreAnyFurtherWorksRequired__c</field>
            <value>
                <elementReference>Answer_to_furter_works</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_AsLeftLVServiceTerminationType__c</field>
            <value>
                <elementReference>As_left_LV_Service_Termination_Type_var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_CableOrConductorType__c</field>
            <value>
                <elementReference>CableOrConductorType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_City__c</field>
            <value>
                <elementReference>var_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_ConnectedPhase__c</field>
            <value>
                <elementReference>Connected_phase_var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_ConnectionMeteredOrUnmetered__c</field>
            <value>
                <elementReference>var_ConnectionMetered</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_CurrentRatingInstalledFuse__c</field>
            <value>
                <elementReference>Current_Rating_Fuse_var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_CurrentRatingLVServiceTermination__c</field>
            <value>
                <elementReference>Current_Rating_var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Description__c</field>
            <value>
                <elementReference>Additional_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_District__c</field>
            <value>
                <elementReference>var_District</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_EarthLoopImpedanceZe__c</field>
            <value>
                <elementReference>Earth_Loop_Impedance_var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_EarthLoopViolation__c</field>
            <value>
                <elementReference>Earth_Loop_Violation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Earthing__c</field>
            <value>
                <elementReference>Earthing_var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_ElectricVehicleColumn__c</field>
            <value>
                <elementReference>Electric_Vehicle_Charger</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_EmployersName__c</field>
            <value>
                <elementReference>Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_EvidenceOfLCTInstalledOnSite__c</field>
            <value>
                <elementReference>Is_there_any_evidence_of_LCT_Low_Carbon_Technology_installed_on_site</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_IncidentNumberText__c</field>
            <value>
                <elementReference>Please_type_in_the_Incident_number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_IsThereVoltageLeakPresent__c</field>
            <value>
                <elementReference>Voltage_Leak</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_LVServiceTerminationReplaced__c</field>
            <value>
                <elementReference>Is_the_existing_LV_Service_Termination_being_replaced</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_LVServiceTerminationSealed__c</field>
            <value>
                <elementReference>Has_LV_Service_Termination_been_Sealed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_LVServiceTerminationType__c</field>
            <value>
                <elementReference>What_type_of_LV_Service_Termination_is_being_replaced</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Location__Latitude__s</field>
            <value>
                <elementReference>var_Latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Location__Longitude__s</field>
            <value>
                <elementReference>var_Longitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_MainReasonForVisit__c</field>
            <value>
                <elementReference>Main_Reason_Visit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_NumberOfPhases__c</field>
            <value>
                <elementReference>Number_Of_Phases_var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_PMO__c</field>
            <value>
                <elementReference>PMO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_PolarityCorrect__c</field>
            <value>
                <elementReference>Polarity_var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_PostCode__c</field>
            <value>
                <elementReference>var_PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_PurposeOfUndertakingSurvey__c</field>
            <value>
                <elementReference>Purpose_of_undertaking_survey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_RecordTypeDevName__c</field>
            <value>
                <stringValue>SPEN_LVServiceTerminationSurvey</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_RecordedVoltage__c</field>
            <value>
                <elementReference>Voltage_var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_SelectLCTFoundAddress__c</field>
            <value>
                <elementReference>Select_LCT_Found</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_SmartMeterInstalled__c</field>
            <value>
                <elementReference>Is_there_a_Smart_Meter_installed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_SmartMeterReady__c</field>
            <value>
                <elementReference>Smart_Meter_Ready</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_SpecifyCabinetOwner__c</field>
            <value>
                <elementReference>Specify_Cabinet_Owner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_SpecifyLCTBelow__c</field>
            <value>
                <elementReference>Specify_LCT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Street__c</field>
            <value>
                <elementReference>var_FirstLineOfAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_SupplyType__c</field>
            <value>
                <elementReference>Supply_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_TypeOfEarthingConnection__c</field>
            <value>
                <elementReference>Type_Earthing_Connection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_TypeOfUnmeteredConnection__c</field>
            <value>
                <elementReference>Type_Unmetered_Connection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_VoltageLVSTerminationSurface__c</field>
            <value>
                <elementReference>Value_of_Voltage_at_LV_Service_Termination_surface</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_VoltageViolation__c</field>
            <value>
                <elementReference>Voltage_Violation_var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_WhichTypeOfCabinet__c</field>
            <value>
                <elementReference>Which_Type_Cabinet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_WorkOrder__c</field>
            <value>
                <elementReference>workOrder.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SPEN_CustomerServiceForm__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Field_Operative</name>
        <label>Get Field Operative</label>
        <locationX>578</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Territory_Member_By_Effective_Date_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputAssignments>
            <assignToReference>var_ServiceResourceId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Company</assignToReference>
            <field>SPEN_Company__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Premise_Info</name>
        <label>Get Premise Info</label>
        <locationX>644</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Field_Operative</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>premiseId</elementReference>
            </value>
        </filters>
        <object>SPEN_Premise__c</object>
        <outputAssignments>
            <assignToReference>premiseAddress</assignToReference>
            <field>SPEN_FullAddress__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>premisePostcode</assignToReference>
            <field>SPEN_PostCode__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>premiseCity</assignToReference>
            <field>SPEN_Town__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Territory_Member_By_Effective_Date_Not_Null</name>
        <label>Get Service Territory Member By Effective Date Not Null</label>
        <locationX>578</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_correct_Service_Territory_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ServiceResourceId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TerritoryType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>P</stringValue>
            </value>
        </filters>
        <filters>
            <field>EffectiveStartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>EffectiveEndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <object>ServiceTerritoryMember</object>
        <outputAssignments>
            <assignToReference>var_ServiceTerritoryId2</assignToReference>
            <field>ServiceTerritoryId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Territory_Member_By_Effective_Date_Null</name>
        <label>Get Service Territory Member By Effective Date Null</label>
        <locationX>578</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Territory_Member_By_Effective_Date_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ServiceResourceId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TerritoryType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>P</stringValue>
            </value>
        </filters>
        <filters>
            <field>EffectiveStartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>EffectiveEndDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceTerritoryMember</object>
        <outputAssignments>
            <assignToReference>var_ServiceTerritoryId1</assignToReference>
            <field>ServiceTerritoryId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Territory_Name</name>
        <label>Get Service Territory Name</label>
        <locationX>380</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_location_values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrder.ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <object>ServiceTerritory</object>
        <outputAssignments>
            <assignToReference>ServiceTerritoryName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Territory_Name_0</name>
        <label>Get Service Territory Name</label>
        <locationX>578</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Purpose_of_undertaking_survey_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <object>ServiceTerritory</object>
        <outputAssignments>
            <assignToReference>var_ServiceTerritoryName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>380</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Territory_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkStep.WorkOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>workOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>City</queriedFields>
        <queriedFields>PostalCode</queriedFields>
        <queriedFields>Street</queriedFields>
        <queriedFields>ServiceTerritoryId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Step</name>
        <label>Get Work Step</label>
        <locationX>380</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkStep</object>
        <outputReference>WorkStep</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkOrderId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Updating_Work_Step_Status</name>
        <label>Updating Work Step Status</label>
        <locationX>446</locationX>
        <locationY>10856</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>WorkStep</object>
    </recordUpdates>
    <screens>
        <name>Any_Additional_comments</name>
        <label>Any Additional comments after Yes</label>
        <locationX>446</locationX>
        <locationY>9632</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_the_answer_given</targetReference>
        </connector>
        <fields>
            <name>Any_additional_comments_answer</name>
            <fieldText>What work is outstanding</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Any_Additional_comments</name>
        <label>Any Additional comments after no</label>
        <locationX>710</locationX>
        <locationY>9632</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_the_answer_given_0</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Any_additional_comments_answer</name>
            <fieldText>Additional completion comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Location_and_General_Information</name>
        <label>Location and General Information for New service connection</label>
        <locationX>710</locationX>
        <locationY>2114</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Values3</targetReference>
        </connector>
        <fields>
            <name>jobDetails_0</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Job details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PMO</name>
            <dataType>String</dataType>
            <fieldText>PMO</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;PMO can only have 12 characters and they all have to be numbers.&lt;/p&gt;</errorMessage>
                <formulaExpression>ISNUMBER({!PMO}) &amp;&amp; LEN({!PMO}) &lt;=12 &amp;&amp; !CONTAINS({!PMO},&apos;.&apos;) &amp;&amp; !CONTAINS({!PMO},&apos; &apos;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>District_1</name>
            <choiceReferences>District_var</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>var_ServiceTerritoryName</elementReference>
            </defaultValue>
            <fieldText>District</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Location_0</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Location&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Street</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>premiseAddress</elementReference>
            </defaultValue>
            <fieldText>First line of address</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_City</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>premiseCity</elementReference>
            </defaultValue>
            <fieldText>City/town</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Postcode</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>premisePostcode</elementReference>
            </defaultValue>
            <fieldText>Postal code</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;This field does not support special characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Postcode},&quot;^[a-zA-Z0-9 ]*$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Latitude_number_NewServiceConnection</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>latitude</elementReference>
            </defaultValue>
            <fieldText>Latitude</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>6</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;This is not a valid format for latitude&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Latitude_number_NewServiceConnection} &lt;= 90 &amp;&amp; {!Latitude_number_NewServiceConnection} &gt;= -90</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Longitude_number_NewServiceConnection</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>longitude</elementReference>
            </defaultValue>
            <fieldText>Longitude</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>6</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;This is not a valid format for longitude&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Longitude_number_NewServiceConnection} &lt;= 180 &amp;&amp; {!Longitude_number_NewServiceConnection} &gt;= -180</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Copy_1_of_Is_connection_Metered_or_Unmetered</name>
            <choiceReferences>IsconnectionMeteredorUnmetered</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is connection metered or unmetered?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Form_Information</name>
        <label>Form Information</label>
        <locationX>182</locationX>
        <locationY>5378</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Values16</targetReference>
        </connector>
        <fields>
            <name>Cable_or_Conductor_type_Internal_Mains</name>
            <choiceReferences>VIR_Cabling</choiceReferences>
            <choiceReferences>Bubsar_Riser</choiceReferences>
            <choiceReferences>Pyro_Cable</choiceReferences>
            <choiceReferences>Undersized_PVC</choiceReferences>
            <choiceReferences>PVC_Looped_Neutral</choiceReferences>
            <choiceReferences>Concentric_LSOH</choiceReferences>
            <choiceReferences>Concentric_Old</choiceReferences>
            <choiceReferences>Concentric_CNE</choiceReferences>
            <choiceReferences>Lead_Covered</choiceReferences>
            <choiceReferences>Wire_Armour</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cable or conductor type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>As_left_LV_Service_Termination_Type</name>
            <choiceReferences>AsleftLVServiceTerminationType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>As left LV service termination type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Number_of_phases_picklist</name>
            <choiceReferences>Number_Of_Phases</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Number of phases</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Connected_phase</name>
            <choiceReferences>SPEN_ConnectedPhase</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Connected phase</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Earthing</name>
            <choiceReferences>SPEN_Earthing</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Earthing</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Form_Information3</name>
        <label>Form Information</label>
        <locationX>578</locationX>
        <locationY>8084</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_there_any_evidence_of_LCT</targetReference>
        </connector>
        <fields>
            <name>Has_LV_Service_Termination_been_Sealed</name>
            <choiceReferences>HasLVServiceTerminationbeenSealed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Has LV service termination been sealed?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_there_any_evidence_of_LCT_Low_Carbon_Technology_installed_on_site</name>
            <choiceReferences>SPEN_EvidenceOfLCTInstalledOnSite</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is there any evidence of LCT (low carbon technology) installed on site?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Form_Information5</name>
        <label>Form Information</label>
        <locationX>446</locationX>
        <locationY>4970</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Values15</targetReference>
        </connector>
        <fields>
            <name>Current_rating_of_the_LV_Service_Termination</name>
            <choiceReferences>CurrentratingoftheLVServiceTermination</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Current rating of the LV service termination</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Current_rating_of_installed_Fuse_s</name>
            <choiceReferences>CurrentratingofinstalledFuses</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Current rating of installed fuse(s)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Form_Information7</name>
        <label>Form Information</label>
        <locationX>314</locationX>
        <locationY>6794</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Values21</targetReference>
        </connector>
        <fields>
            <name>Polarity_Correct_Replace</name>
            <choiceReferences>SPEN_PolarityCorrect</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Polarity correct?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Earth_Loop_Impedance_Ze_Replace</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.01</numberValue>
            </defaultValue>
            <fieldText>Earth loop impedance (Ze)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Please enter a valid ELI reading&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Earth_Loop_Impedance_Ze_Replace} &gt;= 0.01 &amp;&amp; {!Earth_Loop_Impedance_Ze_Replace} &lt;= 5.01</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Recorded_Voltage_Replace</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>240.0</numberValue>
            </defaultValue>
            <fieldText>Recorded voltage</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Number can only have 9 digits maximum.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Recorded_Voltage_Replace}&gt;0 &amp;&amp; {!Recorded_Voltage_Replace} &lt;= 999999999</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Form_Information_Mural_Wirring</name>
        <label>Form Information</label>
        <locationX>974</locationX>
        <locationY>5378</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Values19</targetReference>
        </connector>
        <fields>
            <name>Cable_or_Conductor_type_Mural_Wirring</name>
            <choiceReferences>ABC</choiceReferences>
            <choiceReferences>Concentric</choiceReferences>
            <choiceReferences>VIR_Mackenite</choiceReferences>
            <choiceReferences>HSOS</choiceReferences>
            <choiceReferences>Under_Eaves</choiceReferences>
            <choiceReferences>Tape_Armoured</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cable or Conductor type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>As_left_LV_Service_Termination_Type_Mural_Wirring</name>
            <choiceReferences>AsleftLVServiceTerminationType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>As left LV Service Termination Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Number_of_phases_picklist_Mural_Wirring</name>
            <choiceReferences>Number_Of_Phases</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Number of phases</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Connected_phase_Mural_Wirring</name>
            <choiceReferences>SPEN_ConnectedPhase</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Connected phase</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Earthing_Mural_Wirring</name>
            <choiceReferences>SPEN_Earthing</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Earthing</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Form_Information_OHL</name>
        <label>Form Information</label>
        <locationX>446</locationX>
        <locationY>5378</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Values17</targetReference>
        </connector>
        <fields>
            <name>Cable_or_Conductor_type_OHL</name>
            <choiceReferences>Concentric</choiceReferences>
            <choiceReferences>Looped_Service</choiceReferences>
            <choiceReferences>VIR_Mackenite</choiceReferences>
            <choiceReferences>HSOS</choiceReferences>
            <choiceReferences>Under_Eaves</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cable or conductor type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>As_left_LV_Service_Termination_Type_OHL</name>
            <choiceReferences>AsleftLVServiceTerminationType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>As left LV service termination type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Number_of_phases_picklist_OHL</name>
            <choiceReferences>Number_Of_Phases</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Number of phases</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Connected_phase_OHL</name>
            <choiceReferences>SPEN_ConnectedPhase</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Connected phase</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Earthing_OHL</name>
            <choiceReferences>SPEN_Earthing</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Earthing</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Form_Information_Underground</name>
        <label>Form Information</label>
        <locationX>710</locationX>
        <locationY>5378</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Values18</targetReference>
        </connector>
        <fields>
            <name>Cable_or_Conductor_type_UnderGround</name>
            <choiceReferences>PILC</choiceReferences>
            <choiceReferences>Hybrid_Concentric</choiceReferences>
            <choiceReferences>Split_Concentric</choiceReferences>
            <choiceReferences>Looped_Service</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cable or Conductor type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>As_left_LV_Service_Termination_Type_Underground</name>
            <choiceReferences>AsleftLVServiceTerminationType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>As left LV Service Termination Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Number_of_phases_Underground</name>
            <choiceReferences>Number_Of_Phases</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Number of phases</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Connected_phase_Underground</name>
            <choiceReferences>SPEN_ConnectedPhase</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Connected phase</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Earthing_Underground</name>
            <choiceReferences>SPEN_Earthing</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Earthing</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Further_works_screen</name>
        <label>Further works screen</label>
        <locationX>578</locationX>
        <locationY>9416</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Are_there_further_works</targetReference>
        </connector>
        <fields>
            <name>Answer_to_furter_works</name>
            <choiceReferences>choice_AnyFurtherWorksRequired</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are any further works required?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Is_the_installation_Smart_Meter_ready_screen</name>
        <label>Is the installation Smart Meter ready?</label>
        <locationX>666</locationX>
        <locationY>9116</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment_30</targetReference>
        </connector>
        <fields>
            <name>Is_the_installation_smart_meter_ready</name>
            <choiceReferences>IstheinstallationSmartMeterready</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is the installation smart meter ready?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Is_there_any_evidence_of_LCT_screen</name>
        <label>Is there any evidence of LCT</label>
        <locationX>380</locationX>
        <locationY>8300</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Other2</targetReference>
        </connector>
        <fields>
            <name>Please_select_any_LCTs_found_at_this_address</name>
            <choiceReferences>PleaseselectanyLCTsfoundatthisaddress</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select any LCTs found at this address</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Location_and_General_Information</name>
        <label>Location and General Information</label>
        <locationX>446</locationX>
        <locationY>2114</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Values1</targetReference>
        </connector>
        <fields>
            <name>Jobdetails</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Job details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Please_type_in_the_Incident_number</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>INCD-</stringValue>
            </defaultValue>
            <fieldText>Please type in the incident number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The value provided in the Incident Reference Number does not match the required format. E.g: INCD-000123-a&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Please_type_in_the_Incident_number}, &apos;^INCD-\\d{5,7}-[A-Za-z]$&apos;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>District_Picklist</name>
            <choiceReferences>District_var</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>var_ServiceTerritoryName</elementReference>
            </defaultValue>
            <fieldText>District</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>location</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Location&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Street</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>premiseAddress</elementReference>
            </defaultValue>
            <fieldText>First line of address</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>City</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>premiseCity</elementReference>
            </defaultValue>
            <fieldText>City/town</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Postcode</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>premisePostcode</elementReference>
            </defaultValue>
            <fieldText>Postal code</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;This field does not support special characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Postcode},&quot;^[a-zA-Z0-9 ]*$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Latitude_number</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>latitude</elementReference>
            </defaultValue>
            <fieldText>Latitude</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>6</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;This is not a valid format for latitude&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Latitude_number} &lt;= 90 &amp;&amp; {!Latitude_number} &gt;= -90</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Longitude_number</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>longitude</elementReference>
            </defaultValue>
            <fieldText>Longitude</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>6</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;This is not a valid format for longitude&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Longitude_number} &lt;= 180 &amp;&amp; {!Longitude_number} &gt;= -180</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Is_connection_Metered_or_Unmetered</name>
            <choiceReferences>IsconnectionMeteredorUnmetered</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is connection metered or unmetered?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Message1</name>
        <label>Message</label>
        <locationX>292</locationX>
        <locationY>4070</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Values8</targetReference>
        </connector>
        <fields>
            <name>Is_there_voltage_leak_present_in_the_LV_Service_Termination</name>
            <choiceReferences>IstherevoltageleakpresentintheLVServiceTermination</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is there voltage leak present in the LV service termination?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Message10</name>
        <label>Message</label>
        <locationX>314</locationX>
        <locationY>7892</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Form_Information3</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_Warning8</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;High earth loop impedance  do not energise unless an RCD is fitted&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Message2</name>
        <label>Message</label>
        <locationX>600</locationX>
        <locationY>4070</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Purpose_of_undertaking_survey_decision2</targetReference>
        </connector>
        <fields>
            <name>warning2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;/strong&gt;&lt;strong&gt;Please carry out reactive Inspection of surrounding properties&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Message20</name>
        <label>Message</label>
        <locationX>50</locationX>
        <locationY>7118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Values23</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_Copy_1_of_Warning8</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Voltage is outwith statutory limits, please increase voltage&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Message21</name>
        <label>Message</label>
        <locationX>314</locationX>
        <locationY>7118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Values24</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Copy_1_of_Copy_1_of_Warning8</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Voltage is outwith statutory limits, please reduce voltage&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Message5</name>
        <label>Message</label>
        <locationX>182</locationX>
        <locationY>5786</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Type_of_earthing</targetReference>
        </connector>
        <fields>
            <name>Warning5</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;/strong&gt;&lt;strong&gt;LV service termination should be replaced immediately if possible, if not it must be planned for replacement within 28 days. Carry out reactive inspection of surrounding properties&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Message6</name>
        <label>Message</label>
        <locationX>446</locationX>
        <locationY>5786</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Type_of_earthing</targetReference>
        </connector>
        <fields>
            <name>Warning6</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Plan for replacement and carry out reactive inspection of surrounding properties&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Message7</name>
        <label>Message</label>
        <locationX>710</locationX>
        <locationY>5786</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Type_of_earthing</targetReference>
        </connector>
        <fields>
            <name>Warning7</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Plan for LV service termination installation and carry out reactive inspection of surrounding properties&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Message8</name>
        <label>Message</label>
        <locationX>424</locationX>
        <locationY>6086</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Unapproved</targetReference>
        </connector>
        <fields>
            <name>Type_of_Earthing_Connection</name>
            <choiceReferences>TypeofEarthingConnection</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type of earthing connection</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Message9</name>
        <label>Message</label>
        <locationX>292</locationX>
        <locationY>6302</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Values10</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Warning8</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Earthing connection must be planned for renewal&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Other_screen</name>
        <label>Other Screen</label>
        <locationX>248</locationX>
        <locationY>8516</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Values12</targetReference>
        </connector>
        <fields>
            <name>Please_specify_LCT_below</name>
            <dataType>String</dataType>
            <fieldText>Please specify LCT below</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Please_specify_cabinet_owner_screen</name>
        <label>Please specify cabinet owner</label>
        <locationX>754</locationX>
        <locationY>3062</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Values7</targetReference>
        </connector>
        <fields>
            <name>Please_specify_cabinet_owner</name>
            <dataType>String</dataType>
            <fieldText>Please specify cabinet owner</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Purpose_of_undertaking_survey_screen</name>
        <label>Purpose of undertaking survey</label>
        <locationX>578</locationX>
        <locationY>1898</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Purpose_of_undertaking_survey_decision</targetReference>
        </connector>
        <fields>
            <name>remember_Message</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Please remember to take a photograph before and after you complete your works.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Purpose_of_undertaking_survey</name>
            <choiceReferences>Fault</choiceReferences>
            <choiceReferences>New_service_connection</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Purpose of undertaking survey</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Smart_Meter</name>
        <label>Smart Meter</label>
        <locationX>578</locationX>
        <locationY>8900</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_there_a_Smart_Meter_installed_1</targetReference>
        </connector>
        <fields>
            <name>Is_there_a_Smart_Meter_installed</name>
            <choiceReferences>IsthereaSmartMeterinstalled</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is there a smart meter installed?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Street_Lamp_screen</name>
        <label>Street Lamp</label>
        <locationX>490</locationX>
        <locationY>2738</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Values6</targetReference>
        </connector>
        <fields>
            <name>Is_an_electric_vehicle_charger_on_column</name>
            <choiceReferences>Isanelectricvehiclechargeroncolumn</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is an electric vehicle charger on column?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Supply_Type_screen</name>
        <label>Supply Type</label>
        <locationX>578</locationX>
        <locationY>3530</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_the_existing_LV_Service_Termination_being_replaced_decidion</targetReference>
        </connector>
        <fields>
            <name>Supply_Type</name>
            <choiceReferences>SupplyType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Supply type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_the_existing_LV_Service_Termination_being_replaced</name>
            <choiceReferences>IstheexistingLVServiceTerminationbeingreplaced</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is the existing LV service termination being replaced?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Telephone_Broadband_cabinet_screen</name>
        <label>Telephone / Broadband cabinet</label>
        <locationX>886</locationX>
        <locationY>2738</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Values4</targetReference>
        </connector>
        <fields>
            <name>Which_type_of_cabinet_is_it</name>
            <choiceReferences>Whichtypeofcabinetisit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which type of cabinet is it?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Type_of_unmetered_connection_screen</name>
        <label>Type of unmetered connection?</label>
        <locationX>842</locationX>
        <locationY>2522</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Type_of_unmetered_connection_decision</targetReference>
        </connector>
        <fields>
            <name>Type_of_unmetered_connection</name>
            <choiceReferences>Typeofunmeteredconnection</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type of unmetered connection?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_Photos</name>
        <label>Upload Photos</label>
        <locationX>578</locationX>
        <locationY>10040</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Counting_Files</targetReference>
        </connector>
        <fields>
            <name>GDPR_displaytext</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Photo of LV cut out&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;For GDPR compliance, DO NOT upload pictures capturing members of the public as part of this survey.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>File_Upload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Customer_Service_Form_Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Photo upload</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>ContentDocIds</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>FileNames</assignToReference>
                <name>fileNames</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Voltage_Leak_Present</name>
        <label>Voltage Leak Present</label>
        <locationX>160</locationX>
        <locationY>4394</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Values14</targetReference>
        </connector>
        <fields>
            <name>Warning10</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please carry out reactive Inspection of surrounding properties&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Value_of_Voltage_at_LV_Service_Termination_surface</name>
            <dataType>Number</dataType>
            <fieldText>Value of Voltage at LV service termination surface</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Number can only have 9 digits maximum.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Value_of_Voltage_at_LV_Service_Termination_surface}&gt;0 &amp;&amp; {!Value_of_Voltage_at_LV_Service_Termination_surface} &lt;= 999999999</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Warning_Screen</name>
        <label>Warning Screen</label>
        <locationX>666</locationX>
        <locationY>10556</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>If_called_from_Work_Step</targetReference>
        </connector>
        <fields>
            <name>GDPRMessage</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Are you sure you don&apos;t want to attach any photographs?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>File_Upload_1</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Photo upload</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Customer_Service_Form_Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>FileNames</assignToReference>
                <name>fileNames</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>What_type_of_LV_Service_Termination_is_being_replaced_screen</name>
        <label>What type of LV Service Termination is being replaced?</label>
        <locationX>292</locationX>
        <locationY>3746</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Values9</targetReference>
        </connector>
        <fields>
            <name>What_type_of_LV_Service_Termination_is_being_replaced</name>
            <choiceReferences>SPEN_LVServiceTerminationType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What type of LV service termination is being replaced?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Where_it_comes_from</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Additional_Comments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>As_left_LV_Service_Termination_Type_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CableOrConductorType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Company</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Connected_phase_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContentDocIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Current_Rating_Fuse_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Current_Rating_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Customer_Service_Form_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Earth_Loop_Impedance_var</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Earth_Loop_Violation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Earthing_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Electric_Vehicle_Charger</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FileNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isWorkStep</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>latitude</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>longitude</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>loopFile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Main_Reason_Visit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Number_Of_Phases_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PhotoCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Polarity_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>premiseAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>premiseCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>premiseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>premisePostcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Select_LCT_Found</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceTerritoryName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Smart_Meter_Ready</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Specify_Cabinet_Owner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Specify_LCT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Type_Earthing_Connection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Type_Unmetered_Connection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ConnectionMetered</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_District</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_FirstLineOfAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Latitude</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>var_Longitude</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>var_PostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ServiceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ServiceTerritoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ServiceTerritoryId1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ServiceTerritoryId2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ServiceTerritoryName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Voltage_Leak</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Voltage_Surface</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Voltage_var</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Voltage_Violation_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>What_Type_LVST_Replaced</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Which_Type_Cabinet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Work_Completed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Work_Required</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WorkStep</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkStep</objectType>
    </variables>
</Flow>
