force-app/main/default/flows/SPEN_CMPST_Serialised_Product_Created_Item_Status_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <description>Decision element to check if Serialised Product created is Compliance Stores record type.</description>
        <name>Serialised_Product_Record_Type_Check</name>
        <label>Serialised Product Record Type Check</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Non Compliance Stores Serialised Product</defaultConnectorLabel>
        <rules>
            <name>Compliance_Stores_Serialised_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Compliance_Store_Record_Id.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.RecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Serialised_Product</targetReference>
            </connector>
            <label>Compliance Stores Serialised Product</label>
        </rules>
    </decisions>
    <description>Flow will ensure when a Compliance Store serialised product is generated, the Item Status Change Date field is populated.</description>
    <environments>Default</environments>
    <formulas>
        <description>Stores today&apos;s date.</description>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>CMPST Serialised Product Created Item Status Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CMPST Serialised Product Created Item Status Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get records element to find the Compliance Store record Id for Serialised Product object.</description>
        <name>Get_Compliance_Store_Record_Id</name>
        <label>Get Compliance Store Record Id</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Serialised_Product_Record_Type_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SerializedProduct</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_Compliance_Stores</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the Serialised Product to show the Item Status Change date as today.</description>
        <name>Update_Serialised_Product</name>
        <label>Update Serialised Product</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>SPEN_Last_Item_Status_Change_Date__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Compliance_Store_Record_Id</targetReference>
        </connector>
        <object>SerializedProduct</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
