force-app/main/default/flows/SPEN_Case_EmailWorkItem_Preparation_and_Routing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Query_case_record_pop_up</name>
        <label>Query case record pop up</label>
        <locationX>1900</locationX>
        <locationY>622</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;15a61b55&quot;,&quot;targetObjectId&quot;:&quot;{!Get_Case.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_GetParentCase</name>
        <label>Get Parent Case</label>
        <locationX>1598</locationX>
        <locationY>561</locationY>
        <actionName>SPEN_CasesUtil</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Updating_Case_fields_and_Owner</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__caseNewList</typeName>
            <typeValue>Case</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseNewList</name>
            <value>
                <elementReference>Get_Case</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SPEN_CasesUtil</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Updating Case SPEN_Email_WI_Queue_Routing_Outcome__c field and assigning the filed related queue name to case owner</description>
        <name>Updating_Case_fields_and_Owner</name>
        <label>Updating Case fields and Owner</label>
        <locationX>2087</locationX>
        <locationY>521</locationY>
        <actionName>SPEN_EmailMessageUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Query_case_record_pop_up</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailMsg</name>
            <value>
                <elementReference>Get_Latest_Inbound_Email_Message</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SPEN_EmailMessageUtility</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>SW_SPD_values_assignment</name>
        <label>SW SPD values assignment</label>
        <locationX>1171</locationX>
        <locationY>376</locationY>
        <assignmentItems>
            <assignToReference>Get_Case.SPEN_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>StreetWorks</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.BusinessHoursId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SPD_NRSWA_Business_Hours.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.SPEN_SPDSPMIndicator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SPD</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SPEN_UpdateCaseRecord_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SW_SPM_values_assignment</name>
        <label>SW SPM values assignment</label>
        <locationX>2030</locationX>
        <locationY>367</locationY>
        <assignmentItems>
            <assignToReference>Get_Case.SPEN_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>StreetWorks</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.BusinessHoursId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SPM_NRSWA_Business_Hours.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.SPEN_SPDSPMIndicator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SPM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SPEN_UpdateCaseRecord_0</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>DummyParentCaseNumber</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00036701</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_RT</name>
        <label>Check RT</label>
        <locationX>1271</locationX>
        <locationY>99</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RT_Email_Work_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_Query</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Latest_Inbound_Email_Message</targetReference>
            </connector>
            <label>RT: Email Work Item</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_SPD_SPM</name>
        <label>Determine SPD/SPM</label>
        <locationX>1604</locationX>
        <locationY>244</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPM</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Latest_Inbound_Email_Message.ToAddress</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>additionalstreetworksew</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Latest_Inbound_Email_Message.ToAddress</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>jointingcompletesouth</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Latest_Inbound_Email_Message.ToAddress</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>streetworks-e&amp;w-additional-requests</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Latest_Inbound_Email_Message.CcAddress</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>additionalstreetworksew</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Latest_Inbound_Email_Message.CcAddress</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>jointingcompletesouth</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Latest_Inbound_Email_Message.CcAddress</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>streetworks-e&amp;w-additional-requests</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SPM_NRSWA_Business_Hours</targetReference>
            </connector>
            <label>SPM</label>
        </rules>
        <rules>
            <name>SPD</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Latest_Inbound_Email_Message.ToAddress</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>jointingcompletenorth</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Latest_Inbound_Email_Message.ToAddress</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>streetworks-scotland-additional-requests</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Latest_Inbound_Email_Message.CcAddress</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>jointingcompletenorth</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Latest_Inbound_Email_Message.CcAddress</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>streetworks-scotland-additional-requests</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SPD_NRSWA_Business_Hours</targetReference>
            </connector>
            <label>SPD</label>
        </rules>
    </decisions>
    <description>SPEN_Case_EmailWorkItem_Preparation_and_Routing</description>
    <environments>Default</environments>
    <interviewLabel>Case EmailWorkItem - Preparation &amp; Routing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case EmailWorkItem - Preparation &amp; Routing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>1092</locationX>
        <locationY>97</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Fetch email message record to determine relevant fields for case routing etc.</description>
        <name>Get_Latest_Inbound_Email_Message</name>
        <label>Get Latest Inbound Email Message</label>
        <locationX>1491</locationX>
        <locationY>101</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Determine_SPD_SPM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Incoming</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailMessage</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SPD_NRSWA_Business_Hours</name>
        <label>Get SPD NRSWA Business Hours</label>
        <locationX>1334</locationX>
        <locationY>253</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SW_SPD_values_assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPD SW/NRSWA Business Hours</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BusinessHours</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SPM_NRSWA_Business_Hours</name>
        <label>Get SPM NRSWA Business Hours</label>
        <locationX>1840</locationX>
        <locationY>245</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SW_SPM_values_assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPM SW/NRSWA Business Hours</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BusinessHours</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>SPEN_UpdateCaseRecord_0</name>
        <label>Update Case Record</label>
        <locationX>1577</locationX>
        <locationY>413</locationY>
        <connector>
            <targetReference>SPEN_GetParentCase</targetReference>
        </connector>
        <inputReference>Get_Case</inputReference>
    </recordUpdates>
    <start>
        <locationX>687</locationX>
        <locationY>79</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ParentCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ParentCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>holds the ID of the record being routed (a case)</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
