force-app/main/default/flows/SPEN_Job_QA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Post the Job assignment ot the chatter feed</description>
        <name>Post_Assignment</name>
        <label>Post Assignment</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SPEN_ErrorFaultMessageScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>JobApprovedFeedItem</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Post the Job rejection to the chatter feed</description>
        <name>Post_Rejection</name>
        <label>Post Rejection</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SPEN_ErrorFaultMessageScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>JobRejectedFeedItem</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <choices>
        <name>ApproveNo</name>
        <choiceText>&lt;strong&gt;Reject&lt;/strong&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>ApproveYes</name>
        <choiceText>&lt;strong&gt;Approve&lt;/strong&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <description>Approve option in screen flow picklist</description>
        <name>SPEN_Approve</name>
        <choiceText>Approve</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <description>Reject option for screen flow</description>
        <name>SPEN_Reject</name>
        <choiceText>Reject</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Is the review of the job approved or rejected</description>
        <name>Is_Approved</name>
        <label>Is Approved</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 )</conditionLogic>
            <conditions>
                <leftValueReference>Review_Feedback</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SPEN_Approve</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LandOfficer.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LandAssistant.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LandManager.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EnvironmentalPlanner.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateApprovedJob</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Approved_with_no_assignee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Review_Feedback</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SPEN_Approve</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LandOfficer.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LandAssistant.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LandManager.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EnvironmentalPlanner.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_AssigneeValidationScreen</targetReference>
            </connector>
            <label>Approved with no assignee</label>
        </rules>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Review_Feedback</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SPEN_Reject</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Rejected_Job</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
    </decisions>
    <description>ESC-67 Added Invocable Action to Create Job Milestones once Job Status marked as Live
ESC-726: Instruction Date Changes.
ESC-825: Layout Changes
ESC-814: Layout Changes
ESC-845: Layout Changes
ESC-843: Removed OwnerId assignemnet
ESC-1275: Planned Lead Date changes
ESC-1703: Fault path added</description>
    <dynamicChoiceSets>
        <name>ConnectionType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SPEN_CustomerType__c</picklistField>
        <picklistObject>SPEN_Job__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>District</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SPEN_District__c</picklistField>
        <picklistObject>SPEN_Job__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LicenseArea</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SPEN_LicenseArea__c</picklistField>
        <picklistObject>SPEN_Job__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RejectionReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SPEN_RejectionReason__c</picklistField>
        <picklistObject>SPEN_Job__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>SPEN Job QA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SPEN Job QA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Job</name>
        <label>Get Job</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SPEN_Job_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SPEN_ErrorFaultMessageScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SPEN_Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the job based on information provided on screen</description>
        <name>Update_Rejected_Job</name>
        <label>Update Rejected Job</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Post_Rejection</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SPEN_ErrorFaultMessageScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Job.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Job.CreatedBy.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_JobStatus__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_RejectionComment__c</field>
            <value>
                <elementReference>RejectionComment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_RejectionReason__c</field>
            <value>
                <elementReference>Reason_for_Rejection</elementReference>
            </value>
        </inputAssignments>
        <object>SPEN_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update the job based on information provided on screen</description>
        <name>UpdateApprovedJob</name>
        <label>Update Approved Job</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Post_Assignment</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SPEN_ErrorFaultMessageScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Job.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPENEnvironmentalPlanner__c</field>
            <value>
                <elementReference>EnvironmentalPlanner.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_InstructionDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_JobStatus__c</field>
            <value>
                <stringValue>Live</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_LandAssistant__c</field>
            <value>
                <elementReference>LandAssistant.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_LandManager__c</field>
            <value>
                <elementReference>LandManager.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_LandOfficer__c</field>
            <value>
                <elementReference>LandOfficer.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>SPEN_Job__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>SPEN_AssigneeValidationScreen</name>
        <label>Assignee Validation Screen</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SPEN_AssigneeValidationMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Please assign at least one user on the Job.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SPEN_ErrorFaultMessageScreen</name>
        <label>ErrorFaultMessageScreen</label>
        <locationX>2162</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SPEN_FaultMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!$Label.SPEN_ErrorHandlingMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SPEN_Job_Screen</name>
        <label>SPEN Job Screen</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Approved</targetReference>
        </connector>
        <fields>
            <name>Spen_Information</name>
            <fieldText>Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Spen_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>JobNumber</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Job Number&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_Job.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>License_Area</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68);&quot;&gt;License Area&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_Job.SPEN_LicenseArea__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>SPENDistrict</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68);&quot;&gt;District&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_Job.SPEN_District__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>SPEN_Requestor</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Requestor&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Job.SPEN_ProjectManager__r.FirstName} {!Get_Job.SPEN_ProjectManager__r.LastName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>SPEN_DeliveryEngineer</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Delivery Engineer&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Job.SPEN_DeliveryEngineer__r.FirstName} {!Get_Job.SPEN_DeliveryEngineer__r.LastName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Customer_Type</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68);&quot;&gt;Customer Type&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_Job.SPEN_CustomerType__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>SPEN_BusinessArea</name>
                    <fieldText>&lt;p&gt;Business Area&lt;/p&gt;&lt;p&gt;{!Get_Job.SPEN_BusinessArea__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Control_Number</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68);&quot;&gt;Control Number&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_Job.SPEN_ControlNumber__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>SPEN_ProjectCustomerReference</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68);&quot;&gt;Project/Customer Reference&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_Job.SPEN_Project_CustomerReference__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Spen_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SPEN_JobStatus</name>
                    <fieldText>&lt;p&gt;Job Status&lt;/p&gt;&lt;p&gt;{!Get_Job.SPEN_JobStatus__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Job_Title</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68);&quot;&gt;Job Title&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_Job.SPEN_JobTitle__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>WorkCategory</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68);&quot;&gt;Work Category&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_Job.SPEN_Work_Category__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>SPEN_LocationPostcode</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68);&quot;&gt;Location Postcode&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_Job.SPEN_LocationPostCode__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>SPEN_PlannedLeadDate</name>
                    <fieldText>&lt;p&gt;Planned Lead Date&lt;/p&gt;&lt;p&gt;{!Get_Job.SPEN_PlannedLeadDate__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>SPEN_LandDeliveryRequiredByDate</name>
                    <fieldText>&lt;p&gt;Land Delivery Required By Date&lt;/p&gt;&lt;p&gt;{!Get_Job.SPEN_LandDeliveryRequiredByDate__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Circuit_ID</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68);&quot;&gt;Circuit ID&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_Job.SPEN_CircuitID__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>OS_Grid_Reference</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68);&quot;&gt;OS Grid Reference&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_Job.SPEN_OSGridReference__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>SPEN_CustomerDetails</name>
            <fieldText>Customer Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SPEN_CustomerDetails_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Customer</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68);&quot;&gt;Customer&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_Job.SPEN_Customer__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Customer_Address</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Customer Address&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Job.SPEN_CustomerAddress__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SPEN_CustomerDetails_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CustomerEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Customer Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Job.SPEN_CustomerEmail__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>CustomerPhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Customer Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Job.SPEN_CustomerPhone__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Job.SPEN_CustomerType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Customer Connection</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SPEN_RequestorCommentsNotes</name>
            <fieldText>Requestor Comments/Notes</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SPEN_RequestorCommentsNotes_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SPEN_RequestorNotes</name>
                    <fieldText>&lt;p&gt;Requestor Notes&lt;/p&gt;&lt;p&gt;{!Get_Job.SPEN_RequestorNotes__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Provide_Review_Feedback</name>
            <fieldText>Provide Review Feedback</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Provide_Review_Feedback_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Feedback</name>
                    <choiceReferences>SPEN_Approve</choiceReferences>
                    <choiceReferences>SPEN_Reject</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Review Feedback</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Provide_Review_Feedback_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>SPEN_LPUsers</name>
            <fieldText>L&amp;P Users</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SPEN_LPUsers_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LandAssistant</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>SPEN_LandAssistant__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Land Assistant</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>SPEN_Job__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Job.SPEN_LandAssistant__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>LandManager</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>SPEN_LandManager__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Land Manager</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>SPEN_Job__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Job.SPEN_LandManager__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SPEN_LPUsers_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LandOfficer</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>SPEN_LandOfficer__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Land Officer</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>SPEN_Job__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Job.SPEN_LandOfficer__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>EnvironmentalPlanner</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>SPENEnvironmentalPlanner__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Environmental Planner</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>SPEN_Job__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Job.SPENEnvironmentalPlanner__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Review_Feedback</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>SPEN_Approve</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Provide_Rejection_Feedback</name>
            <fieldText>Provide Rejection Feedback</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Provide_Rejection_Feedback_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Reason_for_Rejection</name>
                    <choiceReferences>RejectionReason</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Job.SPEN_RejectionReason__c</elementReference>
                    </defaultValue>
                    <fieldText>Reason for Rejection</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Provide_Rejection_Feedback_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RejectionComment</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Job.SPEN_RejectionComment__c</elementReference>
                    </defaultValue>
                    <fieldText>Comment</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Review_Feedback</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>SPEN_Reject</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Job</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>The feed item text to add when the Job is approved</description>
        <name>JobApprovedFeedItem</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Job was reviewed and assigned to {!LandAssistant.recordName}</text>
    </textTemplates>
    <textTemplates>
        <description>Post on the chatter feed the details of the job rejection</description>
        <name>JobRejectedFeedItem</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Job was rejected.
Reason: {!Reason_for_Rejection}
Comment: {!RejectionComment}</text>
    </textTemplates>
    <variables>
        <name>Job_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SPEN_Job__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
