force-app/main/default/flows/SPEN_Compliance_Stores_Self_Inspection_Mobile.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Assignment to add assigned Product Transfer State to collection variable.</description>
        <name>Add_Product_Transfer_State_Inspection</name>
        <label>Add Product Transfer State</label>
        <locationX>1810</locationX>
        <locationY>4520</locationY>
        <assignmentItems>
            <assignToReference>finalProductTransferStates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assigned_product_transfer_state</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_for_Updating_Product_Transfers_Inspection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Final_Inspection_Serialised_Products</name>
        <label>Add to Final Inspection Serialised Products</label>
        <locationX>1942</locationX>
        <locationY>5852</locationY>
        <assignmentItems>
            <assignToReference>finalSerialisedProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assigned_serialised_product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Chosen_Inspection_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Final_Standard_Inspection_Items</name>
        <label>Add to Final Inspection Items</label>
        <locationX>1942</locationX>
        <locationY>5036</locationY>
        <assignmentItems>
            <assignToReference>finalInspectionItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assigned_inspection_item</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decide_New_Dates_Inspection_P1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the assigned updated Product Transfer to record collection</description>
        <name>Add_Updated_Product_Transfer_Inspection</name>
        <label>Add Updated Product Transfer</label>
        <locationX>1810</locationX>
        <locationY>4736</locationY>
        <assignmentItems>
            <assignToReference>finalUpdatedProductTransfers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updated_product_transfer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Inspection_Item_Details_Inspection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns Calibration Due date to final variable.</description>
        <name>Assign_Calibration_Due_Only_Inspection</name>
        <label>Assign Calibration Due Only</label>
        <locationX>1546</locationX>
        <locationY>5552</locationY>
        <assignmentItems>
            <assignToReference>final_new_calibration_due_date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Date_Calibration_Due_Inspection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>final_new_service_due_date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopForChosenInspectionItems.SPEN_Service_Due__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>final_new_last_calibrated_by</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserDetails.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>final_new_last_serviced_by</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopForChosenInspectionItems.SPEN_Last_Serviced_By__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Serialised_Product_Updates_Inspection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Location_Id_and_Owner_Inspection</name>
        <label>Assign Current Location Id and Owner</label>
        <locationX>1656</locationX>
        <locationY>2780</locationY>
        <assignmentItems>
            <assignToReference>final_destination_location_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>locationInspected.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>final_destination_location_owner_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>locationInspected.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productTransferRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Compliance_Stores_Product_Transfer_Record_Type_Inspection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the new Do Not Use After date to the final variable.</description>
        <name>Assign_Do_Not_Use_After_Only_Inspection</name>
        <label>Assign Do Not Use After Only</label>
        <locationX>1546</locationX>
        <locationY>5252</locationY>
        <assignmentItems>
            <assignToReference>final_new_do_not_use_after_date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Date_Do_Not_Use_After_Inspection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>final_new_insurance_inspection_due_date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopForChosenInspectionItems.SPEN_Insurance_Inspection_Due__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>final_new_last_insurance_inspection_by</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopForChosenInspectionItems.SPEN_Insurance_Inspection_By__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decide_New_Dates_Part_2_Inspection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the Inspection Item details for inspected item.</description>
        <name>Assign_Inspection_Item_Details_Inspection</name>
        <label>Assign Inspection Item Details Inspection</label>
        <locationX>1942</locationX>
        <locationY>4928</locationY>
        <assignmentItems>
            <assignToReference>assigned_inspection_item.SPEN_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inspection_Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_inspection_item.SPEN_Date_Performed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_inspection_item.SPEN_Inspected_By_c__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserDetails.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_inspection_item.SPEN_Serialised_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopForChosenInspectionItems.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_inspection_item.SPEN_Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Result_Inspection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_inspection_item.SPEN_Next_Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Next_Action_Inspection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_inspection_item.SPEN_Inspection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>final_Inspection.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_inspection_item.SPEN_Parent_Energy_Networks_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopForChosenInspectionItems.SPEN_Parent_Energy_Networks_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_inspection_item.SPEN_Energy_Networks_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopForChosenInspectionItems.SPEN_Energy_Networks_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_inspection_item.SPEN_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inspection</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Final_Standard_Inspection_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the new Insurance Inspection Due &amp; Do Not Use After date to the final variable.</description>
        <name>Assign_Insurance_Inspection_Due_Do_Not_Use_After_Inspection</name>
        <label>Assign Insurance Inspection Due and Do Not Use After</label>
        <locationX>2074</locationX>
        <locationY>5252</locationY>
        <assignmentItems>
            <assignToReference>final_new_do_not_use_after_date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Date_Do_Not_Use_After_Inspection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>final_new_insurance_inspection_due_date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Date_Insurance_Inspection_Due_Inspection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>final_new_last_insurance_inspection_by</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserDetails.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decide_New_Dates_Part_2_Inspection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the new Insurance Inspection Due date to the final variable.</description>
        <name>Assign_Insurance_Inspection_Due_Only_Inspection</name>
        <label>Assign Insurance Inspection Due Only</label>
        <locationX>1810</locationX>
        <locationY>5252</locationY>
        <assignmentItems>
            <assignToReference>final_new_do_not_use_after_date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopForChosenInspectionItems.SPEN_Do_Not_Use_After__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>final_new_insurance_inspection_due_date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Date_Insurance_Inspection_Due_Inspection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>final_new_last_insurance_inspection_by</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserDetails.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decide_New_Dates_Part_2_Inspection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Item Status dependant on outcome and next action of inspection.</description>
        <name>Assign_Item_Status_Calibration_Inspection</name>
        <label>Assign Item Status Calibration</label>
        <locationX>1546</locationX>
        <locationY>3512</locationY>
        <assignmentItems>
            <assignToReference>final_new_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quarantine - Awaiting Calibration</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decide_If_Product_Transfer_Required_Inspection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Item_Status_Pass_Inspection</name>
        <label>Assign Item Status Pass</label>
        <locationX>2338</locationX>
        <locationY>3512</locationY>
        <assignmentItems>
            <assignToReference>final_new_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decide_If_Product_Transfer_Required_Inspection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Item Status dependant on outcome and next action of inspection.</description>
        <name>Assign_Item_Status_Repair_Inspection</name>
        <label>Assign Item Status Repair</label>
        <locationX>1810</locationX>
        <locationY>3512</locationY>
        <assignmentItems>
            <assignToReference>final_new_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quarantine - Awaiting Repair</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decide_If_Product_Transfer_Required_Inspection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Item Status dependant on outcome and next action of inspection.</description>
        <name>Assign_Item_Status_Unserviceable_Inspection</name>
        <label>Assign Item Status Unserviceable</label>
        <locationX>2074</locationX>
        <locationY>3512</locationY>
        <assignmentItems>
            <assignToReference>final_new_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unserviceable</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decide_If_Product_Transfer_Required_Inspection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the original field values to Insurance Inspection and Do Not Use After date.</description>
        <name>Assign_Original_Field_Values_Inspection</name>
        <label>Assign Original Field Values</label>
        <locationX>2338</locationX>
        <locationY>5252</locationY>
        <assignmentItems>
            <assignToReference>final_new_do_not_use_after_date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopForChosenInspectionItems.SPEN_Do_Not_Use_After__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>final_new_insurance_inspection_due_date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopForChosenInspectionItems.SPEN_Insurance_Inspection_Due__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>final_new_last_insurance_inspection_by</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopForChosenInspectionItems.SPEN_Insurance_Inspection_By__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decide_New_Dates_Part_2_Inspection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns original field values to Service Due and Calibration Due.</description>
        <name>Assign_Original_Field_Values_Part_2</name>
        <label>Assign Original Field Values Part 2</label>
        <locationX>2338</locationX>
        <locationY>5552</locationY>
        <assignmentItems>
            <assignToReference>final_new_service_due_date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopForChosenInspectionItems.SPEN_Service_Due__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>final_new_calibration_due_date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopForChosenInspectionItems.SPEN_Calibration_Due__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>final_new_last_calibrated_by</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopForChosenInspectionItems.SPEN_Last_Calibrated_By__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>final_new_last_serviced_by</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopForChosenInspectionItems.SPEN_Last_Serviced_By__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Serialised_Product_Updates_Inspection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Finds the quarantine location parent&apos;s Id and owner to store in variable.</description>
        <name>Assign_Parent_Location_Id_and_Owner_Inspection</name>
        <label>Assign Parent Location Id and Owner</label>
        <locationX>1392</locationX>
        <locationY>2888</locationY>
        <assignmentItems>
            <assignToReference>final_destination_location_owner_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>parentLocationInfo.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>final_destination_location_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>parentLocationInfo.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productTransferRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Compliance_Stores_Product_Transfer_Record_Type_Inspection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns to variable the Product Id linked to the Serialised Product.</description>
        <name>Assign_Product_Ids</name>
        <label>Assign Product Ids</label>
        <locationX>875</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>chosenProductIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopForChosenInspectionItemsProductIDs.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_find_Product_IDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns to variable the matching Product Item Id to reference.</description>
        <name>Assign_Product_Item_Id</name>
        <label>Assign Product Item Id</label>
        <locationX>1898</locationX>
        <locationY>4028</locationY>
        <assignmentItems>
            <assignToReference>final_source_product_item_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopForChosenProductItemIds.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Product_Item_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Serialised_Product_Updates_Inspection</name>
        <label>Assign Serialised Product Updates</label>
        <locationX>1942</locationX>
        <locationY>5744</locationY>
        <assignmentItems>
            <assignToReference>assigned_serialised_product.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopForChosenInspectionItems.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_serialised_product.SPEN_Do_Not_Use_After__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>final_new_do_not_use_after_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_serialised_product.SPEN_Last_Inspected_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserDetails.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_serialised_product.SPEN_Calibration_Due__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>final_new_calibration_due_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_serialised_product.SPEN_Last_Calibrated_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>final_new_last_calibrated_by</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_serialised_product.SPEN_Insurance_Inspection_Due__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>final_new_insurance_inspection_due_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_serialised_product.SPEN_Insurance_Inspection_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>final_new_last_insurance_inspection_by</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_serialised_product.SPEN_Service_Due__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>final_new_service_due_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_serialised_product.SPEN_Last_Serviced_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>final_new_last_serviced_by</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_serialised_product.SPEN_Item_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>final_new_status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_serialised_product.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>final_destination_location_owner_id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_serialised_product.SPEN_Current_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>final_destination_location_id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_serialised_product.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Final_Inspection_Serialised_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the new Service Due and Calibration Due to final variable.</description>
        <name>Assign_Service_Due_Calibration_Due_Inspection</name>
        <label>Assign Service Due and Calibration Due</label>
        <locationX>2074</locationX>
        <locationY>5552</locationY>
        <assignmentItems>
            <assignToReference>final_new_service_due_date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Date_Service_Due_Inspection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>final_new_calibration_due_date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Date_Calibration_Due_Inspection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>final_new_last_calibrated_by</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserDetails.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>final_new_last_serviced_by</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserDetails.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Serialised_Product_Updates_Inspection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the new Service Due to final variable.</description>
        <name>Assign_Service_Due_Only_Inspection</name>
        <label>Assign Service Due Only</label>
        <locationX>1810</locationX>
        <locationY>5552</locationY>
        <assignmentItems>
            <assignToReference>final_new_service_due_date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Date_Service_Due_Inspection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>final_new_calibration_due_date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopForChosenInspectionItems.SPEN_Calibration_Due__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>final_new_last_calibrated_by</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopForChosenInspectionItems.SPEN_Last_Calibrated_By__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>final_new_last_serviced_by</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserDetails.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Serialised_Product_Updates_Inspection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the recordId to chose quarantine items variable in order to connect the single/multi inspection path back together.</description>
        <name>Assign_to_Chosen_Inspection_Items</name>
        <label>Assign to Chosen Inspection Items</label>
        <locationX>919</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>chosenInspectionItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>foundSelfInspectSerialisedProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Base_Location_Quarantine_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the new variables to Product Transfer State in order to add to record collection.</description>
        <name>Assignment_for_Create_Product_Transfer_State_Inspection</name>
        <label>Assignment for Create Product Transfer State</label>
        <locationX>1810</locationX>
        <locationY>4412</locationY>
        <assignmentItems>
            <assignToReference>assigned_product_transfer_state.ProductTransferId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createdProductTransfer.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer_state.Action</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Receive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer_state.SerializedProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopForChosenInspectionItems.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer_state.TransferState</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Product_Transfer_State_Inspection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns new values to created Product Transfer record.</description>
        <name>Assignment_for_Updating_Product_Transfers_Inspection</name>
        <label>Assignment for Updating Product Transfers</label>
        <locationX>1810</locationX>
        <locationY>4628</locationY>
        <assignmentItems>
            <assignToReference>updated_product_transfer.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createdProductTransfer.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updated_product_transfer.IsReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updated_product_transfer.QuantityReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updated_product_transfer.QuantityUnitOfMeasure</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Each</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Updated_Product_Transfer_Inspection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Fail_Choice</name>
        <choiceText>Fail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fail</stringValue>
        </value>
    </choices>
    <choices>
        <name>lost</name>
        <choiceText>lost</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>lost</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lost_Stolen_Choice</name>
        <choiceText>Lost/Stolen</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lost/Stolen</stringValue>
        </value>
    </choices>
    <choices>
        <name>Needs_Calibration_Choice</name>
        <choiceText>Needs Calibration</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Needs Calibration</stringValue>
        </value>
    </choices>
    <choices>
        <name>Needs_Repair_Choice</name>
        <choiceText>Needs Repair</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Needs Repair</stringValue>
        </value>
    </choices>
    <choices>
        <name>Passed_Choice</name>
        <choiceText>Pass</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pass</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unserviceable_Choice</name>
        <choiceText>Unserviceable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unserviceable</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Checks current location of passed inspection item.</description>
        <name>Check_Current_Location_Pass_Inspection</name>
        <label>Check Current Location</label>
        <locationX>1524</locationX>
        <locationY>2672</locationY>
        <defaultConnector>
            <targetReference>Assign_Current_Location_Id_and_Owner_Inspection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fail &amp; In Quarantine</defaultConnectorLabel>
        <rules>
            <name>Pass_In_Quarantine_Inspection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Result_Inspection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Passed_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Parent_Location_Info_Inspection</targetReference>
            </connector>
            <label>Pass &amp; In Quarantine</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision element to check dates entered are valid.</description>
        <name>Check_Dates_Are_Valid_Inspection</name>
        <label>Check Dates Are Valid</label>
        <locationX>1040</locationX>
        <locationY>2138</locationY>
        <defaultConnector>
            <targetReference>Invalid_Dates_Inspection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Dates Invalid</defaultConnectorLabel>
        <rules>
            <name>Dates_Valid_Inspection</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4) AND (5 OR 6) AND (7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>New_Date_Do_Not_Use_After_Inspection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Date_Do_Not_Use_After_Inspection</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Date_Calibration_Due_Inspection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Date_Calibration_Due_Inspection</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Date_Insurance_Inspection_Due_Inspection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Date_Insurance_Inspection_Due_Inspection</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Date_Service_Due_Inspection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Date_Service_Due_Inspection</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Current_Location_Pass_Inspection</targetReference>
            </connector>
            <label>Dates Valid</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the inspection has failed, check that the next action has been populated. If not return user to screen.</description>
        <name>Check_Next_Action_Populated_Correctly_Inspection</name>
        <label>Check Next Action Populated Correctly</label>
        <locationX>787</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Pass_Fail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Action Correct</defaultConnectorLabel>
        <rules>
            <name>Next_Action_Incorrect_Inspection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Result_Inspection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Fail_Choice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Next_Action_Inspection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Next_Action_Incorrect_Screen_Inspection</targetReference>
            </connector>
            <label>Next Action Incorrect</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Product_Transfer_Record_Type_Found_Inspection</name>
        <label>Check Product Transfer Record Type Found</label>
        <locationX>1524</locationX>
        <locationY>3188</locationY>
        <defaultConnector>
            <targetReference>Missing_Product_Transfer_Record_Type_Screen_Inspection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None Found</defaultConnectorLabel>
        <rules>
            <name>Found_Record_Type_Inspection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productTransferRecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Chosen_Inspection_Items</targetReference>
            </connector>
            <label>Found Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_If_Product_Transfer_Required_Inspection</name>
        <label>Decide If Product Transfer Required</label>
        <locationX>1942</locationX>
        <locationY>3704</locationY>
        <defaultConnector>
            <targetReference>Assign_Inspection_Item_Details_Inspection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Product Transfer Required</defaultConnectorLabel>
        <rules>
            <name>Product_Transfer_Required_Inspection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productTransferRequired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>final_new_status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>loopForChosenInspectionItems.SPEN_Item_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Product_Item_Ids</targetReference>
            </connector>
            <label>Product Transfer Required</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the permission set assignment was found, if found means user has authorisation to run an inspection, if not, user does not have authorisation. Also checks to make sure that permission sets were found and are in the system.</description>
        <name>Decide_If_Running_User_Authorised</name>
        <label>Decide If Running User Authorised</label>
        <locationX>1441</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Failed_Permission_Set_Check_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Permission Set Assignment</defaultConnectorLabel>
        <rules>
            <name>Permission_Set_Assignment_Exists</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>serviceResourceRecord.SPEN_Competent_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>serviceResourceRecord.SPEN_Compliance_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>serviceResourceRecord.SPEN_Site_Manager__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>serviceResourceRecord.SPEN_Operational_Safety_Engineer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Serialised_Product</targetReference>
            </connector>
            <label>Permission Set Assignment Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision to check if Do Not Use After &amp; Insurance Inspection Due has been populated.</description>
        <name>Decide_New_Dates_Inspection_P1</name>
        <label>Decide New Dates Part 1</label>
        <locationX>1942</locationX>
        <locationY>5144</locationY>
        <defaultConnector>
            <targetReference>Assign_Original_Field_Values_Inspection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Do_Not_Use_After_Only_Inspection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Date_Do_Not_Use_After_Inspection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Date_Insurance_Inspection_Due_Inspection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Do_Not_Use_After_Only_Inspection</targetReference>
            </connector>
            <label>Do Not Use After Only</label>
        </rules>
        <rules>
            <name>Insurance_Inspection_Due_Only_Inspection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Date_Insurance_Inspection_Due_Inspection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Date_Do_Not_Use_After_Inspection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Insurance_Inspection_Due_Only_Inspection</targetReference>
            </connector>
            <label>Insurance Inspection Due Only</label>
        </rules>
        <rules>
            <name>Do_Not_Use_After_and_Insurance_Inspection_Inspection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Date_Do_Not_Use_After_Inspection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Date_Insurance_Inspection_Due_Inspection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Insurance_Inspection_Due_Do_Not_Use_After_Inspection</targetReference>
            </connector>
            <label>Do Not Use After and Insurance Inspection</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the Calibration Due and Service Due has been entered by the user.</description>
        <name>Decide_New_Dates_Part_2_Inspection</name>
        <label>Decide New Dates Part 2</label>
        <locationX>1942</locationX>
        <locationY>5444</locationY>
        <defaultConnector>
            <targetReference>Assign_Original_Field_Values_Part_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Calibration_Due_Only_Inspection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Date_Calibration_Due_Inspection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Date_Service_Due_Inspection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Calibration_Due_Only_Inspection</targetReference>
            </connector>
            <label>Calibration Due Only</label>
        </rules>
        <rules>
            <name>Service_Due_Only_Inspection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Date_Service_Due_Inspection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Date_Calibration_Due_Inspection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Service_Due_Only_Inspection</targetReference>
            </connector>
            <label>Service Due Only</label>
        </rules>
        <rules>
            <name>Service_Due_and_Calibration_Due_Inspection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Date_Service_Due_Inspection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Date_Calibration_Due_Inspection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Service_Due_Calibration_Due_Inspection</targetReference>
            </connector>
            <label>Service Due and Calibration Due</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks what the result of each inspection outcome is</description>
        <name>Decide_New_Item_Status_Inspection</name>
        <label>Decide New Item Status</label>
        <locationX>1942</locationX>
        <locationY>3404</locationY>
        <defaultConnector>
            <targetReference>Assign_Item_Status_Pass_Inspection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pass</defaultConnectorLabel>
        <rules>
            <name>Needs_Calibration_Inspection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Result_Inspection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Fail_Choice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Next_Action_Inspection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Needs_Calibration_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Item_Status_Calibration_Inspection</targetReference>
            </connector>
            <label>Needs Calibration</label>
        </rules>
        <rules>
            <name>Needs_Repair_Inspection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Result_Inspection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Fail_Choice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Next_Action_Inspection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Needs_Repair_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Item_Status_Repair_Inspection</targetReference>
            </connector>
            <label>Needs Repair</label>
        </rules>
        <rules>
            <name>Unserviceable_Inspection_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Result_Inspection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Fail_Choice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Next_Action_Inspection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unserviceable_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Item_Status_Unserviceable_Inspection</targetReference>
            </connector>
            <label>Unserviceable</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the new item status is unserviceable, if it is, the end of life flow will be invoked.</description>
        <name>End_Of_Life_Needed</name>
        <label>End Of Life Needed?</label>
        <locationX>1370</locationX>
        <locationY>6476</locationY>
        <defaultConnector>
            <targetReference>Inspection_Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Further Action</defaultConnectorLabel>
        <rules>
            <name>End_Of_Life</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_Action_Inspection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unserviceable_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End_Of_Life_Needed_Screen</targetReference>
            </connector>
            <label>End Of Life</label>
        </rules>
    </decisions>
    <decisions>
        <description>Performs an initial check on the Serialised Product to see if this is part of a Multiset kit.</description>
        <name>Initial_Multiset_Check</name>
        <label>Initial Multiset Check</label>
        <locationX>787</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_to_Chosen_Inspection_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Isn&apos;t Multiset</defaultConnectorLabel>
        <rules>
            <name>Is_Multiset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>foundSelfInspectSerialisedProduct.SPEN_Multiset__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Inspection_Multiset_Records</targetReference>
            </connector>
            <label>Is Multiset</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if running user is authorised to update safety dates.</description>
        <name>Inspection_Date_Update_Authorised</name>
        <label>Inspection Date Update Authorised?</label>
        <locationX>1216</locationX>
        <locationY>1922</locationY>
        <defaultConnector>
            <targetReference>Check_Current_Location_Pass_Inspection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Authorised</defaultConnectorLabel>
        <rules>
            <name>Inspection_Safety_Dates_Authorised</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>serviceResourceRecord.SPEN_Compliance_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>serviceResourceRecord.SPEN_Site_Manager__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>serviceResourceRecord.SPEN_Operational_Safety_Engineer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inspection_Date_Update_Screen</targetReference>
            </connector>
            <label>Inspection Safety Dates Authorised</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if any items passed or failed the inspection.</description>
        <name>Pass_Fail</name>
        <label>Pass/Fail</label>
        <locationX>1524</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>Update_Inspection_Record_Fail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fail</defaultConnectorLabel>
        <rules>
            <name>Pass_Inspection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Result_Inspection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Passed_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Inspection_Record_Pass</targetReference>
            </connector>
            <label>Pass</label>
        </rules>
        <rules>
            <name>Unserviceable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_Action_Inspection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unserviceable_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Inspection_Record_Unserviceable</targetReference>
            </connector>
            <label>Unserviceable</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if the Product linked to the Product Item matches the Product linked to the Serialised Product record.</description>
        <name>Product_Item_Match</name>
        <label>Product Item Match?</label>
        <locationX>2030</locationX>
        <locationY>3920</locationY>
        <defaultConnector>
            <targetReference>Loop_Product_Item_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match</defaultConnectorLabel>
        <rules>
            <name>Product_Matching</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopForChosenProductItemIds.Product2Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loopForChosenInspectionItems.Product2Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Product_Item_Id</targetReference>
            </connector>
            <label>Product Matching</label>
        </rules>
    </decisions>
    <description>Field Service Mobile Flow for users to log inspection invoked from Book In, for Compliance Stores solution.</description>
    <environments>Default</environments>
    <interviewLabel>Compliance Stores - Self Inspection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Compliance Stores - Self Inspection</label>
    <loops>
        <description>Loop through inspection items</description>
        <name>Loop_Chosen_Inspection_Items</name>
        <label>Loop Chosen Inspection Items</label>
        <locationX>1370</locationX>
        <locationY>3296</locationY>
        <assignNextValueToReference>loopForChosenInspectionItems</assignNextValueToReference>
        <collectionReference>chosenInspectionItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decide_New_Item_Status_Inspection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Inspection_Items_Inspection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loops through the Product Item Ids in order to filter and find the right Product Item Id as the Source Product Item.</description>
        <name>Loop_Product_Item_Ids</name>
        <label>Loop Product Item Ids</label>
        <locationX>1810</locationX>
        <locationY>3812</locationY>
        <assignNextValueToReference>loopForChosenProductItemIds</assignNextValueToReference>
        <collectionReference>chosenProductItemIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Product_Item_Match</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Product_Transfer_Record_Inspection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loops through chosen inspection items to get the product Ids.</description>
        <name>Loop_to_find_Product_IDs</name>
        <label>Loop to find Product IDs</label>
        <locationX>787</locationX>
        <locationY>866</locationY>
        <assignNextValueToReference>loopForChosenInspectionItemsProductIDs</assignNextValueToReference>
        <collectionReference>chosenInspectionItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Product_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Product_Item_Ids</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <description>Creates all Inspection Item records.</description>
        <name>Create_Inspection_Items_Inspection</name>
        <label>Create Inspection Items</label>
        <locationX>1370</locationX>
        <locationY>6044</locationY>
        <connector>
            <targetReference>Create_Product_Transfer_State_Records_Inspection</targetReference>
        </connector>
        <inputReference>finalInspectionItems</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Transfer_Record_Inspection</name>
        <label>Create Product Transfer Record</label>
        <locationX>1810</locationX>
        <locationY>4304</locationY>
        <assignRecordIdToReference>createdProductTransfer.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Assignment_for_Create_Product_Transfer_State_Inspection</targetReference>
        </connector>
        <inputAssignments>
            <field>DestinationLocationId</field>
            <value>
                <elementReference>final_destination_location_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>loopForChosenInspectionItems.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityReceived</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantitySent</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityUnitOfMeasure</field>
            <value>
                <stringValue>Each</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReceivedById</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>productTransferRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Energy_Networks_ID__c</field>
            <value>
                <elementReference>loopForChosenInspectionItems.SPEN_Energy_Networks_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Multiset__c</field>
            <value>
                <elementReference>loopForChosenInspectionItems.SPEN_Multiset__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_New_Status__c</field>
            <value>
                <elementReference>final_new_status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Parent_Energy_Networks_ID__c</field>
            <value>
                <elementReference>loopForChosenInspectionItems.SPEN_Parent_Energy_Networks_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Previous_Status__c</field>
            <value>
                <elementReference>loopForChosenInspectionItems.SPEN_Item_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Safety_Check_Date__c</field>
            <value>
                <elementReference>loopForChosenInspectionItems.SPEN_Safety_Check_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Serialised_Product_Helper__c</field>
            <value>
                <elementReference>loopForChosenInspectionItems.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Transfer_Comments__c</field>
            <value>
                <elementReference>Inspection_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Transfer_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Type__c</field>
            <value>
                <stringValue>Inspection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceLocationId</field>
            <value>
                <elementReference>locationInspected.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceProductItemId</field>
            <value>
                <elementReference>final_source_product_item_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>ProductTransfer</object>
    </recordCreates>
    <recordCreates>
        <description>Creates all Product Transfer state records as needed.</description>
        <name>Create_Product_Transfer_State_Records_Inspection</name>
        <label>Create Product Transfer State Records</label>
        <locationX>1370</locationX>
        <locationY>6152</locationY>
        <connector>
            <targetReference>Update_Product_Transfers_Inspection</targetReference>
        </connector>
        <inputReference>finalProductTransferStates</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Creates a standard inspection record.</description>
        <name>Create_Standard_Inspection_Record</name>
        <label>Create Standard Inspection Record</label>
        <locationX>787</locationX>
        <locationY>1274</locationY>
        <assignRecordIdToReference>final_Inspection.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Get_User_Name_Inspection</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Date_Performed__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Inspection</stringValue>
            </value>
        </inputAssignments>
        <object>SPEN_Inspection__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Parent_Location_Info_Inspection</name>
        <label>Find Parent Location Info</label>
        <locationX>1392</locationX>
        <locationY>2780</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Parent_Location_Id_and_Owner_Inspection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>foundSelfInspectSerialisedProduct.SPEN_Base_Location__c</elementReference>
            </value>
        </filters>
        <object>Location</object>
        <outputReference>parentLocationInfo</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Gets the Location Id for the quarantine location related to the base location.</description>
        <name>Get_Base_Location_Quarantine_Id</name>
        <label>Get Base Location Quarantine Id</label>
        <locationX>787</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_to_find_Product_IDs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentLocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>foundSelfInspectSerialisedProduct.SPEN_Base_Location__c</elementReference>
            </value>
        </filters>
        <object>Location</object>
        <outputReference>locationInspected</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LocationType</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Gets the record type ID of the compliance stores record type for the Product Transfer object.</description>
        <name>Get_Compliance_Stores_Product_Transfer_Record_Type_Inspection</name>
        <label>Get Compliance Stores Product Transfer Record Type</label>
        <locationX>1524</locationX>
        <locationY>3080</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Product_Transfer_Record_Type_Found_Inspection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ProductTransfer</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_Compliance_Stores</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>productTransferRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Records to find all active items contained within the multiset.</description>
        <name>Get_Inspection_Multiset_Records</name>
        <label>Get Inspection Multiset Records</label>
        <locationX>655</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Base_Location_Quarantine_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SPEN_Parent_Energy_Networks_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>foundSelfInspectSerialisedProduct.SPEN_Parent_Energy_Networks_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SerializedProduct</object>
        <outputReference>chosenInspectionItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SPEN_Category__c</queriedFields>
        <queriedFields>SPEN_Item_Description__c</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>ProductItemId</queriedFields>
        <queriedFields>SPEN_Parent_Energy_Networks_ID__c</queriedFields>
        <queriedFields>SPEN_Energy_Networks_ID__c</queriedFields>
        <queriedFields>SPEN_Active__c</queriedFields>
        <queriedFields>SPEN_Multiset__c</queriedFields>
        <queriedFields>SPEN_Item_Status__c</queriedFields>
        <queriedFields>SPEN_Current_Location__c</queriedFields>
        <queriedFields>SPEN_Location_Name__c</queriedFields>
        <queriedFields>SPEN_Base_Location__c</queriedFields>
        <queriedFields>SPEN_Last_Calibrated_By__c</queriedFields>
        <queriedFields>SPEN_Calibration_Due__c</queriedFields>
        <queriedFields>SPEN_Do_Not_Use_After__c</queriedFields>
        <queriedFields>SPEN_Last_Inspected_By__c</queriedFields>
        <queriedFields>SPEN_Insurance_Inspection_By__c</queriedFields>
        <queriedFields>SPEN_Insurance_Inspection_Due__c</queriedFields>
        <queriedFields>SPEN_Service_Due__c</queriedFields>
        <queriedFields>SPEN_Last_Serviced_By__c</queriedFields>
        <queriedFields>SPEN_Safety_Check_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Gets all the Product Item records for the base location.</description>
        <name>Get_Product_Item_Ids</name>
        <label>Get Product Item Ids</label>
        <locationX>787</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Standard_Inspection_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>In</operator>
            <value>
                <elementReference>chosenProductIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>LocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>locationInspected.Id</elementReference>
            </value>
        </filters>
        <object>ProductItem</object>
        <outputReference>chosenProductItemIds</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get Records element to find Serialised Product which has been booked in.</description>
        <name>Get_Serialised_Product</name>
        <label>Get Serialised Product</label>
        <locationX>787</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Initial_Multiset_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SPEN_Energy_Networks_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelfInspectENID</elementReference>
            </value>
        </filters>
        <object>SerializedProduct</object>
        <outputReference>foundSelfInspectSerialisedProduct</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SPEN_Energy_Networks_ID__c</queriedFields>
        <queriedFields>SPEN_Base_Location__c</queriedFields>
        <queriedFields>SPEN_Multiset__c</queriedFields>
        <queriedFields>SPEN_Category__c</queriedFields>
        <queriedFields>SPEN_Item_Status__c</queriedFields>
        <queriedFields>SPEN_Parent_Energy_Networks_ID__c</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>ProductItemId</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>SPEN_Calibration_Due__c</queriedFields>
        <queriedFields>SPEN_Do_Not_Use_After__c</queriedFields>
        <queriedFields>SPEN_Insurance_Inspection_Due__c</queriedFields>
        <queriedFields>SPEN_Replacement_Due__c</queriedFields>
        <queriedFields>SPEN_Last_Calibrated_By__c</queriedFields>
        <queriedFields>SPEN_Last_Inspected_By__c</queriedFields>
        <queriedFields>SPEN_Insurance_Inspection_By__c</queriedFields>
        <queriedFields>SPEN_Current_Location__c</queriedFields>
        <queriedFields>SPEN_Safety_Check_Date__c</queriedFields>
        <queriedFields>SPEN_Item_Description__c</queriedFields>
        <queriedFields>SPEN_Active__c</queriedFields>
        <queriedFields>SPEN_Service_Due__c</queriedFields>
        <queriedFields>SPEN_Last_Serviced_By__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get Records to find the Service Resource record linked to the running User.</description>
        <name>Get_Service_Resource_Record</name>
        <label>Get Service Resource Record</label>
        <locationX>1441</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decide_If_Running_User_Authorised</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>serviceResourceRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SPEN_Authorised_User__c</queriedFields>
        <queriedFields>SPEN_Competent_User__c</queriedFields>
        <queriedFields>SPEN_Compliance_Team__c</queriedFields>
        <queriedFields>SPEN_Site_Manager__c</queriedFields>
        <queriedFields>SPEN_Operational_Safety_Engineer__c</queriedFields>
        <queriedFields>SPEN_Team_Leader__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get Records to find the User&apos;s full name.</description>
        <name>Get_User_Name_Inspection</name>
        <label>Get User Name</label>
        <locationX>787</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inspection_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>UserDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Inspection_Record_Fail</name>
        <label>Update Inspection Record</label>
        <locationX>1832</locationX>
        <locationY>1814</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Inspection_Date_Update_Authorised</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>final_Inspection.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_Comments__c</field>
            <value>
                <elementReference>Inspection_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Inspected_By__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Location_Inspected__c</field>
            <value>
                <elementReference>locationInspected.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Next_Action__c</field>
            <value>
                <elementReference>Next_Action_Inspection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Result__c</field>
            <value>
                <stringValue>Fail</stringValue>
            </value>
        </inputAssignments>
        <object>SPEN_Inspection__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Inspection_Record_Pass</name>
        <label>Update Inspection Record</label>
        <locationX>1216</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>Inspection_Date_Update_Authorised</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>final_Inspection.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_Comments__c</field>
            <value>
                <elementReference>Inspection_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Inspected_By__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Location_Inspected__c</field>
            <value>
                <elementReference>locationInspected.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Next_Action__c</field>
            <value>
                <stringValue>None</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Result__c</field>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </inputAssignments>
        <object>SPEN_Inspection__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Inspection_Record_Unserviceable</name>
        <label>Update Inspection Record</label>
        <locationX>1568</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>Check_Current_Location_Pass_Inspection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>final_Inspection.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_Comments__c</field>
            <value>
                <elementReference>Inspection_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Inspected_By__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Location_Inspected__c</field>
            <value>
                <elementReference>locationInspected.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Next_Action__c</field>
            <value>
                <elementReference>Next_Action_Inspection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Result__c</field>
            <value>
                <stringValue>Fail</stringValue>
            </value>
        </inputAssignments>
        <object>SPEN_Inspection__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Records element to update all Product Transfers previously generated.</description>
        <name>Update_Product_Transfers_Inspection</name>
        <label>Update Product Transfers</label>
        <locationX>1370</locationX>
        <locationY>6260</locationY>
        <connector>
            <targetReference>Update_Serialised_Products_Inspection</targetReference>
        </connector>
        <inputReference>finalUpdatedProductTransfers</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Serialised_Products_Inspection</name>
        <label>Update Serialised Products</label>
        <locationX>1370</locationX>
        <locationY>6368</locationY>
        <connector>
            <targetReference>End_Of_Life_Needed</targetReference>
        </connector>
        <inputReference>finalSerialisedProducts</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>End_Of_Life_Needed_Screen</name>
        <label>End Of Life Needed</label>
        <locationX>1238</locationX>
        <locationY>6584</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Inspection_Confirmation</targetReference>
        </connector>
        <fields>
            <name>UnserviceableDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You marked an item as unserviceable, the status will be updated to show this in due course.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;If you are unable to do so, please ask a member of the Compliance Team to process end of life for this equipment.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to the user that they don&apos;t have the relevant permissions to run an inspection in the system.</description>
        <name>Failed_Permission_Set_Check_Screen</name>
        <label>Failed Permission Check</label>
        <locationX>2096</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NotAuthorisedDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You are not authorised to run this process.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;If you should have authorisation, please speak with your team leader/manager to request access.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to User that Inspection has now been logged.</description>
        <name>Inspection_Confirmation</name>
        <label>Inspection Confirmation</label>
        <locationX>1370</locationX>
        <locationY>6776</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>InspectionCompleteDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(68, 68, 68);&quot;&gt;Thanks for logging the Inspection. This has now been added to the system.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen for user to log updates to safety check dates on the serialised product object.</description>
        <name>Inspection_Date_Update_Screen</name>
        <label>Date Update</label>
        <locationX>1040</locationX>
        <locationY>2030</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Dates_Are_Valid_Inspection</targetReference>
        </connector>
        <fields>
            <name>DateChangeDisplayText_Inspection</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Please enter dates you wish to change, this will be updated for you on the equipment: &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Date_Do_Not_Use_After_Inspection</name>
            <dataType>Date</dataType>
            <fieldText>New Date (Do Not Use After)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_Date_Insurance_Inspection_Due_Inspection</name>
            <dataType>Date</dataType>
            <fieldText>New Date (Insurance Inspection Due)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_Date_Service_Due_Inspection</name>
            <dataType>Date</dataType>
            <fieldText>New Date (Service Due)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_Date_Calibration_Due_Inspection</name>
            <dataType>Date</dataType>
            <fieldText>New Date (Calibration Due)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Inspection_Screen</name>
        <label>Log Inspection</label>
        <locationX>787</locationX>
        <locationY>1490</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Next_Action_Populated_Correctly_Inspection</targetReference>
        </connector>
        <fields>
            <name>Result_Inspection</name>
            <choiceReferences>Passed_Choice</choiceReferences>
            <choiceReferences>Fail_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Result</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Next_Action_Inspection</name>
            <choiceReferences>Needs_Calibration_Choice</choiceReferences>
            <choiceReferences>Needs_Repair_Choice</choiceReferences>
            <choiceReferences>Unserviceable_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Next Action</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Inspection_Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FileUploadInspection</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Add Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg, .jpeg, .png, .pdf, .doc, .docx, .mp4, .mov, .avi</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>final_Inspection.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to user dates entered on previous screen are invalid.</description>
        <name>Invalid_Dates_Inspection</name>
        <label>Invalid Dates</label>
        <locationX>1128</locationX>
        <locationY>2246</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Inspection_Date_Update_Screen</targetReference>
        </connector>
        <fields>
            <name>InvalidDatesDisplayTextInspection</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You have entered a date which is earlier than today. Please press next to change the dates and continue with the inspection.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm the Compliance Stores record type for Product Transfers is missing from the system.</description>
        <name>Missing_Product_Transfer_Record_Type_Screen_Inspection</name>
        <label>Missing System Record Type</label>
        <locationX>1678</locationX>
        <locationY>3296</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MissingProductTransferRecordTypeDisplayText_Inspection</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;An inspection cannot be logged at this time. Please advise the system administrator of the below issue.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The below Record Type is missing from the Product Transfer object:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Compliance Stores&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen to advise users they must fill out the next action if they are failing the inspection.</description>
        <name>Next_Action_Incorrect_Screen_Inspection</name>
        <label>Next Action - Retry</label>
        <locationX>50</locationX>
        <locationY>1706</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Inspection_Screen</targetReference>
        </connector>
        <fields>
            <name>Next_Action_Incorrect_Display_Text_Inspection</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;If you are failing the inspection, a next action must be populated. Press next to correct the inspection record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1315</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Service_Resource_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>assigned_inspection_item</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SPEN_Inspection_Item__c</objectType>
    </variables>
    <variables>
        <name>assigned_product_transfer_state</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransferState</objectType>
    </variables>
    <variables>
        <name>assigned_serialised_product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>chosenInspectionItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>chosenProductIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>chosenProductItemIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductItem</objectType>
    </variables>
    <variables>
        <name>createdProductTransfer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransfer</objectType>
    </variables>
    <variables>
        <name>failed_serialised_product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>final_destination_location_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>final_destination_location_owner_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>final_Inspection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SPEN_Inspection__c</objectType>
    </variables>
    <variables>
        <name>final_new_calibration_due_date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>final_new_do_not_use_after_date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>final_new_insurance_inspection_due_date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>final_new_last_calibrated_by</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>final_new_last_inspected_by</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>final_new_last_insurance_inspection_by</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>final_new_last_serviced_by</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>final_new_service_due_date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>final_new_status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>final_source_product_item_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>finalInspectionItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SPEN_Inspection_Item__c</objectType>
    </variables>
    <variables>
        <name>finalProductTransferStates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransferState</objectType>
    </variables>
    <variables>
        <name>finalSerialisedProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>finalUpdatedProductTransfers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransfer</objectType>
    </variables>
    <variables>
        <name>foundInspectionMultisetItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>foundSelfInspectSerialisedProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>locationInspected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>locationRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loopForChosenInspectionItems</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>loopForChosenInspectionItemsProductIDs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>loopForChosenProductItemIds</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductItem</objectType>
    </variables>
    <variables>
        <name>parentLocationInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>productTransferRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productTransferRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelfInspectENID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceResourceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>updated_product_transfer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransfer</objectType>
    </variables>
    <variables>
        <name>UserDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
