force-app/main/default/flows/SPEN_Job_Release_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>SPEN_Assign_Job_Release_Message</name>
        <label>Assign Job Release Message</label>
        <locationX>1898</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>SPEN_ShowMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SPEN_JobReleaseMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SPEN_Release_Job_Status_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SPEN_Assign_Land_Interest_Message</name>
        <label>Assign Land Interest Message</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>SPEN_ShowMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SPEN_OpenLandInterestErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SPEN_Release_Job_Status_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SPEN_Assign_LI_Planning_Message</name>
        <label>Assign LI Planning Message</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>SPEN_ShowMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SPEN_OpenLIPlanningErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SPEN_Release_Job_Status_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SPEN_Assign_MIlestone_LI_Message</name>
        <label>Assign MIlestone LI Message</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>SPEN_ShowMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SPEN_OpenMIlestoneLIErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SPEN_Release_Job_Status_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SPEN_Assign_Milestone_LI_Planning_Message</name>
        <label>Assign Milestone LI Planning Message</label>
        <locationX>1634</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>SPEN_ShowMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SPEN_OpenMilestoneLIPlanningErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SPEN_Release_Job_Status_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SPEN_Assign_MIlestone_Message</name>
        <label>Assign MIlestone Message</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>SPEN_ShowMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SPEN_OpenMIlestoneErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SPEN_Release_Job_Status_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SPEN_Assign_MIlestone_PlanningMessage</name>
        <label>Assign MIlestone PlanningMessage</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>SPEN_ShowMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SPEN_OpenMIlestonePlanningErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SPEN_Release_Job_Status_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SPEN_Assign_Planning_Message</name>
        <label>Assign Planning Message</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>SPEN_ShowMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SPEN_OpenPlanningErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SPEN_Release_Job_Status_Screen</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>SPEN_JobReleaseMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Job is released successfully.</stringValue>
        </value>
    </constants>
    <constants>
        <name>SPEN_OpenLandInterestErrorMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Job cannot be released as land rights are still pending.</stringValue>
        </value>
    </constants>
    <constants>
        <name>SPEN_OpenLIPlanningErrorMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Job cannot be released as land right and planning are open.</stringValue>
        </value>
    </constants>
    <constants>
        <name>SPEN_OpenMIlestoneErrorMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Job cannot be released as milestones are still pending.</stringValue>
        </value>
    </constants>
    <constants>
        <name>SPEN_OpenMIlestoneLIErrorMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Job cannot be released as milestone and land rights are still pending.</stringValue>
        </value>
    </constants>
    <constants>
        <name>SPEN_OpenMilestoneLIPlanningErrorMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Job cannot be released as land rights,  milestones and planning are still pending.</stringValue>
        </value>
    </constants>
    <constants>
        <name>SPEN_OpenMIlestonePlanningErrorMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Job cannot be release as land milestones and planning are still pending.</stringValue>
        </value>
    </constants>
    <constants>
        <name>SPEN_OpenPlanningErrorMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Job cannot be released as planning are still pending.</stringValue>
        </value>
    </constants>
    <decisions>
        <name>SPEN_Can_Job_Released</name>
        <label>Can Job Released</label>
        <locationX>974</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Update_to_Job_Released</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_Has_Open_Milestone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_OpenMIlestoneID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SPEN_OpenLandInterestID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SPEN_OpenPlanningId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_Assign_MIlestone_Message</targetReference>
            </connector>
            <label>Has Open Milestone</label>
        </rules>
        <rules>
            <name>SPEN_Has_Open_Land_Interest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_OpenLandInterestID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SPEN_OpenMIlestoneID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SPEN_OpenPlanningId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_Assign_Land_Interest_Message</targetReference>
            </connector>
            <label>Has Open Land Interest</label>
        </rules>
        <rules>
            <name>SPEN_Has_Open_Planning</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_OpenPlanningId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SPEN_OpenLandInterestID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SPEN_OpenMIlestoneID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_Assign_Planning_Message</targetReference>
            </connector>
            <label>Has Open Planning</label>
        </rules>
        <rules>
            <name>SPEN_Has_Open_LI_And_Planning</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_OpenLandInterestID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SPEN_OpenPlanningId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SPEN_OpenMIlestoneID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_Assign_LI_Planning_Message</targetReference>
            </connector>
            <label>Has Open LI And Planning</label>
        </rules>
        <rules>
            <name>SPEN_Has_Open_Milestone_And_Planning</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_OpenMIlestoneID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SPEN_OpenPlanningId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SPEN_OpenLandInterestID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_Assign_MIlestone_PlanningMessage</targetReference>
            </connector>
            <label>Has Open Milestone And Planning</label>
        </rules>
        <rules>
            <name>SPEN_Has_Open_Milestone_And_LI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_OpenMIlestoneID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SPEN_OpenLandInterestID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SPEN_OpenPlanningId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_Assign_MIlestone_LI_Message</targetReference>
            </connector>
            <label>Has Open Milestone And LI</label>
        </rules>
        <rules>
            <name>SPEN_Has_Open_Milestone_Land_Interest_AND_Planning</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_OpenMIlestoneID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SPEN_OpenLandInterestID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SPEN_OpenPlanningId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_Assign_Milestone_LI_Planning_Message</targetReference>
            </connector>
            <label>Has Open Milestone Land Interest AND Planning</label>
        </rules>
    </decisions>
    <description>ESC-726: Job Release Date changes
        ESC-719: Bug override fix.
        ESC-1795: Update the flow logic for Job release.</description>
    <environments>Default</environments>
    <interviewLabel>SPEN Job Release Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SPEN Job Release Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>SPEN_getLandInt</name>
        <label>getLandInt</label>
        <locationX>974</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SPEN_getPlanning</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SPEN_ErrorFaultMessageScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SPEN_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_LIStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Consent Acquired</stringValue>
            </value>
        </filters>
        <filters>
            <field>SPEN_LIStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>SPEN_LIStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Legal Milestones Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>SPEN_LIStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Decision Received</stringValue>
            </value>
        </filters>
        <object>SPEN_Land_Interest__c</object>
        <outputAssignments>
            <assignToReference>SPEN_OpenLandInterestID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>SPEN_getMilestone</name>
        <label>getMilestone</label>
        <locationX>974</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SPEN_getLandInt</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SPEN_ErrorFaultMessageScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SPEN_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>SPEN_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <object>SPEN_Job_Milestone__c</object>
        <outputAssignments>
            <assignToReference>SPEN_OpenMIlestoneID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>SPEN_getPlanning</name>
        <label>getPlanning</label>
        <locationX>974</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SPEN_Can_Job_Released</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SPEN_ErrorFaultMessageScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SPEN_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>SPEN_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approved with Conditions</stringValue>
            </value>
        </filters>
        <filters>
            <field>SPEN_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>SPEN_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Refused</stringValue>
            </value>
        </filters>
        <object>SPEN_Planning__c</object>
        <outputAssignments>
            <assignToReference>SPEN_OpenPlanningId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_to_Job_Released</name>
        <label>Update to Job Released</label>
        <locationX>1898</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>SPEN_Assign_Job_Release_Message</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SPEN_ErrorFaultMessageScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_JobReleasedDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_JobReleasedDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_JobStatus__c</field>
            <value>
                <stringValue>Job Released</stringValue>
            </value>
        </inputAssignments>
        <object>SPEN_Job__c</object>
    </recordUpdates>
    <screens>
        <name>SPEN_ErrorFaultMessageScreen</name>
        <label>ErrorFaultMessageScreen</label>
        <locationX>2954</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SPEN_FaultMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Label.SPEN_ErrorHandlingMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SPEN_Release_Job_Status_Screen</name>
        <label>Release Job Status Screen</label>
        <locationX>974</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SPEN_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;{!SPEN_ShowMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SPEN_getMilestone</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SPEN_OpenLandInterestID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SPEN_OpenMIlestoneID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SPEN_OpenPlanningId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SPEN_ShowMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
