force-app/main/default/flows/SPEN_PlotsToBeDeleted.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_To_No_Supply_Collection</name>
        <label>Add To No Supply Collection</label>
        <locationX>666</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>noSupplyCodePlotsIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Check_Each_Plot</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Each_Plot</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Update_Plots</name>
        <label>Add To Update Plots</label>
        <locationX>402</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>storeSupplyPlots</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Check_Each_Plot</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Each_Plot</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status_To_Delete</name>
        <label>Update Status To Delete</label>
        <locationX>402</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Check_Each_Plot.SPEN_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>To be delete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Update_Plots</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_For_Supply_Point_Codes</name>
        <label>Check For Supply Point Codes</label>
        <locationX>666</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Check_Each_Plot</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Having_Supply_Point_Code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Each_Plot.SPEN_SupplyPointCode__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_To_Delete</targetReference>
            </connector>
            <label>Having Supply Point Code</label>
        </rules>
        <rules>
            <name>No_Supply_Point_Code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Each_Plot.SPEN_SupplyPointCode__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_To_No_Supply_Collection</targetReference>
            </connector>
            <label>No Supply Point Code</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_No_Supply_Code</name>
        <label>Is No Supply Code</label>
        <locationX>314</locationX>
        <locationY>1598</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delete_Plots</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>noSupplyCodePlotsIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_Delete_Plots</targetReference>
            </connector>
            <label>Delete Plots</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Supply_Plots_there</name>
        <label>Is Supply Plots there?</label>
        <locationX>314</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Is_No_Supply_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Plots</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>storeSupplyPlots</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Plot_Records</targetReference>
            </connector>
            <label>Update Plots</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_DeleteYesorNo</name>
        <label>Delete Yes or No</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_SelectToggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Each_Plot</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_SelectToggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SPEN_PlotsToBeDeleted {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Plots To Be Deleted</label>
    <loops>
        <name>Check_Each_Plot</name>
        <label>Check Each Plot</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <collectionReference>SPEN_GetPlotRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_For_Supply_Point_Codes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Supply_Plots_there</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>SPEN_Delete_Plots</name>
        <label>Delete Plots</label>
        <locationX>50</locationX>
        <locationY>1706</locationY>
        <faultConnector>
            <targetReference>Error_message</targetReference>
        </faultConnector>
        <inputReference>noSupplyCodePlotsIds</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>SPEN_GetPlotRecords</name>
        <label>getPlotRecords</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SPEN_ConfirmationWindow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SPEN_Plot__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>SPEN_PlotNumber__c</queriedFields>
        <queriedFields>SPEN_SupplyPointCode__c</queriedFields>
        <queriedFields>SPEN_Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Plot_Records</name>
        <label>Update Plot Records</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Is_No_Supply_Code</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Error_message</targetReference>
        </faultConnector>
        <inputReference>storeSupplyPlots</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Error_message</name>
        <label>Error message</label>
        <locationX>314</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(238, 36, 5);&quot;&gt;There is an error occurred in the flow.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(228, 20, 37);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Error_message</name>
        <label>Fault Error message</label>
        <locationX>314</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Validation_error</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(238, 36, 5);&quot;&gt;There is an error occurred in the flow.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(228, 20, 37);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SPEN_ConfirmationWindow</name>
        <label>Confirmation Window</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SPEN_DeleteYesorNo</targetReference>
        </connector>
        <fields>
            <name>SPEN_SelectToggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Do you want to continue?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SPEN_PlotDataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>SPEN_Plot__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Plot Details</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>SPEN_GetPlotRecords</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-a6ac&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Plot Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;SPEN_PlotNumber__c&quot;,&quot;guid&quot;:&quot;column-a30b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Plot Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;SPEN_SupplyPointCode__c&quot;,&quot;guid&quot;:&quot;column-eecf&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Supply Point Code&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;SPEN_Status__c&quot;,&quot;guid&quot;:&quot;column-4f27&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Proceed</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SPEN_GetPlotRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>noSupplyCodePlotsIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SPEN_Plot__c</objectType>
    </variables>
    <variables>
        <name>storeSupplyPlots</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SPEN_Plot__c</objectType>
    </variables>
</Flow>
