force-app/main/default/flows/SPEN_UpdateOwnerofCaseUsingCaseInformation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <constants>
        <name>SPD_Value</name>
        <dataType>String</dataType>
        <value>
            <stringValue>SPD</stringValue>
        </value>
    </constants>
    <constants>
        <name>SPMValue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>SPM</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Job_Status</name>
        <label>Check Job Status</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Job_Status_Include_These_Values</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5) AND (6 OR 7) AND 8</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_JobStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject: Incomplete contact details</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_JobStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject: Out of Area / unknown postcode</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_JobStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject: Duplicate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_JobStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In flight job (CAT-A or CAT-B)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_JobStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MEX completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Location_Value.SPEN_SPD_SPM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SPD_Value</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Location_Value.SPEN_SPD_SPM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SPMValue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Location_Value.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_SmartInterventions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GE_SMOPS_Queues</targetReference>
            </connector>
            <label>Job Status Include These Values With Location SPM/SPD</label>
        </rules>
        <rules>
            <name>Job_Status_Does_t_Include_These_Values_With_Location_SPD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_JobStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Reject: Incomplete contact details</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_JobStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Reject: Out of Area / unknown postcode</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_JobStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Reject: Duplicate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_JobStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>In flight job (CAT-A or CAT-B)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_JobStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MEX completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Location_Value.SPEN_SPD_SPM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SPD_Value</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GE_SPD_Licence_Smart_Queues</targetReference>
            </connector>
            <label>Job Status Does&apos;t Include These Values With Location SPD</label>
        </rules>
        <rules>
            <name>Job_Status_Does_t_Include_These_Values_With_Location_SPM</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_JobStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Reject: Incomplete contact details</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_JobStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Reject: Out of Area / unknown postcode</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_JobStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Reject: Duplicate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_JobStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>In flight job (CAT-A or CAT-B)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_JobStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MEX completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Location_Value.SPEN_SPD_SPM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SPMValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GE_SPM_Licence_Smart_Queues</targetReference>
            </connector>
            <label>Job Status Does&apos;t Include These Values With Location SPM</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Owner of Case Using Case Information {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SPEN Update Owner of Case Using Case Information</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GE_SMOPS_Queues</name>
        <label>GE SMOPS Queues</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_GESMOPS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GE_SPD_Licence_Smart_Queues</name>
        <label>GE SPD Licence - Smart Queues</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_Owner_for_SPD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_GESPDLicenceSmart</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GE_SPM_Licence_Smart_Queues</name>
        <label>GE SPM Licence - Smart Queues</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_Owner_for_SPM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_GESPMLicenceSmart</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Location_Value</name>
        <label>Get Case Location Value</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Job_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SPEN_Primary_Case_Information__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Owner</name>
        <label>Update Case Owner</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GE_SMOPS_Queues.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Primary_Case_Information_of_Case__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Case Owner for SPD Location Type</description>
        <name>Update_Case_Owner_for_SPD</name>
        <label>Update Case Owner for SPD</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GE_SPD_Licence_Smart_Queues.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Primary_Case_Information_of_Case__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Case Owner for SPM</description>
        <name>Update_Case_Owner_for_SPM</name>
        <label>Update Case Owner for SPM</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GE_SPM_Licence_Smart_Queues.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Primary_Case_Information_of_Case__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Location_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SPEN_JobStatus__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SPEN_CaseInformation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
