force-app/main/default/flows/SPEN_Send_Voice_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <dynamicChoiceSets>
        <name>SPEN_GetTemplates</name>
        <collectionReference>SPEN_GetAllTemplates</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>SPEN_IVRMessage__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Send Voice Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Voice Alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetRecordTypeIdIvrMessage</name>
        <label>GetRecordTypeIdIvrMessage</label>
        <locationX>788</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SPEN_GetAllTemplates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_VoiceAlert</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_IVRMessage__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SPEN_GetAllTemplates</name>
        <label>Get All Templates</label>
        <locationX>790</locationX>
        <locationY>217</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SPEN_TemplateSelection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRecordTypeIdIvrMessage.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Blank Voice Alert</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SPEN_IVRMessage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SPEN_SelectedTemplate</name>
        <label>Selected Template</label>
        <locationX>170</locationX>
        <locationY>217</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SPEN_DisplayTemplate1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SPEN_GetTemplates</elementReference>
            </value>
        </filters>
        <object>SPEN_IVRMessage__c</object>
        <outputAssignments>
            <assignToReference>SPEN_Selected_VoiceAlert_Template</assignToReference>
            <field>SPEN_IVRMessage__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>It is use to update the template</description>
        <name>SPEN_UpdateTemplate</name>
        <label>Update Template</label>
        <locationX>480</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>SPEN_Send_Voice_Alerts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Blank Voice Alert</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_IVRMessage__c</field>
            <value>
                <elementReference>SPEN_DisplayTemplate</elementReference>
            </value>
        </inputAssignments>
        <object>SPEN_IVRMessage__c</object>
    </recordUpdates>
    <screens>
        <name>SPEN_DisplayTemplate1</name>
        <label>Display Template</label>
        <locationX>169</locationX>
        <locationY>399</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SPEN_UpdateTemplate</targetReference>
        </connector>
        <fields>
            <name>SPEN_DisplayTemplate</name>
            <defaultValue>
                <stringValue>{!SPEN_Selected_VoiceAlert_Template}</stringValue>
            </defaultValue>
            <fieldText>Display Template</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SPEN_FinishStep</name>
        <label>Finish Step</label>
        <locationX>805</locationX>
        <locationY>546</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SPEN_Finish</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SPEN_Final</elementReference>
            </defaultValue>
            <fieldText>Finish</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SPEN_Send_Voice_Alerts</name>
        <label>Send Voice Alerts</label>
        <locationX>805</locationX>
        <locationY>397</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SPEN_FinishStep</targetReference>
        </connector>
        <fields>
            <name>sendVoiceAlert</name>
            <extensionName>c:sPEN_SendVoiceAlert</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordIds</name>
                <value>
                    <elementReference>ids</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>template</name>
                <value>
                    <elementReference>FinalTemplateValue</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SPEN_ScheduleSendVoiceAlert</name>
            <extensionName>c:sPEN_ScheduleSendVoiceAlert</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordIds</name>
                <value>
                    <elementReference>ids</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>template</name>
                <value>
                    <elementReference>FinalTemplateValue</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SPEN_TemplateSelection</name>
        <label>Template Selection</label>
        <locationX>482</locationX>
        <locationY>217</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SPEN_SelectedTemplate</targetReference>
        </connector>
        <fields>
            <name>SPEN_ChooseVoiceAlertMessageTemplate</name>
            <choiceReferences>SPEN_GetTemplates</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Voice Alert Message Template</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetRecordTypeIdIvrMessage</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>SPEN_Final</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Voice alert has been sent&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>FinalTemplateValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>SPEN_DisplayTemplate</elementReference>
        </value>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SPEN_DateFromFlow</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SPEN_Selected_VoiceAlert_Template</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
