force-app/main/default/flows/SPEN_BulkPlotCreation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Create_Plot_Records</name>
        <label>Create Plot Records</label>
        <locationX>1766</locationX>
        <locationY>674</locationY>
        <actionName>Cases</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success_or_Failure</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>plotLists</name>
            <value>
                <elementReference>plotVar</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Cases</nameSegment>
        <outputParameters>
            <assignToReference>resultOutcome</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Odd_Even_Plot_Record_To_Collection</name>
        <label>Add Odd/Even Plot Record To Collection</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>plotVarList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>plotVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subtract_Added_Odd_Even_Plot_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_Odd_Even_Plot_Record</name>
        <label>Assign Single Odd/Even Plot Record</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>plotVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plotVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>plotVar.SPEN_CaseRecord__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>plotVar.SPEN_StreetName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>streetField</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>plotVar.SPEN_TownCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>townField</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>plotVar.SPEN_County__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>countyField</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>plotVar.SPEN_PostCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>postcodeField</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>plotVar.SPEN_MaxPowerkVA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>maxPowerField</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>plotVar.SPEN_MeteringPointClass__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mpClassField</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>plotVar.SPEN_MeteringPointProfile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mpProfileField</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>plotVar.SPEN_Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phaseField</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>plotVar.SPEN_Earth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>earthField</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>plotVar.SPEN_HeatingMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>heatingTypeDescription.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>plotVar.SPEN_PlotNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plotNameForOddEven</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>plotVar.SPEN_HeatingTypeDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>heatingTypeDescription.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>plotVar.SPEN_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GB</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>plotVar.SPEN_IDREQTOBEDISCON__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SPEN_IDREQTOBEDISCONF</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Odd_Even_Plot_Record_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_Plot_Record</name>
        <label>Assign Single Plot Record</label>
        <locationX>1766</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>plotVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plotVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>plotVar.SPEN_StreetName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>streetField</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>plotVar.SPEN_TownCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>townField</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>plotVar.SPEN_County__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>countyField</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>plotVar.SPEN_PostCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>postcodeField</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>plotVar.SPEN_MaxPowerkVA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>maxPowerField</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>plotVar.SPEN_MeteringPointClass__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mpClassField</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>plotVar.SPEN_MeteringPointProfile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mpProfileField</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>plotVar.SPEN_Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phaseField</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>plotVar.SPEN_Earth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>earthField</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>plotVar.SPEN_HeatingMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>heatingTypeDescription.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>plotVar.SPEN_PlotNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prefix_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>plotVar.SPEN_HeatingTypeDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>heatingTypeDescription.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>plotVar.SPEN_CaseRecord__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>plotVar.SPEN_FirstinRange__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_in_Range</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>plotVar.SPEN_LastinRange__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_in_Range</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>plotVar.SPEN_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GB</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>plotVar.SPEN_IDREQTOBEDISCON__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SPEN_IDREQTOBEDISCONF</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Plot_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Subtract_Added_Odd_Even_Plot_Records</name>
        <label>Subtract Added Odd/Even Plot Records</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>currentNoOfPlotsOddEven</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>plotNumberHoldOddEven</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Odd_Even_Plot_Records_To_Create</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>All</name>
        <choiceText>All</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>All</stringValue>
        </value>
    </choices>
    <choices>
        <name>Even</name>
        <choiceText>Even</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Even</stringValue>
        </value>
    </choices>
    <choices>
        <name>Odd</name>
        <choiceText>Odd</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Odd</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Number_Input</name>
        <label>Check Number Input</label>
        <locationX>1436</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Is_Odd_or_Even</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>NumberDetails</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Odd</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NumberDetails</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Even</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Odd_Even_Plot_Records_To_Create</targetReference>
            </connector>
            <label>Is Odd or Even?</label>
        </rules>
        <rules>
            <name>Is_All</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberDetails</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>All</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Single_Plot_Record</targetReference>
            </connector>
            <label>Is All?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Error1</name>
        <label>Error1</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Default_Error_Result</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FaultMessage1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Please ensure the Heating Type matches the Company ID</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Result</targetReference>
            </connector>
            <label>FaultMessage1</label>
        </rules>
        <rules>
            <name>FaultMessage2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Please ensure the Heating Type matches the Customer Class</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Result2</targetReference>
            </connector>
            <label>FaultMessage2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Odd_Even_Plot_Records_To_Create</name>
        <label>Odd/Even Plot Records To Create</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>If_Odd_Even_Plot_Number_is_more_than_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentNoOfPlotsOddEven</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>plotNumberHoldOddEven</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Last_in_Range</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Single_Odd_Even_Plot_Record</targetReference>
            </connector>
            <label>If Odd/Even Plot Number is more than 1</label>
        </rules>
        <rules>
            <name>If_Odd_Even_Plot_Number_is_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>currentNoOfPlotsOddEven</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>plotNumberHoldOddEven</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Last_in_Range</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Odd_Even_Plot_Records_0</targetReference>
            </connector>
            <label>If Odd/Even Plot Number is 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Success_or_Failure</name>
        <label>Success or Failure</label>
        <locationX>1766</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>resultOutcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Result_Screen</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <description>CRMD-5960: Screen Flow for Bulk Plot Creation
CRMD-10709</description>
    <dynamicChoiceSets>
        <name>countyValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SPEN_County__c</picklistField>
        <picklistObject>SPEN_Plot__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>earthValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SPEN_Earth__c</picklistField>
        <picklistObject>SPEN_Plot__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IdReqChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SPEN_IDREQTOBEDISCON__c</picklistField>
        <picklistObject>SPEN_Plot__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>mpClassValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SPEN_MeteringPointClass__c</picklistField>
        <picklistObject>SPEN_Plot__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>mpProfileValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SPEN_MeteringPointProfile__c</picklistField>
        <picklistObject>SPEN_Plot__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>phaseValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SPEN_Phase__c</picklistField>
        <picklistObject>SPEN_Plot__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>firstNumberIncrement</name>
        <dataType>Number</dataType>
        <expression>IF(AND({!isFirstNumberODD} = &quot;Yes&quot;,{!NumberDetails} = &quot;Odd&quot;), {!First_in_Range},
IF(AND({!isFirstNumberODD} = &quot;Yes&quot;,{!NumberDetails} = &quot;Even&quot;), {!First_in_Range}+1,
IF(AND({!isFirstNumberODD} = &quot;No&quot;,{!NumberDetails} = &quot;Odd&quot;), {!First_in_Range}+1,
IF(AND({!isFirstNumberODD} = &quot;No&quot;,{!NumberDetails} = &quot;Even&quot;), {!First_in_Range},Null))))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>isFirstNumberODD</name>
        <dataType>String</dataType>
        <expression>IF(MOD({!First_in_Range},2) &lt;&gt; 0, &quot;Yes&quot;,&quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>isLastNumberODD</name>
        <dataType>String</dataType>
        <expression>IF(MOD({!Last_in_Range},2) &lt;&gt; 0, &quot;Yes&quot;,&quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>lastNumberIncrement</name>
        <dataType>Number</dataType>
        <expression>IF(AND({!isLastNumberODD} = &quot;Yes&quot;,{!NumberDetails} = &quot;Odd&quot;), {!Last_in_Range},
IF(AND({!isLastNumberODD} = &quot;Yes&quot;,{!NumberDetails} = &quot;Even&quot;), {!Last_in_Range}+1,
IF(AND({!isLastNumberODD} = &quot;No&quot;,{!NumberDetails} = &quot;Odd&quot;), {!Last_in_Range}+1,
IF(AND({!isLastNumberODD} = &quot;No&quot;,{!NumberDetails} = &quot;Even&quot;), {!Last_in_Range},Null))))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>numOfPlot</name>
        <dataType>Number</dataType>
        <expression>({!Last_in_Range} - {!First_in_Range}) + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>numOfPlotRangeOddEven</name>
        <dataType>Number</dataType>
        <expression>((({!lastNumberIncrement} - {!firstNumberIncrement})/2)) + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>plotNameForOddEven</name>
        <dataType>String</dataType>
        <expression>{!Prefix_Value} &amp; &apos; &apos; &amp; TEXT({!plotNumberHoldOddEven})</expression>
    </formulas>
    <formulas>
        <name>plotNameGeneration</name>
        <dataType>String</dataType>
        <expression>{!Prefix_Value} &amp; &apos; &apos; &amp; TEXT({!plotNumberHoldAll})</expression>
    </formulas>
    <formulas>
        <name>totalODDEVENCreated</name>
        <dataType>Number</dataType>
        <expression>{!numOfPlotRangeOddEven} - {!currentNoOfPlotsOddEven}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Bulk Plot Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bulk Plot Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Odd_Even_Plot_Records_0</name>
        <label>Create Odd/Even Plot Records</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>plotResultOddEven</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error1</targetReference>
        </faultConnector>
        <inputReference>plotVarList</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get Case Record on which plots are going to be created</description>
        <name>Get_Related_Case_Record</name>
        <label>Get Related Case Record</label>
        <locationX>1436</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Plot_Volumes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Default_Error_Result</name>
        <label>Default Error Result</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_errorOddEven</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(238, 36, 5);&quot;&gt;There is an error occurred in the flow.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(238, 36, 5);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Result</name>
        <label>Error Result</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorOddEven</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(238, 36, 5); background-color: rgb(255, 255, 255);&quot;&gt;Please ensure the Heating Type matches the Company ID&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Result2</name>
        <label>Error Result2</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_errorOddEven</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(238, 36, 5);&quot;&gt;Please ensure the Heating Type matches the Customer Class&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1898</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(238, 36, 5);&quot;&gt;{!resultOutcome}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>resultOutcome</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Success</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Plot_Details_Form</name>
        <label>Plot Details Form</label>
        <locationX>1436</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Number_Input</targetReference>
        </connector>
        <fields>
            <name>Plot_Details</name>
            <fieldText>Plot Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Plot_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>plotVar.SPEN_BuildingCode__c</objectFieldReference>
                </fields>
                <fields>
                    <name>streetField</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Related_Case_Record.SPEN_SiteContactStreet__c</elementReference>
                    </defaultValue>
                    <fieldText>Street Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Street Name cannot be more than 60 characters.&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!streetField}) &lt; 60</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>townField</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Related_Case_Record.SPEN_SiteContactTownCity__c</elementReference>
                    </defaultValue>
                    <fieldText>Town/City</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Town cannot be more than 60 characters.&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!townField}) &lt; 60</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>countyField</name>
                    <choiceReferences>countyValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Related_Case_Record.SPEN_SiteContactCounty__c</elementReference>
                    </defaultValue>
                    <fieldText>County</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>postcodeField</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Related_Case_Record.SPEN_SiteContactPostCode__c</elementReference>
                    </defaultValue>
                    <fieldText>Post Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Post Code cannot be more than 10 characters.&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!postcodeField}) &lt; 10</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>plotVar.SPEN_PropertyType__c</objectFieldReference>
                </fields>
                <fields>
                    <name>maxPowerField</name>
                    <dataType>Number</dataType>
                    <fieldText>Max Power(kVA)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(228, 13, 13);&quot;&gt;Please enter Max Power with 2 decimal places&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression> Regex(Text( {!maxPowerField}), &quot;^-?(?:[0-9]+|[0-9]*\\.[0-9]{1,2})$&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Plot_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>mpClassField</name>
                    <choiceReferences>mpClassValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>PS-UPUNTSUM</stringValue>
                    </defaultValue>
                    <fieldText>Metering Point Class</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>mpProfileField</name>
                    <choiceReferences>mpProfileValues</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Metering Point Profile</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>phaseField</name>
                    <choiceReferences>phaseValues</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Phase</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>earthField</name>
                    <choiceReferences>earthValues</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Earth</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>heatingTypeDescription</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>SPEN_Plot__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>SPEN_HeatingMethod__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>SPEN_HeatingTypeDescription__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>Heating Type Description</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Heating Method</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>SPEN_IDREQTOBEDISCONF</name>
                    <choiceReferences>IdReqChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Null</stringValue>
                    </defaultValue>
                    <fieldText>ID REQ TO BE DISCON</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>heatingTypeGuide</name>
            <fieldText>Heating Type Selection Guide</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>heatingTypeGuide_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>caseDetailsLegend</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Company ID:&lt;/strong&gt; {!Get_Related_Case_Record.SPEN_CompanyID__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Customer Class: &lt;/strong&gt;{!Get_Related_Case_Record.SPEN_CustomerClass__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>heatingTypeGuide_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>legendsDetails</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Case Legends:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;SPD:&lt;/strong&gt; SP Distribution , &lt;strong&gt;SPM:&lt;/strong&gt; SP Manweb, &lt;strong&gt;DO&lt;/strong&gt;: Domestic ,&lt;strong&gt;CO:&lt;/strong&gt; Commercial, &lt;strong&gt;MX:&lt;/strong&gt; Mixed&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>heatingTypeGuide_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>heatingLegendsExt</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Heating Type Legends:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;1:&lt;/strong&gt; Electric Heating, &lt;strong&gt;2:&lt;/strong&gt; No Heating, &lt;strong&gt;3:&lt;/strong&gt; Non-Electric Heating&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>heatingGuide</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 42, 1);&quot;&gt;Please follow below instructions while choosing heating method and corresponding heating type description:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;For Example:&lt;/p&gt;&lt;p&gt;If Company Id is SPD, Customer Class is DO (Domestic) and heating method selected as Electric Heating (1), then please choose one of the following values which contains suffix as SPD-DO-1:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(92, 128, 77);&quot;&gt;Dom Two rate WHITE METER 1,Credit NHH-SPD-DO/MX-1  &lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(92, 128, 77);&quot;&gt;Dom Unrestricted single rate credit NHH-SPD-DO/MX-1&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;If Company Id is SPM, Customer Class is MX (Mixed) or CO (Commercial) and heating method selected as No Heating (2), then please choose one of the following values which contains suffix as SPM-CO/MX-2:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(92, 128, 77);&quot;&gt;EHV-SiteSpecific-Form Req-SPD/SPM-DO/CO/MX-2&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(92, 128, 77);&quot;&gt;HH CT Metered HV Net Import-SPM-CO/MX-2&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Plot_Disturbing_Load</name>
            <fieldText>Plot Disturbing Load</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Plot_Disturbing_Load_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>plotVar.SPEN_BusinessType__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>plotVar.SPEN_BusinessTypeOther__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>plotVar.SPEN_NoofBedrooms__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>plotVar.SPEN_EVChargingType__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Plot_Disturbing_Load_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>plotVar.SPEN_EVChargerQuantity__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>plotVar.SPEN_EVtoGrid__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>plotVar.SPEN_DisturbingLoadSummary__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>plotVar.SPEN_DisturbinglLoadkw__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Plot_Generation_Load</name>
            <fieldText>Plot Generation Load</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Plot_Generation_Load_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>plotVar.SPEN_TechnologyType__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>plotVar.SPEN_EnergySource__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Plot_Generation_Load_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>plotVar.SPEN_GenerationRatingkW__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>plotVar.SPEN_CombinedHeatandPower__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Plot_Volumes</name>
        <label>Plot Volumes</label>
        <locationX>1436</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Plot_Details_Form</targetReference>
        </connector>
        <fields>
            <name>Plot_Numbers</name>
            <fieldText>Plot Numbers</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Plot_Numbers_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_in_Range</name>
                    <dataType>Number</dataType>
                    <fieldText>First in Range</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>NumberDetails</name>
                    <choiceReferences>Odd</choiceReferences>
                    <choiceReferences>Even</choiceReferences>
                    <choiceReferences>All</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Number</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Plot_Numbers_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Last_in_Range</name>
                    <dataType>Number</dataType>
                    <fieldText>Last in Range</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Prefix_Value</name>
                    <dataType>String</dataType>
                    <fieldText>Prefix</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Prefix cannot be more than 4 characters in length.&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Prefix_Value}) &lt;= 4</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>plotResultOddEven</name>
        <label>Plot Result</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ResultScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(64, 179, 11);&quot;&gt;{!totalODDEVENCreated} Plots has been created successfully.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Result_Screen</name>
        <label>Result Screen</label>
        <locationX>1634</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(73, 182, 26);&quot;&gt;{!numOfPlot} Plots are created Successfully.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>resultOutcome</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Success</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1310</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Case_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentNoOfPlots</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>numOfPlot</elementReference>
        </value>
    </variables>
    <variables>
        <name>currentNoOfPlotsOddEven</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>numOfPlotRangeOddEven</elementReference>
        </value>
    </variables>
    <variables>
        <name>plotNumberHoldAll</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>First_in_Range</elementReference>
        </value>
    </variables>
    <variables>
        <name>plotNumberHoldOddEven</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>firstNumberIncrement</elementReference>
        </value>
    </variables>
    <variables>
        <name>plotVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SPEN_Plot__c</objectType>
    </variables>
    <variables>
        <description>It will hold all plot record values.</description>
        <name>plotVarList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SPEN_Plot__c</objectType>
    </variables>
    <variables>
        <name>resultOutcome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
