force-app/main/default/flows/SPEN_Compliance_Stores_Product_Onboarding.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_to_Final_Matching_Serialised_Products</name>
        <label>Add to Final Matching Serialised Products</label>
        <locationX>3922</locationX>
        <locationY>5090</locationY>
        <assignmentItems>
            <assignToReference>finalMatchingSerialisedProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assigned_matching_serialised_product</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newENIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Energy_Networks_ID_Matching_Details</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>More_Matching_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Matching_Serialised_Product_Id_Collection</name>
        <label>Add to Matching Serialised Product Id Collection</label>
        <locationX>4186</locationX>
        <locationY>5522</locationY>
        <assignmentItems>
            <assignToReference>matchingSerialisedProductIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Final_Matching_Serialised_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Final_Matching_Serialised_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the created Serialised Product to record collection.</description>
        <name>Add_to_Record_Collection</name>
        <label>Add to Record Collection</label>
        <locationX>4164</locationX>
        <locationY>4226</locationY>
        <assignmentItems>
            <assignToReference>finalCreatedSerialisedProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Serialised_Product_Details</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newENIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Energy_Networks_ID_Entry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmation_Creation_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns true to the competent user only checkbox variable.</description>
        <name>Assign_Competent_Checkbox</name>
        <label>Assign Competent Checkbox</label>
        <locationX>2833</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>competentUserOnlyCheckbox</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Additional_Product_Creation_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the true/false values that user selected for safety check dates on the Product creation.</description>
        <name>Assign_Final_Compliance_Information</name>
        <label>Assign Final Compliance Information</label>
        <locationX>3097</locationX>
        <locationY>2462</locationY>
        <assignmentItems>
            <assignToReference>finalCalibrationDueCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calibration_Checkbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>finalServiceDueCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Checkbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>finalReplacementDateCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Replacement_Checkbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>finalInsuranceInspectionDueCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Insurance_Inspection_Checkbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>finalDoNotUseAfterCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_Not_Use_After_Checkbox</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Final_Product_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the Id of the updated record to the final Product Id record.</description>
        <name>Assign_Id_to_finalProductId_variable</name>
        <label>Assign Id to finalProductId variable</label>
        <locationX>1953</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>finalProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>finalDoNotUseAfterCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_Not_Use_After_Checkbox_Update</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>finalCalibrationDueCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calibration_Checkbox_Update</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>finalServiceDueCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Checkbox_Update</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>finalReplacementDateCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Replacement_Checkbox_Update</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>finalInsuranceInspectionDueCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Insurance_Inspection_Checkbox_Update</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Final_Product_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Matching_Serialised_Product_Details</name>
        <label>Assign Matching Serialised Product Details</label>
        <locationX>3922</locationX>
        <locationY>4982</locationY>
        <assignmentItems>
            <assignToReference>assigned_matching_serialised_product.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentLocationOwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_matching_serialised_product.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Final_Product_Details.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_matching_serialised_product.ProductItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>finalProductItemId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_matching_serialised_product.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>serialisedProductRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_matching_serialised_product.SPEN_5kV_IR_Test__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>x5kV_IR_Test_Entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_matching_serialised_product.SPEN_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_matching_serialised_product.SPEN_Base_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Base_Location_Entry.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_matching_serialised_product.SPEN_Calibration_Due__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calibration_Due_Entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_matching_serialised_product.SPEN_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Equipment_Comments_Entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_matching_serialised_product.SPEN_Condition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Condition_Entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_matching_serialised_product.SPEN_Current_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentLocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_matching_serialised_product.SPEN_Do_Not_Use_After__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_Not_Use_After_Entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_matching_serialised_product.SPEN_Expected_Return_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expected_Return_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_matching_serialised_product.SPEN_Indication_Only__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Indication_Only</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_matching_serialised_product.SPEN_Insurance_Inspection_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Insurance_Inspection_By_Entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_matching_serialised_product.SPEN_Insurance_Inspection_Due__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Insurance_Inspection_Due</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_matching_serialised_product.SPEN_Item_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Item_Status_Entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_matching_serialised_product.SPEN_Last_Calibrated_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Calibrated_By_Entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_matching_serialised_product.SPEN_Last_Inspected_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Inspected_By_Entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_matching_serialised_product.SPEN_Last_Monthly_Audit_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Monthly_Audit_Entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_matching_serialised_product.SPEN_Last_Serviced_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Serviced_By_Entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_matching_serialised_product.SPEN_Manufacturer_Serial_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Manufacturer_Serial_No_Matching_Details</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_matching_serialised_product.SPEN_Multiset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Multiset_Checkbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_matching_serialised_product.SPEN_PAT_Test__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PAT_Test_Entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_matching_serialised_product.SPEN_Parent_Energy_Networks_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Parent_Energy_Networks_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_matching_serialised_product.SPEN_Replacement_Due__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Replacement_Due_Entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_matching_serialised_product.SPEN_SPD_SPM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>baseLocationSPDSPMCheck</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_matching_serialised_product.SPEN_Service_Due__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Due</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_matching_serialised_product.SerialNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Energy_Networks_ID_Matching_Details</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_matching_serialised_product.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_matching_serialised_product.SPEN_SPD_SPM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SPD_SPM_Picklist_Entry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Final_Matching_Serialised_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Final_Collection</name>
        <label>Assign to Final Collection</label>
        <locationX>4098</locationX>
        <locationY>5822</locationY>
        <assignmentItems>
            <assignToReference>finalCreatedSerialisedProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>foundMatchingSerialisedProducts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Confirmation_Creation_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns selection to recordId variable.</description>
        <name>Assign_to_recordId</name>
        <label>Assign to recordId</label>
        <locationX>3801</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FoundProductsDataTable.firstSelectedRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Product_Is_Active</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Resets the variable back to null for duplicate serial number.</description>
        <name>Reset_Serial_Number_Variable</name>
        <label>Reset Serial Number Variable</label>
        <locationX>3702</locationX>
        <locationY>4658</locationY>
        <assignmentItems>
            <assignToReference>duplicateSerialNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Serial_Number_Exists_Matching_Details</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Available</name>
        <choiceText>Available</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Available</stringValue>
        </value>
    </choices>
    <choices>
        <name>AwayForCalibration</name>
        <choiceText>Away For Calibration</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Away For Calibration</stringValue>
        </value>
    </choices>
    <choices>
        <name>AwayForRepair</name>
        <choiceText>Away For Repair</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Away For Repair</stringValue>
        </value>
    </choices>
    <choices>
        <name>BookedOut</name>
        <choiceText>Booked Out</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Booked Out</stringValue>
        </value>
    </choices>
    <choices>
        <name>QuarantineAwaitingCalibration</name>
        <choiceText>Quarantine - Awaiting Calibration</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quarantine - Awaiting Calibration</stringValue>
        </value>
    </choices>
    <choices>
        <name>QuarantineAwaitingInspection</name>
        <choiceText>Quarantine - Awaiting Inspection</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quarantine - Awaiting Inspection</stringValue>
        </value>
    </choices>
    <choices>
        <name>QuarantineAwaitingRepair</name>
        <choiceText>Quarantine - Awaiting Repair</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quarantine - Awaiting Repair</stringValue>
        </value>
    </choices>
    <choices>
        <name>spdChoice</name>
        <choiceText>SPD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SPD</stringValue>
        </value>
    </choices>
    <choices>
        <name>spmChoice</name>
        <choiceText>SPM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SPM</stringValue>
        </value>
    </choices>
    <choices>
        <name>Storage</name>
        <choiceText>Storage</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Storage</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Decision to see if user has confirmed to add additional Serialised Products.</description>
        <name>Add_More_Items_Check</name>
        <label>Add More Items Check</label>
        <locationX>4164</locationX>
        <locationY>4442</locationY>
        <defaultConnectorLabel>No Further Items Required</defaultConnectorLabel>
        <rules>
            <name>Matching_Details_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Matching_Details_Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Matching_Details_Entry_Screen</targetReference>
            </connector>
            <label>Matching Details Checkbox</label>
        </rules>
        <rules>
            <name>Additional_Items_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_More_Items_Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Add_Serialised_Product_Screen_New_Product</targetReference>
            </connector>
            <label>Additional Items Required</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks the current location entered is valid with the chosen item status.</description>
        <name>Check_Locations_Entered_are_Valid</name>
        <label>Check Locations Entered are Valid</label>
        <locationX>2767</locationX>
        <locationY>3386</locationY>
        <defaultConnector>
            <targetReference>Serialised_Product_Compliance_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Energy_Networks_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>duplicateSerialNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicate_Energy_Networks_ID_Screen</targetReference>
            </connector>
            <label>Duplicate Energy Networks Id</label>
        </rules>
        <rules>
            <name>Incorrect_Available_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Item_Status_Entry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Available</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Current_Location.selectedChoiceValues</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Base_Location_Entry.selectedChoiceValues</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incorrect_Available_Location_Screen</targetReference>
            </connector>
            <label>Incorrect Available Location</label>
        </rules>
        <rules>
            <name>Incorrect_Booked_Out_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Item_Status_Entry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BookedOut</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentLocationTypeCheck</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incorrect_Booked_Out_Location_Screen</targetReference>
            </connector>
            <label>Incorrect Booked Out Location</label>
        </rules>
        <rules>
            <name>Incorrect_Storage_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentLocationTypeCheck</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Storage</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Item_Status_Entry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Storage</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incorrect_Storage_Location_Screen</targetReference>
            </connector>
            <label>Incorrect Storage Location</label>
        </rules>
        <rules>
            <name>Quarantine_Not_Linked_to_Base</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>currentLocationParentId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Base_Location_Entry.selectedChoiceValues</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Item_Status_Entry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>QuarantineAwaitingInspection</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Item_Status_Entry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>QuarantineAwaitingCalibration</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Item_Status_Entry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>QuarantineAwaitingRepair</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incorrect_Base_Quarantine_Location</targetReference>
            </connector>
            <label>Quarantine Not Linked to Base</label>
        </rules>
        <rules>
            <name>IncorrectAwayLocation</name>
            <conditionLogic>NOT(3) AND (1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>Item_Status_Entry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AwayForCalibration</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Item_Status_Entry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AwayForRepair</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentLocationNameCheck</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>EXTERNAL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incorrect_Away_Location</targetReference>
            </connector>
            <label>Incorrect Away Location</label>
        </rules>
        <rules>
            <name>Quarantine_Location_Chosen</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>currentLocationQuarantineCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Item_Status_Entry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Available</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Item_Status_Entry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Away For Calibration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Item_Status_Entry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Away For Repair</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Item_Status_Entry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Booked Out</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incorrect_Quarantine_Location</targetReference>
            </connector>
            <label>Quarantine Location Chosen</label>
        </rules>
        <rules>
            <name>Non_Quarantine_Location_Chosen</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>currentLocationQuarantineCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Item_Status_Entry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quarantine - Awaiting Calibration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Item_Status_Entry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quarantine - Awaiting Repair</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Item_Status_Entry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quarantine - Awaiting Inspection</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incorrect_Non_Quarantine_Location</targetReference>
            </connector>
            <label>Non Quarantine Location Chosen</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks the Product user invoked the flow from is active.</description>
        <name>Check_Product_Is_Active</name>
        <label>Check Product Is Active</label>
        <locationX>1953</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Product_Inactive_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inactive</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Additional_Product_Update_Screen</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if duplicate Energy Network ID was found.</description>
        <name>Duplicate_ENID</name>
        <label>Duplicate ENID?</label>
        <locationX>3702</locationX>
        <locationY>4874</locationY>
        <defaultConnector>
            <targetReference>Assign_Matching_Serialised_Product_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New ENID</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Found_Matching_Details</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>duplicateSerialNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newENIDs</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Energy_Networks_ID_Matching_Details</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicate_Energy_Networks_ID_Matching_Details</targetReference>
            </connector>
            <label>Duplicate Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if user wants to add more matching items.</description>
        <name>More_Matching_Items</name>
        <label>More Matching Items?</label>
        <locationX>3922</locationX>
        <locationY>5198</locationY>
        <defaultConnector>
            <targetReference>Create_Serialised_Product_Matching_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Done</defaultConnectorLabel>
        <rules>
            <name>More_Matching</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_another_matching_item</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Matching_Details_Entry_Screen</targetReference>
            </connector>
            <label>More Matching</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if user did not select the Product and chose to create a new Product in the system.</description>
        <name>New_Product_Needed</name>
        <label>New Product Needed?</label>
        <locationX>3581</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>Incorrect_Selection_Following_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None Selected</defaultConnectorLabel>
        <rules>
            <name>Create_New_Product_Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_New_Product_Selection_Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FoundProductsDataTable.firstSelectedRow.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Basic_Product_Creation_Screen</targetReference>
            </connector>
            <label>Create New Product</label>
        </rules>
        <rules>
            <name>Create_New_Selected_Existing_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_New_Product_Selection_Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FoundProductsDataTable.firstSelectedRow.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dual_Selection_Screen</targetReference>
            </connector>
            <label>Create New &amp; Selected Existing Product</label>
        </rules>
        <rules>
            <name>Use_Existing_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_New_Product_Selection_Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FoundProductsDataTable.firstSelectedRow.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_recordId</targetReference>
            </connector>
            <label>Use Existing Product</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if all permission set Ids were located, and also if the user has a permission set assignment for any of the permission sets.</description>
        <name>Permission_Set_Assignment_Check</name>
        <label>Permission Set Assignment Check</label>
        <locationX>1408</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Quick_Action_or_Global_Action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Authorised</defaultConnectorLabel>
        <rules>
            <name>Missing_Permission_Set</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>complianceTeamPermissionSetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>siteManagerPermissionSetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missing_Permission_Sets_Screen</targetReference>
            </connector>
            <label>Missing Permission Set</label>
        </rules>
        <rules>
            <name>Missing_Product_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductRecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missing_Product_Record_Type_Screen</targetReference>
            </connector>
            <label>Missing Product Record Type</label>
        </rules>
        <rules>
            <name>Missing_Location_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>locationrecordtypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missing_Location_Record_Type_Screen</targetReference>
            </connector>
            <label>Missing Location Record Type</label>
        </rules>
        <rules>
            <name>Missing_Serialised_Product_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>serialisedProductRecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missing_Serialised_Product_Record_Type_Screen</targetReference>
            </connector>
            <label>Missing Serialised Product Record Type</label>
        </rules>
        <rules>
            <name>Missing_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>foundPermissionSetAssignmentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Failed_Permission_Set_Check_Screen</targetReference>
            </connector>
            <label>Missing Assignment</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks what category of product was entered in order to decide if the equipment is competent user only.</description>
        <name>Product_Category_Check</name>
        <label>Product Category Check</label>
        <locationX>3097</locationX>
        <locationY>1838</locationY>
        <defaultConnector>
            <targetReference>Additional_Product_Creation_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Authorised Category</defaultConnectorLabel>
        <rules>
            <name>Competent_Category</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Category_Entry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ancillary Equipment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Category_Entry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Earthing Devices</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Category_Entry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Test Prods</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Competent_Checkbox</targetReference>
            </connector>
            <label>Competent Category</label>
        </rules>
        <rules>
            <name>Competent_Category_Alternate</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>Competent_User_Only_Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Category_Entry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fuserod</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Category_Entry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ladder</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Category_Entry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lifting Equipment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Category_Entry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Miscellaneous</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Category_Entry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Portable Earth</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Category_Entry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Test Equipment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Category_Entry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working at Height</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_Competent_Checkbox</targetReference>
            </connector>
            <label>Competent Category Alternate</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if a Product Item was found to link to the Serialised Product.</description>
        <name>Product_Item_Found</name>
        <label>Product Item Found?</label>
        <locationX>4164</locationX>
        <locationY>3710</locationY>
        <defaultConnector>
            <targetReference>Create_Product_Item_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Product Item Found</defaultConnectorLabel>
        <rules>
            <name>Product_Item_Found_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>finalProductItemId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Serialised_Product</targetReference>
            </connector>
            <label>Product Item Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if the flow was invoked from a quick action or global action.</description>
        <name>Quick_Action_or_Global_Action</name>
        <label>Quick Action or Global Action?</label>
        <locationX>2767</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Search_Existing_Product_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Global Action</defaultConnectorLabel>
        <rules>
            <name>Quick_Action</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Product_Is_Active</targetReference>
            </connector>
            <label>Quick Action</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if user chose to re-activate.</description>
        <name>Reactivate</name>
        <label>Reactivate?</label>
        <locationX>2217</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Incorrect_Selection_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None Selected</defaultConnectorLabel>
        <rules>
            <name>Reactivate_Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reactivate_Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Create_New_Product_Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Additional_Product_Update_Screen</targetReference>
            </connector>
            <label>Reactivate</label>
        </rules>
        <rules>
            <name>Create_New_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_New_Product_Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Reactivate_Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Basic_Product_Creation_Screen</targetReference>
            </connector>
            <label>Create New Product</label>
        </rules>
        <rules>
            <name>Both_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_New_Product_Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Reactivate_Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incorrect_Selection_Screen</targetReference>
            </connector>
            <label>Both Selected</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if product name or manufacturer was left blank, amends search for products accordingly.</description>
        <name>Search_Decision</name>
        <label>Search Decision</label>
        <locationX>3581</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Get_Matching_Product_Records_Dual</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Dual Search</defaultConnectorLabel>
        <rules>
            <name>Product_Name_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductNameEntry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ManufacturerEntry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Matching_Product_Records_Product_Name_Only</targetReference>
            </connector>
            <label>Product Name Only</label>
        </rules>
        <rules>
            <name>Manufacturer_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductNameEntry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ManufacturerEntry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Matching_Product_Records_ManufacturerOnly</targetReference>
            </connector>
            <label>Manufacturer Only</label>
        </rules>
        <rules>
            <name>Nothing_Entered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductNameEntry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ManufacturerEntry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Product_Name_Manufacturer_Screen</targetReference>
            </connector>
            <label>Nothing Entered</label>
        </rules>
    </decisions>
    <description>Flow to allow users to onboard new Products/Serialised Products in a guided path, to be used with Compliance Stores solution.</description>
    <dynamicChoiceSets>
        <name>BaseLocationCollectionChoiceSet</name>
        <collectionReference>Get_Base_Location_Records</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Location</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ColourProductPicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SPEN_Colour__c</picklistField>
        <picklistObject>Product2</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>conditionSerialisedProductPicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SPEN_Condition__c</picklistField>
        <picklistObject>SerializedProduct</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>currentLocationCollectionChoiceSet</name>
        <collectionReference>Get_Current_Location_Records</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Location</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IndicationOnlySerialisedProductPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SPEN_Indication_Only__c</picklistField>
        <picklistObject>SerializedProduct</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProductCategoryChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SPEN_Category__c</picklistField>
        <picklistObject>Product2</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>ExpectedReturnDateValidation</name>
        <dataType>Boolean</dataType>
        <expression>{!Expected_Return_Date} &gt;= TODAY()</expression>
    </formulas>
    <formulas>
        <name>Running_User_ID_Return</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <interviewLabel>Compliance Stores - Product Onboarding {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Compliance Stores - Product Onboarding</label>
    <loops>
        <name>Loop_Final_Matching_Serialised_Products</name>
        <label>Loop Final Matching Serialised Products</label>
        <locationX>4098</locationX>
        <locationY>5414</locationY>
        <collectionReference>finalMatchingSerialisedProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Matching_Serialised_Product_Id_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Newly_Created_Serialised_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create Records to create a new Product using information entered by the User.</description>
        <name>Create_New_Product_Record</name>
        <label>Create New Product Record</label>
        <locationX>3097</locationX>
        <locationY>2354</locationY>
        <assignRecordIdToReference>finalProductId</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_Final_Compliance_Information</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description_Entry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsSerialized</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Product_Name_Entry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ProductRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Calibration__c</field>
            <value>
                <elementReference>Calibration_Checkbox</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Category__c</field>
            <value>
                <elementReference>Category_Entry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Colour__c</field>
            <value>
                <elementReference>Colour_Entry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Competent_User_Needed__c</field>
            <value>
                <elementReference>competentUserOnlyCheckbox</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Do_Not_Use_After__c</field>
            <value>
                <elementReference>Do_Not_Use_After_Checkbox</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Insurance_Inspection__c</field>
            <value>
                <elementReference>Insurance_Inspection_Checkbox</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Manufacturer__c</field>
            <value>
                <elementReference>Manufacturer_Entry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Model__c</field>
            <value>
                <elementReference>Model_Entry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Rating__c</field>
            <value>
                <elementReference>Rating_Entry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Replacement__c</field>
            <value>
                <elementReference>Replacement_Checkbox</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Safe_Working_Load__c</field>
            <value>
                <elementReference>Safe_Working_Load</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Service__c</field>
            <value>
                <elementReference>Service_Checkbox</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Type__c</field>
            <value>
                <elementReference>Type_Entry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Voltage__c</field>
            <value>
                <elementReference>Voltage_Entry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransferRecordMode</field>
            <value>
                <stringValue>ReceiveOnly</stringValue>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordCreates>
    <recordCreates>
        <description>Create Records to generate Product Item linked to chosen location/product.</description>
        <name>Create_Product_Item_Record</name>
        <label>Create Product Item Record</label>
        <locationX>4252</locationX>
        <locationY>3818</locationY>
        <assignRecordIdToReference>finalProductItemId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Serialised_Product</targetReference>
        </connector>
        <inputAssignments>
            <field>LocationId</field>
            <value>
                <elementReference>currentLocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>currentLocationOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>finalProductId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityOnHand</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityUnitOfMeasure</field>
            <value>
                <stringValue>Each</stringValue>
            </value>
        </inputAssignments>
        <object>ProductItem</object>
    </recordCreates>
    <recordCreates>
        <description>Create Records to generate Serialised Product record.</description>
        <name>Create_Serialised_Product</name>
        <label>Create Serialised Product</label>
        <locationX>4164</locationX>
        <locationY>4010</locationY>
        <connector>
            <targetReference>Get_Serialised_Product_Details</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>currentLocationOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Get_Final_Product_Details.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductItemId</field>
            <value>
                <elementReference>finalProductItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>serialisedProductRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_5kV_IR_Test__c</field>
            <value>
                <elementReference>x5kV_IR_Test_Entry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Base_Location__c</field>
            <value>
                <elementReference>Base_Location_Entry.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Calibration_Due__c</field>
            <value>
                <elementReference>Calibration_Due_Entry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Comments__c</field>
            <value>
                <elementReference>Equipment_Comments_Entry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Condition__c</field>
            <value>
                <elementReference>Condition_Entry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Current_Location__c</field>
            <value>
                <elementReference>currentLocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Do_Not_Use_After__c</field>
            <value>
                <elementReference>Do_Not_Use_After_Entry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Expected_Return_Date__c</field>
            <value>
                <elementReference>Expected_Return_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Indication_Only__c</field>
            <value>
                <elementReference>Indication_Only</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Insurance_Inspection_By__c</field>
            <value>
                <elementReference>Last_Insurance_Inspection_By_Entry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Insurance_Inspection_Due__c</field>
            <value>
                <elementReference>Insurance_Inspection_Due</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Item_Status__c</field>
            <value>
                <elementReference>Item_Status_Entry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Last_Calibrated_By__c</field>
            <value>
                <elementReference>Last_Calibrated_By_Entry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Last_Inspected_By__c</field>
            <value>
                <elementReference>Last_Inspected_By_Entry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Last_Monthly_Audit_Completed__c</field>
            <value>
                <elementReference>Last_Monthly_Audit_Entry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Last_Serviced_By__c</field>
            <value>
                <elementReference>Last_Serviced_By_Entry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Manufacturer_Serial_No__c</field>
            <value>
                <elementReference>Manufacturer_Serial_No</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Multiset__c</field>
            <value>
                <elementReference>Multiset_Checkbox</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_PAT_Test__c</field>
            <value>
                <elementReference>PAT_Test_Entry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Parent_Energy_Networks_ID__c</field>
            <value>
                <elementReference>Parent_Energy_Networks_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Replacement_Due__c</field>
            <value>
                <elementReference>Replacement_Due_Entry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_SPD_SPM__c</field>
            <value>
                <elementReference>SPD_SPM_Picklist_Entry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Service_Due__c</field>
            <value>
                <elementReference>Service_Due</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SerialNumber</field>
            <value>
                <elementReference>Energy_Networks_ID_Entry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </inputAssignments>
        <object>SerializedProduct</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create Records to generate Serialised Product record with matching details.</description>
        <name>Create_Serialised_Product_Matching_Details</name>
        <label>Create Serialised Product</label>
        <locationX>4098</locationX>
        <locationY>5306</locationY>
        <connector>
            <targetReference>Loop_Final_Matching_Serialised_Products</targetReference>
        </connector>
        <inputReference>finalMatchingSerialisedProducts</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get Records to check that no other Serialised Products for Compliance Stores already exists with the Energy Network ID.</description>
        <name>Check_If_Serial_Number_Exists</name>
        <label>Check If Serial Number Exists</label>
        <locationX>2767</locationX>
        <locationY>3278</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Locations_Entered_are_Valid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serialisedProductRecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SerialNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Energy_Networks_ID_Entry</elementReference>
            </value>
        </filters>
        <object>SerializedProduct</object>
        <outputAssignments>
            <assignToReference>duplicateSerialNumber</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Records to check that no other Serialised Products for Compliance Stores already exists with the Energy Network ID.</description>
        <name>Check_If_Serial_Number_Exists_Matching_Details</name>
        <label>Check If Serial Number Exists</label>
        <locationX>3702</locationX>
        <locationY>4766</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Duplicate_ENID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serialisedProductRecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SerialNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Energy_Networks_ID_Matching_Details</elementReference>
            </value>
        </filters>
        <object>SerializedProduct</object>
        <outputAssignments>
            <assignToReference>duplicateSerialNumber</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Records to see if Product Item exists for the Product/Owner/Location.</description>
        <name>Find_Product_Item</name>
        <label>Find Product Item</label>
        <locationX>4164</locationX>
        <locationY>3602</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Item_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>finalProductId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentLocationId</elementReference>
            </value>
        </filters>
        <object>ProductItem</object>
        <outputAssignments>
            <assignToReference>finalProductItemId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Records to find all base locations for user selection.</description>
        <name>Get_Base_Location_Records</name>
        <label>Get Base Location Records</label>
        <locationX>2767</locationX>
        <locationY>2846</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_Location_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>locationrecordtypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsInventoryLocation</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LocationType</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>User</stringValue>
            </value>
        </filters>
        <filters>
            <field>LocationType</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Quarantine</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Location</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the current location record as per user selection</description>
        <name>Get_Chosen_Current_Location_Record</name>
        <label>Get Chosen Current Location Record</label>
        <locationX>2767</locationX>
        <locationY>3170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Serial_Number_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Current_Location.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <object>Location</object>
        <outputAssignments>
            <assignToReference>currentLocationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>currentLocationTypeCheck</assignToReference>
            <field>LocationType</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>currentLocationNameCheck</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>currentLocationOwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>currentLocationParentId</assignToReference>
            <field>ParentLocationId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>currentLocationQuarantineCheck</assignToReference>
            <field>SPEN_Is_Quarantine_Location__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Records element to find Record Type of Location object for Compliance Stores.</description>
        <name>Get_Compliance_Stores_Location_Record_Type</name>
        <label>Get Compliance Stores Location Record Type</label>
        <locationX>1408</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Permission_Set_Assignment_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Location</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_Compliance_Stores</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>locationrecordtypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Compliance_Stores_Product_Record_Type</name>
        <label>Get Compliance Stores Product Record Type</label>
        <locationX>1408</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Compliance_Stores_Serialised_Product_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Product2</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_Compliance_Stores</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>ProductRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Records to find Serialised Product record type Id.</description>
        <name>Get_Compliance_Stores_Serialised_Product_Record_Type</name>
        <label>Get Compliance Stores Serialised Product Record Type</label>
        <locationX>1408</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Compliance_Stores_Location_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_Compliance_Stores</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SerializedProduct</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>serialisedProductRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Compliance_Team_Permission_Set_Id</name>
        <label>Get Compliance Team Permission Set Id</label>
        <locationX>1408</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Site_Manager_Permission_Set_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_Compliance_Stores_Compliance_Team</stringValue>
            </value>
        </filters>
        <object>PermissionSet</object>
        <outputAssignments>
            <assignToReference>complianceTeamPermissionSetId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Records to find all current locations for user selection.</description>
        <name>Get_Current_Location_Records</name>
        <label>Get Current Location Records</label>
        <locationX>2767</locationX>
        <locationY>2954</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Serialised_Product_Screen_New_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>locationrecordtypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsInventoryLocation</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Location</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Records to find final Product details to link to Serialised Product.</description>
        <name>Get_Final_Product_Details</name>
        <label>Get Final Product Details</label>
        <locationX>2767</locationX>
        <locationY>2738</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Base_Location_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>finalProductId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Matching_Product_Records_Dual</name>
        <label>Get Matching Product Records (Dual)</label>
        <locationX>3977</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Selection_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductRecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>ProductNameEntry</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Manufacturer__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>ManufacturerEntry</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>foundMatchingProducts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>SPEN_Manufacturer__c</queriedFields>
        <queriedFields>SPEN_Category__c</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>SPEN_Model__c</queriedFields>
        <queriedFields>SPEN_Type__c</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <queriedFields>SPEN_Rating__c</queriedFields>
        <queriedFields>SPEN_Voltage__c</queriedFields>
        <queriedFields>SPEN_Safe_Working_Load__c</queriedFields>
        <queriedFields>SPEN_Colour__c</queriedFields>
        <queriedFields>SPEN_Do_Not_Use_After__c</queriedFields>
        <queriedFields>SPEN_Calibration__c</queriedFields>
        <queriedFields>SPEN_Replacement__c</queriedFields>
        <queriedFields>SPEN_Insurance_Inspection__c</queriedFields>
        <queriedFields>SPEN_Service__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Matching_Product_Records_ManufacturerOnly</name>
        <label>Get Matching Product Records (Manufacturer Only)</label>
        <locationX>3449</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Selection_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductRecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Manufacturer__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>ManufacturerEntry</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>foundMatchingProducts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>SPEN_Manufacturer__c</queriedFields>
        <queriedFields>SPEN_Category__c</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>SPEN_Model__c</queriedFields>
        <queriedFields>SPEN_Type__c</queriedFields>
        <queriedFields>SPEN_Rating__c</queriedFields>
        <queriedFields>SPEN_Voltage__c</queriedFields>
        <queriedFields>SPEN_Safe_Working_Load__c</queriedFields>
        <queriedFields>SPEN_Colour__c</queriedFields>
        <queriedFields>SPEN_Do_Not_Use_After__c</queriedFields>
        <queriedFields>SPEN_Calibration__c</queriedFields>
        <queriedFields>SPEN_Service__c</queriedFields>
        <queriedFields>SPEN_Replacement__c</queriedFields>
        <queriedFields>SPEN_Insurance_Inspection__c</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Matching_Product_Records_Product_Name_Only</name>
        <label>Get Matching Product Records (Product Name Only)</label>
        <locationX>3185</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Selection_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductRecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>ProductNameEntry</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>foundMatchingProducts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>SPEN_Manufacturer__c</queriedFields>
        <queriedFields>SPEN_Category__c</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>SPEN_Type__c</queriedFields>
        <queriedFields>SPEN_Model__c</queriedFields>
        <queriedFields>SPEN_Rating__c</queriedFields>
        <queriedFields>SPEN_Voltage__c</queriedFields>
        <queriedFields>SPEN_Safe_Working_Load__c</queriedFields>
        <queriedFields>SPEN_Colour__c</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <queriedFields>SPEN_Do_Not_Use_After__c</queriedFields>
        <queriedFields>SPEN_Calibration__c</queriedFields>
        <queriedFields>SPEN_Service__c</queriedFields>
        <queriedFields>SPEN_Replacement__c</queriedFields>
        <queriedFields>SPEN_Insurance_Inspection__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Newly_Created_Serialised_Products</name>
        <label>Get Newly Created Serialised Products</label>
        <locationX>4098</locationX>
        <locationY>5714</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_Final_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>matchingSerialisedProductIds</elementReference>
            </value>
        </filters>
        <object>SerializedProduct</object>
        <outputReference>foundMatchingSerialisedProducts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SPEN_Energy_Networks_ID__c</queriedFields>
        <queriedFields>SPEN_Base_Location_Name__c</queriedFields>
        <queriedFields>SPEN_Location_Name__c</queriedFields>
        <sortField>SPEN_Energy_Networks_ID__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_Set_Assignment_Id</name>
        <label>Get Permission Set Assignment Id</label>
        <locationX>1408</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Compliance_Stores_Product_Record_Type</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Running_User_ID_Return</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>complianceTeamPermissionSetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>siteManagerPermissionSetId</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputAssignments>
            <assignToReference>foundPermissionSetAssignmentId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the Serialised Product generated in order to displayon the confirmation screen.</description>
        <name>Get_Serialised_Product_Details</name>
        <label>Get Serialised Product Details</label>
        <locationX>4164</locationX>
        <locationY>4118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_to_Record_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Serialised_Product</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SerializedProduct</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Site_Manager_Permission_Set_Id</name>
        <label>Get Site Manager Permission Set Id</label>
        <locationX>1408</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Permission_Set_Assignment_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_Compliance_Stores_Site_Manager</stringValue>
            </value>
        </filters>
        <object>PermissionSet</object>
        <outputAssignments>
            <assignToReference>siteManagerPermissionSetId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Updates the Product record flow was invoked from to active.</description>
        <name>Update_Product_Record</name>
        <label>Update Product Record</label>
        <locationX>1953</locationX>
        <locationY>1922</locationY>
        <connector>
            <targetReference>Assign_Id_to_finalProductId_variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Updated_Description_Entry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Calibration__c</field>
            <value>
                <elementReference>Calibration_Checkbox_Update</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Colour__c</field>
            <value>
                <elementReference>Updated_Colour_Entry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Do_Not_Use_After__c</field>
            <value>
                <elementReference>Do_Not_Use_After_Checkbox_Update</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Insurance_Inspection__c</field>
            <value>
                <elementReference>Insurance_Inspection_Checkbox_Update</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Rating__c</field>
            <value>
                <elementReference>Updated_Rating_Entry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Recall_Comments__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Recalled__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Replacement__c</field>
            <value>
                <elementReference>Replacement_Checkbox_Update</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Safe_Working_Load__c</field>
            <value>
                <elementReference>Updated_Safe_Working_Load</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Service__c</field>
            <value>
                <elementReference>Service_Checkbox_Update</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Type__c</field>
            <value>
                <elementReference>Updated_Type_Entry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Voltage__c</field>
            <value>
                <elementReference>Updated_Voltage_Entry</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>allows user to add new Serialised Products to the newly created Product record.</description>
        <name>Add_Serialised_Product_Screen_New_Product</name>
        <label>Add Serialised Product</label>
        <locationX>2767</locationX>
        <locationY>3062</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Chosen_Current_Location_Record</targetReference>
        </connector>
        <fields>
            <name>NewSerialisedProductDisplayText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Serialised Product Information&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Enter the details required to create the new equipment in the system:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_Serialised_Product_Screen_New_Product_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Serialised_Product_Screen_New_Product_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BasicDisplayHeader</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;u&gt;Basic Details&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Energy_Networks_ID_Entry</name>
                    <dataType>String</dataType>
                    <fieldText>Energy Networks ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>MultisetExplanationDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;If this piece of equipment is part of a multiset and you wish to record the pieces individually, please select multiset and enter Parent Energy Network ID:&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Multiset_Checkbox</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Multiset</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Parent_Energy_Networks_ID</name>
                    <dataType>String</dataType>
                    <fieldText>Parent Energy Networks ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Multiset_Checkbox</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Manufacturer_Serial_No</name>
                    <dataType>String</dataType>
                    <fieldText>Manufacturer Serial No</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_Serialised_Product_Screen_New_Product_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LocationStatusHeader</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;u&gt;Location/Status Details&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Item_Status_Entry</name>
                    <choiceReferences>Available</choiceReferences>
                    <choiceReferences>AwayForCalibration</choiceReferences>
                    <choiceReferences>AwayForRepair</choiceReferences>
                    <choiceReferences>BookedOut</choiceReferences>
                    <choiceReferences>QuarantineAwaitingCalibration</choiceReferences>
                    <choiceReferences>QuarantineAwaitingRepair</choiceReferences>
                    <choiceReferences>QuarantineAwaitingInspection</choiceReferences>
                    <choiceReferences>Storage</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Item Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Expected_Return_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Expected Return Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 12px;&quot;&gt;Expected return date must be greater than or equal to today.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Expected_Return_Date} &gt;= TODAY ()</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>1 AND 2 AND 3</conditionLogic>
                        <conditions>
                            <leftValueReference>Item_Status_Entry</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Booked Out</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Final_Product_Details.SPEN_Category__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Appendix 1</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Final_Product_Details.SPEN_Category__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Personal Issue</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>SPD_SPM_Picklist_Entry</name>
                    <choiceReferences>spdChoice</choiceReferences>
                    <choiceReferences>spmChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>SPD/SPM</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Base_Location_Entry</name>
                    <choiceReferences>BaseLocationCollectionChoiceSet</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Base Location</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Choose the location this equipment is based from</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Current_Location</name>
                    <choiceReferences>currentLocationCollectionChoiceSet</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Current Location</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Choose where the equipment currently is</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Equipment_Comments_Entry</name>
            <dataType>String</dataType>
            <fieldText>Equipment Comments</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to allow users to enter additional Product information.</description>
        <name>Additional_Product_Creation_Screen</name>
        <label>Additional Product Creation Screen</label>
        <locationX>3097</locationX>
        <locationY>2138</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Compliance_Product_Creation_Screen</targetReference>
        </connector>
        <fields>
            <name>AdditionalInfoDisplayText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Additional Information&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Enter any extra details below:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Type_Entry</name>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Enter the equipment type for additional information.&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description_Entry</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Enter a description for the equipment for additional information.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Rating_Entry</name>
            <dataType>String</dataType>
            <fieldText>Rating</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Enter a description for the equipment for additional information.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Voltage_Entry</name>
            <dataType>String</dataType>
            <fieldText>Voltage</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Enter a relevant voltage for the equipment for additional information&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Safe_Working_Load</name>
            <dataType>String</dataType>
            <fieldText>Safe Working Load</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Enter a safe working load for the equipment for additional information.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Colour_Entry</name>
            <choiceReferences>ColourProductPicklistChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Colour</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;Enter a colour for the equipment for additional information.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to allow users to update Product information.</description>
        <name>Additional_Product_Update_Screen</name>
        <label>Additional Product Update Screen</label>
        <locationX>1953</locationX>
        <locationY>1706</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Compliance_Product_Update</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_AdditionalInfoDisplayText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Additional Information&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Update any of the extra details for the Product below:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Updated_Type_Entry</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.SPEN_Type__c</elementReference>
            </defaultValue>
            <fieldText>Type</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Updated_Description_Entry</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.Description</elementReference>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Updated_Rating_Entry</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.SPEN_Rating__c</elementReference>
            </defaultValue>
            <fieldText>Rating</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Updated_Voltage_Entry</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.SPEN_Voltage__c</elementReference>
            </defaultValue>
            <fieldText>Voltage</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Updated_Safe_Working_Load</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.SPEN_Safe_Working_Load__c</elementReference>
            </defaultValue>
            <fieldText>Safe Working Load</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Updated_Colour_Entry</name>
            <choiceReferences>ColourProductPicklistChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.SPEN_Colour__c</elementReference>
            </defaultValue>
            <fieldText>Colour</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen for user to create a new Product for the Serialised Products to be related to.</description>
        <name>Basic_Product_Creation_Screen</name>
        <label>Basic Product Creation</label>
        <locationX>3097</locationX>
        <locationY>1730</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Product_Category_Check</targetReference>
        </connector>
        <fields>
            <name>CreateNewProductDisplayText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Product Details&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Enter the basic details to onboard the equipment in the system:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Product_Name_Entry</name>
            <dataType>String</dataType>
            <fieldText>Product Name</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Enter a name for your Product.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Manufacturer_Entry</name>
            <dataType>String</dataType>
            <fieldText>Manufacturer</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Enter a manufacturer for the equipment.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Model_Entry</name>
            <dataType>String</dataType>
            <fieldText>Model</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Enter a model name/number for the equipment.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Category_Entry</name>
            <choiceReferences>ProductCategoryChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;Choose the category for this piece of equipment.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Competent_User_Only_Checkbox</name>
            <dataType>Boolean</dataType>
            <fieldText>Competent User Only?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Category_Entry</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Fuserod</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Category_Entry</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Ladder</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Category_Entry</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Lifting Equipment</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Category_Entry</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Miscellaneous</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Category_Entry</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Portable Earth</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Category_Entry</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Test Equipment</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Category_Entry</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Working at Height</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen for users to confirm which safety dates apply to this product. Ensures Serialised Products have correct validation for compliance purposes.</description>
        <name>Compliance_Product_Creation_Screen</name>
        <label>Compliance Product Creation</label>
        <locationX>3097</locationX>
        <locationY>2246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_New_Product_Record</targetReference>
        </connector>
        <fields>
            <name>ComplianceDisplayText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Compliance Information&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please tick any of the below dates which apply to this Product for Compliance purposes:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_Not_Use_After_Checkbox</name>
            <dataType>Boolean</dataType>
            <fieldText>Do Not Use After</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;This means the Product is required to have a Do Not Use After date.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Replacement_Checkbox</name>
            <dataType>Boolean</dataType>
            <fieldText>Replacement</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;This means the Product is required to have a Replacement date.&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Calibration_Checkbox</name>
            <dataType>Boolean</dataType>
            <fieldText>Calibration</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;This means the Product is required to have a Calibration Due date.&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Service_Checkbox</name>
            <dataType>Boolean</dataType>
            <fieldText>Service</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;This means the Product is required to have a Service Due date.&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Insurance_Inspection_Checkbox</name>
            <dataType>Boolean</dataType>
            <fieldText>Insurance Inspection</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;This means the Product is required to have a Insurance Inspection Due date.&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen for users to confirm which safety dates now apply to this product. Ensures Serialised Products have correct validation for compliance purposes.</description>
        <name>Compliance_Product_Update</name>
        <label>Compliance Product Update</label>
        <locationX>1953</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Product_Record</targetReference>
        </connector>
        <fields>
            <name>UpdateComplianceDisplayText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Compliance Information&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please re-confirm which safety dates apply to this Product:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_Not_Use_After_Checkbox_Update</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>recordId.SPEN_Do_Not_Use_After__c</elementReference>
            </defaultValue>
            <fieldText>Do Not Use After</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;This means the Product is required to have a Do Not Use After date.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Replacement_Checkbox_Update</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>recordId.SPEN_Replacement__c</elementReference>
            </defaultValue>
            <fieldText>Replacement</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;This means the Product is required to have a Replacement date.&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Calibration_Checkbox_Update</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>recordId.SPEN_Calibration__c</elementReference>
            </defaultValue>
            <fieldText>Calibration</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;This means the Product is required to have a Calibration Due date.&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Service_Checkbox_Update</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>recordId.SPEN_Service__c</elementReference>
            </defaultValue>
            <fieldText>Service</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;This means the Product is required to have a Service Due date.&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Insurance_Inspection_Checkbox_Update</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>recordId.SPEN_Insurance_Inspection__c</elementReference>
            </defaultValue>
            <fieldText>Insurance Inspection</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;This means the Product is required to have a Insurance Inspection Due date.&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CheckExistingProductsDisplayText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Please note, if you change these requirements you will need to review existing equipment to ensure these dates are populated.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to user that the Serialised Product has been generated.</description>
        <name>Confirmation_Creation_Screen</name>
        <label>Confirmation Creation Screen</label>
        <locationX>4164</locationX>
        <locationY>4334</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_More_Items_Check</targetReference>
        </connector>
        <fields>
            <name>ConfirmationDisplayText</name>
            <fieldText>&lt;p&gt;The below item(s) have been created:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmationDisplayTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>SerializedProduct</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Serialised Product(s)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>finalCreatedSerialisedProducts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;SPEN_Energy_Networks_ID__c&quot;,&quot;guid&quot;:&quot;column-e49b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Energy Networks ID&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;SPEN_Base_Location_Name__c&quot;,&quot;guid&quot;:&quot;column-f9d1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Base Location&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Base Location Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;SPEN_Location_Name__c&quot;,&quot;guid&quot;:&quot;column-c374&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Current Location&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Location Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-dd7d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Add_More_Items_Checkbox</name>
            <dataType>Boolean</dataType>
            <fieldText>Add more items?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SameDetailsDisplayText</name>
            <fieldText>&lt;p&gt;Select the below box if you want to add another item with the exact same details (status/location/dates).&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Add_More_Items_Checkbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Matching_Details_Checkbox</name>
            <dataType>Boolean</dataType>
            <fieldText>Matching Details</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Add_More_Items_Checkbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Confirms to user they selected to both create a new product and use existing.</description>
        <name>Dual_Selection_Screen</name>
        <label>Dual Selection Screen</label>
        <locationX>3537</locationX>
        <locationY>1730</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Search_Existing_Product_Screen</targetReference>
        </connector>
        <fields>
            <name>DualSelectionDisplayText</name>
            <fieldText>&lt;p&gt;You chose to both create a new  Product and to use the found existing Product. Please search again and only choose one option.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to user that the Energy Network ID entered is already registered in the system.</description>
        <name>Duplicate_Energy_Networks_ID_Matching_Details</name>
        <label>Duplicate Energy Networks ID</label>
        <locationX>3482</locationX>
        <locationY>4982</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Change Energy Network ID</backButtonLabel>
        <fields>
            <name>DuplicateEnidDisplayTextMatchingDetails</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The Energy Networks ID you have entered is already registered in the system. Please go back and amend, or alternatively choose to finish and search for the duplicated record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to user that the Energy Network ID entered is already registered in the system.</description>
        <name>Duplicate_Energy_Networks_ID_Screen</name>
        <label>Duplicate Energy Networks ID</label>
        <locationX>1370</locationX>
        <locationY>3494</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Change Energy Network ID</backButtonLabel>
        <fields>
            <name>DuplicateEnidDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The Energy Networks ID you have entered is already registered in the system. Please go back and amend, or alternatively choose to finish and search for the duplicated record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to the user that they don&apos;t have the relevant permissions to run the flow.</description>
        <name>Failed_Permission_Set_Check_Screen</name>
        <label>Failed Permission Set Check Screen</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NotAuthorisedDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You are not authorised to onboard new equipment.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;If you should have authorisation, please speak with your team leader/manager to request access.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to user that the selected location for an available item is invalid.</description>
        <name>Incorrect_Available_Location_Screen</name>
        <label>Incorrect Available Location</label>
        <locationX>1634</locationX>
        <locationY>3494</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Change</backButtonLabel>
        <fields>
            <name>IncorrectAvailableLocationDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;If the status of the equipment is available, it must be stored in its base location. Please go back and amend the details.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to user that the selected location for an away item is invalid.</description>
        <name>Incorrect_Away_Location</name>
        <label>Incorrect Away Location</label>
        <locationX>2690</locationX>
        <locationY>3494</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Change</backButtonLabel>
        <fields>
            <name>IncorrectAwayLocationDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;If the status of the equipment is Away for Calibration/Away For Repair, it must be stored in a EXTERNAL CALIBRATION/REPAIR. Please go back and amend the details.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to user that the selected location for a non quarantined item is invalid.</description>
        <name>Incorrect_Base_Quarantine_Location</name>
        <label>Incorrect Base Quarantine Location</label>
        <locationX>2426</locationX>
        <locationY>3494</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Change</backButtonLabel>
        <fields>
            <name>ncorrectBaseQuarantineLocationDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You&apos;ve chosen a quarantine location that is not linked to the base location. Please go back and amend the details.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to user that the selected location for a booked out item is invalid.</description>
        <name>Incorrect_Booked_Out_Location_Screen</name>
        <label>Incorrect Booked Out Location</label>
        <locationX>1898</locationX>
        <locationY>3494</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Change</backButtonLabel>
        <fields>
            <name>IncorrectBookedOutLocationDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;If the status of the equipment is booked out, it must be stored in a user location. Please go back and amend the details.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to user that the selected location for a quarantined item is invalid.</description>
        <name>Incorrect_Non_Quarantine_Location</name>
        <label>Incorrect Non Quarantine Location</label>
        <locationX>3218</locationX>
        <locationY>3494</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Change</backButtonLabel>
        <fields>
            <name>IncorrectNonQuarantineLocationDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You&apos;ve chosen a quarantine status but the item is not in a quarantine location. Please go back and amend the details.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to user that the selected location for a non quarantined item is invalid.</description>
        <name>Incorrect_Quarantine_Location</name>
        <label>Incorrect Quarantine Location</label>
        <locationX>2954</locationX>
        <locationY>3494</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Change</backButtonLabel>
        <fields>
            <name>IncorrectQuarantineLocationDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You&apos;ve chosen a quarantine location but the status of the item is not in quarantine. Please go back and amend the details.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to users they&apos;ve chosen an incorrect combination on the previous screen.</description>
        <name>Incorrect_Selection_Following_Screen</name>
        <label>Incorrect Selection Following Search</label>
        <locationX>4065</locationX>
        <locationY>1730</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Change Selection</backButtonLabel>
        <fields>
            <name>IncorrectNoneSelectionSearchDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You&apos;ve not selected an existing Product or chosen to create a new Product. Please go back and make a valid selection.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to users they&apos;ve chosen an incorrect combination on the previous screen.</description>
        <name>Incorrect_Selection_Screen</name>
        <label>Incorrect Selection</label>
        <locationX>2305</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Change Selection</backButtonLabel>
        <fields>
            <name>IncorrectDualSelectionDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You&apos;ve chosen to both re-activate and create a new product. Please go back to select one option only.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Reactivate_Checkbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Create_New_Product_Checkbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>IncorrectNoneSelectionDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You&apos;ve chosen to neither re-activate or create a new product. Please go back to select an option.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Reactivate_Checkbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Create_New_Product_Checkbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to user that the selected location for a stored item is invalid.</description>
        <name>Incorrect_Storage_Location_Screen</name>
        <label>Incorrect Storage Location</label>
        <locationX>2162</locationX>
        <locationY>3494</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Change</backButtonLabel>
        <fields>
            <name>IncorrectStorageLocationDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;If the status of the equipment is storage, it must be stored in a storage location. Please go back and amend the details.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>User can enter additional network ID with matching details previously entered.</description>
        <name>Matching_Details_Entry_Screen</name>
        <label>Matching Details Entry Screen</label>
        <locationX>3702</locationX>
        <locationY>4550</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reset_Serial_Number_Variable</targetReference>
        </connector>
        <fields>
            <name>AdditionalMirroredItemDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please enter the Energy Network ID you wish to create with matching details:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Energy_Networks_ID_Matching_Details</name>
            <dataType>String</dataType>
            <fieldText>Energy Networks ID</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Manufacturer_Serial_No_Matching_Details</name>
            <dataType>String</dataType>
            <fieldText>Manufacturer Serial No</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Add_another_matching_item</name>
            <dataType>Boolean</dataType>
            <fieldText>Add another matching item?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm the Compliance Stores record type for Locations is missing from the system.</description>
        <name>Missing_Location_Record_Type_Screen</name>
        <label>Missing Location Record Type</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MissingLocationRecordTypeDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You cannot onboard new equipment at this time. Please advise the system of the below issue.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The below Record Type is missing from the Location object:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Compliance Stores&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to the user that the system is missing permission sets, these need to be uploaded before the flow can be ran.</description>
        <name>Missing_Permission_Sets_Screen</name>
        <label>Missing Permission Sets Screen</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MissingPermissionSetsDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;There are missing permissions in the system to check you are authorised. Please advise the system administrator of the below issue.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;One of the below custom permissions are missing in the Salesforce system:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Compliance Team&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Site Manager&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm the Compliance Stores record type for Products is missing from the system.</description>
        <name>Missing_Product_Record_Type_Screen</name>
        <label>Missing Product Record Type</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MissingProductRecordTypeDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You cannot onboard new equipment at this time. Please advise the system of the below issue.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The below Record Type is missing from the Product object:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Compliance Stores&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm the Compliance Stores record type for Serialised Products is missing from the system.</description>
        <name>Missing_Serialised_Product_Record_Type_Screen</name>
        <label>Missing Serialised Product Record Type</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MissingSerialisedProductRecordTypeDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You cannot onboard new equipment at this time. Please advise the system of the below issue.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The below Record Type is missing from the Serialised Product object:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Compliance Stores&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to user they have not entered a Product Name or Manufacturer to search the system.</description>
        <name>No_Product_Name_Manufacturer_Screen</name>
        <label>No Product Name/Manufacturer Screen</label>
        <locationX>3713</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Change Search</backButtonLabel>
        <fields>
            <name>NoProductNameManufacturerDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You have not entered a Product Name or Manufacturer for search. Please go back and enter the details.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to user that the Product is inactive.</description>
        <name>Product_Inactive_Screen</name>
        <label>Product Inactive</label>
        <locationX>2217</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reactivate</targetReference>
        </connector>
        <fields>
            <name>InactiveProductDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;This Product is inactive, do you want to re-activate?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Create_New_Product_Checkbox</name>
            <dataType>Boolean</dataType>
            <fieldText>Create New Product</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reactivate_Checkbox</name>
            <dataType>Boolean</dataType>
            <fieldText>Reactivate</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Allows users to choose the Product to use, or alternatively select to create a new Product.</description>
        <name>Product_Selection_Screen</name>
        <label>Product Selection</label>
        <locationX>3581</locationX>
        <locationY>1514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Change Search</backButtonLabel>
        <connector>
            <targetReference>New_Product_Needed</targetReference>
        </connector>
        <fields>
            <name>ChooseProductDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;See below the Products found using the name/manufacturer provided, if none match please select to create a new Product:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Create_New_Product_Selection_Checkbox</name>
            <dataType>Boolean</dataType>
            <fieldText>Create New Product</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FoundProductsDataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Product2</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Existing Products</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>foundMatchingProducts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-1f6d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;SPEN_Manufacturer__c&quot;,&quot;guid&quot;:&quot;column-05c3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Manufacturer&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-75e9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Product Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;SPEN_Category__c&quot;,&quot;guid&quot;:&quot;column-4dab&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Category&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Allows user to search for the Product which may exist in the system.</description>
        <name>Search_Existing_Product_Screen</name>
        <label>Search Existing Product</label>
        <locationX>3581</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Search_Decision</targetReference>
        </connector>
        <fields>
            <name>SearchProductDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please search for the equipment to check if this already exists in the system. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;If none are found, you will be directed to create a new Product.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProductNameEntry</name>
            <dataType>String</dataType>
            <fieldText>Product Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ManufacturerEntry</name>
            <dataType>String</dataType>
            <fieldText>Manufacturer</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Search</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen for users to enter Compliance Information.</description>
        <name>Serialised_Product_Compliance_Information</name>
        <label>Serialised Product Compliance Information</label>
        <locationX>4164</locationX>
        <locationY>3494</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Find_Product_Item</targetReference>
        </connector>
        <fields>
            <name>SerialisedProductComplianceInfoDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Enter the below information for Compliance purposes:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Serialised_Product_Compliance_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Serialised_Product_Compliance_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Do_Not_Use_After_Entry</name>
                    <dataType>Date</dataType>
                    <fieldText>Do Not Use After</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Date must be greater than or equal to today.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Do_Not_Use_After_Entry} &gt;= TODAY()</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>finalDoNotUseAfterCheck</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Last_Inspected_By_Entry</name>
                    <dataType>String</dataType>
                    <fieldText>Last Inspected By</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Insurance_Inspection_Due</name>
                    <dataType>Date</dataType>
                    <fieldText>Insurance Inspection Due</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Date must be greater than or equal to today.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Insurance_Inspection_Due} &gt;= TODAY ()</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>finalInsuranceInspectionDueCheck</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Last_Insurance_Inspection_By_Entry</name>
                    <dataType>String</dataType>
                    <fieldText>Last Insurance Inspection By</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>finalInsuranceInspectionDueCheck</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Service_Due</name>
                    <dataType>Date</dataType>
                    <fieldText>Service Due</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Date must be greater than or equal to today.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Service_Due} &gt;= TODAY ()</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>finalServiceDueCheck</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Last_Serviced_By_Entry</name>
                    <dataType>String</dataType>
                    <fieldText>Last Serviced By</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>finalServiceDueCheck</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Replacement_Due_Entry</name>
                    <dataType>Date</dataType>
                    <fieldText>Replacement Due</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Date must be greater than or equal to today.&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Replacement_Due_Entry} &gt;= TODAY()</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>finalReplacementDateCheck</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Serialised_Product_Compliance_Information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Last_Monthly_Audit_Entry</name>
                    <dataType>Date</dataType>
                    <fieldText>Last Monthly Audit</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Calibration_Due_Entry</name>
                    <dataType>Date</dataType>
                    <fieldText>Calibration Due</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Date must be greater than or equal to today.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Calibration_Due_Entry} &gt;= TODAY ()</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>finalCalibrationDueCheck</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Last_Calibrated_By_Entry</name>
                    <dataType>String</dataType>
                    <fieldText>Last Calibrated By</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>finalCalibrationDueCheck</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Indication_Only</name>
                    <choiceReferences>IndicationOnlySerialisedProductPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Indication Only</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>PAT_Test_Entry</name>
                    <dataType>Boolean</dataType>
                    <fieldText>PAT Test</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>x5kV_IR_Test_Entry</name>
                    <dataType>String</dataType>
                    <fieldText>5kV IR Test</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Condition_Entry</name>
                    <choiceReferences>conditionSerialisedProductPicklistChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Condition</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1282</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Compliance_Team_Permission_Set_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>assigned_matching_serialised_product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>baseLocationSPDSPMCheck</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>competentUserOnlyCheckbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>complianceTeamPermissionSetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentLocationNameCheck</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentLocationOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentLocationParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentLocationQuarantineCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentLocationTypeCheck</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>duplicateSerialNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>finalCalibrationDueCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>finalCreatedSerialisedProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>finalDoNotUseAfterCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>finalInsuranceInspectionDueCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>finalMatchingSerialisedProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>finalProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>finalProductItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>finalReplacementDateCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>finalServiceDueCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>foundMatchingProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>foundMatchingSerialisedProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>foundPermissionSetAssignmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>locationrecordtypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>matchingSerialisedProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>matchingSerialisedProductIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newENIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Text variable to hold the compiled desktop notification message from the loop.</description>
        <name>notificationCompiledMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>serialisedProductRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>siteManagerPermissionSetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
