force-app/main/default/flows/SPEN_Create_Job_MIlestones.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SPEN_Create_From_Predefined_Template</name>
        <label>Create From Predefined Template</label>
        <locationX>754</locationX>
        <locationY>1490</locationY>
        <actionName>SPEN_MilestoneCreationInvocable</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SPEN_ErrorFaultMessageScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>CreateManualWCMilestones</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>jobObj</name>
            <value>
                <elementReference>SPEN_getJobRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>plannedStartDate</name>
            <value>
                <elementReference>JobMIlestone.SPEN_Planned_Start_Date__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>wcmObj</name>
            <value>
                <elementReference>SPEN_Get_Selected_WC_Milestone</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SPEN_MilestoneCreationInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_Get_Planned_End_Date</name>
        <label>Get Planned End Date</label>
        <locationX>446</locationX>
        <locationY>1682</locationY>
        <actionName>SPEN_BusinessHoursAddDaysInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SPEN_CreateJMOnStandardSelection</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SPEN_ErrorFaultMessageScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>businessHourName</name>
            <value>
                <stringValue>Connection Business Hours</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>delayStart</name>
            <value>
                <elementReference>JobMIlestone.SPEN_Delay_Start_Days__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadTime</name>
            <value>
                <elementReference>SPEN_Planned_Lead_Time_Days</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>plannedStartDate</name>
            <value>
                <elementReference>JobMIlestone.SPEN_Planned_Start_Date__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SPEN_BusinessHoursAddDaysInvocable</nameSegment>
        <outputParameters>
            <assignToReference>JobMIlestone.SPEN_Planned_End_Date__c</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_GetPlannedEndDateForReopening</name>
        <label>Get Planned End Date For Reopening</label>
        <locationX>1018</locationX>
        <locationY>1490</locationY>
        <actionName>SPEN_BusinessHoursAddDaysInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SPEN_Create_JM_On_JM_Reopen_Selection</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SPEN_ErrorFaultMessageScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>businessHourName</name>
            <value>
                <stringValue>Connection Business Hours</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>delayStart</name>
            <value>
                <elementReference>SPEN_GetSelectedMilestone.SPEN_Delay_Start_Days__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadTime</name>
            <value>
                <elementReference>SPEN_GetSelectedMilestone.SPEN_Planned_lead_time_Days__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>plannedStartDate</name>
            <value>
                <elementReference>JobMIlestone.SPEN_Planned_Start_Date__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SPEN_BusinessHoursAddDaysInvocable</nameSegment>
        <outputParameters>
            <assignToReference>JobMIlestone.SPEN_Planned_End_Date__c</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>SPEN_Assign_Delay_Start_to_Zero</name>
        <label>Assign Delay Start to Zero</label>
        <locationX>325</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>JobMIlestone.SPEN_Delay_Start_Days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SPEN_CheckJMPlannedStartDateIsNotNull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SPEN_AssignPlannedStartDateValue</name>
        <label>Assign Planned Start Date Value</label>
        <locationX>325</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>JobMIlestone.SPEN_Planned_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SPEN_JMPlannedStartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SPEN_Validation_for_Reason_of_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SPEN_AssignStatusValue</name>
        <label>Assign Status Value</label>
        <locationX>314</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>JobMIlestone.SPEN_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SPEN_JMStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SPEN_Get_Planned_End_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SPEN_PopulateJob</name>
        <label>Populate Job</label>
        <locationX>457</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>JobMIlestone.SPEN_Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SPEN_CreateJobMilestoneOption</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>PredefinedMilestoneTemplate</name>
        <choiceText>&lt;span style=&quot;font-size: 13px;&quot;&gt;Predefined Milestone Template&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Predefined Milestone Template</stringValue>
        </value>
    </choices>
    <choices>
        <name>ReopenJobMIlestone</name>
        <choiceText>&lt;span style=&quot;font-size: 13px;&quot;&gt;Reopen Job Milestone&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reopen Job MIlestone</stringValue>
        </value>
    </choices>
    <choices>
        <name>SPEN_Manual</name>
        <choiceText>Manual</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Manual</stringValue>
        </value>
    </choices>
    <choices>
        <name>SPEN_Redesign</name>
        <choiceText>Redesign</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Redesign</stringValue>
        </value>
    </choices>
    <choices>
        <name>Standard</name>
        <choiceText>&lt;span style=&quot;font-size: 13px;&quot;&gt;Custom&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Standard</elementReference>
        </value>
    </choices>
    <decisions>
        <name>SPEN_CheckJMPlannedStartDateIsNotNull</name>
        <label>Check JM Planned Start Date Is Not Null</label>
        <locationX>457</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>SPEN_Validation_for_Reason_of_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_JMPlannedStartDateIsNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>JobMIlestone.SPEN_Planned_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_AssignPlannedStartDateValue</targetReference>
            </connector>
            <label>JM Planned Start Date Is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_CheckJMStatusIsNotNull</name>
        <label>Check JM Status Is Not Null</label>
        <locationX>446</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>SPEN_Get_Planned_End_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_JMStatusIsNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>JobMIlestone.SPEN_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_AssignStatusValue</targetReference>
            </connector>
            <label>JM Status Is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_ChoiceSelection</name>
        <label>Choice Selection</label>
        <locationX>864</locationX>
        <locationY>1274</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_StandardSelection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_SelectJobmilestoneCreationoption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Standard</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_CheckJMStatusIsNotNull</targetReference>
            </connector>
            <label>Standard Selection</label>
        </rules>
        <rules>
            <name>SPEN_Predefined_Template_MIlestone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_SelectJobmilestoneCreationoption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PredefinedMilestoneTemplate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_Get_Selected_WC_Milestone</targetReference>
            </connector>
            <label>Predefined Template MIlestone</label>
        </rules>
        <rules>
            <name>SPEN_ReopenJobMilestone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_SelectJobmilestoneCreationoption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ReopenJobMIlestone</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_GetSelectedMilestone</targetReference>
            </connector>
            <label>Reopen Job Milestone</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_IsDelaystartDaysNull</name>
        <label>IsDelaystartDaysNull</label>
        <locationX>457</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>SPEN_CheckJMPlannedStartDateIsNotNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isDelayNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>JobMIlestone.SPEN_Delay_Start_Days__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_Assign_Delay_Start_to_Zero</targetReference>
            </connector>
            <label>isDelayNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_Validation_for_Reason_of_Creation</name>
        <label>Validation for Reason of Creation</label>
        <locationX>457</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>SPEN_ChoiceSelection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_Not_Satisfied</name>
            <conditionLogic>(1 OR 2 OR 3 ) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_Reason_for_Creation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SPEN_Redesign</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SPEN_Reason_for_Creation_Pre</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SPEN_Redesign</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SPEN_Reason_for_Creation_ReOpen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SPEN_Redesign</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>JobMIlestone.SPEN_Job__r.SPEN_DesignStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Redesign</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_ErrorMessageforReasonOfCreation</targetReference>
            </connector>
            <label>Not Satisfied</label>
        </rules>
    </decisions>
    <description>Created as part of ESC-192.
Updated as part of ESC-1125.
Updated as part of ESC-1247
Updated as part of ESC-1299,1277
Updated as part of ESC-1265
ESC-1703: Fault path added</description>
    <dynamicChoiceSets>
        <name>SPEN_ClosedJobMIlestone</name>
        <dataType>String</dataType>
        <displayField>SPEN_Milestone__c</displayField>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>SPEN_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SPEN_getJobRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>SPEN_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <limit>30</limit>
        <object>SPEN_Job_Milestone__c</object>
        <sortField>SPEN_Milestone__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SPEN_MilestoneList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SPEN_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SPEN_getJobRecord.Id</elementReference>
            </value>
        </filters>
        <object>SPEN_Job_Milestone__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SPEN_WorkCategoryMilestone</name>
        <dataType>String</dataType>
        <displayField>SPEN_Milestone__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SPEN_WorkCategory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SPEN_JobWorkCategory</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Allow_Manual_Creation__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <limit>50</limit>
        <object>SPEN_WorkCategoryMilestone__c</object>
        <sortField>SPEN_Milestone__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>SPEN_JobWorkCategory</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!SPEN_getJobRecord.SPEN_SubCategory__c}), {!SPEN_getJobRecord.SPEN_WorkCategory__c}, {!SPEN_getJobRecord.SPEN_SubCategory__c})</expression>
    </formulas>
    <interviewLabel>SPEN Create Job MIlestones {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SPEN Create Job MIlestones</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>SPEN_Create_JM_On_JM_Reopen_Selection</name>
        <label>Create JM On JM Reopen Selection</label>
        <locationX>1018</locationX>
        <locationY>1598</locationY>
        <faultConnector>
            <targetReference>SPEN_ErrorFaultMessageScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>SPEN_Actual_lead_time_Days__c</field>
            <value>
                <elementReference>SPEN_GetSelectedMilestone.SPEN_Actual_lead_time_Days__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Job__c</field>
            <value>
                <elementReference>SPEN_GetSelectedMilestone.SPEN_Job__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Milestone__c</field>
            <value>
                <elementReference>SPEN_GetSelectedMilestone.SPEN_Milestone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_ParentJobMilestone__c</field>
            <value>
                <elementReference>SPEN_GetSelectedMilestone.SPEN_ParentJobMilestone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Parent_Milestone__c</field>
            <value>
                <elementReference>SPEN_GetSelectedMilestone.SPEN_Parent_Milestone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Planned_End_Date__c</field>
            <value>
                <elementReference>JobMIlestone.SPEN_Planned_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Planned_Start_Date__c</field>
            <value>
                <elementReference>JobMIlestone.SPEN_Planned_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Planned_lead_time_Days__c</field>
            <value>
                <elementReference>SPEN_GetSelectedMilestone.SPEN_Planned_lead_time_Days__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_ReasonforCreation__c</field>
            <value>
                <elementReference>SPEN_Reason_for_Creation_ReOpen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>SPEN_Job_Milestone__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>SPEN_CreateJMOnStandardSelection</name>
        <label>Create JM On Standard Selection</label>
        <locationX>446</locationX>
        <locationY>1790</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SPEN_ErrorFaultMessageScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>SPEN_Delay_Start_Days__c</field>
            <value>
                <elementReference>JobMIlestone.SPEN_Delay_Start_Days__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Job__c</field>
            <value>
                <elementReference>JobMIlestone.SPEN_Job__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Milestone__c</field>
            <value>
                <elementReference>SPEN_Milestone_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_ParentJobMilestone__c</field>
            <value>
                <elementReference>SPEN_Parent_Job_Milestone.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Planned_End_Date__c</field>
            <value>
                <elementReference>JobMIlestone.SPEN_Planned_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Planned_Start_Date__c</field>
            <value>
                <elementReference>JobMIlestone.SPEN_Planned_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Planned_lead_time_Days__c</field>
            <value>
                <elementReference>SPEN_Planned_Lead_Time_Days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_ReasonforCreation__c</field>
            <value>
                <elementReference>SPEN_Reason_for_Creation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Status__c</field>
            <value>
                <elementReference>JobMIlestone.SPEN_Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>SPEN_Job_Milestone__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>SPEN_Get_Selected_WC_Milestone</name>
        <label>Get Selected WC Milestone</label>
        <locationX>754</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SPEN_Create_From_Predefined_Template</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SPEN_ErrorFaultMessageScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Milestone_Template.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SPEN_WorkCategoryMilestone__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SPEN_getJobRecord</name>
        <label>getJobRecord</label>
        <locationX>457</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Job_Milestone</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SPEN_ErrorFaultMessageScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>JobMIlestone.SPEN_Job__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SPEN_Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SPEN_GetSelectedMilestone</name>
        <label>Get Selected Milestone</label>
        <locationX>1018</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SPEN_GetPlannedEndDateForReopening</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SPEN_ErrorFaultMessageScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Job_MIlestone.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SPEN_Job_Milestone__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_Job_Milestone</name>
        <label>Create Job Milestone</label>
        <locationX>457</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SPEN_IsDelaystartDaysNull</targetReference>
        </connector>
        <fields>
            <name>SPEN_NewJobMilestone</name>
            <fieldText>New Job Milestone</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SPEN_NewJobMilestone_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SPEN_Milestone_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Milestone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>JobMIlestone.SPEN_Planned_Start_Date__c</objectFieldReference>
                </fields>
                <fields>
                    <name>SPEN_Reason_for_Creation</name>
                    <choiceReferences>SPEN_Redesign</choiceReferences>
                    <choiceReferences>SPEN_Manual</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Reason for Creation</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SPEN_NewJobMilestone_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SPEN_Parent_Job_Milestone</name>
                    <choiceReferences>SPEN_MilestoneList</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Parent Job Milestone</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Search Job Milestones...</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>SPEN_Planned_Lead_Time_Days</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Planned Lead Time(Days)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>JobMIlestone.SPEN_Delay_Start_Days__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>JobMIlestone.SPEN_Status__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SPEN_SelectJobmilestoneCreationoption</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Standard</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SPEN_JobMilestoneFromPredefined</name>
            <fieldText>New Job Milestone (Predefined)</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SPEN_JobMilestoneFromPredefined_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Milestone_Template</name>
                    <choiceReferences>SPEN_WorkCategoryMilestone</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Milestone Template</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>SPEN_Reason_for_Creation_Pre</name>
                    <choiceReferences>SPEN_Redesign</choiceReferences>
                    <choiceReferences>SPEN_Manual</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Reason for Creation</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SPEN_JobMilestoneFromPredefined_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>JobMIlestone.SPEN_Planned_Start_Date__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>SPEN_SelectJobmilestoneCreationoption</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>PredefinedMilestoneTemplate</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SPEN_NewJobMilestoneReopen</name>
            <fieldText>New Job Milestone (Reopen)</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SPEN_NewJobMilestoneReopen_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Job_MIlestone</name>
                    <choiceReferences>SPEN_ClosedJobMIlestone</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Job MIlestone</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>SPEN_Reason_for_Creation_ReOpen</name>
                    <choiceReferences>SPEN_Redesign</choiceReferences>
                    <choiceReferences>SPEN_Manual</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Reason for Creation</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SPEN_NewJobMilestoneReopen_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>JobMIlestone.SPEN_Planned_Start_Date__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SPEN_SelectJobmilestoneCreationoption</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ReopenJobMIlestone</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Create</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SPEN_CreateJobMilestoneOption</name>
        <label>Create Job Milestone Option</label>
        <locationX>457</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SPEN_getJobRecord</targetReference>
        </connector>
        <fields>
            <name>SPEN_SelectNewJobMilestone</name>
            <fieldText>Select New Job Milestone</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SPEN_SelectNewJobMilestone_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>JobMIlestone.SPEN_Job__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>JobMIlestone.SPEN_Job__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>SPEN_SelectJobmilestoneCreationoption</name>
                    <choiceReferences>Standard</choiceReferences>
                    <choiceReferences>PredefinedMilestoneTemplate</choiceReferences>
                    <choiceReferences>ReopenJobMIlestone</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select Job milestone creation option</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SPEN_ErrorFaultMessageScreen</name>
        <label>ErrorFaultMessageScreen</label>
        <locationX>2338</locationX>
        <locationY>1706</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SPEN_FaultMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!$Label.SPEN_ErrorHandlingMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SPEN_ErrorMessageforReasonOfCreation</name>
        <label>Validation Error for Reason Of Creation</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SPEN_ValidationMessageforReasonofCreation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!RedesignValidationErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>331</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SPEN_PopulateJob</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>JobMIlestone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SPEN_Job_Milestone__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RedesignValidationErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Job design status should be redesign if you want to create milestone with &apos;Redesign&apos; reason.</stringValue>
        </value>
    </variables>
    <variables>
        <name>SPEN_JMPlannedStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>SPEN_JMStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>New</stringValue>
        </value>
    </variables>
</Flow>
