force-app/main/default/flows/SPEN_Compliance_Stores_Book_Out.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Adds the assigned product transfer to the finalProductTransfers record collection variable.</description>
        <name>Add_Product_Transfer</name>
        <label>Add Product Transfer</label>
        <locationX>3768</locationX>
        <locationY>4670</locationY>
        <assignmentItems>
            <assignToReference>finalProductTransfers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assigned_product_transfer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_recordids_Collection_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assignment to add assigned Product Transfer State to collection variable.</description>
        <name>Add_Product_Transfer_State</name>
        <label>Add Product Transfer State</label>
        <locationX>3768</locationX>
        <locationY>5186</locationY>
        <assignmentItems>
            <assignToReference>finalProductTransferStates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assigned_product_transfer_state</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Created_Product_Transfers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add the Serialised Product with updated values to the record collection.</description>
        <name>Add_Serialised_Products</name>
        <label>Add Serialised Products</label>
        <locationX>3768</locationX>
        <locationY>6218</locationY>
        <assignmentItems>
            <assignToReference>finalSerialisedProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assigned_serialised_product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Serialised_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the assigned updated Product Transfer to record collection</description>
        <name>Add_Updated_Product_Transfer</name>
        <label>Add Updated Product Transfer</label>
        <locationX>3768</locationX>
        <locationY>5702</locationY>
        <assignmentItems>
            <assignToReference>finalUpdatedProductTransfers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updated_product_transfer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_Update_Product_Transfers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the Serialised Product record to recordId variable.</description>
        <name>Assign_Serialised_Product_Record_to_recordId_Variable</name>
        <label>Assign Serialised Product Record to recordId Variable</label>
        <locationX>3702</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Serialised_Product_from_ENID_Entry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initial_Multiset_Check_Category_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the relevant variables to be used in the product transfer assignment.</description>
        <name>Assign_the_product_transfer_details</name>
        <label>Assign the product transfer details</label>
        <locationX>4098</locationX>
        <locationY>3020</locationY>
        <assignmentItems>
            <assignToReference>Final_User_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Running_User_ID_Return</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Final_User_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Full_Running_User_Name_Return</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>final_expected_return_date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expected_Return_Date_Multiset</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>final_site_description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Site_Description_Multiset</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordIdsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Active_Multiset_Serialised_Products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Components_Screen1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the expected return date for the Product Transfer records.</description>
        <name>Assign_The_Product_Transfer_Details_BF</name>
        <label>Assign The Product Transfer Details</label>
        <locationX>2602</locationX>
        <locationY>3710</locationY>
        <assignmentItems>
            <assignToReference>final_expected_return_date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expected_Return_Date_Multiset</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>final_site_description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Site_Description_Multiset</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordIdsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Active_Multiset_Serialised_Products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Components_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the variables for Product Transfers.</description>
        <name>Assign_The_Product_Transfer_Details_Single</name>
        <label>Assign the Product Transfer Details</label>
        <locationX>7090</locationX>
        <locationY>2204</locationY>
        <assignmentItems>
            <assignToReference>Final_User_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Running_User_ID_Return</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Final_User_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Full_Running_User_Name_Return</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>final_expected_return_date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expected_Return_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>final_site_description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Site_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordIdsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Component_Screen1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the expected return date for the Product Transfer records.</description>
        <name>Assign_The_Product_Transfer_Details_Single_BF</name>
        <label>Assign The Product Transfer Details</label>
        <locationX>5594</locationX>
        <locationY>3002</locationY>
        <assignmentItems>
            <assignToReference>final_expected_return_date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expected_Return_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>final_site_description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Site_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordIdsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_the_Booked_For_User_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the unavailable Serialised Product ID to a record variable so this can be referenced in a decision.</description>
        <name>Assign_Unavailable_Multiset_Serialised_Product_Record_ID</name>
        <label>Assign Unavailable Multiset Serialised Product Record ID</label>
        <locationX>2844</locationX>
        <locationY>2204</locationY>
        <assignmentItems>
            <assignToReference>Unavailable_Multiset_Serialised_Product_Storage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Active_Multiset_Serialised_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Active_Multiset_Serialised_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the product transfer details.</description>
        <name>Assignment_for_Create_Product_Transfer</name>
        <label>Assignment for Create Product Transfer</label>
        <locationX>3768</locationX>
        <locationY>4562</locationY>
        <assignmentItems>
            <assignToReference>assigned_product_transfer.DestinationLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Final_Location_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_recordids_Collection_Variable.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer.QuantityReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer.QuantitySent</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer.QuantityUnitOfMeasure</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Each</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer.ReceivedById</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Final_User_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Compliance_Stores_Product_Transfer_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer.SPEN_Booked_For__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Final_User_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer.SPEN_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Book Out</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer.SPEN_Energy_Networks_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_recordids_Collection_Variable.SPEN_Energy_Networks_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer.SPEN_Expected_Return_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>final_expected_return_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer.SPEN_Multiset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_recordids_Collection_Variable.SPEN_Multiset__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer.SPEN_Parent_Energy_Networks_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_recordids_Collection_Variable.SPEN_Parent_Energy_Networks_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer.SPEN_Safety_Check_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_recordids_Collection_Variable.SPEN_Safety_Check_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer.SPEN_Serialised_Product_Helper__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_recordids_Collection_Variable.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer.SPEN_Site_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>final_site_description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer.SourceLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_recordids_Collection_Variable.ProductItem.LocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer.SourceProductItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_recordids_Collection_Variable.ProductItemId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer.SPEN_Transfer_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer.SPEN_Previous_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer.SPEN_New_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Booked Out</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Product_Transfer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the new variables to Product Transfer State in order to add to record collection.</description>
        <name>Assignment_for_Create_Product_Transfer_State</name>
        <label>Assignment for Create Product Transfer State</label>
        <locationX>3768</locationX>
        <locationY>5078</locationY>
        <assignmentItems>
            <assignToReference>assigned_product_transfer_state.ProductTransferId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Created_Product_Transfers.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer_state.Action</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Receive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer_state.SerializedProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Created_Product_Transfers.SPEN_Serialised_Product_Helper__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_product_transfer_state.TransferState</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Product_Transfer_State</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns new values to created Product Transfer record.</description>
        <name>Assignment_for_Updating_Product_Transfers</name>
        <label>Assignment for Updating Product Transfers</label>
        <locationX>3768</locationX>
        <locationY>5594</locationY>
        <assignmentItems>
            <assignToReference>updated_product_transfer.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_to_Update_Product_Transfers.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updated_product_transfer.IsReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updated_product_transfer.QuantityReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updated_product_transfer.QuantityUnitOfMeasure</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Each</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Updated_Product_Transfer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the new variables to record variable in order to update Serialised Products.</description>
        <name>Assignment_for_Updating_Serialised_Product</name>
        <label>Assignment for Updating Serialised Product</label>
        <locationX>3768</locationX>
        <locationY>6110</locationY>
        <assignmentItems>
            <assignToReference>assigned_serialised_product.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Serialised_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_serialised_product.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Final_User_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_serialised_product.SPEN_Current_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Final_Location_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_serialised_product.SPEN_Expected_Return_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>final_expected_return_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_serialised_product.SPEN_Item_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Booked Out</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_serialised_product.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Serialised_Products</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No_Choice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Choice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Checks to ensure the expected return date entered is not later than the safety check date on the Serialised Product record.</description>
        <name>Check_Booking_Validity</name>
        <label>Check Booking Validity</label>
        <locationX>6826</locationX>
        <locationY>2096</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Non_Bookable_Confirmation1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Valid</defaultConnectorLabel>
        <rules>
            <name>Missing_Permission_Single</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>foundPermissionSetAssignmentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Test Prods</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Earthing Devices</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ancillary Equipment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Failed_Permission_Check_Screen</targetReference>
            </connector>
            <label>Missing Permission</label>
        </rules>
        <rules>
            <name>Missing_Equipment_Alternate</name>
            <conditionLogic>((1 AND 9 AND 2) OR (1 AND 9 AND 3) OR (1 AND 9 AND 4) OR (1 AND 9 AND 5) OR (1 AND 9 AND 6) OR (1 AND 9 AND 7) OR (1 AND 9 AND 8) )</conditionLogic>
            <conditions>
                <leftValueReference>foundPermissionSetAssignmentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fuserod</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ladder</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lifting Equipment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Miscellaneous</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Portable Earth</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Test Equipment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working at Height</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Competent_User_Needed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Failed_Permission_Check_Screen</targetReference>
            </connector>
            <label>Missing Equipment Alternate</label>
        </rules>
        <rules>
            <name>Earlier_Than_Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Expected_Return_Date</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Non_Bookable_Confirmation_Early</targetReference>
            </connector>
            <label>Earlier Than Today</label>
        </rules>
        <rules>
            <name>Expected_Return_Date_Valid</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Expected_Return_Date</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>recordId.SPEN_Safety_Check_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Safety_Check_Date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Expected_Return_Date</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_The_Product_Transfer_Details_Single</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to ensure the expected return date entered is not later than the safety check date on the Serialised Product record.</description>
        <name>Check_Booking_Validity1</name>
        <label>Check Booking Validity</label>
        <locationX>5594</locationX>
        <locationY>2096</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Non_Bookable_Confirmation1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Valid</defaultConnectorLabel>
        <rules>
            <name>Earlier_Than_Today1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Expected_Return_Date</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Non_Bookable_Confirmation_Early</targetReference>
            </connector>
            <label>Earlier Than Today</label>
        </rules>
        <rules>
            <name>Valid1</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Expected_Return_Date</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>recordId.SPEN_Safety_Check_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Safety_Check_Date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Expected_Return_Date</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Location_Records_of_Booking_For_User</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to ensure the expected return date entered is not later than the safety check date on the Serialised Product record.</description>
        <name>Check_Booking_Validity_Multiset_Behalf_Of</name>
        <label>Check Booking Validity</label>
        <locationX>2602</locationX>
        <locationY>2804</locationY>
        <defaultConnector>
            <targetReference>Non_Bookable_Confirmation1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Valid</defaultConnectorLabel>
        <rules>
            <name>Earlier_Than_Today2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Expected_Return_Date_Multiset</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Non_Bookable_Confirmation_Early</targetReference>
            </connector>
            <label>Earlier Than Today</label>
        </rules>
        <rules>
            <name>Valid_Multiset</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Expected_Return_Date_Multiset</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>recordId.SPEN_Safety_Check_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Safety_Check_Date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Expected_Return_Date_Multiset</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Location_Records_of_Booking_For_User_Multiset</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to ensure the expected return date entered is not later than the safety check date on the Serialised Product record.</description>
        <name>Check_Booking_Validity_Multiset_Running_User</name>
        <label>Check Booking Validity</label>
        <locationX>3834</locationX>
        <locationY>2804</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Non_Bookable_Confirmation1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Valid</defaultConnectorLabel>
        <rules>
            <name>Missing_Permission</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>foundPermissionSetAssignmentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ancillary Equipment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Earthing Devices</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Test Prods</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Failed_Permission_Check_Screen</targetReference>
            </connector>
            <label>Missing Permission</label>
        </rules>
        <rules>
            <name>Missing_Permission_Alternate</name>
            <conditionLogic>(1 AND 9 AND 2) OR (1 AND 9 AND 3) OR (1 AND 9 AND 4) OR (1 AND 9 AND 5) OR (1 AND 9 AND 6) OR (1 AND 9 AND 7) OR (1 AND 9 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>foundPermissionSetAssignmentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fuserod</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ladder</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lifting Equipment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Miscellaneous</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Portable Earth</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Test Equipment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working at Height</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Competent_User_Needed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Failed_Permission_Check_Screen</targetReference>
            </connector>
            <label>Missing Permission Alternate</label>
        </rules>
        <rules>
            <name>Earlier_Than_Today2_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Expected_Return_Date_Multiset</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Non_Bookable_Confirmation_Early</targetReference>
            </connector>
            <label>Earlier Than Today</label>
        </rules>
        <rules>
            <name>Valid_Multiset_0</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Expected_Return_Date_Multiset</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>recordId.SPEN_Safety_Check_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Safety_Check_Date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Expected_Return_Date_Multiset</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Location_Record_of_Running_User_Multiset</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision to check if the chosen user is a competent user and has permission to own the item being booked out.</description>
        <name>Check_If_Chosen_User_Is_Competent_User</name>
        <label>Check If Chosen User Is Competent User</label>
        <locationX>2602</locationX>
        <locationY>3344</locationY>
        <defaultConnector>
            <targetReference>Unauthorised_Selection_Retry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unauthorised</defaultConnectorLabel>
        <rules>
            <name>Competent_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bookedForPermissionSetAssignmentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_The_Product_Transfer_Details_BF</targetReference>
            </connector>
            <label>Competent User</label>
        </rules>
        <rules>
            <name>Authorised_User_Enabled</name>
            <conditionLogic>(1 AND 9 AND 2) OR (1 AND 9 AND 3) OR (1 AND 9 AND 4) OR (1 AND 9 AND 5) OR (1 AND 9 AND 6) OR (1 AND 9 AND 7) OR (1 AND 9 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>bookedForPermissionSetAssignmentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fuserod</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ladder</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lifting Equipment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Miscellaneous</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Portable Earth</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Test Equipment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working at Height</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Competent_User_Needed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_The_Product_Transfer_Details_BF</targetReference>
            </connector>
            <label>Authorised User Enabled</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision to check if the chosen user is a competent user and has permission to own the item being booked out.</description>
        <name>Check_If_Chosen_User_Is_Competent_User_Single</name>
        <label>Check If Chosen User Is Competent User</label>
        <locationX>5594</locationX>
        <locationY>2636</locationY>
        <defaultConnector>
            <targetReference>Unauthorised_Selection_Retry_Single</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unauthorised</defaultConnectorLabel>
        <rules>
            <name>Competent_User_Single</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bookedForPermissionSetAssignmentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_The_Product_Transfer_Details_Single_BF</targetReference>
            </connector>
            <label>Competent User</label>
        </rules>
        <rules>
            <name>Authorised_User_Alternate</name>
            <conditionLogic>(1 AND 9 AND 2) OR (1 AND 9 AND 3) OR (1 AND 9 AND 4) OR (1 AND 9 AND 5) OR (1 AND 9 AND 6) OR (1 AND 9 AND 7) OR (1 AND 9 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>bookedForPermissionSetAssignmentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fuserod</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ladder</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lifting Equipment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Miscellaneous</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Portable Earth</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Test Equipment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working at Height</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Competent_User_Needed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_The_Product_Transfer_Details_Single_BF</targetReference>
            </connector>
            <label>Authorised User Alternate</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if a Serialised Product is found where the ENID entered matches ENID field.</description>
        <name>Check_If_ENID_Serialised_Product_Found</name>
        <label>Check If ENID Serialised Product Found</label>
        <locationX>3834</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Invalid_ENID_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No ENID Identified</defaultConnectorLabel>
        <rules>
            <name>ENID_Identified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Serialised_Product_from_ENID_Entry.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Serialised_Product_Record_to_recordId_Variable</targetReference>
            </connector>
            <label>ENID Identified</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if the item is recalled.</description>
        <name>Check_If_Recalled</name>
        <label>Check If Recalled</label>
        <locationX>1766</locationX>
        <locationY>2696</locationY>
        <defaultConnector>
            <targetReference>Non_Bookable_Confirmation_Multiset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unavailable On Shelf</defaultConnectorLabel>
        <rules>
            <name>Recalled_Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Unavailable_Multiset_Serialised_Product.SPEN_Recalled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recalled_Confirmation_Part_Set</targetReference>
            </connector>
            <label>Recalled Confirmed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decides if the initial Multiset Serialised Product is available for book out.</description>
        <name>Check_Initial_Multiset_Availability</name>
        <label>Check Initial Multiset Availability</label>
        <locationX>2998</locationX>
        <locationY>1772</locationY>
        <defaultConnector>
            <targetReference>Non_Bookable_Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Bookable</defaultConnectorLabel>
        <rules>
            <name>Recalled_Multi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.SPEN_Recalled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Recalled</label>
        </rules>
        <rules>
            <name>Initial_Multiset_Bookable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.SPEN_Item_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Available</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Active_Multiset_Serialised_Products</targetReference>
            </connector>
            <label>Bookable</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decides if the chosen Serialised Products within the multiset is available for book out.</description>
        <name>Check_Multiset_Availability</name>
        <label>Check Multiset Availability</label>
        <locationX>2492</locationX>
        <locationY>2480</locationY>
        <defaultConnector>
            <targetReference>Book_Out_Screen_Multiset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Bookable</defaultConnectorLabel>
        <rules>
            <name>Multiset_Not_Bookable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Unavailable_Multiset_Serialised_Product_Storage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Unavailable_Multiset_Serialised_Product</targetReference>
            </connector>
            <label>Not Bookable</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks the current item in the loop for their Item Status.</description>
        <name>Check_Multiset_Serialised_Product_Item_Status</name>
        <label>Check Multiset Serialised Product Item Status</label>
        <locationX>2844</locationX>
        <locationY>2096</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Active_Multiset_Serialised_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Available</defaultConnectorLabel>
        <rules>
            <name>Recalled_Multi_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Active_Multiset_Serialised_Products.SPEN_Recalled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_Unavailable_Multiset_Serialised_Product_Record_ID</targetReference>
            </connector>
            <label>Recalled</label>
        </rules>
        <rules>
            <name>Not_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Active_Multiset_Serialised_Products.SPEN_Item_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Available</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Unavailable_Multiset_Serialised_Product_Record_ID</targetReference>
            </connector>
            <label>Not Available</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decides if the chosen serialised product is available and active for book out.</description>
        <name>Check_Serialised_Product_Availability</name>
        <label>Check Serialised Product Availability</label>
        <locationX>6254</locationX>
        <locationY>1772</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Non_Bookable_Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Bookable</defaultConnectorLabel>
        <rules>
            <name>Recalled_Single</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.SPEN_Recalled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Item_Is_Recalled_Confirmation_Screen</targetReference>
            </connector>
            <label>Recalled</label>
        </rules>
        <rules>
            <name>Bookable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.SPEN_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Item_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Available</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Book_Out_Screen</targetReference>
            </connector>
            <label>Bookable</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks that competent user permission set has been found, and serialised product record type has been found</description>
        <name>CheckRecordsFound</name>
        <label>Check Records Found</label>
        <locationX>1865</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Quick_Action_or_Global_Action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Found</defaultConnectorLabel>
        <rules>
            <name>Permission_Set_Missing</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>competentUserPermissionSetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contractorCompetentPermissionSetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missing_Permission_Sets_Screen</targetReference>
            </connector>
            <label>Permission Set Missing</label>
        </rules>
        <rules>
            <name>Record_Type_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>serialisedProductRecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missing_Serialised_Product_Record_Type_Screen</targetReference>
            </connector>
            <label>Serialised Product Record Type Missing</label>
        </rules>
        <rules>
            <name>Location_Record_Type_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>locationRecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missing_System_Record_Type_Screen</targetReference>
            </connector>
            <label>Location Record Type Missing</label>
        </rules>
        <rules>
            <name>Product_Transfer_Record_Type_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Compliance_Stores_Product_Transfer_Record_Type.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missing_System_Record_Type_Product_Transfer</targetReference>
            </connector>
            <label>Product Transfer Record Type Missing</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the user is booking for themselves or on behalf of somebody else.</description>
        <name>Copy_1_of_Is_User_Booking_For_Themself</name>
        <label>User Booking For Themself?</label>
        <locationX>3218</locationX>
        <locationY>2696</locationY>
        <defaultConnector>
            <targetReference>Check_Booking_Validity_Multiset_Running_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>For Themselves</defaultConnectorLabel>
        <rules>
            <name>On_Behalf_of_Someone_Else_Multiset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Booking_For_Blank_Check_Multiset</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Booking_Validity_Multiset_Behalf_Of</targetReference>
            </connector>
            <label>On Behalf of Someone Else</label>
        </rules>
    </decisions>
    <decisions>
        <description>Performs an initial check on the Serialised Product to see if this is part of a Multiset kit. Also checks to ensure the category is not appendix 1 and personal issue, items of this category should be issued rather than booked out by authorised/competent users.</description>
        <name>Initial_Multiset_Check_Category_Check</name>
        <label>Initial Multiset Check &amp; Category Check</label>
        <locationX>3680</locationX>
        <locationY>1664</locationY>
        <defaultConnector>
            <targetReference>Check_Serialised_Product_Availability</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Isn&apos;t Multiset</defaultConnectorLabel>
        <rules>
            <name>Appendix_1_Personal_Issue</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appendix 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Personal Issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Item_Should_Be_Issued_Screen</targetReference>
            </connector>
            <label>Appendix 1/Personal Issue</label>
        </rules>
        <rules>
            <name>Is_Multiset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.SPEN_Multiset__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Initial_Multiset_Availability</targetReference>
            </connector>
            <label>Is Multiset</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the user is booking for themselves or on behalf of somebody else.</description>
        <name>Is_User_Booking_For_Themself</name>
        <label>Is User Booking For Themself?</label>
        <locationX>6210</locationX>
        <locationY>1988</locationY>
        <defaultConnector>
            <targetReference>Check_Booking_Validity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>For Themselves</defaultConnectorLabel>
        <rules>
            <name>On_Behalf_of_Someone_Else</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Booking_For_Blank_Check</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Booking_Validity1</targetReference>
            </connector>
            <label>On Behalf of Someone Else</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the flow has been invoked from a Quick Action or a Global Action.</description>
        <name>Quick_Action_or_Global_Action</name>
        <label>Quick Action or Global Action</label>
        <locationX>3680</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Capture_ENID_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Global Action</defaultConnectorLabel>
        <rules>
            <name>Quick_Action</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initial_Multiset_Check_Category_Check</targetReference>
            </connector>
            <label>Quick Action</label>
        </rules>
    </decisions>
    <description>Screen flow for users to book out compliance stores equipment.</description>
    <environments>Default</environments>
    <formulas>
        <description>Checks if the user has confirmed they are booking for someone else.,</description>
        <name>Booking_For_Blank_Check</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!On_Behalf_Of_Text})</expression>
    </formulas>
    <formulas>
        <description>Checks if the booking for field was entered whilst user was booking out the multiset Serialised Product.</description>
        <name>Booking_For_Blank_Check_Multiset</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!On_Behalf_Of_Text_Multiset})</expression>
    </formulas>
    <formulas>
        <description>Returns the full name of the running user record.</description>
        <name>Full_Running_User_Name_Return</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} + &quot; &quot; + {!$User.LastName}</expression>
    </formulas>
    <formulas>
        <name>Running_User_ID_Return</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <formulas>
        <description>Formula to check if the safety check date is blank on the Serialised Product record.</description>
        <name>Safety_Check_Date</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!recordId.SPEN_Safety_Check_Date__c})</expression>
    </formulas>
    <formulas>
        <description>Stores todays date for checking that the expected return date entered by user isn&apos;t earlier than today.</description>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Book Out {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Compliance Stores - Book Out</label>
    <loops>
        <description>Loops through the created product transfers.</description>
        <name>Loop_Created_Product_Transfers</name>
        <label>Loop Created Product Transfers</label>
        <locationX>3680</locationX>
        <locationY>4970</locationY>
        <collectionReference>finalProductTransfers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_for_Create_Product_Transfer_State</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Product_Transfer_State_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through the recordids collection variable in order to generate product transfer records for each (multiset or single).</description>
        <name>Loop_recordids_Collection_Variable</name>
        <label>Loop recordids Collection Variable</label>
        <locationX>3680</locationX>
        <locationY>4454</locationY>
        <collectionReference>recordIdsCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_for_Create_Product_Transfer</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Product_Transfer_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loops through recordids in order to update each Serialised Product following Product Transfer.</description>
        <name>Loop_Serialised_Products</name>
        <label>Loop Serialised Products</label>
        <locationX>3680</locationX>
        <locationY>6002</locationY>
        <collectionReference>recordIdsCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_for_Updating_Serialised_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Serialised_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loops through the active multiset Serialised Products to check if any are not sat in available status.</description>
        <name>Loop_Through_Active_Multiset_Serialised_Products</name>
        <label>Loop Through Active Multiset Serialised Products</label>
        <locationX>2492</locationX>
        <locationY>1988</locationY>
        <collectionReference>Get_Active_Multiset_Serialised_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Multiset_Serialised_Product_Item_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Multiset_Availability</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loops through the created Product Transfers in order to update the records.</description>
        <name>Loop_to_Update_Product_Transfers</name>
        <label>Loop to Update Product Transfers</label>
        <locationX>3680</locationX>
        <locationY>5486</locationY>
        <collectionReference>finalProductTransfers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_for_Updating_Product_Transfers</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Product_Transfers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates the Product Transfer records.</description>
        <name>Create_Product_Transfer_Records</name>
        <label>Create Product Transfer Records</label>
        <locationX>3680</locationX>
        <locationY>4862</locationY>
        <connector>
            <targetReference>Loop_Created_Product_Transfers</targetReference>
        </connector>
        <inputReference>finalProductTransfers</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Creates all Product Transfer records as needed.</description>
        <name>Create_Product_Transfer_State_Records</name>
        <label>Create Product Transfer State Records</label>
        <locationX>3680</locationX>
        <locationY>5378</locationY>
        <connector>
            <targetReference>Loop_to_Update_Product_Transfers</targetReference>
        </connector>
        <inputReference>finalProductTransferStates</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Check_Permissions_of_Booked_For_User</name>
        <label>Check Permissions of Booked For User</label>
        <locationX>5594</locationX>
        <locationY>2528</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Chosen_User_Is_Competent_User_Single</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Final_User_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>competentUserPermissionSetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contractorCompetentPermissionSetId</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputAssignments>
            <assignToReference>bookedForPermissionSetAssignmentId</assignToReference>
            <field>PermissionSetId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Permission_Set_Assignment</name>
        <label>Find Permission Set Assignment</label>
        <locationX>2602</locationX>
        <locationY>3236</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Chosen_User_Is_Competent_User</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Final_User_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>competentUserPermissionSetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contractorCompetentPermissionSetId</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputAssignments>
            <assignToReference>bookedForPermissionSetAssignmentId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Records element to find all Serialised Products which have the same Parent Energy Networks ID as the Serialised Product the user is attempting to book out.</description>
        <name>Get_Active_Multiset_Serialised_Products</name>
        <label>Get Active Multiset Serialised Products</label>
        <locationX>2492</locationX>
        <locationY>1880</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Active_Multiset_Serialised_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SPEN_Parent_Energy_Networks_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.SPEN_Parent_Energy_Networks_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SerializedProduct</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Competent_User_Permission_Set_Id</name>
        <label>Get Competent Permission Set Id</label>
        <locationX>1865</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contractor_Competent_Permission_Set_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_Compliance_Stores_Competent_User</stringValue>
            </value>
        </filters>
        <object>PermissionSet</object>
        <outputAssignments>
            <assignToReference>competentUserPermissionSetId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the record type ID of the compliance stores record type for the Product Transfer object.</description>
        <name>Get_Compliance_Stores_Product_Transfer_Record_Type</name>
        <label>Get Compliance Stores Product Transfer Record Type</label>
        <locationX>1865</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckRecordsFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ProductTransfer</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_Compliance_Stores</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contractor_Competent_Permission_Set_Id</name>
        <label>Get Contractor Competent Permission Set Id</label>
        <locationX>1865</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Permission_Set_Assignment_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_Compliance_Stores_Competent_User_Contractor</stringValue>
            </value>
        </filters>
        <object>PermissionSet</object>
        <outputAssignments>
            <assignToReference>contractorCompetentPermissionSetId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Finds the Location record of the chosen Location from the previous screen.</description>
        <name>Get_Location_Record_of_Booked_For_User1</name>
        <label>Get Location Record of Booked For User</label>
        <locationX>5594</locationX>
        <locationY>2420</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Permissions_of_Booked_For_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_Location_Display.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <object>Location</object>
        <outputAssignments>
            <assignToReference>Final_Location_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Final_Location_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Final_User_Id</assignToReference>
            <field>SPEN_User__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Finds the Location record of the chosen Location from the previous screen.</description>
        <name>Get_Location_Record_of_Booked_For_User_Multiset</name>
        <label>Get Location Record of Booked For User</label>
        <locationX>2602</locationX>
        <locationY>3128</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Permission_Set_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_Location_Display_Multiset.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <object>Location</object>
        <outputAssignments>
            <assignToReference>Final_Location_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Final_Location_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Final_User_Id</assignToReference>
            <field>SPEN_User__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Finds the Location record which is type &apos;User&apos; and is linked to the User record of the running user.</description>
        <name>Get_Location_Record_of_Running_User</name>
        <label>Get Location Record of Running User</label>
        <locationX>7090</locationX>
        <locationY>2420</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_recordids_Collection_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LocationType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>User</stringValue>
            </value>
        </filters>
        <filters>
            <field>SPEN_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Running_User_ID_Return</elementReference>
            </value>
        </filters>
        <object>Location</object>
        <outputAssignments>
            <assignToReference>Final_Location_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Final_Location_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Finds the Location record which is type &apos;User&apos; and is linked to the User record of the running user.</description>
        <name>Get_Location_Record_of_Running_User_Multiset</name>
        <label>Get Location Record of Booked For User</label>
        <locationX>4098</locationX>
        <locationY>2912</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_the_product_transfer_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LocationType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>User</stringValue>
            </value>
        </filters>
        <filters>
            <field>SPEN_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Running_User_ID_Return</elementReference>
            </value>
        </filters>
        <object>Location</object>
        <outputAssignments>
            <assignToReference>Final_Location_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Final_Location_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Location_Record_Type</name>
        <label>Get Location Record Type</label>
        <locationX>1865</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Compliance_Stores_Product_Transfer_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_Compliance_Stores</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Location</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>locationRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Finds the Location record which is marked as &apos;Is Person Location&apos; and contains the name user entered in the previous screen.</description>
        <name>Get_Location_Records_of_Booking_For_User</name>
        <label>Get Location Records of Booking For User</label>
        <locationX>5594</locationX>
        <locationY>2204</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Selection_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LocationType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>User</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>On_Behalf_Of_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>locationRecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Location</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Finds the Location record that contains the name user entered in the previous screen.</description>
        <name>Get_Location_Records_of_Booking_For_User_Multiset</name>
        <label>Get Location Records of Booking For User</label>
        <locationX>2602</locationX>
        <locationY>2912</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Selection_Screen_Multiset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LocationType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>User</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>On_Behalf_Of_Text_Multiset</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>locationRecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Location</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Checks if the user has permission set assignment for Competent User</description>
        <name>Get_Permission_Set_Assignment_Id</name>
        <label>Get Permission Set Assignment Id</label>
        <locationX>1865</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Serialised_Product_Record_Type</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Running_User_ID_Return</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>competentUserPermissionSetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contractorCompetentPermissionSetId</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputAssignments>
            <assignToReference>foundPermissionSetAssignmentId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the Serialised Product record via the ENID entry from user on previous screen.</description>
        <name>Get_Serialised_Product_from_ENID_Entry</name>
        <label>Get Serialised Product from ENID Entry</label>
        <locationX>3834</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_ENID_Serialised_Product_Found</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>SPEN_Energy_Networks_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ENID_Entry_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Parent_Energy_Networks_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ENID_Entry_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serialisedProductRecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SerializedProduct</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Serialised_Product_Record_Type</name>
        <label>Get Serialised Product Record Type</label>
        <locationX>1865</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Location_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SerializedProduct</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_Compliance_Stores</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>serialisedProductRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Records to get the users full name who the item is being booked out for.</description>
        <name>Get_the_Booked_For_User_Name</name>
        <label>Get the Booked For User Name</label>
        <locationX>5594</locationX>
        <locationY>3110</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Display_Component_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Final_User_Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>Final_User_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Records to get the users full name who the item is being booked out for.</description>
        <name>Get_the_Booked_For_User_Name_Multiset</name>
        <label>Get the Booked For User Name</label>
        <locationX>2602</locationX>
        <locationY>3926</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_recordids_Collection_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Final_User_Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>Final_User_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Records element to find the unavailable Multiset Serialised Product in order to display on the non bookable confirmation screen.</description>
        <name>Get_Unavailable_Multiset_Serialised_Product</name>
        <label>Get Unavailable Multiset Serialised Product</label>
        <locationX>1766</locationX>
        <locationY>2588</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Recalled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Unavailable_Multiset_Serialised_Product_Storage</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SerializedProduct</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Records element to update all Product Transfers previously generated.</description>
        <name>Update_Product_Transfers</name>
        <label>Update Product Transfers</label>
        <locationX>3680</locationX>
        <locationY>5894</locationY>
        <connector>
            <targetReference>Loop_Serialised_Products</targetReference>
        </connector>
        <inputReference>finalUpdatedProductTransfers</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the Serialised Products</description>
        <name>Update_Serialised_Products</name>
        <label>Update Serialised Products</label>
        <locationX>3680</locationX>
        <locationY>6410</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <inputReference>finalSerialisedProducts</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Screen to capture initial book out details.</description>
        <name>Book_Out_Screen</name>
        <label>Book Out Screen</label>
        <locationX>6210</locationX>
        <locationY>1880</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_User_Booking_For_Themself</targetReference>
        </connector>
        <fields>
            <name>Energy_Networks_ID</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.SPEN_Energy_Networks_ID__c</elementReference>
            </defaultValue>
            <fieldText>Energy Networks ID</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Expected_Return_Date</name>
            <dataType>Date</dataType>
            <fieldText>Expected Return Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Display_Safety_Check_Date</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 149, 36); font-size: 14px;&quot;&gt;Please note, the latest you can return this is {!recordId.SPEN_Safety_Check_Date__c} as a safety check is required on this date.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.SPEN_Safety_Check_Date__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Site_Description</name>
            <dataType>String</dataType>
            <fieldText>Site Description</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Booking_For_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Only enter the below field if you are booking on behalf of somebody else.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>On_Behalf_Of_Text</name>
            <dataType>String</dataType>
            <fieldText>On Behalf Of</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to capture initial book out details.</description>
        <name>Book_Out_Screen_Multiset</name>
        <label>Book Out Screen - Multiset</label>
        <locationX>3218</locationX>
        <locationY>2588</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Is_User_Booking_For_Themself</targetReference>
        </connector>
        <fields>
            <name>Display_Parent_ENID</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Parent Energy Network ID: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!recordId.SPEN_Parent_Energy_Networks_ID__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Expected_Return_Date_Multiset</name>
            <dataType>Date</dataType>
            <fieldText>Expected Return Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Display_Safety_Check_Date_Multiset</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(255, 149, 36);&quot;&gt;Please note, the latest you can return this multiset is {!recordId.SPEN_Safety_Check_Date__c} as a safety check is required on this date.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.SPEN_Safety_Check_Date__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Site_Description_Multiset</name>
            <dataType>String</dataType>
            <fieldText>Site Description</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Booking_For_Display_Text_Multiset</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Only enter the below field if you are booking on behalf of somebody else.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>On_Behalf_Of_Text_Multiset</name>
            <dataType>String</dataType>
            <fieldText>On Behalf Of</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to manually capture the ENID from the equipment due to being invoked from a global action.</description>
        <name>Capture_ENID_Screen</name>
        <label>Capture ENID Screen</label>
        <locationX>3834</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Serialised_Product_from_ENID_Entry</targetReference>
        </connector>
        <fields>
            <name>ENID_Entry_Text</name>
            <dataType>String</dataType>
            <fieldText>Input or Scan Energy Networks ID:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Enter Booking Information</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Confirmation screen to show user component(s) booked.</description>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>3680</locationX>
        <locationY>6518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SingleConfirmation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The below item is now booked out:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Energy Network ID: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!recordId.SPEN_Energy_Networks_ID__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Product Name: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!recordId.Product2.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Category:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; {!recordId.SPEN_Category__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Description: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!recordId.SPEN_Item_Description__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Expected Return Date: &lt;/strong&gt;&lt;span style=&quot;color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-size: 14px; font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;);&quot;&gt; {!final_expected_return_date}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-size: 14px; font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;);&quot;&gt;Booked For: &lt;/strong&gt;&lt;span style=&quot;color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-size: 14px; font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;);&quot;&gt;{!Final_User_Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Location: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Final_Location_Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.SPEN_Parent_Energy_Networks_ID__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MultisetConfirmation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The multiset item is now booked out:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Parent Energy Network ID: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!recordId.SPEN_Parent_Energy_Networks_ID__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Expected Return Date: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!final_expected_return_date}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); font-size: 14px; color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68)));&quot;&gt;Booked For: &lt;/strong&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); font-size: 14px; color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68)));&quot;&gt;{!Final_User_Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Location: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Final_Location_Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.SPEN_Parent_Energy_Networks_ID__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays the component being booked out.</description>
        <name>Display_Component_Screen</name>
        <label>Display Component Screen</label>
        <locationX>5594</locationX>
        <locationY>3218</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Go Back</backButtonLabel>
        <connector>
            <targetReference>Loop_recordids_Collection_Variable</targetReference>
        </connector>
        <fields>
            <name>Component_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;See below the component being booked out:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Item_Display_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>SerializedProduct</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Component</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>recordIdsCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;SPEN_Energy_Networks_ID__c&quot;,&quot;guid&quot;:&quot;column-8193&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Energy Networks ID&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;SPEN_Manufacturer__c&quot;,&quot;guid&quot;:&quot;column-c425&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Manufacturer&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;SPEN_Type__c&quot;,&quot;guid&quot;:&quot;column-2715&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Type&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;SPEN_Item_Description__c&quot;,&quot;guid&quot;:&quot;column-6cc4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Description&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Item Description&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;SPEN_Category__c&quot;,&quot;guid&quot;:&quot;column-8567&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Category&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays the component being booked out.</description>
        <name>Display_Component_Screen1</name>
        <label>Display Component Screen</label>
        <locationX>7090</locationX>
        <locationY>2312</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Go Back</backButtonLabel>
        <connector>
            <targetReference>Get_Location_Record_of_Running_User</targetReference>
        </connector>
        <fields>
            <name>Multiset_Components_Display_Text1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;See below the component being booked out:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>single_Display_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>SerializedProduct</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Component</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>recordIdsCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;SPEN_Energy_Networks_ID__c&quot;,&quot;guid&quot;:&quot;column-8193&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Energy Networks ID&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;SPEN_Manufacturer__c&quot;,&quot;guid&quot;:&quot;column-c425&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Manufacturer&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;SPEN_Type__c&quot;,&quot;guid&quot;:&quot;column-2715&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Type&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;SPEN_Item_Description__c&quot;,&quot;guid&quot;:&quot;column-6cc4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Description&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Item Description&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;SPEN_Category__c&quot;,&quot;guid&quot;:&quot;column-8567&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Category&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays the individual components within the multiset.</description>
        <name>Display_Components_Screen</name>
        <label>Display Components Screen</label>
        <locationX>2602</locationX>
        <locationY>3818</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Go Back</backButtonLabel>
        <connector>
            <targetReference>Get_the_Booked_For_User_Name_Multiset</targetReference>
        </connector>
        <fields>
            <name>Multiset_Components_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;See below the components currently contained within this multiset.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>multiset_Display_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>SerializedProduct</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Components</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>recordIdsCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;SPEN_Energy_Networks_ID__c&quot;,&quot;guid&quot;:&quot;column-8193&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Energy Networks ID&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;SPEN_Manufacturer__c&quot;,&quot;guid&quot;:&quot;column-c425&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Manufacturer&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;SPEN_Type__c&quot;,&quot;guid&quot;:&quot;column-2715&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Type&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;SPEN_Item_Description__c&quot;,&quot;guid&quot;:&quot;column-6cc4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Description&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Item Description&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;SPEN_Category__c&quot;,&quot;guid&quot;:&quot;column-8567&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Category&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays the individual components within the multiset.</description>
        <name>Display_Components_Screen1</name>
        <label>Display Components Screen</label>
        <locationX>4098</locationX>
        <locationY>3128</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Go Back</backButtonLabel>
        <connector>
            <targetReference>Loop_recordids_Collection_Variable</targetReference>
        </connector>
        <fields>
            <name>Multiset_Components_Display_Text_1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;See below the components currently contained within this multiset.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_multiset_Display_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>SerializedProduct</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Components</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>recordIdsCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;SPEN_Energy_Networks_ID__c&quot;,&quot;guid&quot;:&quot;column-8193&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Energy Networks ID&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;SPEN_Manufacturer__c&quot;,&quot;guid&quot;:&quot;column-c425&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Manufacturer&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;SPEN_Type__c&quot;,&quot;guid&quot;:&quot;column-2715&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Type&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;SPEN_Item_Description__c&quot;,&quot;guid&quot;:&quot;column-6cc4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Description&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Item Description&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;SPEN_Category__c&quot;,&quot;guid&quot;:&quot;column-8567&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Category&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to the user that they don&apos;t have the relevant permissions to book out the item in their name.</description>
        <name>Failed_Permission_Check_Screen</name>
        <label>Failed Permission Check</label>
        <locationX>6298</locationX>
        <locationY>2204</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NotAuthorisedDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You are not authorised to book out this item in your name.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;If you should have authorisation, please speak with your team leader/manager to request access.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to the user that the ENID entered is not valid/doesn&apos;t match a Serialised Product record.</description>
        <name>Invalid_ENID_Screen</name>
        <label>Invalid ENID Screen</label>
        <locationX>3966</locationX>
        <locationY>1322</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Capture_ENID_Screen</targetReference>
        </connector>
        <fields>
            <name>InvalidENIDDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;The chosen Energy Networks ID is not valid. Please input or scan an ID that matches a valid item.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Retry</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to user that the serialised product is non bookable as it&apos;s currently being recalled.</description>
        <name>Item_Is_Recalled_Confirmation_Screen</name>
        <label>Item Is Recalled Confirmation</label>
        <locationX>4890</locationX>
        <locationY>1880</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Item_Recalled_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Current Status:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt; {!recordId.SPEN_Item_Status__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Current Location: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!recordId.SPEN_Location_Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You can&apos;t book this equipment as it&apos;s currently being recalled.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Confirms to user that this item needs to be booked out to the user via the issue item.</description>
        <name>Item_Should_Be_Issued_Screen</name>
        <label>Item Should Be Issued Screen</label>
        <locationX>1106</locationX>
        <locationY>1772</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>itemIssueDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You cannot directly book this item as it is appendix 1/personal issue equipment.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to the user that the system is missing permission sets.</description>
        <name>Missing_Permission_Sets_Screen</name>
        <label>Missing Permission Sets Screen</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MissingPermissionSetsDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;There are missing permissions in the system. Please advise the system administrator of the below issue.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;One of the below custom permissions are missing in the Salesforce system:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Competent User&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Competent User Contractor&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm the Compliance Stores record type for Serialised Products is missing from the system.</description>
        <name>Missing_Serialised_Product_Record_Type_Screen</name>
        <label>Missing Serialised Product Record Type Screen</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MissingSerialisedProductRecordTypeDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You cannot book out an item at this time. Please advise the system administrator of the below issue.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The below Record Type is missing from the Serialised Product object:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Compliance Stores&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm the Compliance Stores record type for Product Transfer is missing from the system.</description>
        <name>Missing_System_Record_Type_Product_Transfer</name>
        <label>Missing System Record Type</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MissingProductTransferRecordTypeDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You cannot book out an item at this time. Please advise the system administrator of the below issue.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The below Record Type is missing from the Product Transfer object:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Compliance Stores&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm the Compliance Stores record type for Location is missing from the system.</description>
        <name>Missing_System_Record_Type_Screen</name>
        <label>Missing System Record Type</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MissingLocationRecordTypeDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You cannot book out an item at this time. Please advise the system administrator of the below issue.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The below Record Type is missing from the Location object:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Compliance Stores&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to user that the serialised product is non bookable as it&apos;s not active/available status.</description>
        <name>Non_Bookable_Confirmation</name>
        <label>Non Bookable Confirmation</label>
        <locationX>4626</locationX>
        <locationY>1880</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Non_Bookable_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Current Status:&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt; {!recordId.SPEN_Item_Status__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Current Location: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!recordId.SPEN_Current_Location__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You can&apos;t book this equipment as it&apos;s not available on the shelf for issue.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to user that the Serialised Product is non bookable as they are attempting to return later than the safety check date on the Serialised Product record.</description>
        <name>Non_Bookable_Confirmation1</name>
        <label>Non Bookable Confirmation</label>
        <locationX>3042</locationX>
        <locationY>2912</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Change Expected Return Date</backButtonLabel>
        <fields>
            <name>Copy_1_of_Non_Bookable_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You can&apos;t book this equipment as you are attempting to return it after a safety check is due.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to user that the Serialised Product is non bookable as they are attempting to return earlier than today&apos;s date.</description>
        <name>Non_Bookable_Confirmation_Early</name>
        <label>Non Bookable Confirmation</label>
        <locationX>2162</locationX>
        <locationY>2912</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Change Expected Return Date</backButtonLabel>
        <fields>
            <name>Non_Bookable_Display_Text_Early</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The expected return date is earlier than today&apos;s date. Please go back and amend to the correct date.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to user that the serialised product is non bookable as it&apos;s not active/available status.</description>
        <name>Non_Bookable_Confirmation_Multiset</name>
        <label>Non Bookable Confirmation</label>
        <locationX>1898</locationX>
        <locationY>2804</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Non_Multiset_Bookable_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Energy Networks ID: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!Get_Unavailable_Multiset_Serialised_Product.SPEN_Energy_Networks_ID__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Product: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Get_Unavailable_Multiset_Serialised_Product.Product2.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Category: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Get_Unavailable_Multiset_Serialised_Product.SPEN_Category__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Current Status:&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt; {!Get_Unavailable_Multiset_Serialised_Product.SPEN_Item_Status__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Current Location: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!Get_Unavailable_Multiset_Serialised_Product.SPEN_Location_Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You can&apos;t book this multiset as the above piece is not available on the shelf for issue.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to user that the serialised product is non bookable as it&apos;s currently being recalled.</description>
        <name>Recalled_Confirmation_Part_Set</name>
        <label>Recalled Confirmation</label>
        <locationX>1634</locationX>
        <locationY>2804</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Recalled_Multiset_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Energy Networks ID: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Unavailable_Multiset_Serialised_Product.SPEN_Energy_Networks_ID__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Product: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Get_Unavailable_Multiset_Serialised_Product.Product2.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Category: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Get_Unavailable_Multiset_Serialised_Product.SPEN_Category__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Current Status:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; {!Get_Unavailable_Multiset_Serialised_Product.SPEN_Item_Status__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Current Location: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Unavailable_Multiset_Serialised_Product.SPEN_Location_Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;You can&apos;t book this multiset as the above piece is currently in the process of being recalled.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to user that the user they&apos;ve chosen to book out for is unauthorised to own the item.</description>
        <name>Unauthorised_Selection_Retry</name>
        <label>Unauthorised Selection - Retry</label>
        <locationX>2778</locationX>
        <locationY>3452</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Book_Out_Screen_Multiset</targetReference>
        </connector>
        <fields>
            <name>BookedForUnauthorised</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You have chosen a user who does not have permission to own items. Please choose a different user to book this item out to.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to user that the user they&apos;ve chosen to book out for is unauthorised to own the item.</description>
        <name>Unauthorised_Selection_Retry_Single</name>
        <label>Unauthorised Selection - Retry</label>
        <locationX>5770</locationX>
        <locationY>2744</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Book_Out_Screen</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_BookedForUnauthorised</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You have chosen a user who does not have permission to own items. Please choose a different user to book this item out to.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Allows user to select the correct user/location for the booking out process.</description>
        <name>User_Selection_Screen</name>
        <label>User Selection Screen</label>
        <locationX>5594</locationX>
        <locationY>2312</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Go Back</backButtonLabel>
        <connector>
            <targetReference>Get_Location_Record_of_Booked_For_User1</targetReference>
        </connector>
        <fields>
            <name>User_Selection_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please confirm the user to book this equipment out for.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>User_Location_Display</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Location</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Users</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Location_Records_of_Booking_For_User</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-f4cd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Location Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Book Out</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Allows user to select the correct user/location for the booking out process.</description>
        <name>User_Selection_Screen_Multiset</name>
        <label>User Selection Screen - Multiset</label>
        <locationX>2602</locationX>
        <locationY>3020</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Go Back</backButtonLabel>
        <connector>
            <targetReference>Get_Location_Record_of_Booked_For_User_Multiset</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_User_Selection_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please confirm the user to book this equipment out for.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>User_Location_Display_Multiset</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Location</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Users</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Location_Records_of_Booking_For_User_Multiset</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-f4cd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Location Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1739</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Competent_User_Permission_Set_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Holds the assigned product transfer details prior to being entered in product transfer collection</description>
        <name>assigned_product_transfer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransfer</objectType>
    </variables>
    <variables>
        <name>assigned_product_transfer_state</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransferState</objectType>
    </variables>
    <variables>
        <name>assigned_serialised_product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>bookedForPermissionSetAssignmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>competentUserPermissionSetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contractorCompetentPermissionSetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Holds the selected expected return date entered by the user on screen element.</description>
        <name>final_expected_return_date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the final Location Id that should be entered on the new Product Transfer record.</description>
        <name>Final_Location_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the chosen Location Name.</description>
        <name>Final_Location_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the final site description chosen by the user.</description>
        <name>final_site_description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the chosen User Id</description>
        <name>Final_User_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the chosen User name field.</description>
        <name>Final_User_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>finalProductTransfers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransfer</objectType>
    </variables>
    <variables>
        <name>finalProductTransferStates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransferState</objectType>
    </variables>
    <variables>
        <name>finalSerialisedProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>finalUpdatedProductTransfers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransfer</objectType>
    </variables>
    <variables>
        <name>foundPermissionSetAssignmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>locationRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the serialised product Id where the flow has been invoked from.</description>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>recordIdsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>serialisedProductRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record ID of the unavailable multiset Serialised Product if one is found.</description>
        <name>Unavailable_Multiset_Serialised_Product_Storage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updated_product_transfer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransfer</objectType>
    </variables>
    <variables>
        <description>Stores the expected return date entered by the user.</description>
        <name>Validated_Expected_Return_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
