force-app/main/default/flows/SPEN_TaskRecordTriggeredFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Callback_Request_Reminder</name>
        <label>Send Callback Request Reminder</label>
        <locationX>1898</locationX>
        <locationY>924</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Task_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>CaseOwnerList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Task has been created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>ConnectionCallBackBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Case_Not_Actioned_Reminder</name>
        <label>Send Case Not Actioned Reminder</label>
        <locationX>1634</locationX>
        <locationY>1032</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Task_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>caseQueueList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Task has been created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CaseNotActionBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Final_Reminder_Notification</name>
        <label>Send Final Reminder Notification</label>
        <locationX>1370</locationX>
        <locationY>924</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Task_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>CaseOwnerList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Task has been created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>FinalReminderBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_First_Reminder_Notification</name>
        <label>Send First Reminder Notification</label>
        <locationX>842</locationX>
        <locationY>924</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Task_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>CaseOwnerList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Task has been created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>FirstReminderBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_GS_Due_Date_Reminder</name>
        <label>Send GS Due Date Reminder</label>
        <locationX>2162</locationX>
        <locationY>1032</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Task_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>caseQueueList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Task has been created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>GSBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Post_Acceptance_Reminder</name>
        <label>Send Post Acceptance Reminder</label>
        <locationX>2426</locationX>
        <locationY>924</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Task_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>CaseOwnerList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Task has been created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>OutstandingPostBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Second_Reminder_Notification</name>
        <label>Send Second Reminder Notification</label>
        <locationX>1106</locationX>
        <locationY>924</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Task_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>CaseOwnerList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Task has been created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>SecondReminderBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Task_Notification_to_Owner</name>
        <label>Send Task Notification to Owner</label>
        <locationX>578</locationX>
        <locationY>600</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Task_Custom_Notification_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>assignedOwnerIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>A Task has been assigned to you.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>High Risk Call Task has been assigned to you.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Sending_the_case_task_notification</name>
        <label>Sending the case task notification</label>
        <locationX>50</locationX>
        <locationY>816</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Getting_task_notification_name.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>CaseOwnerList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Call Back Task Notification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Connections Call Back Task is created for the CaseNumber {!Getting_Case_records.CaseNumber}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Task_Due_Date_Notification</name>
        <label>Task Due Date Notification</label>
        <locationX>3306</locationX>
        <locationY>384</locationY>
        <actionName>Case.SPEN_TaskDueDateNotification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.SPEN_TaskDueDateNotification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Case_Owner_Assignment_First</name>
        <label>Case Owner Assignment First</label>
        <locationX>842</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>CaseOwnerList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_First_Reminder_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Owner_Assignment_For_Callback</name>
        <label>Case Owner Assignment For Callback</label>
        <locationX>1898</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>CaseOwnerList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Callback_Request_Reminder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Owner_Assignment_For_Post_Contact</name>
        <label>Case Owner Assignment For Post Contact</label>
        <locationX>2426</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>CaseOwnerList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Post_Acceptance_Reminder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Owner_Assignment_Second</name>
        <label>Case Owner Assignment Second</label>
        <locationX>1106</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>CaseOwnerList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Second_Reminder_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_owner_detail_list</name>
        <label>Case owner detail list</label>
        <locationX>50</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>CaseOwnerList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sending_the_case_task_notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Owner_Final_Assignment</name>
        <label>Case Owner Final Assignment</label>
        <locationX>1370</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>CaseOwnerList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Final_Reminder_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Design_Queue_Assignment</name>
        <label>Design Queue Assignment</label>
        <locationX>2162</locationX>
        <locationY>924</locationY>
        <assignmentItems>
            <assignToReference>caseQueueList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Design_Manger_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_GS_Due_Date_Reminder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Queue_Assignment_To_List</name>
        <label>Queue Assignment To List</label>
        <locationX>1634</locationX>
        <locationY>924</locationY>
        <assignmentItems>
            <assignToReference>caseQueueList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Design_Manager_Team.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Case_Not_Actioned_Reminder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Owner_Ids</name>
        <label>Set Owner Ids</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>assignedOwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_Custom_Notification_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_record_type_Values_Of_Related_Task</name>
        <label>Case record type Values Of Related Task</label>
        <locationX>182</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task_Case_Record_Type_Conditions</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Getting_Case_records.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_FormalConnectionEnquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Getting_Case_records.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_BudgetConnectionEnquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Getting_Case_records.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_ConnectionReadOnlyCase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Getting_task_notification_name</targetReference>
            </connector>
            <label>Task Case Record Type Conditions</label>
        </rules>
    </decisions>
    <decisions>
        <name>Connection_Case_Record_Types</name>
        <label>Connection Case Record Types</label>
        <locationX>2316</locationX>
        <locationY>600</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Connection_Cases</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_FormalConnectionEnquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_BudgetConnectionEnquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_ConnectionReadOnlyCase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Subject_Check</targetReference>
            </connector>
            <label>Connection Cases</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Case_or_Voice_call</name>
        <label>Is Case or Voice call</label>
        <locationX>1612</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.LastName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>AWSuser</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.SPEN_BypassFlowTask</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Getting_Case_records</targetReference>
            </connector>
            <label>Is Case</label>
        </rules>
        <rules>
            <name>Voice_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_VoiceCall__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.LastName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>AWSuser</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.SPEN_BypassFlowTask</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Owner_Ids</targetReference>
            </connector>
            <label>Is Voice Call?</label>
        </rules>
        <rules>
            <name>Is_Connection_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.SPEN_BypassFlowTask</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Record</targetReference>
            </connector>
            <label>Is Connection Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_type_check</name>
        <label>Record type check</label>
        <locationX>3438</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_record_type_is_Follow_up_Meeting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_SPTFollowupmeeting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActivityDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.SPEN_BypassFlowTask</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Due_Date_Notification</targetReference>
            </connector>
            <label>If record type is Follow up Meeting</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_Subject_Check</name>
        <label>Task Subject Check</label>
        <locationX>1766</locationX>
        <locationY>708</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_Reminder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>First Reminder: Customer contact needed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Owner_Assignment_First</targetReference>
            </connector>
            <label>First Reminder</label>
        </rules>
        <rules>
            <name>Second_Reminder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Second Reminder: Customer contact needed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Owner_Assignment_Second</targetReference>
            </connector>
            <label>Second Reminder</label>
        </rules>
        <rules>
            <name>Final_Reminder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final Reminder: Customer contact needed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Owner_Final_Assignment</targetReference>
            </connector>
            <label>Final Reminder</label>
        </rules>
        <rules>
            <name>Case_Not_Actioned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case is not yet actioned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Design_Manager_Team</targetReference>
            </connector>
            <label>Case Not Actioned</label>
        </rules>
        <rules>
            <name>Callback_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Connections Callback Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Owner_Assignment_For_Callback</targetReference>
            </connector>
            <label>Callback Request</label>
        </rules>
        <rules>
            <name>GS_Due_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GS Due Date about to be breached</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Design_Manger_Queue</targetReference>
            </connector>
            <label>GS Due Date</label>
        </rules>
        <rules>
            <name>Outstanding_Post_Acceptance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outstanding Post Acceptance Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Owner_Assignment_For_Post_Contact</targetReference>
            </connector>
            <label>Outstanding Post Acceptance</label>
        </rules>
    </decisions>
    <description>When a task is created for a case Salesforce Notification will be created for the same.
This is Task After Insert Record Triggered Flow</description>
    <environments>Default</environments>
    <formulas>
        <name>CaseNotActionBody</name>
        <dataType>String</dataType>
        <expression>&apos;Case&apos; + &apos; &apos; + {!Get_Case_Record.CaseNumber} + &apos; &apos; + &apos;is not yet actioned&apos;</expression>
    </formulas>
    <formulas>
        <name>ConnectionCallBackBody</name>
        <dataType>String</dataType>
        <expression>&apos;Case&apos; + &apos; &apos; + {!Get_Case_Record.CaseNumber} + &apos; &apos; + &apos;Customer has requested a Call Back&apos;</expression>
    </formulas>
    <formulas>
        <name>FinalReminderBody</name>
        <dataType>String</dataType>
        <expression>&apos;Case&apos; + &apos; &apos; + {!Get_Case_Record.CaseNumber} + &apos; &apos; + &apos;Final Reminder: Customer Contact needed&apos;</expression>
    </formulas>
    <formulas>
        <name>FirstReminderBody</name>
        <dataType>String</dataType>
        <expression>&apos;Case&apos; + &apos; &apos; + {!Get_Case_Record.CaseNumber} + &apos; &apos; + &apos;First Reminder: Customer Contact needed&apos;</expression>
    </formulas>
    <formulas>
        <name>GSBody</name>
        <dataType>String</dataType>
        <expression>&apos;Case&apos; + &apos; &apos; + {!Get_Case_Record.CaseNumber} + &apos; &apos; + &apos;GS Due Date is about to expire!!!!&apos;</expression>
    </formulas>
    <formulas>
        <name>OutstandingPostBody</name>
        <dataType>String</dataType>
        <expression>&apos;Case&apos; + &apos; &apos;  + {!Get_Case_Record.CaseNumber} + &apos; &apos; + &apos;Post Acceptance Contact Due Date is about to expire!!!!&apos;</expression>
    </formulas>
    <formulas>
        <name>SecondReminderBody</name>
        <dataType>String</dataType>
        <expression>&apos;Case&apos; + &apos; &apos; + {!Get_Case_Record.CaseNumber} + &apos; &apos; + &apos;Second Reminder: Customer Contact needed&apos;</expression>
    </formulas>
    <interviewLabel>SPEN Task Record Trgge {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SPEN Task After Insert Record Triggered Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>2316</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Task_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Design_Manager_Team</name>
        <label>Get Design Manager Team</label>
        <locationX>1634</locationX>
        <locationY>816</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Queue_Assignment_To_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_DesignManagerTeam</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Design_Manger_Queue</name>
        <label>Get Design Manger Queue</label>
        <locationX>2162</locationX>
        <locationY>816</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Design_Queue_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_DesignManagerTeam</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Notification</name>
        <label>Get Task Notification</label>
        <locationX>2316</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Connection_Case_Record_Types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_CaseTaskNotification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_Case_records</name>
        <label>Getting Case records</label>
        <locationX>182</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_record_type_Values_Of_Related_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_task_notification_name</name>
        <label>Getting task notification name</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_owner_detail_list</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_CaseTaskNotification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Task_Custom_Notification_Record</name>
        <label>Task Custom Notification Record</label>
        <locationX>578</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Task_Notification_to_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_TaskNotification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>2399</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Case_or_Voice_call</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>500</stringValue>
            </value>
        </filters>
        <filters>
            <field>SPEN_VoiceCall__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>X7_Days_Prior_to_Due_Date</name>
            <connector>
                <targetReference>Record_type_check</targetReference>
            </connector>
            <label>7 Days Prior to Due Date</label>
            <offsetNumber>-7</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>ActivityDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>assignedOwnerIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseOwnerList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>caseQueueList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
