force-app/main/default/flows/SPEN_NFCreateTask.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>NF_Task_Creation</name>
        <label>NF Task Creation</label>
        <locationX>665</locationX>
        <locationY>386</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_NeutralFaults</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>First_Point_Of_Contacts_Telephone_Visits_Plan</targetReference>
            </connector>
            <label>Task Creation</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Calculate1hours</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.SPEN_Incident_Confirmed_as_Neutral_Fault__c}+(1/24)</expression>
    </formulas>
    <formulas>
        <name>Calculate3hours</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.SPEN_Incident_Confirmed_as_Neutral_Fault__c}+(3/24)</expression>
    </formulas>
    <formulas>
        <name>Calculate6hours</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.SPEN_Incident_Confirmed_as_Neutral_Fault__c}+(6/24)</expression>
    </formulas>
    <interviewLabel>SPEN_ NFTaskCreate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SPEN_ NFCreateTask</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>First_Point_Of_Contacts_Telephone_Visits_Plan</name>
        <label>First Point Of Contacts Telephone / Visits Plan</label>
        <locationX>834</locationX>
        <locationY>397</locationY>
        <connector>
            <targetReference>X3_hour_Off_Supply_Welfare_offers</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Due_DateTime__c</field>
            <value>
                <elementReference>Calculate1hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>First Point Of Contacts Telephone / Visits Plan</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>X3_hour_Off_Supply_Welfare_offers</name>
        <label>3 hour Off-Supply &amp; Welfare offers</label>
        <locationX>837</locationX>
        <locationY>552</locationY>
        <connector>
            <targetReference>X6_hour_Off_Supply_Welfare_offers</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Due_DateTime__c</field>
            <value>
                <elementReference>Calculate3hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>3 hour Off-Supply &amp; Welfare offers</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>X6_hour_Off_Supply_Welfare_offers</name>
        <label>6 hour Off-Supply &amp; Welfare offers</label>
        <locationX>838</locationX>
        <locationY>712</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Due_DateTime__c</field>
            <value>
                <elementReference>Calculate6hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>6 hour Off-Supply &amp; Welfare offers</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>NF_Task_Creation</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
