force-app/main/default/flows/SPEN_CustomerHandshakeForm.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Territory_Id</name>
        <label>Assign Territory Id</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>var_ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_ServiceTerritoryId1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Service_Territory_Name_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Territory_Id_From_Effective_Date_Not_Null</name>
        <label>Assign Territory Id From Effective Date Not Null</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>var_ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_ServiceTerritoryId2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Service_Territory_Name_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_Work_Step_boolean_to_update_status</name>
        <label>Check Work Step boolean to update status</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>isWorkStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Work_Step</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assign_correct_Service_Territory_Member</name>
        <label>Assign correct Service Territory Member</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Assign_Territory_Id_From_Effective_Date_Not_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>STM_from_Effective_Date_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceTerritoryId1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ServiceTerritoryId1</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Territory_Id</targetReference>
            </connector>
            <label>STM from Effective Date Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Called_From_Work_Step</name>
        <label>If Called From Work Step</label>
        <locationX>248</locationX>
        <locationY>1382</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isWorkStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updating_Work_Step_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Where_is_this_being_called_from</name>
        <label>Where is this being called from?</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Field_Operative_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>From_Work_Step</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0hF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Work_Step_boolean_to_update_status</targetReference>
            </connector>
            <label>From Work Step</label>
        </rules>
    </decisions>
    <description>Flow used to create Customer Handshake forms.</description>
    <dynamicChoiceSets>
        <name>var_AreYouHappyForEnquiryToBeClosedPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SPEN_AreYouHappyForEnquiryToBeClosed__c</picklistField>
        <picklistObject>SPEN_CustomerServiceForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>var_DistrictPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SPEN_District__c</picklistField>
        <picklistObject>SPEN_CustomerServiceForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>var_HowWasYourExperiencePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SPEN_HowWasYourExperience__c</picklistField>
        <picklistObject>SPEN_CustomerServiceForm__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Customer Handshake {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Handshake Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Customer_Handshake_Form</name>
        <label>Create Customer Handshake Form</label>
        <locationX>248</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>If_Called_From_Work_Step</targetReference>
        </connector>
        <inputAssignments>
            <field>SPEN_AnythingElseToTellUs__c</field>
            <value>
                <elementReference>Anything_else_to_tell_us_optional</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_AreYouHappyForEnquiryToBeClosed__c</field>
            <value>
                <elementReference>Are_you_happy_for_your_enquiry_to_be_closed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_CaseReferenceNumber__c</field>
            <value>
                <elementReference>Job_number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_City__c</field>
            <value>
                <elementReference>City_town</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_CustomerName__c</field>
            <value>
                <elementReference>Customer_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_District__c</field>
            <value>
                <elementReference>District</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_HowCouldWeHaveImproved__c</field>
            <value>
                <elementReference>How_could_we_have_improved_optional</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_HowWasYourExperience__c</field>
            <value>
                <elementReference>How_was_your_experience</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_PostCode__c</field>
            <value>
                <elementReference>Postcode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_RecordTypeDevName__c</field>
            <value>
                <stringValue>SPEN_CustomerHandshake</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Street__c</field>
            <value>
                <elementReference>First_line_of_address</elementReference>
            </value>
        </inputAssignments>
        <object>SPEN_CustomerServiceForm__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>First_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WorkOrder.CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>var_CaseNumberFromWO</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Field_Operative_Id</name>
        <label>Get Field Operative Id</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Territory_Member_By_Effective_Date_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputAssignments>
            <assignToReference>var_FieldOperativeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Territory_Member_By_Effective_Date_Not_Null</name>
        <label>Get Service Territory Member By Effective Date Not Null</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_correct_Service_Territory_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_FieldOperativeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TerritoryType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>P</stringValue>
            </value>
        </filters>
        <filters>
            <field>EffectiveStartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>EffectiveEndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <object>ServiceTerritoryMember</object>
        <outputAssignments>
            <assignToReference>var_ServiceTerritoryId2</assignToReference>
            <field>ServiceTerritoryId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Territory_Member_By_Effective_Date_Null</name>
        <label>Get Service Territory Member By Effective Date Null</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Territory_Member_By_Effective_Date_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_FieldOperativeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TerritoryType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>P</stringValue>
            </value>
        </filters>
        <filters>
            <field>EffectiveStartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>EffectiveEndDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceTerritoryMember</object>
        <outputAssignments>
            <assignToReference>var_ServiceTerritoryId1</assignToReference>
            <field>ServiceTerritoryId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Territory_Name</name>
        <label>Get Service Territory Name</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WorkOrder.ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <object>ServiceTerritory</object>
        <outputAssignments>
            <assignToReference>var_ServiceTerritoryName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Territory_Name_1</name>
        <label>Get Service Territory Name</label>
        <locationX>446</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>First_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <object>ServiceTerritory</object>
        <outputAssignments>
            <assignToReference>var_ServiceTerritoryName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Territory_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WorkOrderIdByWorkStep</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>var_WorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServiceTerritoryId</queriedFields>
        <queriedFields>CaseId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Step</name>
        <label>Get Work Step</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkStep</object>
        <outputAssignments>
            <assignToReference>var_WorkOrderIdByWorkStep</assignToReference>
            <field>WorkOrderId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Updating_Work_Step_Status</name>
        <label>Updating Work Step Status</label>
        <locationX>116</locationX>
        <locationY>1490</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>WorkStep</object>
    </recordUpdates>
    <screens>
        <name>First_Screen</name>
        <label>First Screen</label>
        <locationX>248</locationX>
        <locationY>1058</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Second_Screen</targetReference>
        </connector>
        <fields>
            <name>Job_number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>var_CaseNumberFromWO</elementReference>
            </defaultValue>
            <fieldText>Case reference number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;The value provided in the Case reference number does not match the required format. E.g: &lt;/span&gt;00197520&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Job_number},&quot;[0-9]{8}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>District</name>
            <choiceReferences>var_DistrictPicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>var_ServiceTerritoryName</elementReference>
            </defaultValue>
            <fieldText>District</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CustomerDetails</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Customer details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Name</name>
            <dataType>String</dataType>
            <fieldText>Customer Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>First_line_of_address</name>
            <dataType>String</dataType>
            <fieldText>First line of address</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>City_town</name>
            <dataType>String</dataType>
            <fieldText>City/town</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Postcode</name>
            <dataType>String</dataType>
            <fieldText>Postcode</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;This field does not support special characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Postcode},&quot;^[a-zA-Z0-9 ]*$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Second_Screen</name>
        <label>Second Screen</label>
        <locationX>248</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Customer_Handshake_Form</targetReference>
        </connector>
        <fields>
            <name>Details</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>How_was_your_experience</name>
            <choiceReferences>var_HowWasYourExperiencePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How was your experience?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>How_could_we_have_improved_optional</name>
            <fieldText>How could we have improved? (optional)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Are_you_happy_for_your_enquiry_to_be_closed</name>
            <choiceReferences>var_AreYouHappyForEnquiryToBeClosedPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you happy for your enquiry to be closed?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Anything_else_to_tell_us_optional</name>
            <fieldText>Anything else to tell us? (optional)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Where_is_this_being_called_from</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isWorkStep</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CaseNumberFromWO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_FieldOperativeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ServiceTerritoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ServiceTerritoryId1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ServiceTerritoryId2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ServiceTerritoryName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_WorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>var_WorkOrderIdByWorkStep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
