force-app/main/default/flows/SPEN_RATOVForm.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_SI</name>
        <label>Assign SI</label>
        <locationX>578</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>typeIncident</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_sort_of_service_interruption_and_quality</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description_SI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResolutionDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_was_this_resolved_SI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RATOV_Screen_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Site_I</name>
        <label>Assign Site Issues</label>
        <locationX>314</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>typeIncident</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_sort_of_site_issues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description_Site_I</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResolutionDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_was_this_resolved_Site_I</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RATOV_Screen_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Territory_Id</name>
        <label>Assign Territory Id</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>var_ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_ServiceTerritoryId1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Service_Territory_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Territory_Id_From_Effective_Date_Not_Null</name>
        <label>Assign Territory Id From Effective Date Not Null</label>
        <locationX>578</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>var_ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_ServiceTerritoryId2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Service_Territory_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Vulnerability</name>
        <label>Assign Vulnerability</label>
        <locationX>314</locationX>
        <locationY>2546</locationY>
        <assignmentItems>
            <assignToReference>vulnerabilityCustomer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_sort_of_Vulnerability</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_RATOV</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Vulnerable_Person</name>
        <label>Assign Vulnerable Person</label>
        <locationX>314</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>vulnerablePerson</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Vulnerable_Customer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Vulnerable_Person_0</name>
        <label>Assign Vulnerable Person</label>
        <locationX>578</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>vulnerablePerson</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_RATOV</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WBD</name>
        <label>Assign WBD</label>
        <locationX>50</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>typeIncident</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_sort_of_Work_Being_Done</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description_WBD</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResolutionDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_was_this_resolved_WBD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RATOV_Screen_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_Work_Step_boolean</name>
        <label>Check Work Step boolean</label>
        <locationX>600</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>isWorkStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Work_Step</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Access</name>
        <choiceText>Access</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Access</stringValue>
        </value>
    </choices>
    <choices>
        <name>Asset</name>
        <choiceText>Asset</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Asset</stringValue>
        </value>
    </choices>
    <choices>
        <name>Connections</name>
        <choiceText>Connections</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Connections</stringValue>
        </value>
    </choices>
    <choices>
        <name>Customer_Service</name>
        <choiceText>Customer Service</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Service</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delivery_Connections</name>
        <choiceText>Connections delivery</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Connections Delivery</stringValue>
        </value>
    </choices>
    <choices>
        <name>Earthing</name>
        <choiceText>Earthing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Earthing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Enviromental_Safety_Concerns</name>
        <choiceText>Enviromental and safety concerns</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Enviromental and safety concerns</stringValue>
        </value>
    </choices>
    <choices>
        <name>Inaccurate_Information</name>
        <choiceText>Inaccurate information</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inaccurate Information</stringValue>
        </value>
    </choices>
    <choices>
        <name>Information_communications</name>
        <choiceText>Information and communications</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Information and communications</stringValue>
        </value>
    </choices>
    <choices>
        <name>Internal_mains_laterals</name>
        <choiceText>Internal mains/lateral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Internal mains/ laterals</stringValue>
        </value>
    </choices>
    <choices>
        <name>Land_Damage</name>
        <choiceText>Land damage</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Land Damage</stringValue>
        </value>
    </choices>
    <choices>
        <name>LCT</name>
        <choiceText>LCT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LCT</stringValue>
        </value>
    </choices>
    <choices>
        <name>LCT_EV</name>
        <choiceText>LCT - EV</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LCT - EV</stringValue>
        </value>
    </choices>
    <choices>
        <name>LCT_HP</name>
        <choiceText>LCT - HP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LCT - HP</stringValue>
        </value>
    </choices>
    <choices>
        <name>Link_Boxes</name>
        <choiceText>Link Boxes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Link Boxes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Load_Checks</name>
        <choiceText>Load Checks</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Load Checks</stringValue>
        </value>
    </choices>
    <choices>
        <name>Loss_of_supply</name>
        <choiceText>Loss of supply</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Loss of supply</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lost_Neutral</name>
        <choiceText>Lost neutral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lost Neutral</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Noise_Levels</name>
        <choiceText>Noise Levels</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Noise Levels</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>Oil_Spillage</name>
        <choiceText>Oil Spillage</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Oil Spillage</stringValue>
        </value>
    </choices>
    <choices>
        <name>Overhead_Lines</name>
        <choiceText>Overhead Lines</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Overhead Lines</stringValue>
        </value>
    </choices>
    <choices>
        <name>Planned_Interruptions</name>
        <choiceText>Planned interruptions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Planned Interruptions</stringValue>
        </value>
    </choices>
    <choices>
        <name>Poles</name>
        <choiceText>Poles</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Poles</stringValue>
        </value>
    </choices>
    <choices>
        <name>Safety_Advice</name>
        <choiceText>Safety Advice</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Safety Advice</stringValue>
        </value>
    </choices>
    <choices>
        <name>Service_Interruption</name>
        <choiceText>Service interruption and quality</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Service interruption and quality</stringValue>
        </value>
    </choices>
    <choices>
        <name>Service_Partners_Staff_Behaviour</name>
        <choiceText>Service Partners Staff Behaviour</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Service Partners Staff Behaviour</stringValue>
        </value>
    </choices>
    <choices>
        <name>Service_Refurbishment</name>
        <choiceText>Service Refurbishment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Service Refurbishment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shrouding</name>
        <choiceText>Shrouding</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shrouding</stringValue>
        </value>
    </choices>
    <choices>
        <name>Site_Excavation_Reinstatement</name>
        <choiceText>Site excavation/reinstatement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Site excavation / reinstatement</stringValue>
        </value>
    </choices>
    <choices>
        <name>Site_Issues</name>
        <choiceText>Site issues</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Site issues</stringValue>
        </value>
    </choices>
    <choices>
        <name>SPEN_Policy_Procedures</name>
        <choiceText>SPEN Policy &amp; Procedures</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SPEN Policy &amp; Procedures</stringValue>
        </value>
    </choices>
    <choices>
        <name>SPEN_Staff_Behaviour</name>
        <choiceText>SPEN Staff Behaviour</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SPEN Staff Behaviour</stringValue>
        </value>
    </choices>
    <choices>
        <name>Substation</name>
        <choiceText>Substation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Substation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tree_Issues</name>
        <choiceText>Tree Issues</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tree Issues</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unloop_Shared_supplies</name>
        <choiceText>Unloop/shared supply</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unloop / Shared supplies</stringValue>
        </value>
    </choices>
    <choices>
        <name>Voltage_Issues</name>
        <choiceText>Voltage issues</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Voltage Issues</stringValue>
        </value>
    </choices>
    <choices>
        <name>Wayleaves_Land_Planning</name>
        <choiceText>Wayleaves / Land &amp; Planning</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Wayleaves / Land &amp; Planning</stringValue>
        </value>
    </choices>
    <choices>
        <name>WorkBeingDone</name>
        <choiceText>Work being done</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Work being done</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Assign_correct_Service_Territory_Member</name>
        <label>Assign correct Service Territory Member</label>
        <locationX>446</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Assign_Territory_Id_From_Effective_Date_Not_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not filled</defaultConnectorLabel>
        <rules>
            <name>STM_from_Effective_Date_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceTerritoryId1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ServiceTerritoryId1</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Territory_Id</targetReference>
            </connector>
            <label>STM from Effective Date Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Vulnerable_Person</name>
        <label>Check Vulnerable Person</label>
        <locationX>446</locationX>
        <locationY>2222</locationY>
        <defaultConnector>
            <targetReference>Assign_Vulnerable_Person_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_this_a_vulnerable_person</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Vulnerable_Person</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_the_costumer_been_impacted_by_an_outage_decision</name>
        <label>Has the costumer been impacted by an outage?</label>
        <locationX>732</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>RATOV_No_Further_Action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Has_the_customer_been_impacted_by_an_outage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Resource</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Called_From_Work_Step</name>
        <label>If Called From Work Step</label>
        <locationX>446</locationX>
        <locationY>2846</locationY>
        <defaultConnector>
            <targetReference>RATOV_Confirmation_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isWorkStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updating_Work_Step_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Where_is_this_being_called_from</name>
        <label>Where is this being called from ?</label>
        <locationX>732</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>RATOV_Screen_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>From_Work_Step</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0hF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Work_Step_boolean</targetReference>
            </connector>
            <label>From Work Step</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_type_of_incident</name>
        <label>Which Type of Incident</label>
        <locationX>446</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>RATOV_Screen_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Work_Being_Done</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_incident_was_it</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WorkBeingDone</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RATOV_Screen_WBD</targetReference>
            </connector>
            <label>Work Being Done</label>
        </rules>
        <rules>
            <name>Site_Issues_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_incident_was_it</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Site_Issues</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RATOV_Screen_Site_I</targetReference>
            </connector>
            <label>Site Issues</label>
        </rules>
        <rules>
            <name>Service_Interruption_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_incident_was_it</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Service_Interruption</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RATOV_Screen_SI</targetReference>
            </connector>
            <label>Service Interruption</label>
        </rules>
    </decisions>
    <description>Flow used to create RATOV forms.</description>
    <dynamicChoiceSets>
        <name>District</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SPEN_District__c</picklistField>
        <picklistObject>SPEN_CustomerServiceForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VulnerabilitiesList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SPEN_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SPEN_PSRVulnerabilityType__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>var_DateTimeNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>RATOV Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RATOV Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_RATOV</name>
        <label>Create RATOV</label>
        <locationX>446</locationX>
        <locationY>2738</locationY>
        <connector>
            <targetReference>If_Called_From_Work_Step</targetReference>
        </connector>
        <inputAssignments>
            <field>SPEN_City__c</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_CustomerName__c</field>
            <value>
                <elementReference>Customer_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_CustomerVulnerability__c</field>
            <value>
                <elementReference>vulnerabilityCustomer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_District__c</field>
            <value>
                <elementReference>RATOV_District</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_MobileTelephoneNumber__c</field>
            <value>
                <elementReference>Mobile_telephone_number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_PostCode__c</field>
            <value>
                <elementReference>Postcode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_RecordTypeDevName__c</field>
            <value>
                <stringValue>SPEN_RATOV</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_ReferenceNumber__c</field>
            <value>
                <elementReference>Incident_reference_number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_ResolutionDetails__c</field>
            <value>
                <elementReference>ResolutionDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Street__c</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_TelephoneNumber__c</field>
            <value>
                <elementReference>Telephone_number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_TypeOfIncident__c</field>
            <value>
                <elementReference>typeIncident</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_VulnerablePerson__c</field>
            <value>
                <elementReference>vulnerablePerson</elementReference>
            </value>
        </inputAssignments>
        <object>SPEN_CustomerServiceForm__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Service_Resource</name>
        <label>Get Service Resource</label>
        <locationX>446</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Territory_Member_By_Effective_Date_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputAssignments>
            <assignToReference>var_ServiceResourceId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Territory_Member_By_Effective_Date_Not_Null</name>
        <label>Get Service Territory Member By Effective Date Not Null</label>
        <locationX>446</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_correct_Service_Territory_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ServiceResourceId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TerritoryType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>P</stringValue>
            </value>
        </filters>
        <filters>
            <field>EffectiveStartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>var_DateTimeNow</elementReference>
            </value>
        </filters>
        <filters>
            <field>EffectiveEndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>var_DateTimeNow</elementReference>
            </value>
        </filters>
        <object>ServiceTerritoryMember</object>
        <outputAssignments>
            <assignToReference>var_ServiceTerritoryId2</assignToReference>
            <field>ServiceTerritoryId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Territory_Member_By_Effective_Date_Null</name>
        <label>Get Service Territory Member By Effective Date Null</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Territory_Member_By_Effective_Date_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ServiceResourceId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TerritoryType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>P</stringValue>
            </value>
        </filters>
        <filters>
            <field>EffectiveStartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>var_DateTimeNow</elementReference>
            </value>
        </filters>
        <filters>
            <field>EffectiveEndDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceTerritoryMember</object>
        <outputAssignments>
            <assignToReference>var_ServiceTerritoryId1</assignToReference>
            <field>ServiceTerritoryId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Territory_Name</name>
        <label>Get Service Territory Name</label>
        <locationX>446</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RATOV_Screen_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <object>ServiceTerritory</object>
        <outputAssignments>
            <assignToReference>var_ServiceTerritoryName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order_Line_Item</name>
        <label>Get Work Order Line Item</label>
        <locationX>600</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RATOV_Screen_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkStep.WorkOrderLineItemId</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>WOLI</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Street</queriedFields>
        <queriedFields>PostalCode</queriedFields>
        <queriedFields>City</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Step</name>
        <label>Get Work Step</label>
        <locationX>600</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Order_Line_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkStep</object>
        <outputReference>WorkStep</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkOrderLineItemId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Updating_Work_Step_Status</name>
        <label>Updating Work Step Status</label>
        <locationX>314</locationX>
        <locationY>2954</locationY>
        <connector>
            <targetReference>RATOV_Confirmation_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>WorkStep</object>
    </recordUpdates>
    <screens>
        <name>RATOV_Confirmation_Screen</name>
        <label>Submission successful</label>
        <locationX>446</locationX>
        <locationY>3146</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>submission_text</name>
            <fieldText>&lt;p&gt;✅&lt;strong&gt;Thank you for your submission&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Incident number: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Incident_reference_number}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you for recognising, recording and resolving the complaint.&lt;/p&gt;&lt;p&gt;This helps us continue to provide an excellent service.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RATOV_No_Further_Action</name>
        <label>No Further Action</label>
        <locationX>1018</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Further_Action</name>
            <fieldText>&lt;p&gt;🚫 &lt;strong style=&quot;font-size: 12px;&quot;&gt;No further action is required&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;If a customer hasn&apos;t been affected by an outage, then there is no requirement for us to record this.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RATOV_Screen_1</name>
        <label>Incident information</label>
        <locationX>732</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Has_the_costumer_been_impacted_by_an_outage_decision</targetReference>
        </connector>
        <fields>
            <name>Has_the_customer_been_impacted_by_an_outage</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Has the customer been impacted by an outage?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RATOV_Screen_2</name>
        <label>Incident details</label>
        <locationX>446</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Which_type_of_incident</targetReference>
        </connector>
        <fields>
            <name>Incident_reference_number</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>INCD-</stringValue>
            </defaultValue>
            <fieldText>Incident reference number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;The value provided in the Incident Reference Number does not match the required format. E.g: INCD-000123-a&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Incident_reference_number}, &apos;^INCD-\\d{5,7}-[A-Za-z]$&apos;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>RATOV_District</name>
            <choiceReferences>District</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>var_ServiceTerritoryName</elementReference>
            </defaultValue>
            <fieldText>District</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>What_type_of_incident_was_it</name>
            <choiceReferences>WorkBeingDone</choiceReferences>
            <choiceReferences>Site_Issues</choiceReferences>
            <choiceReferences>Service_Interruption</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What type of incident was it?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RATOV_Screen_3</name>
        <label>Customer information</label>
        <locationX>446</locationX>
        <locationY>2114</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Vulnerable_Person</targetReference>
        </connector>
        <fields>
            <name>Customer_name</name>
            <dataType>String</dataType>
            <fieldText>Customer name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Street</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>WOLI.Street</elementReference>
            </defaultValue>
            <fieldText>First line of address</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>City</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>WOLI.City</elementReference>
            </defaultValue>
            <fieldText>City/town</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Postcode</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>WOLI.PostalCode</elementReference>
            </defaultValue>
            <fieldText>Postal code</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Telephone_number</name>
            <dataType>String</dataType>
            <fieldText>Landline telephone number (optional)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Landline telephone number should have a maximum of 11 digits or be empty.&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Telephone_number},  &apos;^\\d{0,11}$&apos;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Mobile_telephone_number</name>
            <dataType>String</dataType>
            <fieldText>Mobile telephone number (optional)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Mobile telephone number should have exactly 11 digits or be empty.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Mobile_telephone_number}, &apos;^(?:\\d{11})?$&apos;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Is_this_a_vulnerable_person</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this a vulnerable person?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RATOV_Screen_SI</name>
        <label>Service interruption and quality</label>
        <locationX>578</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_SI</targetReference>
        </connector>
        <fields>
            <name>What_sort_of_service_interruption_and_quality</name>
            <choiceReferences>Loss_of_supply</choiceReferences>
            <choiceReferences>Lost_Neutral</choiceReferences>
            <choiceReferences>Planned_Interruptions</choiceReferences>
            <choiceReferences>Voltage_Issues</choiceReferences>
            <choiceReferences>Inaccurate_Information</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What sort of service interruption and quality?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description_SI</name>
            <fieldText>Description of incident</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>How_was_this_resolved_SI</name>
            <fieldText>How was this resolved?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Complaint_resolved_SI</name>
            <dataType>Boolean</dataType>
            <fieldText>Complaint resolved to customer satisfaction</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;In order to proceed, you need to confirm the complaint was resolved to customer satisfaction&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Complaint_resolved_SI}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Display_Text_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RATOV_Screen_Site_I</name>
        <label>Site issues</label>
        <locationX>314</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Site_I</targetReference>
        </connector>
        <fields>
            <name>What_sort_of_site_issues</name>
            <choiceReferences>Land_Damage</choiceReferences>
            <choiceReferences>Site_Excavation_Reinstatement</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What sort of site issues?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description_Site_I</name>
            <fieldText>Description of incident</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>How_was_this_resolved_Site_I</name>
            <fieldText>How was this resolved?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Complaint_resolved_Site_I</name>
            <dataType>Boolean</dataType>
            <fieldText>Complaint resolved to customer satisfaction</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;In order to proceed, you need to confirm the complaint was resolved to customer satisfaction&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Complaint_resolved_Site_I}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Display_Text_1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RATOV_Screen_WBD</name>
        <label>Work being done</label>
        <locationX>50</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_WBD</targetReference>
        </connector>
        <fields>
            <name>What_sort_of_Work_Being_Done</name>
            <choiceReferences>Delivery_Connections</choiceReferences>
            <choiceReferences>Internal_mains_laterals</choiceReferences>
            <choiceReferences>Unloop_Shared_supplies</choiceReferences>
            <choiceReferences>Earthing</choiceReferences>
            <choiceReferences>LCT</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What sort of work is being done?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description_WBD</name>
            <fieldText>Description of incident</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>How_was_this_resolved_WBD</name>
            <fieldText>How was this resolved?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Complaint_resolved_WBD</name>
            <dataType>Boolean</dataType>
            <fieldText>Complaint resolved to customer satisfaction</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;In order to proceed, you need to confirm the complaint was resolved to customer satisfaction&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Complaint_resolved_WBD}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Display_Text</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Vulnerable_Customer</name>
        <label>Vulnerable customer</label>
        <locationX>314</locationX>
        <locationY>2438</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Vulnerability</targetReference>
        </connector>
        <fields>
            <name>What_sort_of_Vulnerability</name>
            <choiceReferences>VulnerabilitiesList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What sort of vulnerability?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>606</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Where_is_this_being_called_from</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isWorkStep</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordTypeRATOV</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResolutionDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>typeIncident</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ServiceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ServiceTerritoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ServiceTerritoryId1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ServiceTerritoryId2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ServiceTerritoryName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vulnerabilityCustomer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vulnerablePerson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>WorkStep</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkStep</objectType>
    </variables>
</Flow>
