force-app/main/default/flows/SPEN_PrePostContactAutoTaskCreation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Acceptance_Exception_Task</name>
        <label>Acceptance Exception Task</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>acceptanceTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>acceptanceTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>acceptanceTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>acceptanceTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Acceptance Exception Contact </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>acceptanceTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>acceptanceTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>acceptanceExceptionRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>acceptanceTask.SPEN_TaskType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Acceptance Exception Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskCollector</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>acceptanceTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Acceptance_Exception_Task_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Post_Enquiry</name>
        <label>Post Enquiry</label>
        <locationX>1106</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>PostEnquiryTask.SPEN_TaskType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Post Enquiry Contact</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PostEnquiryTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PostEnquiryTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PostEnquiryTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PostEnquiryTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Post Enquiry Contact Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PostEnquiryTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrePostRecrdTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pre_Quote_task</name>
        <label>Pre Quote task</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>PreQuoteTaskInst.SPEN_TaskType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pre-Quote Contact</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PreQuoteTaskInst.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PreQuoteTaskInst.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PreQuoteTaskInst.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PreQuoteTaskInst.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pre-Quote Contact Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PreQuoteTaskInst.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrePostRecrdTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_Enquiry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_Collection</name>
        <label>Task Collection</label>
        <locationX>1106</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>TaskCollector</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PreQuoteTaskInst</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskCollector</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PostEnquiryTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_Create</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Connection_Case_Recordtype_check</name>
        <label>Connection Case Recordtype check</label>
        <locationX>974</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Connection_RecrdType</name>
            <conditionLogic>((1 OR 2 OR 3) AND 4 AND 5) OR (6 AND 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_FormalConnectionEnquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_BudgetConnectionEnquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_ConnectionReadOnlyCase</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.SPEN_BypassFlowCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_ConnectionReadOnlyCase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Quote_Contact_Task_checking</targetReference>
            </connector>
            <label>Connection RecrdType</label>
        </rules>
    </decisions>
    <decisions>
        <name>Post_Quote_Contact_Task_checking</name>
        <label>Post Quote Contact Task checking</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_recordtype_Pre_Post_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pre and Post Enquiry Task</defaultConnectorLabel>
        <rules>
            <name>Post_quote_conditions</name>
            <conditionLogic>(1 AND 2 AND 3) AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote Issued Awaiting Cust Acceptance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_OfgemMarketSegment__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>LVSSA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_OfgemMarketSegment__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>LVSSB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_FormalConnectionEnquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_ConnectionReadOnlyCase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Post_Contact_Recordtype</targetReference>
            </connector>
            <label>Post quote conditions</label>
        </rules>
        <rules>
            <name>Post_Quote_Outbound_Dialer</name>
            <conditionLogic>(1 OR 5) AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_FormalConnectionEnquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_OfgemMarketSegment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LVSSA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_OfgemMarketSegment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LVSSB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote Issued Awaiting Cust Acceptance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_ConnectionReadOnlyCase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Post_Quote_Queue</targetReference>
            </connector>
            <label>Post Quote Outbound Dialer</label>
        </rules>
        <rules>
            <name>Case_Status_is_Acceptance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Acceptance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Acceptance_Exception_Record_Type</targetReference>
            </connector>
            <label>Case Status is Acceptance</label>
        </rules>
        <rules>
            <name>Case_Status_Next_To_Acceptance</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivery Work Planning</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Acceptance_Task_Record</targetReference>
            </connector>
            <label>Case Status Next To Acceptance</label>
        </rules>
    </decisions>
    <description>CRMD-3156 and 3097</description>
    <environments>Default</environments>
    <formulas>
        <name>Duedate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 1</expression>
    </formulas>
    <interviewLabel>Pre-Post Contact Auto Task Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pre-Post Contact Auto Task Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Acceptance_Exception_Task_Create</name>
        <label>Acceptance Exception Task Create</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <inputReference>TaskCollector</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Outbound_Dialer_Record</name>
        <label>Create Outbound Dialer Record</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Post_Quote_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Contact__c</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Subject__c</field>
            <value>
                <stringValue>Post Contact Outbound Dialer Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_TaskType__c</field>
            <value>
                <stringValue>Post Quote Contact</stringValue>
            </value>
        </inputAssignments>
        <object>SPEN_PostContactOutBoundDialTask__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>CRMD-6766</description>
        <name>PostQuoteContactTaskCreate</name>
        <label>PostQuoteContactTaskCreate</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Duedate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>PostQuoteContactRecdType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_TaskType__c</field>
            <value>
                <stringValue>Post Quote Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Post Quote Contact Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_Create</name>
        <label>Task Create</label>
        <locationX>1106</locationX>
        <locationY>971</locationY>
        <inputReference>TaskCollector</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Acceptance_Exception_Record_Type</name>
        <label>Get Acceptance Exception Record Type</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Acceptance_Exception_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_AcceptanceExceptionTask</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>acceptanceExceptionRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Post_Contact_Recordtype</name>
        <label>Get Post Contact Recordtype</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PostQuoteContactTaskCreate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_ConnPostQuoteContact</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>PostQuoteContactRecdType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Post_Quote_Queue</name>
        <label>Get Post Quote Queue</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Outbound_Dialer_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_PostQuoteContactQueue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_recordtype_Pre_Post_Task</name>
        <label>Get recordtype Pre-Post Task</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pre_Quote_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_PreQuoteContactTask</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>PrePostRecrdTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Acceptance_Task_Record</name>
        <label>Update Acceptance Task Record</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Acceptance Exception Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Contact Successful</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Contact Not Successful</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Tasks</inputReference>
    </recordUpdates>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Connection_Case_Recordtype_check</targetReference>
        </connector>
        <filterLogic>((1 AND ((2 OR 3) OR ( 4 AND 5 AND 6) OR (4 AND ( 7 OR 8)) OR 9 OR 10 OR 11)) OR 12)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Design</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Budget Design</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quote Issued Awaiting Cust Acceptance</stringValue>
            </value>
        </filters>
        <filters>
            <field>SPEN_OfgemMarketSegment__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>LVSSA</stringValue>
            </value>
        </filters>
        <filters>
            <field>SPEN_OfgemMarketSegment__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>LVSSB</stringValue>
            </value>
        </filters>
        <filters>
            <field>SPEN_OfgemMarketSegment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LVSSA</stringValue>
            </value>
        </filters>
        <filters>
            <field>SPEN_OfgemMarketSegment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LVSSB</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Acceptance</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delivery Work Planning</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>SPEN_NGESOCCMAccount__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>This will store record type id of Acceptance Exception Task</description>
        <name>acceptanceExceptionRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>acceptanceTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>PostEnquiryTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>PostQuoteContactInst</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>PostQuoteContactRecdType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrePostRecrdTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PreQuoteTaskInst</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskCollector</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
