force-app/main/default/flows/SPEN_OnDemandMessagingFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>SPEN_InstantwithSMS</name>
        <label>InstantwithSMS</label>
        <locationX>182</locationX>
        <locationY>3230</locationY>
        <defaultConnector>
            <targetReference>SPEN_SchedulewithSMS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>InsSMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_InstantSMSCommunicationCheckbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SPEN_SendSMS.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_InsSMSCreateCommunicationScheduler</targetReference>
            </connector>
            <label>InsSMS</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_InstantwithVoiceAlert</name>
        <label>InstantwithVoiceAlert</label>
        <locationX>182</locationX>
        <locationY>2558</locationY>
        <defaultConnector>
            <targetReference>SPEN_SchedulewithVoiceAlert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IVoiceAlert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_InstantVoiceAlertCommunicationCheckbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SPEN_SendVoiceAlert.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_IVACreateCommunicationScheduler</targetReference>
            </connector>
            <label>IVoiceAlert</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_SchedulewithSMS</name>
        <label>SchedulewithSMS</label>
        <locationX>182</locationX>
        <locationY>3566</locationY>
        <defaultConnector>
            <targetReference>updateMessagingTask</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SchSMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_ScheduleSMSCommunicationCheckbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SPEN_SendSMS.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_SchSMSCreateCommunicationScheduler</targetReference>
            </connector>
            <label>SchSMS</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_SchedulewithVoiceAlert</name>
        <label>SchedulewithVoiceAlert</label>
        <locationX>182</locationX>
        <locationY>2894</locationY>
        <defaultConnector>
            <targetReference>SPEN_InstantwithSMS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SVoiceAlert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_ScheduleVoiceAlertCommunicationCheckbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SPEN_SendVoiceAlert.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_SVACreateCommunicationScheduler</targetReference>
            </connector>
            <label>SVoiceAlert</label>
        </rules>
    </decisions>
    <description>This flow will be used to create on demand messaging task and send communications to customers loaded from csv upload</description>
    <dynamicChoiceSets>
        <name>SPEN_GetSMSTemplates</name>
        <collectionReference>SPEN_GetAllSMSTemplates</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>SPEN_IVRMessage__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SPEN_GetVATemplates</name>
        <collectionReference>SPEN_GetAllTemplates</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>SPEN_IVRMessage__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>SPEN_CombinedMessageWithRestoreInfo</name>
        <dataType>String</dataType>
        <expression>IF({!SPEN_Include_Restoration_Confirmation}, {!SPEN_DisplaySMSTemplate} +&apos; &apos;+{!SPEN_GetMessageTemplateValueForRestoreConfirmation},{!SPEN_DisplaySMSTemplate})</expression>
    </formulas>
    <interviewLabel>On Demand Messaging {!$Flow.CurrentDateTime}</interviewLabel>
    <label>On Demand Messaging</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>SPEN_InsSMSCreateCommunicationScheduler</name>
        <label>InsSMSCreateCommunicationScheduler</label>
        <locationX>50</locationX>
        <locationY>3350</locationY>
        <connector>
            <targetReference>SPEN_SchedulewithSMS</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SPEN_SMSCommGetRecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Event__c</field>
            <value>
                <stringValue>On Demand</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Message__c</field>
            <value>
                <elementReference>SPEN_CombinedMessageWithRestoreInfo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_MessagingTaskId__c</field>
            <value>
                <elementReference>messagingTask.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_PremiseQuery__c</field>
            <value>
                <elementReference>SPEN_ListViewFilterQuery</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_ScheduledDateTime__c</field>
            <value>
                <elementReference>SPEN_DateTimeforScheduleSMSCommunication</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_SendNow__c</field>
            <value>
                <elementReference>SPEN_InstantSMSCommunicationCheckbox</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Status__c</field>
            <value>
                <stringValue>Processing</stringValue>
            </value>
        </inputAssignments>
        <object>SPEN_CommunicationScheduler__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>SPEN_IVACreateCommunicationScheduler</name>
        <label>IVACreateCommunicationScheduler</label>
        <locationX>50</locationX>
        <locationY>2678</locationY>
        <connector>
            <targetReference>SPEN_SchedulewithVoiceAlert</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SPEN_VACommGetRecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Event__c</field>
            <value>
                <stringValue>On Demand</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Message__c</field>
            <value>
                <elementReference>SPEN_DisplayVoiceAlertTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_MessagingTaskId__c</field>
            <value>
                <elementReference>messagingTask.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_PremiseQuery__c</field>
            <value>
                <elementReference>SPEN_ListViewFilterQuery</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_ScheduledDateTime__c</field>
            <value>
                <elementReference>SPEN_DateTimeforScheduleVoiceAlertCommunication</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_SendNow__c</field>
            <value>
                <elementReference>SPEN_InstantVoiceAlertCommunicationCheckbox</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Status__c</field>
            <value>
                <stringValue>Processing</stringValue>
            </value>
        </inputAssignments>
        <object>SPEN_CommunicationScheduler__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>SPEN_SchSMSCreateCommunicationScheduler</name>
        <label>SchSMSCreateCommunicationScheduler</label>
        <locationX>50</locationX>
        <locationY>3686</locationY>
        <connector>
            <targetReference>updateMessagingTask</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SPEN_SMSCommGetRecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Event__c</field>
            <value>
                <stringValue>On Demand</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Message__c</field>
            <value>
                <elementReference>SPEN_CombinedMessageWithRestoreInfo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_MessagingTaskId__c</field>
            <value>
                <elementReference>messagingTask.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_PremiseQuery__c</field>
            <value>
                <elementReference>SPEN_ListViewFilterQuery</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_ScheduledDateTime__c</field>
            <value>
                <elementReference>SPEN_DateTimeforScheduleSMSCommunication</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_SendNow__c</field>
            <value>
                <elementReference>SPEN_InstantSMSCommunicationCheckbox</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Status__c</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>SPEN_CommunicationScheduler__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>SPEN_SVACreateCommunicationScheduler</name>
        <label>SVACreateCommunicationScheduler</label>
        <locationX>50</locationX>
        <locationY>3014</locationY>
        <connector>
            <targetReference>SPEN_InstantwithSMS</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SPEN_VACommGetRecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Event__c</field>
            <value>
                <stringValue>On Demand</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Message__c</field>
            <value>
                <elementReference>SPEN_DisplayVoiceAlertTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_MessagingTaskId__c</field>
            <value>
                <elementReference>messagingTask.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_PremiseQuery__c</field>
            <value>
                <elementReference>SPEN_ListViewFilterQuery</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_ScheduledDateTime__c</field>
            <value>
                <elementReference>SPEN_DateTimeforScheduleVoiceAlertCommunication</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_SendNow__c</field>
            <value>
                <elementReference>SPEN_InstantVoiceAlertCommunicationCheckbox</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Status__c</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>SPEN_CommunicationScheduler__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getMessagingTask</name>
        <label>getMessagingTask</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecordTypeIdIvrMessage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>messagingTask.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SPEN_MessagingTask__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeIdIvrMessage</name>
        <label>GetRecordTypeIdIvrMessage</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SPEN_GetAllTemplates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_VoiceAlert</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_IVRMessage__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SPEN_GetAllSMSTemplates</name>
        <label>Get All SMS Templates</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SPEN_ToggleScreen</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3)</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SPEN_GetRecordTypeIdSMSMessage.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Blank SMS Template</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Planned Outage SMS From Premise</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SPEN_IVRMessage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SPEN_GetAllTemplates</name>
        <label>Get All Templates</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SPEN_GetRecordTypeIdSMSMessage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRecordTypeIdIvrMessage.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Blank Voice Alert</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SPEN_IVRMessage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SPEN_GetIVROperatingHourSMSBlackoutWindow</name>
        <label>GetIVROperatingHourSMSBlackoutWindow</label>
        <locationX>182</locationX>
        <locationY>1718</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SPEN_GetRecordTypeIdVABlackoutWindow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SPEN_GetRecordTypeIdSMSBlackoutWindow.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_isActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SPEN_IVROperatinghours__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SPEN_GetIVROperatingHourVABlackoutWindow</name>
        <label>GetIVROperatingHourVABlackoutWindow</label>
        <locationX>182</locationX>
        <locationY>1958</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SPEN_Send_Voice_Alerts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SPEN_GetRecordTypeIdVABlackoutWindow.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_isActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SPEN_IVROperatinghours__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SPEN_GetRecordTypeIdSMSBlackoutWindow</name>
        <label>GetRecordTypeIdSMSBlackoutWindow</label>
        <locationX>182</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SPEN_GetIVROperatingHourSMSBlackoutWindow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_SMSBlackoutWindow</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_IVROperatingHours__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SPEN_GetRecordTypeIdSMSMessage</name>
        <label>GetRecordTypeIdSMSMessage</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SPEN_GetAllSMSTemplates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_IVRMessage__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SPEN_GetRecordTypeIdVABlackoutWindow</name>
        <label>GetRecordTypeIdVABlackoutWindow</label>
        <locationX>182</locationX>
        <locationY>1838</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SPEN_GetIVROperatingHourVABlackoutWindow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_VABlackoutWindow</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_IVROperatingHours__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SPEN_GetSelectedSMSTemplate</name>
        <label>Get Selected SMS Template</label>
        <locationX>182</locationX>
        <locationY>1238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SPEN_Query_for_Restoration_ConfirmationRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SPEN_GetSMSTemplates</elementReference>
            </value>
        </filters>
        <object>SPEN_IVRMessage__c</object>
        <outputAssignments>
            <assignToReference>SPEN_SelectedSMSTemplate</assignToReference>
            <field>SPEN_IVRMessage__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Query to  Restoration ConfirmationRecord from Message Template</description>
        <name>SPEN_Query_for_Restoration_ConfirmationRecord</name>
        <label>Query for Restoration ConfirmationRecord</label>
        <locationX>182</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SPEN_SelectedTemplateDisplay</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SPEN_Purpose__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Restore Confirmation</stringValue>
            </value>
        </filters>
        <object>SPEN_IVRMessage__c</object>
        <outputAssignments>
            <assignToReference>SPEN_GetMessageTemplateValueForRestoreConfirmation</assignToReference>
            <field>SPEN_IVRMessage__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>SPEN_SelectedTemplate</name>
        <label>Selected Template</label>
        <locationX>182</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SPEN_GetSelectedSMSTemplate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SPEN_GetVATemplates</elementReference>
            </value>
        </filters>
        <object>SPEN_IVRMessage__c</object>
        <outputAssignments>
            <assignToReference>SPEN_SelectedVoiceAlertTemplate</assignToReference>
            <field>SPEN_IVRMessage__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>SPEN_SMSCommGetRecordTypeId</name>
        <label>SMSCommGetRecordTypeId</label>
        <locationX>182</locationX>
        <locationY>2438</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SPEN_InstantwithVoiceAlert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SmsBroadcast</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_CommunicationScheduler__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SPEN_VACommGetRecordTypeId</name>
        <label>VACommGetRecordTypeId</label>
        <locationX>182</locationX>
        <locationY>2318</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SPEN_SMSCommGetRecordTypeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_VoiceAlertBroadcast</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_CommunicationScheduler__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateMessagingTask</name>
        <label>updateMessagingTask</label>
        <locationX>182</locationX>
        <locationY>3902</locationY>
        <connector>
            <targetReference>SPEN_FinishStep</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getMessagingTask.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>SPEN_MessagingTask__c</object>
    </recordUpdates>
    <screens>
        <name>SPEN_FinishStep</name>
        <label>Finish Step</label>
        <locationX>182</locationX>
        <locationY>4022</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SPEN_FlowFinish</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Click finish to end the flow&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SPEN_SelectedTemplateDisplay</name>
        <label>Selected Template Display</label>
        <locationX>182</locationX>
        <locationY>1478</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SPEN_GetRecordTypeIdSMSBlackoutWindow</targetReference>
        </connector>
        <fields>
            <name>SPEN_DisplayGoNextonDisplayScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Click next to move forward&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SPEN_DisplaySMSTemplate</name>
            <defaultValue>
                <stringValue>{!SPEN_SelectedSMSTemplate}</stringValue>
            </defaultValue>
            <fieldText>Display SMS Template</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Kindly validate input value as it contains two consecutive &quot;X&quot;, &quot;[&quot; or &quot;]&quot;.&lt;/p&gt;</errorMessage>
                <formulaExpression>NOT(CONTAINS({!SPEN_DisplaySMSTemplate}, &quot;XX&quot;)) &amp;&amp; NOT(CONTAINS({!SPEN_DisplaySMSTemplate}, &quot;xX&quot;)) &amp;&amp; NOT(CONTAINS({!SPEN_DisplaySMSTemplate}, &quot;Xx&quot;)) &amp;&amp; NOT(CONTAINS({!SPEN_DisplaySMSTemplate}, &quot;xx&quot;)) &amp;&amp;
NOT(CONTAINS({!SPEN_DisplaySMSTemplate}, &quot;[&quot;)) &amp;&amp;
NOT(CONTAINS({!SPEN_DisplaySMSTemplate}, &quot;]&quot;))</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SPEN_SendSMS.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SPEN_RestorationConfirmationTemplate</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Restoration Confirmation Template : {!SPEN_GetMessageTemplateValueForRestoreConfirmation}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>SPEN_DisplaySMSTemplate</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SPEN_Include_Restoration_Confirmation</name>
            <dataType>Boolean</dataType>
            <fieldText>Include Restoration Confirmation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>SPEN_DisplaySMSTemplate</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SPEN_DisplayVoiceAlertTemplate</name>
            <defaultValue>
                <stringValue>{!SPEN_SelectedVoiceAlertTemplate}</stringValue>
            </defaultValue>
            <fieldText>Display Voice Alert Template</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Kindly validate input value as it contains two consecutive &quot;X&quot;, &quot;[&quot; or &quot;]&quot;.&lt;/p&gt;</errorMessage>
                <formulaExpression>NOT(CONTAINS({!SPEN_DisplayVoiceAlertTemplate}, &quot;XX&quot;)) &amp;&amp; NOT(CONTAINS({!SPEN_DisplayVoiceAlertTemplate}, &quot;xX&quot;)) &amp;&amp; NOT(CONTAINS({!SPEN_DisplayVoiceAlertTemplate}, &quot;Xx&quot;)) &amp;&amp; NOT(CONTAINS({!SPEN_DisplayVoiceAlertTemplate}, &quot;xx&quot;)) &amp;&amp;
NOT(CONTAINS({!SPEN_DisplayVoiceAlertTemplate}, &quot;[&quot;)) &amp;&amp;
NOT(CONTAINS({!SPEN_DisplayVoiceAlertTemplate}, &quot;]&quot;))</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SPEN_SendVoiceAlert.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SPEN_Send_Voice_Alerts</name>
        <label>Send Voice Alerts</label>
        <locationX>182</locationX>
        <locationY>2078</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SPEN_ShowPreviewInformation</targetReference>
        </connector>
        <fields>
            <name>SPEN_DisplayGoNextonButtonScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Click next to move forward&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SPEN_InstantSMSCommunicationCheckbox</name>
            <dataType>Boolean</dataType>
            <fieldText>Instant SMS Communication</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SPEN_SendSMS.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SPEN_ScheduleSMSCommunicationCheckbox</name>
            <dataType>Boolean</dataType>
            <fieldText>Schedule SMS Communication</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Both Checkbox can&apos;t be true at a time&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>NOT({!SPEN_InstantSMSCommunicationCheckbox} &amp;&amp; {!SPEN_ScheduleSMSCommunicationCheckbox})</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SPEN_SendSMS.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SPEN_DateTimeforScheduleSMSCommunication</name>
            <dataType>DateTime</dataType>
            <fieldText>Date Time for Schedule SMS Communication</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Scheduled date and time can&apos;t be equal or older than current date and time&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!SPEN_DateTimeforScheduleSMSCommunication} &gt; {!$Flow.CurrentDateTime}</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SPEN_ScheduleSMSCommunicationCheckbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SPEN_InstantVoiceAlertCommunicationCheckbox</name>
            <dataType>Boolean</dataType>
            <fieldText>Instant Voice Alert Communication</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SPEN_SendVoiceAlert.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SPEN_ScheduleVoiceAlertCommunicationCheckbox</name>
            <dataType>Boolean</dataType>
            <fieldText>Schedule Voice Alert Communication</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Both Voice Alert communication checkbox can&apos;t be true at a time&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>NOT({!SPEN_InstantVoiceAlertCommunicationCheckbox} &amp;&amp; {!SPEN_ScheduleVoiceAlertCommunicationCheckbox})</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SPEN_SendVoiceAlert.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SPEN_DateTimeforScheduleVoiceAlertCommunication</name>
            <dataType>DateTime</dataType>
            <fieldText>Date Time for Schedule Voice Alert Communication</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Scheduled date and time can&apos;t be equal or older than current date and time&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!SPEN_DateTimeforScheduleVoiceAlertCommunication} &gt; {!$Flow.CurrentDateTime}</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SPEN_ScheduleVoiceAlertCommunicationCheckbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SPEN_ShowPreviewInformation</name>
        <label>SPEN_ShowPreviewInformation</label>
        <locationX>182</locationX>
        <locationY>2198</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SPEN_VACommGetRecordTypeId</targetReference>
        </connector>
        <fields>
            <name>SPEN_NextMoveInfoHeader</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Click next to move forward&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SPEN_InfoHeaderSMS</name>
            <fieldText>&lt;p&gt;You are about to send an SMS alert with the following details.&lt;/p&gt;&lt;p&gt;Please click Send to confirm.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>(1 OR 2)</conditionLogic>
                <conditions>
                    <leftValueReference>SPEN_InstantSMSCommunicationCheckbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>SPEN_ScheduleSMSCommunicationCheckbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SPEN_DetailsInfoForInstant</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Message : &lt;/strong&gt;{!SPEN_CombinedMessageWithRestoreInfo}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Alert time : &lt;/strong&gt;Immediate&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>SPEN_InstantSMSCommunicationCheckbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SPEN_DetailsInfoSMSForSchedule</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Message : &lt;/strong&gt;{!SPEN_CombinedMessageWithRestoreInfo}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Alert time : &lt;/strong&gt;Scheduled at {!SPEN_DateTimeforScheduleSMSCommunication}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>SPEN_ScheduleSMSCommunicationCheckbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SPEN_VoiceAlertHeader</name>
            <fieldText>&lt;p&gt;You are about to send an Voice alert with the following details.&lt;/p&gt;&lt;p&gt;Please click Send to confirm.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>SPEN_ScheduleVoiceAlertCommunicationCheckbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>SPEN_InstantVoiceAlertCommunicationCheckbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SPEN_DetailsInfoVoiceForInstant</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Message : &lt;/strong&gt;{!SPEN_DisplayVoiceAlertTemplate}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Alert time : &lt;/strong&gt;Immediate&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>SPEN_InstantVoiceAlertCommunicationCheckbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SPEN_DetailsInfoVoiceAlertForSchedule</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Message : &lt;/strong&gt;{!SPEN_DisplayVoiceAlertTemplate}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Alert time : &lt;/strong&gt;Scheduled at {!SPEN_DateTimeforScheduleVoiceAlertCommunication}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>SPEN_ScheduleVoiceAlertCommunicationCheckbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Send</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SPEN_TemplateSelection</name>
        <label>Template Selection</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SPEN_SelectedTemplate</targetReference>
        </connector>
        <fields>
            <name>SPEN_DisplayGoNextonTemplateScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Click next to move forward&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SPEN_ChooseSMSMessageTemplate</name>
            <choiceReferences>SPEN_GetSMSTemplates</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose SMS Message Template</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SPEN_SendSMS.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SPEN_ChooseVoiceAlertMessageTemplate</name>
            <choiceReferences>SPEN_GetVATemplates</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Voice Alert Message Template</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SPEN_SendVoiceAlert.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SPEN_ToggleScreen</name>
        <label>Toggle Screen</label>
        <locationX>182</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SPEN_TemplateSelection</targetReference>
        </connector>
        <fields>
            <name>SPEN_SendSMS</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Send SMS</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SPEN_SendVoiceAlert</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Send Voice Alert</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>UploadPremiseIdsScreen</name>
        <label>Upload Premise Ids</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getMessagingTask</targetReference>
        </connector>
        <fields>
            <name>UploadPremiseIds</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Premise Ids</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.csv</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>messagingTask.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>UploadPremiseIds.fileNames</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>NoteLabel</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(244, 7, 7);&quot;&gt;Note : File should contain single column and no header name.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>completionWarningLabel</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(29, 102, 33); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, system-ui, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Web&amp;quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;The task has been completed successfully.&amp;nbsp;Please close the messaging tab to proceed.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>messagingTask.SPEN_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Completed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UploadPremiseIdsScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>SPEN_Final</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Voice alert has been sent&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>FinalTemplateValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>SPEN_DisplayVoiceAlertTemplate</elementReference>
        </value>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>messagingTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SPEN_MessagingTask__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SPEN_DateFromFlow</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SPEN_GetMessageTemplateValueForRestoreConfirmation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SPEN_ListViewFilterQuery</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SPEN_SelectedSMSTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SPEN_SelectedVoiceAlertTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SPEN_SelectedZoneId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
