force-app/main/default/flows/SPEN_CaseRecordTriggerFlowforCaseownerchange.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_ContactTeamExistingEnquiry_Queue_Id_14WD_IQ_Whitemail</name>
        <label>Get ContactTeamExistingEnquiry Queue Id 14WD IQ Whitemail</label>
        <locationX>8938</locationX>
        <locationY>600</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>updateCaseOwnerToExistingEnquiryQueue14WDIQWhitemail</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN_ContactTeamExistingEnquiry</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_ContactTeamExistingEnquiry_Queue_Id_14WD_Whitemail</name>
        <label>Get ContactTeamExistingEnquiry Queue Id 14WD Whitemail</label>
        <locationX>7882</locationX>
        <locationY>600</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>updateCaseOwnerToExistingEnquiryQueue14WDWhitemail</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN_ContactTeamExistingEnquiry</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_ContactTeamExistingEnquiry_Queue_Id_7WD_IQ_Whitemail</name>
        <label>Get ContactTeamExistingEnquiry Queue Id 7WD IQ Whitemail</label>
        <locationX>8498</locationX>
        <locationY>600</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>updateCaseOwnerToExistingEnquiryQueue7WDIQWhitemail</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN_ContactTeamExistingEnquiry</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_ContactTeamExistingEnquiry_Queue_Id_7WD_Whitemail</name>
        <label>Get ContactTeamExistingEnquiry Queue Id 7WD Whitemail</label>
        <locationX>7442</locationX>
        <locationY>600</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>updateCaseOwnerToExistingEnquiryQueue7WDWhitemail</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN_ContactTeamExistingEnquiry</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification</name>
        <label>Send Notification</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notifications_Records.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>ownerDetails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Case Owner Update</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>case {!$Record.CaseNumber} owner is changed from {!$Record__Prior.Owner:User.Username}{!$Record__Prior.Owner:Group.Name} to {!$Record.Owner:User.Username}{!$Record.Owner:Group.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_GetContactTeamExistingEnquiryQueue</name>
        <label>Get ContactTeamExistingEnquiryQueue</label>
        <locationX>1634</locationX>
        <locationY>600</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SPEN_UpdateCaseOwner</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN_ContactTeamExistingEnquiry</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_GetContactTeamExistingEnquiryQueueId</name>
        <label>Get Contact Team Existing Enquiry Queue Id</label>
        <locationX>3218</locationX>
        <locationY>600</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SPEN_UpdateCaseOwnerToExistingEnquiryQueue</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN_ContactTeamExistingEnquiry</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>X14_working_days_Awaiting_Info_Email_Alert</name>
        <label>14 working days Awaiting Info Email Alert</label>
        <locationX>2690</locationX>
        <locationY>384</locationY>
        <actionName>Case.SPEN_Connection14DaysReminderPackSent</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.SPEN_Connection14DaysReminderPackSent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>X14_Working_Days_email_Alert</name>
        <label>14 Working Days email Alert</label>
        <locationX>1106</locationX>
        <locationY>384</locationY>
        <actionName>Case.SPEN_Connection14DaysWelcomePackSent</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.SPEN_Connection14DaysWelcomePackSent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>X7_working_days_Awaiting_Info_Email_Alert</name>
        <label>7 working days Awaiting Info Email Alert</label>
        <locationX>2162</locationX>
        <locationY>384</locationY>
        <actionName>Case.SPEN_Connection7DaysReminderPackSent</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.SPEN_Connection7DaysReminderPackSent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>X7_working_daysaction</name>
        <label>7 working days</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <actionName>Case.SPEN_Connection7DaysWelcomePackSent</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.SPEN_Connection7DaysWelcomePackSent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Recipients</name>
        <label>Recipients</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>ownerDetails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SPEN_CaseOwnerNameQueue</name>
        <label>Case Owner Name Queue</label>
        <locationX>4010</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>SPEN_CaseOwnerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:Group.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SPEN_GetTaskRecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SPEN_CaseOwnerNameQueue_0</name>
        <label>Case Owner Name Queue</label>
        <locationX>5066</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>SPEN_CaseOwnerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:Group.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SPEN_GetTaskRecordTypeForNotActioned</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SPEN_CaseOwnerNameUser</name>
        <label>Case Owner Name User</label>
        <locationX>3746</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>SPEN_CaseOwnerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SPEN_UserName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SPEN_GetTaskRecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SPEN_CaseOwnerNameUser_0</name>
        <label>Case Owner Name User</label>
        <locationX>4802</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>SPEN_CaseOwnerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SPEN_UserName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SPEN_GetTaskRecordTypeForNotActioned</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Record_Types_for_14_working_days</name>
        <label>Case Record Types for 14 working days</label>
        <locationX>1238</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Record_type_14_WDays</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5 AND 6 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_FormalConnectionEnquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_BudgetConnectionEnquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Information Enquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_SubStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Welcome Pack Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_DeactivateAutoChasers__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.SPEN_BypassFlowCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_ContactMethod__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Whitemail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X14_Working_Days_email_Alert</targetReference>
            </connector>
            <label>Case Record type 14 WDays</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Record_Types_for_14_working_days_Awaiting_Info</name>
        <label>Case Record Types for 14 working days Awaiting Info</label>
        <locationX>2822</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Record_type_14_WDays_Awaiting_Info</name>
            <conditionLogic>(1 OR 2) AND (3 OR 8) AND 4 AND 5 AND 6 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_FormalConnectionEnquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_BudgetConnectionEnquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Formal Enquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_SubStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Info</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_DeactivateAutoChasers__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.SPEN_BypassFlowCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_ContactMethod__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Whitemail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Budget Enquiry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X14_working_days_Awaiting_Info_Email_Alert</targetReference>
            </connector>
            <label>Case Record type 14 WDays Awaiting Info</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Record_Types_for_14_working_days_Awaiting_Info_Whitemail</name>
        <label>Case Record Types for 14 working days Awaiting Info Whitemail</label>
        <locationX>8014</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Record_type_14_WDays_Awaiting_Info_Whitemail</name>
            <conditionLogic>(1 OR 2) AND (3 OR 9) AND 4 AND 5 AND 6 AND 7 AND 8</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_FormalConnectionEnquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_BudgetConnectionEnquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Formal Enquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_SubStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Info</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_DeactivateAutoChasers__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.SPEN_BypassFlowCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_PausedStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_ContactMethod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Whitemail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Budget Enquiry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Group_Awaiting_info_14_WD_Whitemail</targetReference>
            </connector>
            <label>Case Record type 14 WDays Awaiting Info Whitemail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Record_Types_for_14_working_days_whitemail</name>
        <label>Case Record Types for 14 working days whitemail</label>
        <locationX>9070</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Record_type_14_WDays_PausedWhitemail</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5 AND 6 AND 7 AND 8</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_FormalConnectionEnquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_BudgetConnectionEnquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Information Enquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_SubStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Welcome Pack Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_DeactivateAutoChasers__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.SPEN_BypassFlowCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_PausedStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_ContactMethod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Whitemail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Group_welcomePackSent_14_WD_Whitemail</targetReference>
            </connector>
            <label>Case Record type 14 WDays PausedWhitemail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Record_Types_for_21_working_days</name>
        <label>Case Record Types for 21 working days</label>
        <locationX>1766</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Record_type_21_WDays</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_FormalConnectionEnquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_BudgetConnectionEnquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Information Enquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_SubStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Welcome Pack Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_DeactivateAutoChasers__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.SPEN_BypassFlowCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Group_welcome_pack_sent</targetReference>
            </connector>
            <label>Case Record type 21 WDays</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Record_Types_for_21_working_days_Awaiting_Info</name>
        <label>Case Record Types for 21 working days Awaiting Info</label>
        <locationX>3350</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Record_type_21_WDays_Awaiting_Info</name>
            <conditionLogic>(1 OR 2) AND (3 OR 7) AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_FormalConnectionEnquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_BudgetConnectionEnquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Formal Enquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_SubStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Info</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_DeactivateAutoChasers__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.SPEN_BypassFlowCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Budget Enquiry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Group_Awaiting_info</targetReference>
            </connector>
            <label>Case Record type 21 WDays Awaiting Info</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Record_Types_for_7_working_days</name>
        <label>Case Record Types for 7 working days</label>
        <locationX>710</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Record_type_7_WDays</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5 AND 6 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_FormalConnectionEnquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_BudgetConnectionEnquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Information Enquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_SubStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Welcome Pack Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_DeactivateAutoChasers__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.SPEN_BypassFlowCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_ContactMethod__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Whitemail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X7_working_daysaction</targetReference>
            </connector>
            <label>Case Record type 7 WDays</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Record_Types_for_7_working_days_Awaiting_Info</name>
        <label>Case Record Types for 7 working days Awaiting Info</label>
        <locationX>2294</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Record_type_7_WDays_Awaiting_Info</name>
            <conditionLogic>(1 OR 2) AND (3 OR 8) AND 4 AND 5 AND 6 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_FormalConnectionEnquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_BudgetConnectionEnquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Formal Enquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_SubStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Info</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_DeactivateAutoChasers__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.SPEN_BypassFlowCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_ContactMethod__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Whitemail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Budget Enquiry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X7_working_days_Awaiting_Info_Email_Alert</targetReference>
            </connector>
            <label>Case Record type 7 WDays Awaiting Info</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Record_Types_for_7_working_days_Awaiting_Info_Whitemail</name>
        <label>Case Record Types for 7 working days Awaiting Info Whitemail</label>
        <locationX>7574</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Record_type_7_WDays_Awaiting_Info_Whitemail</name>
            <conditionLogic>(1 OR 2) AND (3 OR 9) AND 4 AND 5 AND 6 AND 7 AND 8</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_FormalConnectionEnquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_BudgetConnectionEnquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Formal Enquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_SubStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Info</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_DeactivateAutoChasers__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.SPEN_BypassFlowCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_PausedStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_ContactMethod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Whitemail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Budget Enquiry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Group_Awaiting_info_7_WD_Whitemail</targetReference>
            </connector>
            <label>Case Record type 7 WDays Awaiting Info Whitemail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Record_Types_for_7_working_days_whitemail</name>
        <label>Case Record Types for 7 working days whitemail</label>
        <locationX>8630</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Record_type_7_WDays_PausedWhitemail</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5 AND 6 AND 7 AND 8</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_FormalConnectionEnquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_BudgetConnectionEnquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Information Enquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_SubStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Welcome Pack Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_DeactivateAutoChasers__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.SPEN_BypassFlowCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_PausedStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_ContactMethod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Whitemail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Group_welcomePackSent_7_WD_Whitemail</targetReference>
            </connector>
            <label>Case Record type 7 WDays PausedWhitemail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Types_of_Case</name>
        <label>Record Types of Case</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>record_type_values</name>
            <conditionLogic>(1 OR 2 OR 4 OR 5) AND 3 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_FormalConnectionEnquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_BudgetConnectionEnquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_CasePreApplication</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_CaseTransmission</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.SPEN_BypassFlowCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notifications_Records</targetReference>
            </connector>
            <label>record type values</label>
        </rules>
    </decisions>
    <decisions>
        <description>CRMD-2625</description>
        <name>SPEn_3_days_Task_for_Customer_review</name>
        <label>3 days Task for Customer review</label>
        <locationX>5990</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_3_days_Task_Creation</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4) AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_FormalConnectionEnquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_BudgetConnectionEnquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_OfgemMarketSegment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LVSSA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_OfgemMarketSegment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LVSSB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_PausedStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.SPEN_BypassFlowCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Design_3_days_Customer_reviewer_Recortype</targetReference>
            </connector>
            <label>3 days Task Creation for Customer review</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_CaseOwner</name>
        <label>Case Owner</label>
        <locationX>4010</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_CaseOwnerNameUser</targetReference>
            </connector>
            <label>User</label>
        </rules>
        <rules>
            <name>Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_CaseOwnerNameQueue</targetReference>
            </connector>
            <label>Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_CaseOwner_0</name>
        <label>Case Owner</label>
        <locationX>5066</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_CaseOwnerNameUser_0</targetReference>
            </connector>
            <label>User</label>
        </rules>
        <rules>
            <name>Queue_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_CaseOwnerNameQueue_0</targetReference>
            </connector>
            <label>Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_ConnectionRecordTypeandNotPaused</name>
        <label>Connection Record Type and Not Paused</label>
        <locationX>4274</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_IsConnectionRecordTypeandNotPaused</name>
            <conditionLogic>(1 OR 2) AND 3 AND (4 OR 5) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_FormalConnectionEnquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_BudgetConnectionEnquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_PausedStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_OfgemMarketSegment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LVSSA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_OfgemMarketSegment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LVSSB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.SPEN_BypassFlowCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_CaseOwner</targetReference>
            </connector>
            <label>Is Connection Record Type and Not Paused</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_ConnectionRecordTypeandNotPausedandStatusandOMS</name>
        <label>Connection Record Type and Not Paused and Status and OMS</label>
        <locationX>5330</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_IsConnectionRecordTypeandNotPausedandStatusandOMS</name>
            <conditionLogic>(1 OR 2) AND 3 AND (4 OR 5) AND (6 OR 7) AND 8</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_FormalConnectionEnquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_BudgetConnectionEnquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_PausedStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_OfgemMarketSegment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LVSSA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_OfgemMarketSegment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LVSSB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Budget Design</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Design</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.SPEN_BypassFlowCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_CaseOwner_0</targetReference>
            </connector>
            <label>Is Connection Record Type and Not Paused and Status and OMS</label>
        </rules>
    </decisions>
    <decisions>
        <name>X6_days_Task_for_Customer_review</name>
        <label>6 days Task for Customer review</label>
        <locationX>6518</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X6_days_Task_Creation_for_Customer_review</name>
            <conditionLogic>(1 OR 2) AND 3 AND (4 OR 5) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_FormalConnectionEnquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_BudgetConnectionEnquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_PausedStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_OfgemMarketSegment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LVSSA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_OfgemMarketSegment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LVSSB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.SPEN_BypassFlowCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_6days_Design_Customer_reviewer_Recortype</targetReference>
            </connector>
            <label>6 days Task Creation for Customer review</label>
        </rules>
    </decisions>
    <decisions>
        <name>X9_days_Task_for_Customer_review</name>
        <label>9 days Task for Customer review</label>
        <locationX>7046</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X9_days_Task_Creation_for_Customer_review</name>
            <conditionLogic>(1 OR 2) AND 3 AND (4 OR 5) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_FormalConnectionEnquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_BudgetConnectionEnquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_PausedStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_OfgemMarketSegment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LVSSA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_OfgemMarketSegment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LVSSB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.SPEN_BypassFlowCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_9days_Design_Customer_reviewer_Recortype</targetReference>
            </connector>
            <label>9 days Task Creation for Customer review</label>
        </rules>
    </decisions>
    <description>When ever case owner is changes a notification will be populated
Auto Generation of TOCO, ATOCO and TORI Numbers
CRMD-9185 Contact Team Chaser Process - Send Letter</description>
    <environments>Default</environments>
    <formulas>
        <name>DueDateTask</name>
        <dataType>Date</dataType>
        <expression>TODAY()+1</expression>
    </formulas>
    <formulas>
        <name>SPEN_UserName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Owner:User.FirstName}+&apos; &apos;+{!$Record.Owner:User.LastName}</expression>
    </formulas>
    <formulas>
        <name>UpdateDate</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Case Record Trigger Flow for Case owner change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Record Trigger Flow for Case owner change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Final_Reminder_Task_Creation</name>
        <label>Final Reminder Task Creation</label>
        <locationX>6914</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_9days_Design_Customer_reviewer_Recortype.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_TaskType__c</field>
            <value>
                <stringValue>Design - Customer Contact Needed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Final Reminder: Customer contact needed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>First_Reminder_Task_Creation</name>
        <label>First Reminder Task Creation</label>
        <locationX>5858</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Design_3_days_Customer_reviewer_Recortype.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_TaskType__c</field>
            <value>
                <stringValue>Design - Customer Contact Needed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>First Reminder: Customer contact needed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Second_Reminder_Task_Creation</name>
        <label>Second Reminder Task Creation</label>
        <locationX>6386</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_6days_Design_Customer_reviewer_Recortype.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_TaskType__c</field>
            <value>
                <stringValue>Design - Customer Contact Needed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Second Reminder: Customer contact needed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>SPEN_CreateTask</name>
        <label>Create Task</label>
        <locationX>4010</locationX>
        <locationY>900</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.SPEN_GSDueDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>SPEN_GetGroupDesignManagerTeam.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SPEN_GetTaskRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_CaseOwnerWhenTaskCreated__c</field>
            <value>
                <elementReference>SPEN_CaseOwnerName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_OfgemMarketSegment__c</field>
            <value>
                <elementReference>$Record.SPEN_OfgemMarketSegment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>GS Due Date about to be breached</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>SPEN_CreateTaskForNotActioned</name>
        <label>Create Task For Not Actioned</label>
        <locationX>5066</locationX>
        <locationY>900</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.SPEN_GSDueDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>SPEN_GetGroupDesignManagerTeamForNotActioned.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SPEN_GetTaskRecordTypeForNotActioned.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_CaseOwnerWhenTaskCreated__c</field>
            <value>
                <elementReference>SPEN_CaseOwnerName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_OfgemMarketSegment__c</field>
            <value>
                <elementReference>$Record.SPEN_OfgemMarketSegment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Case is not yet actioned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_6days_Design_Customer_reviewer_Recortype</name>
        <label>Get 6days Design Customer reviewer Recortype</label>
        <locationX>6386</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Second_Reminder_Task_Creation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_ConnDesignCustomerContNeed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_9days_Design_Customer_reviewer_Recortype</name>
        <label>Get 9days Design Customer reviewer Recortype</label>
        <locationX>6914</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Final_Reminder_Task_Creation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_ConnDesignCustomerContNeed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Design_3_days_Customer_reviewer_Recortype</name>
        <label>Get Design 3 days Customer reviewer Recortype</label>
        <locationX>5858</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>First_Reminder_Task_Creation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_ConnDesignCustomerContNeed</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Awaiting_info</name>
        <label>Get Group Awaiting info</label>
        <locationX>3218</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Creation_on_21_working_days_for_Awaiting_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_ContactTeamExistingEnquiry</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Awaiting_info_14_WD_Whitemail</name>
        <label>Get Group Awaiting info 14 WD Whitemail</label>
        <locationX>7882</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Creation_on_14_working_days_for_Awaiting_Info_Whitemail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_ContactTeamExistingEnquiry</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Awaiting_info_7_WD_Whitemail</name>
        <label>Get Group Awaiting info 7 WD Whitemail</label>
        <locationX>7442</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Creation_on_7_working_days_for_Awaiting_Info_Whitemail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_ContactTeamExistingEnquiry</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_welcome_pack_sent</name>
        <label>Get Group welcome pack sent</label>
        <locationX>1634</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SPEN_TaskCreationon21workingdaysforWelcomePackSent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_ContactTeamExistingEnquiry</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_welcomePackSent_14_WD_Whitemail</name>
        <label>Get Group welcomePackSent 14 WD Whitemail</label>
        <locationX>8938</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Creation_on_14_working_days_for_InfoEnquiry_Whitemail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_ContactTeamExistingEnquiry</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_welcomePackSent_7_WD_Whitemail</name>
        <label>Get Group welcomePackSent 7 WD Whitemail</label>
        <locationX>8498</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Creation_on_7_working_days_for_InfoEnquiry_Whitemail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_ContactTeamExistingEnquiry</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notifications_Records</name>
        <label>Get Notifications Records</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recipients</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_CaseOwnerChangeNotification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SPEN_GetGroupDesignManagerTeam</name>
        <label>Get Group Design Manager Team</label>
        <locationX>4010</locationX>
        <locationY>792</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SPEN_CreateTask</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_DesignManagerTeam</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SPEN_GetGroupDesignManagerTeamForNotActioned</name>
        <label>Get Group Design Manager Team For Not Actioned</label>
        <locationX>5066</locationX>
        <locationY>792</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SPEN_CreateTaskForNotActioned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_DesignManagerTeam</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SPEN_GetTaskRecordType</name>
        <label>Get Task Record Type</label>
        <locationX>4010</locationX>
        <locationY>684</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SPEN_GetGroupDesignManagerTeam</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_ConnectionTaskSLABreach</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SPEN_GetTaskRecordTypeForNotActioned</name>
        <label>Get Task Record Type For Not Actioned</label>
        <locationX>5066</locationX>
        <locationY>684</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SPEN_GetGroupDesignManagerTeamForNotActioned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_ConnectionTaskSLABreach</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>SPEN_UpdateCaseOwner</name>
        <label>Update Case Owner</label>
        <locationX>1634</locationX>
        <locationY>708</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>SPEN_GetContactTeamExistingEnquiryQueue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SPEN_UpdateCaseOwnerToExistingEnquiryQueue</name>
        <label>updateCaseOwnerToExistingEnquiryQueue</label>
        <locationX>3218</locationX>
        <locationY>708</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>SPEN_GetContactTeamExistingEnquiryQueueId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateCaseOwnerToExistingEnquiryQueue14WDIQWhitemail</name>
        <label>updateCaseOwnerToExistingEnquiryQueue14WDIQWhitemail</label>
        <locationX>8938</locationX>
        <locationY>708</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_ContactTeamExistingEnquiry_Queue_Id_14WD_IQ_Whitemail</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateCaseOwnerToExistingEnquiryQueue14WDWhitemail</name>
        <label>updateCaseOwnerToExistingEnquiryQueue14WDWhitemail</label>
        <locationX>7882</locationX>
        <locationY>708</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_ContactTeamExistingEnquiry_Queue_Id_14WD_Whitemail</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateCaseOwnerToExistingEnquiryQueue7WDIQWhitemail</name>
        <label>updateCaseOwnerToExistingEnquiryQueue7WDIQWhitemail</label>
        <locationX>8498</locationX>
        <locationY>708</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_ContactTeamExistingEnquiry_Queue_Id_7WD_IQ_Whitemail</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateCaseOwnerToExistingEnquiryQueue7WDWhitemail</name>
        <label>updateCaseOwnerToExistingEnquiryQueue7WDWhitemail</label>
        <locationX>7442</locationX>
        <locationY>708</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_ContactTeamExistingEnquiry_Queue_Id_7WD_Whitemail</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>3488</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Types_of_Case</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>X7_working_days</name>
            <connector>
                <targetReference>Case_Record_Types_for_7_working_days</targetReference>
            </connector>
            <label>7 working days</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>SPEN_CaseStatusChange7Days__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X14_working_days</name>
            <connector>
                <targetReference>Case_Record_Types_for_14_working_days</targetReference>
            </connector>
            <label>14 working days</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>SPEN_CaseStatusChange14Days__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X21_working_days</name>
            <connector>
                <targetReference>Case_Record_Types_for_21_working_days</targetReference>
            </connector>
            <label>21 working days</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>SPEN_CaseStatusChange21Days__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X7_working_days_Awaiting_Info</name>
            <connector>
                <targetReference>Case_Record_Types_for_7_working_days_Awaiting_Info</targetReference>
            </connector>
            <label>7 working days -Awaiting Info</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>SPEN_CaseSubStatusAwaitingInfo7Days__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X14_working_days_Awaiting_Info</name>
            <connector>
                <targetReference>Case_Record_Types_for_14_working_days_Awaiting_Info</targetReference>
            </connector>
            <label>14 working days -Awaiting Info</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>SPEN_CaseSubStatusAwaitingInfo14Days__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X21_working_days_Awaiting_Info</name>
            <connector>
                <targetReference>Case_Record_Types_for_21_working_days_Awaiting_Info</targetReference>
            </connector>
            <label>21 working days -Awaiting Info</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>SPEN_CaseSubStatusAwaitingInfo21Days__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>SPEN_DesignManagerTask</name>
            <connector>
                <targetReference>SPEN_ConnectionRecordTypeandNotPaused</targetReference>
            </connector>
            <label>Design Manager Task</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>SPEN_DesignTaskTriggerDate__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>SPEN_CaseNotActioned</name>
            <connector>
                <targetReference>SPEN_ConnectionRecordTypeandNotPausedandStatusandOMS</targetReference>
            </connector>
            <label>Case Not Actioned</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>SPEN_CaseNeedsActionTillDate__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>SPEN_TaskCreation3daysCaseOwnerReview</name>
            <connector>
                <targetReference>SPEn_3_days_Task_for_Customer_review</targetReference>
            </connector>
            <label>Task Creation 3days for case owner review</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>SPEN_3DaysTaskCreationForOwner__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X6_days_reminder_task_creation</name>
            <connector>
                <targetReference>X6_days_Task_for_Customer_review</targetReference>
            </connector>
            <label>Task 6 days reminder task creation</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>SPEN_6DaysTaskCreationForOwner__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Task_9_days_reminder_task_creation</name>
            <connector>
                <targetReference>X9_days_Task_for_Customer_review</targetReference>
            </connector>
            <label>Task 9 days reminder task creation</label>
            <offsetNumber>3</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>SPEN_9DaysTaskCreationForOwner__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X7_working_days_Awaiting_Info_Whitemail</name>
            <connector>
                <targetReference>Case_Record_Types_for_7_working_days_Awaiting_Info_Whitemail</targetReference>
            </connector>
            <label>7 working days -Awaiting Info Whitemail</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>SPEN_CaseSubStatusAwaitingInfo7Days__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X14_working_days_Awaiting_Info_Whitemail</name>
            <connector>
                <targetReference>Case_Record_Types_for_14_working_days_Awaiting_Info_Whitemail</targetReference>
            </connector>
            <label>14 working days -Awaiting Info Whitemail</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>SPEN_CaseSubStatusAwaitingInfo14Days__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X7_working_days_InformationEnquiry</name>
            <connector>
                <targetReference>Case_Record_Types_for_7_working_days_whitemail</targetReference>
            </connector>
            <label>7 working days InformationEnquiry</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>SPEN_CaseStatusChange7Days__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X14_working_days_InformationEnquiry</name>
            <connector>
                <targetReference>Case_Record_Types_for_14_working_days_whitemail</targetReference>
            </connector>
            <label>14 working days InformationEnquiry</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>SPEN_CaseStatusChange14Days__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>SPEN_TaskCreationon21workingdaysforWelcomePackSent</name>
        <label>Task Creation on 21 working days for Welcome Pack Sent</label>
        <locationX>1634</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>SPEN_GetContactTeamExistingEnquiryQueue</targetReference>
        </connector>
        <flowName>SPEN_TaskRecordCreationAutolaunchedFlow</flowName>
        <inputAssignments>
            <name>AssignedToId</name>
            <value>
                <elementReference>Get_Group_welcome_pack_sent.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DueDate</name>
            <value>
                <elementReference>DueDateTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Notes</name>
            <value>
                <stringValue>Case Status: {!$Record.Status}, Case Substatus: {!$Record.SPEN_SubStatus__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Priority</name>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Status</name>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Subject</name>
            <value>
                <stringValue>Missing information 21 day chaser</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Task_Creation_on_14_working_days_for_Awaiting_Info_Whitemail</name>
        <label>Task Creation on 14 working days for Awaiting Info Whitemail</label>
        <locationX>7882</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Get_ContactTeamExistingEnquiry_Queue_Id_14WD_Whitemail</targetReference>
        </connector>
        <flowName>SPEN_TaskRecordCreationAutolaunchedFlow</flowName>
        <inputAssignments>
            <name>AssignedToId</name>
            <value>
                <elementReference>Get_Group_Awaiting_info_14_WD_Whitemail.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DueDate</name>
            <value>
                <elementReference>DueDateTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Notes</name>
            <value>
                <stringValue>Case Status: {!$Record.Status}, Case Substatus: {!$Record.SPEN_SubStatus__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Priority</name>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Status</name>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Subject</name>
            <value>
                <stringValue>Missing information 14 day chaser</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Task_Creation_on_14_working_days_for_InfoEnquiry_Whitemail</name>
        <label>Task Creation on 14 working days for InfoEnquiry Whitemail</label>
        <locationX>8938</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Get_ContactTeamExistingEnquiry_Queue_Id_14WD_IQ_Whitemail</targetReference>
        </connector>
        <flowName>SPEN_TaskRecordCreationAutolaunchedFlow</flowName>
        <inputAssignments>
            <name>AssignedToId</name>
            <value>
                <elementReference>Get_Group_welcomePackSent_14_WD_Whitemail.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DueDate</name>
            <value>
                <elementReference>DueDateTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Notes</name>
            <value>
                <stringValue>Case Status: {!$Record.Status}, Case Substatus: {!$Record.SPEN_SubStatus__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Priority</name>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Status</name>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Subject</name>
            <value>
                <stringValue>Missing information 14 day chaser</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Task_Creation_on_21_working_days_for_Awaiting_Info</name>
        <label>Task Creation on 21 working days for Awaiting Info</label>
        <locationX>3218</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>SPEN_GetContactTeamExistingEnquiryQueueId</targetReference>
        </connector>
        <flowName>SPEN_TaskRecordCreationAutolaunchedFlow</flowName>
        <inputAssignments>
            <name>AssignedToId</name>
            <value>
                <elementReference>Get_Group_Awaiting_info.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DueDate</name>
            <value>
                <elementReference>DueDateTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Notes</name>
            <value>
                <stringValue>Case Status: {!$Record.Status}, Case Substatus: {!$Record.SPEN_SubStatus__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Priority</name>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Status</name>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Subject</name>
            <value>
                <stringValue>Missing information 21 day chaser</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Task_Creation_on_7_working_days_for_Awaiting_Info_Whitemail</name>
        <label>Task Creation on 7 working days for Awaiting Info Whitemail</label>
        <locationX>7442</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Get_ContactTeamExistingEnquiry_Queue_Id_7WD_Whitemail</targetReference>
        </connector>
        <flowName>SPEN_TaskRecordCreationAutolaunchedFlow</flowName>
        <inputAssignments>
            <name>AssignedToId</name>
            <value>
                <elementReference>Get_Group_Awaiting_info_7_WD_Whitemail.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DueDate</name>
            <value>
                <elementReference>DueDateTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Notes</name>
            <value>
                <stringValue>Case Status: {!$Record.Status}, Case Substatus: {!$Record.SPEN_SubStatus__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Priority</name>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Status</name>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Subject</name>
            <value>
                <stringValue>Missing information 7 day chaser</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Task_Creation_on_7_working_days_for_InfoEnquiry_Whitemail</name>
        <label>Task Creation on 7 working days for InfoEnquiry Whitemail</label>
        <locationX>8498</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Get_ContactTeamExistingEnquiry_Queue_Id_7WD_IQ_Whitemail</targetReference>
        </connector>
        <flowName>SPEN_TaskRecordCreationAutolaunchedFlow</flowName>
        <inputAssignments>
            <name>AssignedToId</name>
            <value>
                <elementReference>Get_Group_welcomePackSent_7_WD_Whitemail.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DueDate</name>
            <value>
                <elementReference>DueDateTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Notes</name>
            <value>
                <stringValue>Case Status: {!$Record.Status}, Case Substatus: {!$Record.SPEN_SubStatus__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Priority</name>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Status</name>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Subject</name>
            <value>
                <stringValue>Missing information 7 day chaser</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>Followupmeetingtasknotification</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello,&lt;/p&gt;&lt;p&gt;There is no update on customer engagement notes for 8 weeks. So, please take an action accordingly.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>DueDaatevalue</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ownerDetails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PostEnquiryTaskInst</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>PreQuoteTaskInst</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>SPEN_CaseOwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Subjectfortaskcreation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>There is no update on customer engagement notes for 8 weeks</stringValue>
        </value>
    </variables>
    <variables>
        <name>Task_Subject</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaskCollector</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
