force-app/main/default/flows/SPEN_SelectPartnerForReferralService.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_currently_selected_partner_to_collection</name>
        <label>Add currently selected partner to collection</label>
        <locationX>627</locationX>
        <locationY>502</locationY>
        <assignmentItems>
            <assignToReference>CurrentlySelectedPartnerCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentlySelectedPartner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Eligible_Partners</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_selected_Partner_to_Service</name>
        <label>Assign selected Partner to Service</label>
        <locationX>543</locationX>
        <locationY>772</locationY>
        <assignmentItems>
            <assignToReference>Get_Referral_Service.SPEN_PartnerName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EligiblePartnersDataTable.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_with_selected_Partner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Filtered Partners Count to Count variable</description>
        <name>Count</name>
        <label>Count</label>
        <locationX>1007</locationX>
        <locationY>747</locationY>
        <assignmentItems>
            <assignToReference>CountOfFilteredPartner</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Eligible_Partners</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Partner_Available</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>narrows down the Partners based on supported local authorities and services.</description>
        <name>Filter_Eligible_Partners</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Eligible Partners</label>
        <locationX>654</locationX>
        <locationY>720</locationY>
        <assignNextValueToReference>currentItem_Filter_Eligible_Partners_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Eligible_Partners</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Eligible_Partners_0.SPEN_ServicedLocalAuthority__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>Get_Referral_Service.SPEN_Case__r.SPEN_Local_Authority__c</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Eligible_Partners_0.SPEN_Services__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>Get_Referral_Service.SPEN_Service__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Count</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>LA_in_Case_Populated</name>
        <label>LA_in_Case_Populated?</label>
        <locationX>644</locationX>
        <locationY>366</locationY>
        <defaultConnector>
            <targetReference>LA_Not_populated_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LA_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Referral_Service.SPEN_Case__r.SPEN_Local_Authority__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Currently_Selected_Partner_Record</targetReference>
            </connector>
            <label>LA populated?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Partner_Available</name>
        <label>Partner Available?</label>
        <locationX>822</locationX>
        <locationY>802</locationY>
        <defaultConnector>
            <targetReference>FIltered_Partner_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Partner_Is_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountOfFilteredPartner</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChoosePartnerScreen</targetReference>
            </connector>
            <label>Partner Is Available</label>
        </rules>
    </decisions>
    <description>Allows users to search for and select the Partner Account which will be delivering a &quot;Referral Service&quot; to the Customer.</description>
    <environments>Default</environments>
    <interviewLabel>Select Partner For Referral Service {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Select Partner For Referral Service</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Currently_Selected_Partner_Record</name>
        <label>Get Currently Selected Partner Record</label>
        <locationX>409</locationX>
        <locationY>399</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_currently_selected_partner_to_collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Referral_Service.SPEN_PartnerName__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>CurrentlySelectedPartner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Initially determines partners potentially eligible to be selected for this referral service.</description>
        <name>Get_Eligible_Partners</name>
        <label>Get Eligible Partners</label>
        <locationX>923</locationX>
        <locationY>599</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Eligible_Partners</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Partner_Account_Record_Type_ID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_PartnerType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Referrals</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Partner_Account_Record_Type_ID</name>
        <label>Get Partner Account Record Type ID</label>
        <locationX>429</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Referral_Service</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_Partner</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>determines the referral service record based on recordid</description>
        <name>Get_Referral_Service</name>
        <label>Get Referral Service</label>
        <locationX>585</locationX>
        <locationY>190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Search_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SPEN_ReferralService__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Service_with_selected_Partner</name>
        <label>Update Service with selected Partner</label>
        <locationX>505</locationX>
        <locationY>1131</locationY>
        <inputReference>Get_Referral_Service</inputReference>
    </recordUpdates>
    <screens>
        <name>ChoosePartnerScreen</name>
        <label>ChoosePartnerScreen</label>
        <locationX>693</locationX>
        <locationY>904</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_selected_Partner_to_Service</targetReference>
        </connector>
        <fields>
            <name>SearchPartnerHeader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Select Partner&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EligiblePartnersDataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Eligible Referral Partners</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Filter_Eligible_Partners</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows</name>
                <value>
                    <elementReference>CurrentlySelectedPartnerCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-383a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Partner Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FIltered_Partner_Error_Screen</name>
        <label>FIltered Partner Error Screen</label>
        <locationX>885</locationX>
        <locationY>1087</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SelectPartnerHeader1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Select Partner&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Filtered_Partner_Error</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;No Partner available for the given Local Authority and the Service.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>LA_Not_populated_Error</name>
        <label>LA Not populated Error</label>
        <locationX>868</locationX>
        <locationY>446</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Search_Screen</targetReference>
        </connector>
        <fields>
            <name>LA_Not_populated_ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(251, 8, 8);&quot;&gt;&amp;nbsp;Please make sure Local Authority is updated on the Case&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Search_Screen</name>
        <label>Search Screen1</label>
        <locationX>738</locationX>
        <locationY>222</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>LA_in_Case_Populated</targetReference>
        </connector>
        <fields>
            <name>SelectPartnerHeader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;﻿Select Partner&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LA_And_Service</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Click on search to find active Partners based on,&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));&quot;&gt;Local Authority - &lt;/strong&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));&quot;&gt;{!Get_Referral_Service.SPEN_Case__r.SPEN_Local_Authority__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Service - &lt;/strong&gt;{!Get_Referral_Service.SPEN_Service__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Search</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>302</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Partner_Account_Record_Type_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CountOfFilteredPartner</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Filter_Eligible_Partners</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Eligible_Partners_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CurrentlySelectedPartner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CurrentlySelectedPartnerCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>holds the referral service&apos;s id who a partner needs to be identified for</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
