force-app/main/default/flows/SPEN_Job_Record_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SPEN_Apex_Call_for_Creating_Sharepoint_Folder</name>
        <label>Apex Call for Creating Sharepoint Folder</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <actionName>SPEN_FileUploaderLnPClass</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>jobLicenseArea</name>
            <value>
                <elementReference>$Record.SPEN_LicenseArea__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>jobName</name>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SPEN_FileUploaderLnPClass</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_Apex_Call_for_Creating_Sharepoint_FolderLive</name>
        <label>Apex Call for Creating Sharepoint Folder when Live</label>
        <locationX>578</locationX>
        <locationY>1355</locationY>
        <actionName>SPEN_FileUploaderLnPClass</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SPEN_CreateJobMilestones</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>jobLicenseArea</name>
            <value>
                <elementReference>$Record.SPEN_LicenseArea__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>jobName</name>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SPEN_FileUploaderLnPClass</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_Create_Termination_Job_Milestone</name>
        <label>Create Termination Job Milestone</label>
        <locationX>1106</locationX>
        <locationY>1463</locationY>
        <actionName>SPEN_MilestoneCreationInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>jobObj</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SPEN_MilestoneCreationInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>System will create job milestones from predefined work category milestones related to job work category/sub category.</description>
        <name>SPEN_CreateJobMilestones</name>
        <label>Create Job MIlestones</label>
        <locationX>710</locationX>
        <locationY>1439</locationY>
        <actionName>SPEN_MilestoneCreationInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SPEN_CreateDesignChecklist</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Create</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>jobObj</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SPEN_MilestoneCreationInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_ValueForPlannedLeadTime</name>
        <label>Value for Planned Lead Time</label>
        <locationX>556</locationX>
        <locationY>647</locationY>
        <actionName>SPEN_BusinessHoursAddDaysInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SPEN_UpdatePlannedLeadDate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>businessHourName</name>
            <value>
                <stringValue>Connection Business Hours</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>delayStart</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadTime</name>
            <value>
                <elementReference>SPEN_GetWorkCategoryRecords.SPEN_LeadTime__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>plannedStartDate</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SPEN_BusinessHoursAddDaysInvocable</nameSegment>
        <outputParameters>
            <assignToReference>SPEN_NextAvailableDate</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>LicenceAreaNotEmpty</name>
        <label>LicenceAreaNotEmpty</label>
        <locationX>842</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UpdateJobNumber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_LicenseArea__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>JobNumberFieldValue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_JobStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Live</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateJobNumberField</targetReference>
            </connector>
            <label>Update Job Number</label>
        </rules>
        <rules>
            <name>Job_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_JobStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_JobStatus__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JobReject</targetReference>
            </connector>
            <label>Job Rejected</label>
        </rules>
        <rules>
            <name>Create_Job_MIlestone</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_JobStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Live</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_JobStatus__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SPEN_NewJob</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_Update_Job_Name</targetReference>
            </connector>
            <label>Create Job MIlestone</label>
        </rules>
        <rules>
            <name>Create_Cancellation_Job_Milestone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_JobStatus__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_JobStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPENJM_Status_Not_Complete</targetReference>
            </connector>
            <label>Create Cancellation Job Milestone</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_CreateDesignChecklist</name>
        <label>Create Design Checklist</label>
        <locationX>710</locationX>
        <locationY>1547</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SPEN_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_IsDesignChecklistCreation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_CreateDesignChecklistFlow</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>In Case if at the time of review we are changing License Area and Creating Job Milestones</description>
        <name>SPEN_Update_Job_Name</name>
        <label>Update Job Name</label>
        <locationX>710</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>SPEN_CreateJobMilestones</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Job_Name</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_LicenseArea__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_LicenseArea__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SPEN_NewJob</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_UpdateJobNumber</targetReference>
            </connector>
            <label>Update Job Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_WorkCategoryIsChanged</name>
        <label>Work Category IsChanged</label>
        <locationX>842</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>LicenceAreaNotEmpty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_CheckIfWorkCategoryIsChanged</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_NewJobOrWCUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_GetWorkCategoryRecords</targetReference>
            </connector>
            <label>Check if work category is changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_WorkCategoryRecordAvailable</name>
        <label>Work Category Record Available</label>
        <locationX>688</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>LicenceAreaNotEmpty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_WorkCategoryRecordPresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_GetWorkCategoryRecords.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_ValueForPlannedLeadTime</targetReference>
            </connector>
            <label>Work Category Record Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_JM_Status</name>
        <label>Update JM Status</label>
        <locationX>1238</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_JM_Id_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_JMIdStatusNotComplete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_Update_JobMilestone_Status_Cancelled</targetReference>
            </connector>
            <label>JM Id Not Null</label>
        </rules>
    </decisions>
    <description>EPC-67 Create Job MIlestone action added with decision &quot;Create Job MIlestone&quot;
Update Flow to manage Job Name changes only when needed
ESC-88 Create cancellation Job milestone and cancel existing job milestone
ESC-1275: Planned Lead Date changes
ESC-165: sharepoint folder creation update</description>
    <environments>Default</environments>
    <formulas>
        <name>JobNumberFieldValue</name>
        <dataType>String</dataType>
        <expression>TEXT($Record.SPEN_LicenseArea__c) &amp; &quot; &quot; &amp; $Record.SPEN_UniqueID__c</expression>
    </formulas>
    <formulas>
        <name>SPEN_IsDesignChecklistCreation</name>
        <dataType>Boolean</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.SPEN_WorkCategory__c})),{!$Record.SPEN_WorkCategory__r.SPEN_AutoCreate_DesignChecklist__c},false)</expression>
    </formulas>
    <formulas>
        <name>SPEN_NewJob</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>SPEN_NewJobOrWCUpdated</name>
        <dataType>Boolean</dataType>
        <expression>OR(AND(ISNEW(), NOT(ISBLANK(TEXT( {!$Record.SPEN_Work_Category__c})))),ISCHANGED({!$Record.SPEN_Work_Category__c}))</expression>
    </formulas>
    <formulas>
        <name>SPEN_WorkCategoryID</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.SPEN_WorkCategory__c})),{!$Record.SPEN_WorkCategory__r.Id},null)</expression>
    </formulas>
    <interviewLabel>SPEN_Job Record Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SPEN_Job Record Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>SPEN_GetWorkCategoryRecords</name>
        <label>Get Work Category Records</label>
        <locationX>688</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SPEN_WorkCategoryRecordAvailable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SPEN_LicenseArea__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SPEN_LicenseArea__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_WorkCategoryTitle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SPEN_Work_Category__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SPEN_WorkCategory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SPENJM_Status_Not_Complete</name>
        <label>JM Status Not Complete</label>
        <locationX>1238</locationX>
        <locationY>1139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_JM_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SPEN_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>SPEN_Job_Milestone__c</object>
        <outputAssignments>
            <assignToReference>SPEN_JMIdStatusNotComplete</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>JobReject</name>
        <label>JobReject</label>
        <locationX>314</locationX>
        <locationY>1139</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SPEN_Update_JobMilestone_Status_Cancelled</name>
        <label>Update JobMilestone Status Cancelled</label>
        <locationX>1106</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>SPEN_Create_Termination_Job_Milestone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SPEN_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>SPEN_Job_Milestone__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>SPEN_UpdateJobNumber</name>
        <label>UpdateJobNumber</label>
        <locationX>578</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>SPEN_Apex_Call_for_Creating_Sharepoint_FolderLive</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>JobNumberFieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SPEN_UpdatePlannedLeadDate</name>
        <label>Update Planned Lead Date</label>
        <locationX>556</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>LicenceAreaNotEmpty</targetReference>
        </connector>
        <inputAssignments>
            <field>SPEN_PlannedLeadDate__c</field>
            <value>
                <elementReference>SPEN_NextAvailableDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateJobNumberField</name>
        <label>UpdateJobNumberField</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>SPEN_Apex_Call_for_Creating_Sharepoint_Folder</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>JobNumberFieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SPEN_WorkCategoryIsChanged</targetReference>
        </connector>
        <object>SPEN_Job__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>SPEN_CreateDesignChecklistFlow</name>
        <label>Create Design Checklist Flow</label>
        <locationX>578</locationX>
        <locationY>1655</locationY>
        <flowName>SPENCreateDesignChecklistDesignInformation</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SPEN_WorkCategoryId</name>
            <value>
                <elementReference>SPEN_WorkCategoryID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>SPEN_JMIdStatusNotComplete</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SPEN_NextAvailableDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
