force-app/main/default/flows/SPEN_MakeCaseAsCompetent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SPEN_SAPCalloutBeforeCaseIsCompetent</name>
        <label>SAP Callout Before Case Is Competent</label>
        <locationX>1040</locationX>
        <locationY>350</locationY>
        <actionName>SPEN_CasesConnectionService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SPEN_GetCaseAfterCallout</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseIds</name>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SPEN_CasesConnectionService</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Check_if_Toggle_is_Active</name>
        <label>Check if Toggle is Active</label>
        <locationX>710</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cancelButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Status_And_Sub_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>InActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cancelButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Pending_Physical_Info</name>
        <label>Check Pending Physical Info</label>
        <locationX>545</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>SPEN_SAPCalloutBeforeCaseIsCompetent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending_Physical_Info_greater_than_zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.SPEN_NumberofPhysicalInformation__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pending_Physical_Info_Error_msg</targetReference>
            </connector>
            <label>Pending Physical Infor greater than zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_CalloutCheck</name>
        <label>Callout Check</label>
        <locationX>1040</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>SPEN_SAPCallout</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_GetCaseAfterCallout.SPEN_SAPErrorDetails__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>QAS Customer Req</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Make_Case_Competent</targetReference>
            </connector>
            <label>Successful</label>
        </rules>
    </decisions>
    <description>CRMD-6699</description>
    <environments>Default</environments>
    <formulas>
        <name>SPEN_SAPErrorValue</name>
        <dataType>String</dataType>
        <expression>{!Get_Case_Record.SPEN_SAPErrorDetails__c}</expression>
    </formulas>
    <interviewLabel>Make Case as Competent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Make Case As Competent</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>545</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Pending_Physical_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SPEN_GetCaseAfterCallout</name>
        <label>Get Case After Callout</label>
        <locationX>1040</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SPEN_CalloutCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Status_And_Sub_Status</name>
        <label>Update Case Status And Sub Status</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_CompetentDate__c</field>
            <value>
                <elementReference>Get_Case_Record.SPEN_CompetentDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_ContactReceivedDate__c</field>
            <value>
                <elementReference>Get_Case_Record.SPEN_ContactReceivedDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_InformationStatus__c</field>
            <value>
                <stringValue>Able to Quote</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Is_Case_Competent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_SubStatus__c</field>
            <value>
                <stringValue>Competent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_TTQStartDate__c</field>
            <value>
                <elementReference>Get_Case_Record.SPEN_TTQStartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Get_Case_Record.Status</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorDetails</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;An error has been occurred:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(254, 66, 3);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Make_Case_Competent</name>
        <label>Confirm Competency</label>
        <locationX>710</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_if_Toggle_is_Active</targetReference>
        </connector>
        <fields>
            <name>caseStatus</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;If you are happy that the following dates are correct, and the case is ready to be made competent.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Make_Case_Competent_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Make_Case_Competent_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ttqDate</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 11px;&quot;&gt;TTQ Start Date:   &lt;/strong&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;{!Get_Case_Record.SPEN_TTQStartDate__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>contactReceivedDate</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 11px;&quot;&gt;Contact Received Date: &lt;/strong&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;{!Get_Case_Record.SPEN_ContactReceivedDate__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>competentDate</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 11px;&quot;&gt;Competent Date: &lt;/strong&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;{!Get_Case_Record.SPEN_CompetentDate__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>cancelButton</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please select Yes and click Confirm.  Otherwise please click confirm and change them in the case details.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pending_Physical_Info_Error_msg</name>
        <label>Pending Physical Info Error</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Errormsg</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(243, 243, 243); color: rgb(218, 21, 21);&quot;&gt;You cannot change &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(218, 21, 21);&quot;&gt;Sub status to Competent, &lt;/span&gt;&lt;span style=&quot;background-color: rgb(243, 243, 243); color: rgb(218, 21, 21);&quot;&gt;as Pending Physical Information greter than zero.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SPEN_SAPCallout</name>
        <label>SAP Callout</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SPEN_DisplayofSAPCallout</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(247, 21, 48);&quot;&gt;Sync To SAP is failing with below Error:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!SPEN_GetCaseAfterCallout.SPEN_SAPErrorDetails__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
