force-app/main/default/flows/SPEN_DesignChange_AfterUpdateFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SPEN_Calculating_Lead_Time_Delay</name>
        <label>Calculating Lead Time Delay</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <actionName>SPEN_BusinessHoursDaysBetweenInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SPEN_Update_DesignChange_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>businessHourName</name>
            <value>
                <stringValue>Connection Business Hours</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>endDate</name>
            <value>
                <elementReference>$Record.SPEN_DesignEndDate__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>$Record.SPEN_DesignStartDate__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SPEN_BusinessHoursDaysBetweenInvocable</nameSegment>
        <outputParameters>
            <assignToReference>SPEN_leadTimeDelay</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>SPEN_Design_Change_For</name>
        <label>Design Change For?</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>SPEN_Update_Related_Job_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Job</defaultConnectorLabel>
        <rules>
            <name>SPEN_Land_Interest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_LandInterest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_Update_Related_Land_Interest_Record</targetReference>
            </connector>
            <label>Land Interest</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_IsCompletedDateChanged</name>
        <label>Is Completed Date Changed</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_Completed_Date_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_DesignEndDate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_Calculating_Lead_Time_Delay</targetReference>
            </connector>
            <label>Completed Date Updated</label>
        </rules>
    </decisions>
    <description>Created as part of ESC-174,ESC-457 to update Job: Redesign Requested Date and Redesign Completed Date fields
Updated as part of ESC-372 to update Land Interest redesign Completion Date</description>
    <environments>Default</environments>
    <interviewLabel>SPEN DesignChange AfterUpdateFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SPEN DesignChange AfterUpdateFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>SPEN_Update_DesignChange_Record</name>
        <label>Update DesignChange Record</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>SPEN_Design_Change_For</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_LeadTimeDelay__c</field>
            <value>
                <elementReference>SPEN_leadTimeDelay</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SPEN_Update_Related_Job_Record</name>
        <label>Update Related Job Record</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SPEN_Job__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_DesignStatus__c</field>
            <value>
                <stringValue>Redesign Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_RedesignCompletedDate__c</field>
            <value>
                <elementReference>$Record.SPEN_DesignEndDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.SPEN_Job__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SPEN_Update_Related_Land_Interest_Record</name>
        <label>Update Related Land Interest Record</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SPEN_LandInterest__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_RedesignCompletedDate__c</field>
            <value>
                <elementReference>$Record.SPEN_DesignEndDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.SPEN_LandInterest__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SPEN_IsCompletedDateChanged</targetReference>
        </connector>
        <object>SPEN_DesignChange__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SPEN_leadTimeDelay</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
