force-app/main/default/flows/SPEN_ComplainceStoresMenu.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Action</name>
        <label>Assign Action</label>
        <locationX>1898</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>actionToPerform</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Which_action_to_perform</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Action_to_Run</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Action_0</name>
        <label>Assign Action</label>
        <locationX>1634</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>actionToPerform</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Which_action_to_perform_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Action_to_Run</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Action_1</name>
        <label>Assign Action</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>actionToPerform</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Which_action_to_perform_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Action_to_Run</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Action_2</name>
        <label>Assign Action</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>actionToPerform</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Which_action_to_perform_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Action_to_Run</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Action_3</name>
        <label>Assign Action</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>actionToPerform</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Which_action_to_perform_3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Action_to_Run</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>BookIn</name>
        <choiceText>Book In</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Book In</stringValue>
        </value>
    </choices>
    <choices>
        <name>BookOut</name>
        <choiceText>Book Out</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Book Out</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChangeExpectedReturn</name>
        <choiceText>Change Expected Return</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Expected Return</stringValue>
        </value>
    </choices>
    <choices>
        <name>EndofLife</name>
        <choiceText>End of Life</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>End of Life</stringValue>
        </value>
    </choices>
    <choices>
        <name>Inspection</name>
        <choiceText>Inspection</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inspection</stringValue>
        </value>
    </choices>
    <choices>
        <name>IssueItem</name>
        <choiceText>Issue Item</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Issue Item</stringValue>
        </value>
    </choices>
    <choices>
        <name>ItemSearch</name>
        <choiceText>Item Search</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Item Search</stringValue>
        </value>
    </choices>
    <choices>
        <name>ProductOnboarding</name>
        <choiceText>Product Onboarding</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Product Onboarding</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reactivate</name>
        <choiceText>Reactivate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reactivate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Recall</name>
        <choiceText>Recall</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Recall</stringValue>
        </value>
    </choices>
    <choices>
        <name>Status_LocationChange</name>
        <choiceText>Status / Location Change</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Status / Location Change</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Which_Action_to_Run</name>
        <label>Which Action to Run</label>
        <locationX>1502</locationX>
        <locationY>650</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Book_In</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>actionToPerform</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BookIn</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Book_In_0</targetReference>
            </connector>
            <label>Book In</label>
        </rules>
        <rules>
            <name>Book_Out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>actionToPerform</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BookOut</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Book_Out_0</targetReference>
            </connector>
            <label>Book Out</label>
        </rules>
        <rules>
            <name>Change_Expected_Return</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>actionToPerform</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChangeExpectedReturn</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Expected_Return</targetReference>
            </connector>
            <label>Change Expected Return</label>
        </rules>
        <rules>
            <name>End_Of_Life</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>actionToPerform</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EndofLife</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End_of_Life_0</targetReference>
            </connector>
            <label>End Of Life</label>
        </rules>
        <rules>
            <name>Inspection_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>actionToPerform</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Inspection</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inspection_1</targetReference>
            </connector>
            <label>Inspection</label>
        </rules>
        <rules>
            <name>Issue_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>actionToPerform</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>IssueItem</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Issue_Item_0</targetReference>
            </connector>
            <label>Issue Item</label>
        </rules>
        <rules>
            <name>Item_Search</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>actionToPerform</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ItemSearch</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Item_Search_0</targetReference>
            </connector>
            <label>Item Search</label>
        </rules>
        <rules>
            <name>Product_Onboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>actionToPerform</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ProductOnboarding</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Onboarding_0</targetReference>
            </connector>
            <label>Product Onboarding</label>
        </rules>
        <rules>
            <name>Reactivate_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>actionToPerform</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reactivate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reactivate_1</targetReference>
            </connector>
            <label>Reactivate</label>
        </rules>
        <rules>
            <name>Recall_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>actionToPerform</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Recall</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recall_1</targetReference>
            </connector>
            <label>Recall</label>
        </rules>
        <rules>
            <name>Status_Location_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>actionToPerform</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Status_LocationChange</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Location_Change_0</targetReference>
            </connector>
            <label>Status Location Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Action_to_Show</name>
        <label>Which Action to Show</label>
        <locationX>1502</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CMPS_Compliance_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Field_Operative.SPEN_Compliance_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Compliance_User</targetReference>
            </connector>
            <label>CMPS Compliance User</label>
        </rules>
        <rules>
            <name>CMPS_Team_Leader</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Field_Operative.SPEN_Team_Leader__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Team_Leader</targetReference>
            </connector>
            <label>CMPS Team Leader</label>
        </rules>
        <rules>
            <name>CMPS_Operational_Safety</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Field_Operative.SPEN_Operational_Safety_Engineer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Operational_Safety</targetReference>
            </connector>
            <label>CMPS Operational Safety</label>
        </rules>
        <rules>
            <name>CMPS_Competent_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Field_Operative.SPEN_Competent_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Competent_User</targetReference>
            </connector>
            <label>CMPS Competent User</label>
        </rules>
        <rules>
            <name>CMPS_Authorised_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Field_Operative.SPEN_Authorised_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Authorized_User</targetReference>
            </connector>
            <label>CMPS Authorised User</label>
        </rules>
    </decisions>
    <description>Flow to let the user choose the action to run for the Compliance Stores</description>
    <environments>Default</environments>
    <interviewLabel>SPEN Complaince Stores Menu {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SPEN Compliance Stores Menu</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Field_Operative</name>
        <label>Get Field Operative</label>
        <locationX>1502</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_Action_to_Show</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Authorized_User</name>
        <label>Authorized User</label>
        <locationX>1898</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Action</targetReference>
        </connector>
        <fields>
            <name>Which_action_to_perform</name>
            <choiceReferences>BookIn</choiceReferences>
            <choiceReferences>BookOut</choiceReferences>
            <choiceReferences>ChangeExpectedReturn</choiceReferences>
            <choiceReferences>ItemSearch</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select an action:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Competent_User</name>
        <label>Competent User</label>
        <locationX>1634</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Action_0</targetReference>
        </connector>
        <fields>
            <name>Which_action_to_perform_0</name>
            <choiceReferences>BookIn</choiceReferences>
            <choiceReferences>BookOut</choiceReferences>
            <choiceReferences>ChangeExpectedReturn</choiceReferences>
            <choiceReferences>Inspection</choiceReferences>
            <choiceReferences>ItemSearch</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select an action:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Compliance_User</name>
        <label>Compliance User</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Action_1</targetReference>
        </connector>
        <fields>
            <name>Which_action_to_perform_1</name>
            <choiceReferences>BookIn</choiceReferences>
            <choiceReferences>BookOut</choiceReferences>
            <choiceReferences>ChangeExpectedReturn</choiceReferences>
            <choiceReferences>EndofLife</choiceReferences>
            <choiceReferences>Inspection</choiceReferences>
            <choiceReferences>IssueItem</choiceReferences>
            <choiceReferences>ItemSearch</choiceReferences>
            <choiceReferences>ProductOnboarding</choiceReferences>
            <choiceReferences>Reactivate</choiceReferences>
            <choiceReferences>Recall</choiceReferences>
            <choiceReferences>Status_LocationChange</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select an action:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>2162</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error_message</name>
            <fieldText>&lt;p&gt;Your user does not have permission to do any of the actions.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Operational_Safety</name>
        <label>Operational Safety</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Action_2</targetReference>
        </connector>
        <fields>
            <name>Which_action_to_perform_2</name>
            <choiceReferences>BookIn</choiceReferences>
            <choiceReferences>BookOut</choiceReferences>
            <choiceReferences>ChangeExpectedReturn</choiceReferences>
            <choiceReferences>Inspection</choiceReferences>
            <choiceReferences>ItemSearch</choiceReferences>
            <choiceReferences>Status_LocationChange</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select an action:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Team_Leader</name>
        <label>Team Leader</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Action_3</targetReference>
        </connector>
        <fields>
            <name>Which_action_to_perform_3</name>
            <choiceReferences>BookIn</choiceReferences>
            <choiceReferences>BookOut</choiceReferences>
            <choiceReferences>ChangeExpectedReturn</choiceReferences>
            <choiceReferences>Inspection</choiceReferences>
            <choiceReferences>IssueItem</choiceReferences>
            <choiceReferences>ItemSearch</choiceReferences>
            <choiceReferences>Status_LocationChange</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select an action:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1376</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Field_Operative</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Book_In_0</name>
        <label>Book In</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <flowName>SPEN_Compliance_Stores_Book_In</flowName>
    </subflows>
    <subflows>
        <name>Book_Out_0</name>
        <label>Book Out</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <flowName>SPEN_Compliance_Stores_Book_Out</flowName>
    </subflows>
    <subflows>
        <name>End_of_Life_0</name>
        <label>End of Life</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <flowName>SPEN_Compliance_Stores_End_of_Life</flowName>
    </subflows>
    <subflows>
        <name>Expected_Return</name>
        <label>Expected Return</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <flowName>SPEN_Compliance_Stores_Expected_Return_Update</flowName>
    </subflows>
    <subflows>
        <name>Inspection_1</name>
        <label>Inspection</label>
        <locationX>1106</locationX>
        <locationY>758</locationY>
        <flowName>SPEN_Compliance_Stores_Inspection</flowName>
    </subflows>
    <subflows>
        <name>Issue_Item_0</name>
        <label>Issue Item</label>
        <locationX>1370</locationX>
        <locationY>758</locationY>
        <flowName>SPEN_Compliance_Stores_Issue_Item</flowName>
    </subflows>
    <subflows>
        <name>Item_Search_0</name>
        <label>Item Search</label>
        <locationX>1634</locationX>
        <locationY>758</locationY>
        <flowName>SPEN_Compliance_Stores_Search</flowName>
    </subflows>
    <subflows>
        <name>Product_Onboarding_0</name>
        <label>Product Onboarding</label>
        <locationX>1898</locationX>
        <locationY>758</locationY>
        <flowName>SPEN_Compliance_Stores_Product_Onboarding</flowName>
    </subflows>
    <subflows>
        <name>Reactivate_1</name>
        <label>Reactivate</label>
        <locationX>2162</locationX>
        <locationY>758</locationY>
        <flowName>SPEN_Compliance_Stores_Reactivate</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Recall_1</name>
        <label>Recall</label>
        <locationX>2426</locationX>
        <locationY>758</locationY>
        <flowName>SPEN_Compliance_Stores_Recall</flowName>
    </subflows>
    <subflows>
        <name>Status_Location_Change_0</name>
        <label>Status Location Change</label>
        <locationX>2690</locationX>
        <locationY>758</locationY>
        <flowName>SPEN_Compliance_Stores_Move_Equipment</flowName>
    </subflows>
    <variables>
        <name>actionToPerform</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
