force-app/main/default/flows/SPEN_Compliance_Stores_External_Users_30_Day_Login_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>Assign to variable for profile Ids</description>
        <name>Assign_to_variable</name>
        <label>Assign to variable</label>
        <locationX>468</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>contractorProfileIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Profile_IDs.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Profile_IDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns to variable the user Id that needs to be deactivated.</description>
        <name>Assign_User_Ids</name>
        <label>Assign User Ids</label>
        <locationX>270</locationX>
        <locationY>984</locationY>
        <assignmentItems>
            <assignToReference>userIdsForDeactivation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Users_to_Deactivate.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Users_to_Deactivate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks if there are users found which need to be deactivated.</description>
        <name>Users_to_Deactivate</name>
        <label>Users to Deactivate?</label>
        <locationX>380</locationX>
        <locationY>768</locationY>
        <defaultConnectorLabel>No Users Found</defaultConnectorLabel>
        <rules>
            <name>Users_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>expiredUsers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Users_to_Deactivate</targetReference>
            </connector>
            <label>Users Found</label>
        </rules>
    </decisions>
    <description>23/01/2024 - CMPS-61 - Flow to check for external Compliance Stores login history and deactivate users that have not logged in in the past 30 days.
01/03/2024 - CMPS-61 - Updated to optimise Wait element and Get Records filter conditions logic.</description>
    <environments>Default</environments>
    <formulas>
        <name>CreatedDateBoundaryDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDateTime} - 30</expression>
    </formulas>
    <formulas>
        <name>LastLoginBoundaryDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} - 30</expression>
    </formulas>
    <interviewLabel>Compliance Stores - External Users 30 Day Login Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Compliance Stores - External Users 30 Day Login Check</label>
    <loops>
        <description>Assign profile IDs</description>
        <name>Loop_Profile_IDs</name>
        <label>Loop Profile IDs</label>
        <locationX>380</locationX>
        <locationY>360</locationY>
        <collectionReference>profileIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Active_Users</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Users_to_Deactivate</name>
        <label>Loop Through Users to Deactivate</label>
        <locationX>182</locationX>
        <locationY>876</locationY>
        <collectionReference>expiredUsers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_User_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Linked_Locations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets all users which are active, hold the contractor profile and haven&apos;t logged in within the last 30 days.</description>
        <name>Get_Active_Users</name>
        <label>Get Active Users</label>
        <locationX>380</locationX>
        <locationY>660</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Users_to_Deactivate</targetReference>
        </connector>
        <filterLogic>(1 AND 2) AND (3 OR (4 AND 5))</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>In</operator>
            <value>
                <elementReference>contractorProfileIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LastLoginDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>LastLoginBoundaryDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastLoginDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>CreatedDateBoundaryDate</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>expiredUsers</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Profile_IDs</name>
        <label>Get Profile IDs</label>
        <locationX>380</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Profile_IDs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN Field Service Contractor</stringValue>
            </value>
        </filters>
        <object>Profile</object>
        <outputReference>profileIds</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Linked_Locations</name>
        <label>Update Linked Locations</label>
        <locationX>182</locationX>
        <locationY>1176</locationY>
        <connector>
            <targetReference>Update_Linked_Service_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SPEN_User__c</field>
            <operator>In</operator>
            <value>
                <elementReference>userIdsForDeactivation</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Location</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Linked_Service_Resource</name>
        <label>Update Linked Service Resource</label>
        <locationX>182</locationX>
        <locationY>1284</locationY>
        <connector>
            <targetReference>Pause_Flow_for_Setup_Object_Access</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RelatedRecordId</field>
            <operator>In</operator>
            <value>
                <elementReference>userIdsForDeactivation</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>ServiceResource</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates User records to inactive.</description>
        <name>Update_User_Records</name>
        <label>Update User Records</label>
        <locationX>50</locationX>
        <locationY>1500</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>userIdsForDeactivation</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Profile_IDs</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-04-08</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>contractorProfileIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>expiredUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>profileIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Profile</objectType>
    </variables>
    <variables>
        <name>userIdsForDeactivation</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <description>Pause the flow to force a transaction commit, allowing the flow to access Setup objects. This prevents the MIXED_DML_OPERATION error from occurring.</description>
        <name>Pause_Flow_for_Setup_Object_Access</name>
        <label>Pause Flow for Setup Object Access</label>
        <locationX>182</locationX>
        <locationY>1392</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Wait</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Update_User_Records</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Wait</label>
        </waitEvents>
    </waits>
</Flow>
