force-app/main/default/flows/SPEN_Compliance_Stores_My_Equipment_Overview_Mobile.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Text_Template</name>
        <label>Assign Text Template</label>
        <locationX>270</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>loopedoutput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>templateSerialisedProductDetails</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>foundserialisedproductid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>looped_Serialised_Product.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Found_Serialised_Products</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Serialised_Product_Record_Type_Found</name>
        <label>Check Serialised Product Record Type Found</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Missing_Record_Type_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>serialised_product_record_type_id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Compliance_Stores_Serialised_Products</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Items_Found</name>
        <label>Items Found?</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>No_Equipment_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>foundserialisedproductid</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Item_Overview</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Field Service mobile flow to allow users to see all Compliance Stores equipment owned by them, to be used for Compliance Stores solution.</description>
    <environments>Default</environments>
    <interviewLabel>Compliance Stores - My Equipment Overview {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Compliance Stores - My Equipment Overview</label>
    <loops>
        <name>Loop_Found_Serialised_Products</name>
        <label>Loop Found Serialised Products</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNextValueToReference>looped_Serialised_Product</assignNextValueToReference>
        <collectionReference>my_Found_Serialised_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Text_Template</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Items_Found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <description>Get Records element to find Serialised Product record type.</description>
        <name>Get_Compliance_Stores_Record_Type_Serialised_Product</name>
        <label>Get Compliance Stores Record Type (Serialised Products)</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Serialised_Product_Record_Type_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SerializedProduct</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_Compliance_Stores</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>serialised_product_record_type_id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Compliance_Stores_Serialised_Products</name>
        <label>Get Compliance Stores (Serialised Products)</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Found_Serialised_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serialised_product_record_type_id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SerializedProduct</object>
        <outputReference>my_Found_Serialised_Products</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SPEN_Energy_Networks_ID__c</queriedFields>
        <queriedFields>SPEN_Category__c</queriedFields>
        <queriedFields>SPEN_Item_Description__c</queriedFields>
        <queriedFields>SPEN_Safety_Check_Date__c</queriedFields>
        <queriedFields>SPEN_Expected_Return_Date__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>SPEN_ENID_Category_Description_Safety__c</queriedFields>
        <sortField>SPEN_Category__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Item_Overview</name>
        <label>Item Overview</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayItems</name>
            <fieldText>&lt;p&gt;{!templateOutputAllItems}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to user missing record type.</description>
        <name>Missing_Record_Type_Screen</name>
        <label>Missing Record Type</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MissingRecordType</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You can&apos;t view equipment due to a system issue. Please advise your system administrator of the below issue.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The below Record Type is missing from the Serialised Product object:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Compliance Stores&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Equipment_Screen</name>
        <label>No Equipment</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoEquipmentTextDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;There is no equipment currently booked out in your name at this time.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Compliance_Stores_Record_Type_Serialised_Product</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>templateOutputAllItems</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!loopedoutput}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>templateSerialisedProductDetails</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;{!looped_Serialised_Product.SPEN_ENID_Category_Description_Safety__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;_____________________________&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>foundserialisedproductid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>looped_Serialised_Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>loopedoutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>my_Found_Serialised_Products</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>serialised_product_record_type_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
