force-app/main/default/flows/SPEN_OutboundDiallerFlowTrigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>checkOwnerChange</name>
        <label>checkOwnerChange</label>
        <locationX>2118</locationX>
        <locationY>1560</locationY>
        <defaultConnectorLabel>AgentNotPicked</defaultConnectorLabel>
        <rules>
            <name>AgentPicked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OutboundGroupId.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateExternalId</targetReference>
            </connector>
            <label>AgentPicked</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckPSR</name>
        <label>CheckPSR</label>
        <locationX>2118</locationX>
        <locationY>768</locationY>
        <defaultConnector>
            <targetReference>IsRetry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsCurrentPSR</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_CallResolution__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_Campaign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stage 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_Campaign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stage 3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_Campaign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stage 4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetStage</targetReference>
            </connector>
            <label>IsCurrentPSR</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContextCheck</name>
        <label>ContextCheck</label>
        <locationX>1447</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>CheckPSR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DropConfig</targetReference>
            </connector>
            <label>Insert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_CheckPSR</name>
        <label>Copy 1 of CheckPSR</label>
        <locationX>776</locationX>
        <locationY>1008</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_IsCurrentPSR</name>
            <conditionLogic>(1 OR 2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_Campaign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stage 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_Campaign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stage 3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_Campaign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stage 4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_GetStage</targetReference>
            </connector>
            <label>Copy 1 of IsCurrentPSR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_GetStage</name>
        <label>Copy 1 of GetStage</label>
        <locationX>446</locationX>
        <locationY>1128</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Stage3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_Campaign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stage 3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OutboundGroupId.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_DropOldODRecPriorStage3</targetReference>
            </connector>
            <label>Copy 1 of Stage3</label>
        </rules>
        <rules>
            <name>Copy_1_of_Stage2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_Campaign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stage 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OutboundGroupId.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_DropOldODRecPriorStage2</targetReference>
            </connector>
            <label>Copy 1 of Stage2</label>
        </rules>
        <rules>
            <name>Copy_1_of_Stage4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_Campaign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stage 4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OutboundGroupId.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_DropOldODRecPriorStage4</targetReference>
            </connector>
            <label>Copy 1 of Stage4</label>
        </rules>
    </decisions>
    <decisions>
        <name>GetStage</name>
        <label>GetStage</label>
        <locationX>1766</locationX>
        <locationY>888</locationY>
        <defaultConnector>
            <targetReference>checkOwnerChange</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_Campaign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stage 3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OutboundGroupId.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DropOldODRecPriorStage3</targetReference>
            </connector>
            <label>Stage3</label>
        </rules>
        <rules>
            <name>Stage2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_Campaign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stage 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OutboundGroupId.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DropOldODRecPriorStage2</targetReference>
            </connector>
            <label>Stage2</label>
        </rules>
        <rules>
            <name>Stage4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_Campaign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stage 4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OutboundGroupId.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DropOldODRecPriorStage4</targetReference>
            </connector>
            <label>Stage4</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Stage_4</name>
        <label>Is Stage 4</label>
        <locationX>2910</locationX>
        <locationY>648</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Copy_1_of_OutboundGroupId.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DropStageType.SPEN_Value__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.SPEN_Campaign__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Drop_Restore_task</targetReference>
            </connector>
            <label>Stage 4</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsRetry</name>
        <label>IsRetry</label>
        <locationX>2470</locationX>
        <locationY>888</locationY>
        <defaultConnector>
            <targetReference>checkOwnerChange</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoRetry</defaultConnectorLabel>
        <rules>
            <name>Retry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_CallResolution__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outbound-not reachable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PriorityLength</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_CallResolution__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RetryRecord</targetReference>
            </connector>
            <label>Retry</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>agentPickedExternalId</name>
        <dataType>String</dataType>
        <expression>{!$Record.SPEN_ExternalId__c} &amp; &apos;Agent&apos; &amp;TEXT({!$Flow.CurrentDateTime})</expression>
    </formulas>
    <formulas>
        <name>DropDateTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + (VALUE({!DropConfig.SPEN_Value__c})/24)</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>NewExternalId</name>
        <dataType>String</dataType>
        <expression>{!$Record.SPEN_ExternalId__c} &amp; TEXT({!$Record.SPEN_Priority__c})</expression>
    </formulas>
    <formulas>
        <name>NewPriority</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.SPEN_Priority__c})&amp;&apos;1&apos;</expression>
    </formulas>
    <formulas>
        <name>PriorityLength</name>
        <dataType>Number</dataType>
        <expression>LEN(TEXT({!$Record.SPEN_Priority__c}))</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>OutboundDiallerFlowTrigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OutboundDiallerFlowTrigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>RetryRecord</name>
        <label>RetryRecord</label>
        <locationX>2338</locationX>
        <locationY>1008</locationY>
        <connector>
            <targetReference>checkOwnerChange</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OutboundGroupId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Campaign__c</field>
            <value>
                <elementReference>$Record.SPEN_Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_ContactId__c</field>
            <value>
                <elementReference>$Record.SPEN_ContactId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_ExternalId__c</field>
            <value>
                <elementReference>NewExternalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Impacted_Premise__c</field>
            <value>
                <elementReference>$Record.SPEN_Impacted_Premise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_IncidentId__c</field>
            <value>
                <elementReference>$Record.SPEN_IncidentId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Info__c</field>
            <value>
                <elementReference>$Record.SPEN_Info__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Priority__c</field>
            <value>
                <elementReference>NewPriority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Type__c</field>
            <value>
                <elementReference>$Record.SPEN_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>SPEN_CustomerUpdate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_GetDropUser</name>
        <label>Copy 1 of GetDropUser</label>
        <locationX>2910</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DropStageType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dropped Outbound Task User</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_OutboundGroupId</name>
        <label>Copy 1 of OutboundGroupId</label>
        <locationX>2910</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_GetDropUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Outbound_Dialer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>DropConfig</name>
        <label>DropConfig</label>
        <locationX>776</locationX>
        <locationY>768</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_DropDatetime</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DropDiallerRecordsAfterHours</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SPEN_ConfigurableSettings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>DropStageType</name>
        <label>DropStageType</label>
        <locationX>2910</locationX>
        <locationY>528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Stage_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DropDiallerStageType</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SPEN_ConfigurableSettings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetConfigData</name>
        <label>GetConfigData</label>
        <locationX>1447</locationX>
        <locationY>528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContextCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Drop__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SPEN_OutboundDiallerConfig__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Priority__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDropUser</name>
        <label>GetDropUser</label>
        <locationX>1447</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetConfigData</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dropped Outbound Task User</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>OutboundGroupId</name>
        <label>OutboundGroupId</label>
        <locationX>1447</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetDropUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Outbound_Dialer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_DropOldODRecPriorStage2</name>
        <label>Copy 1 of DropOldODRecPriorStage2</label>
        <locationX>314</locationX>
        <locationY>1248</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OutboundGroupId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Impacted_Premise__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SPEN_Impacted_Premise__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_IncidentId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SPEN_IncidentId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stage 1</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetDropUser.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SPEN_CustomerUpdate__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_DropOldODRecPriorStage3</name>
        <label>Copy 1 of DropOldODRecPriorStage3</label>
        <locationX>50</locationX>
        <locationY>1248</locationY>
        <connector>
            <targetReference>Copy_1_of_DropOldODRecPriorStage3v2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OutboundGroupId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Impacted_Premise__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SPEN_Impacted_Premise__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_IncidentId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SPEN_IncidentId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stage 1</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetDropUser.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SPEN_CustomerUpdate__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_DropOldODRecPriorStage3v2</name>
        <label>Copy 1 of DropOldODRecPriorStage3v2</label>
        <locationX>50</locationX>
        <locationY>1368</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OutboundGroupId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Impacted_Premise__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SPEN_Impacted_Premise__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_IncidentId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SPEN_IncidentId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stage 2</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetDropUser.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SPEN_CustomerUpdate__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_DropOldODRecPriorStage4</name>
        <label>Copy 1 of DropOldODRecPriorStage4</label>
        <locationX>578</locationX>
        <locationY>1248</locationY>
        <connector>
            <targetReference>Copy_1_of_DropOldODRecPriorStage4v2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OutboundGroupId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Impacted_Premise__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SPEN_Impacted_Premise__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_IncidentId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SPEN_IncidentId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stage 1</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetDropUser.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SPEN_CustomerUpdate__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_DropOldODRecPriorStage4v2</name>
        <label>Copy 1 of DropOldODRecPriorStage4v2</label>
        <locationX>578</locationX>
        <locationY>1368</locationY>
        <connector>
            <targetReference>Copy_1_of_DropOldODRecPriorStage4v3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OutboundGroupId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Impacted_Premise__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SPEN_Impacted_Premise__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_IncidentId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SPEN_IncidentId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stage 2</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetDropUser.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SPEN_CustomerUpdate__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_DropOldODRecPriorStage4v3</name>
        <label>Copy 1 of DropOldODRecPriorStage4v3</label>
        <locationX>578</locationX>
        <locationY>1488</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OutboundGroupId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Impacted_Premise__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SPEN_Impacted_Premise__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_IncidentId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SPEN_IncidentId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stage 3</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetDropUser.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SPEN_CustomerUpdate__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>After 48hrs if not picked then should be dropped</description>
        <name>Drop_Restore_task</name>
        <label>Drop Restore task</label>
        <locationX>2778</locationX>
        <locationY>768</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Copy_1_of_GetDropUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>DropOldODRecPriorStage2</name>
        <label>DropOldODRecPriorStage2</label>
        <locationX>1634</locationX>
        <locationY>1008</locationY>
        <connector>
            <targetReference>checkOwnerChange</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OutboundGroupId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Impacted_Premise__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SPEN_Impacted_Premise__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_IncidentId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SPEN_IncidentId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stage 1</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetDropUser.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SPEN_CustomerUpdate__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>DropOldODRecPriorStage3</name>
        <label>DropOldODRecPriorStage3</label>
        <locationX>1370</locationX>
        <locationY>1008</locationY>
        <connector>
            <targetReference>DropOldODRecPriorStage3v2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OutboundGroupId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Impacted_Premise__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SPEN_Impacted_Premise__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_IncidentId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SPEN_IncidentId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stage 1</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetDropUser.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SPEN_CustomerUpdate__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>DropOldODRecPriorStage3v2</name>
        <label>DropOldODRecPriorStage3v2</label>
        <locationX>1370</locationX>
        <locationY>1128</locationY>
        <connector>
            <targetReference>checkOwnerChange</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OutboundGroupId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Impacted_Premise__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SPEN_Impacted_Premise__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_IncidentId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SPEN_IncidentId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stage 2</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetDropUser.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SPEN_CustomerUpdate__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>DropOldODRecPriorStage4</name>
        <label>DropOldODRecPriorStage4</label>
        <locationX>1898</locationX>
        <locationY>1008</locationY>
        <connector>
            <targetReference>DropOldODRecPriorStage4v2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OutboundGroupId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Impacted_Premise__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SPEN_Impacted_Premise__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_IncidentId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SPEN_IncidentId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stage 1</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetDropUser.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SPEN_CustomerUpdate__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>DropOldODRecPriorStage4v2</name>
        <label>DropOldODRecPriorStage4v2</label>
        <locationX>1898</locationX>
        <locationY>1128</locationY>
        <connector>
            <targetReference>DropOldODRecPriorStage4v3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OutboundGroupId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Impacted_Premise__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SPEN_Impacted_Premise__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_IncidentId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SPEN_IncidentId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stage 2</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetDropUser.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SPEN_CustomerUpdate__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>DropOldODRecPriorStage4v3</name>
        <label>DropOldODRecPriorStage4v3</label>
        <locationX>1898</locationX>
        <locationY>1248</locationY>
        <connector>
            <targetReference>checkOwnerChange</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OutboundGroupId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Impacted_Premise__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SPEN_Impacted_Premise__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_IncidentId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SPEN_IncidentId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stage 3</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetDropUser.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SPEN_CustomerUpdate__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_DropDatetime</name>
        <label>Update DropDatetime</label>
        <locationX>776</locationX>
        <locationY>888</locationY>
        <connector>
            <targetReference>Copy_1_of_CheckPSR</targetReference>
        </connector>
        <inputAssignments>
            <field>SPEN_DropDateTime__c</field>
            <value>
                <elementReference>DropDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateExternalId</name>
        <label>UpdateExternalId</label>
        <locationX>1986</locationX>
        <locationY>1680</locationY>
        <inputAssignments>
            <field>SPEN_ExternalId__c</field>
            <value>
                <elementReference>agentPickedExternalId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2052</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>OutboundGroupId</targetReference>
        </connector>
        <object>SPEN_CustomerUpdate__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Closure_after_48hrs</name>
            <connector>
                <targetReference>Copy_1_of_OutboundGroupId</targetReference>
            </connector>
            <label>Closure after 48hrs</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>SPEN_DropDateTime__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DropPriorityList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
