force-app/main/default/flows/SPEN_SearchVendor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SPEN_getSAPVendors</name>
        <label>Search Vendor</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <actionName>SPEN_SAPVendorInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SPEN_HasVendorResult</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>vendorBP</name>
            <value>
                <elementReference>SPEN_BusinessPartnerNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vendorCity</name>
            <value>
                <elementReference>SPEN_City</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vendorCountry</name>
            <value>
                <elementReference>SPEN_Country</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vendorName</name>
            <value>
                <elementReference>SPEN_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vendorNumber</name>
            <value>
                <elementReference>SPEN_Vendor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vendorState</name>
            <value>
                <elementReference>SPEN_State</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vendorStreet</name>
            <value>
                <elementReference>SPEN_Street</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vendorStreet2</name>
            <value>
                <elementReference>SPEN_Street2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vendorStreet3</name>
            <value>
                <elementReference>SPEN_Street3</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vendorZipCode</name>
            <value>
                <elementReference>SPEN_Postcode</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SPEN_SAPVendorInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>SPEN_AssignVendor</name>
        <label>Assign Vendor</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>SPEN_SelectedVendor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SPEN_TransformSelectedVendor</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>SPEN_HasValidSearch</name>
        <label>Has Valid Search?</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>SPEN_getSAPVendors</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid Search</defaultConnectorLabel>
        <rules>
            <name>SPEN_InsufficientSearch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_Vendor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SPEN_BusinessPartnerNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SPEN_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SPEN_Postcode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_ShowSearchMessage</targetReference>
            </connector>
            <label>Insufficient Search</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_HasVendorResult</name>
        <label>Has Vendor Result</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>SPEN_ShowMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SPEN_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_getSAPVendors.vendorList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_PrepareVendorList</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Created as part of ESC-1491.
Updated the logic for Invocable class as part of ESC-1655
Updated the loic as part of ESC-1708 to include street2 and Street3</description>
    <environments>Default</environments>
    <interviewLabel>Search Vendor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SPEN Search Vendor</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>SPEN_SearchVendor</name>
        <label>Search Vendor</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SPEN_HasValidSearch</targetReference>
        </connector>
        <fields>
            <name>SPEN_Search_Vendor</name>
            <fieldText>Search Vendor</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SPEN_Search_Vendor_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SPEN_Vendor</name>
                    <dataType>String</dataType>
                    <fieldText>Vendor</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>SPEN_Street</name>
                    <dataType>String</dataType>
                    <fieldText>Street</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>SPEN_State</name>
                    <dataType>String</dataType>
                    <fieldText>State</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SPEN_Search_Vendor_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SPEN_BusinessPartnerNumber</name>
                    <dataType>String</dataType>
                    <fieldText>Business Partner Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>SPEN_Street2</name>
                    <dataType>String</dataType>
                    <fieldText>Street2</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>SPEN_Country</name>
                    <dataType>String</dataType>
                    <fieldText>Country</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SPEN_Search_Vendor_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SPEN_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>SPEN_Street3</name>
                    <dataType>String</dataType>
                    <fieldText>Street3</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SPEN_Search_Vendor_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SPEN_Postcode</name>
                    <dataType>String</dataType>
                    <fieldText>Postcode</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>SPEN_City</name>
                    <dataType>String</dataType>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>SPEN_SearchNote</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Note: Please provide search value in                                                                            at least one of the field Vendor, Business Partner Number, Name and&amp;nbsp;Postcode.&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Search</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SPEN_SelectVendor</name>
        <label>Select Vendor</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SPEN_TransformSelectedVendor</targetReference>
        </connector>
        <fields>
            <name>SPEN_VendorList</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>SPEN_LandNorthSouthFinance__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Vendor</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>SPEN_PrepareVendorList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;SPEN_NoofOldPOreplaced__c&quot;,&quot;guid&quot;:&quot;column-3fc7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Company Code(s)&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;No of Old PO replaced&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;SPEN_NewPOtoreplacedOld__c&quot;,&quot;guid&quot;:&quot;column-7585&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Vendor Number&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;New PO to replaced Old&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;SPEN_Comments__c&quot;,&quot;guid&quot;:&quot;column-6e74&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Business Partner Number&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Comments&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;SPEN_ExistingPOorPMONumber__c&quot;,&quot;guid&quot;:&quot;column-8e72&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Existing PO or PMO Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;SPEN_CICInvoiceNumber__c&quot;,&quot;guid&quot;:&quot;column-c00f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Address&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;CIC Invoice Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;SPEN_INDO_ICPInvolved__c&quot;,&quot;guid&quot;:&quot;column-52e4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Postcode&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;INDO/ICP Involved&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;SPEN_Escoms_ReferenceNumber__c&quot;,&quot;guid&quot;:&quot;column-33da&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Email&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Escoms/ Reference Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;SPEN_InvoiceNumber__c&quot;,&quot;guid&quot;:&quot;column-f39e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Phone Number(s)&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:7,&quot;label&quot;:&quot;Invoice Number&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SPEN_ShowMessage</name>
        <label>Show Message</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SPEN_ShowMessageWhenNoVendor</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;If we are unable to find a Vendor with the information provided, please use as much information as possible to search for the appropriate vendor. Please ensure the vendor you require has been raised in the appropriate way through SAP RE and Admin Vendors.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SPEN_ShowSearchMessage</name>
        <label>Show Message</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SPEN_ShowInValidSearchMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Please provide search value for at least one of the following:&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Vendor, Business Partner Number, Name and&amp;nbsp;Postcode.&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SPEN_SearchVendor</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>SPEN_PrepareVendorList</name>
        <label>Prepare Vendor List</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>SPEN_SelectVendor</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>SPEN_LandNorthSouthFinance__c</objectType>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>SPEN_CICInvoiceNumber__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SPEN_getSAPVendors.vendorList[$EachItem].address</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>SPEN_Comments__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SPEN_getSAPVendors.vendorList[$EachItem].businessPartner</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>SPEN_Escoms_ReferenceNumber__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SPEN_getSAPVendors.vendorList[$EachItem].email</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>SPEN_ExistingPOorPMONumber__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SPEN_getSAPVendors.vendorList[$EachItem].name</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>SPEN_INDO_ICPInvolved__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SPEN_getSAPVendors.vendorList[$EachItem].postCode</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>SPEN_InvoiceNumber__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SPEN_getSAPVendors.vendorList[$EachItem].telephone</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>SPEN_NewPOtoreplacedOld__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SPEN_getSAPVendors.vendorList[$EachItem].vendorNumber</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>SPEN_NoofOldPOreplaced__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SPEN_getSAPVendors.vendorList[$EachItem].companyCode</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>SPEN_BudgetYearRaised__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SPEN_getSAPVendors.vendorList[$EachItem].city</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>SPEN_PMONumber__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SPEN_getSAPVendors.vendorList[$EachItem].country</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>SPEN_PO_NTSNumber__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SPEN_getSAPVendors.vendorList[$EachItem].state</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>SPEN_ProjectNumber__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SPEN_getSAPVendors.vendorList[$EachItem].street</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>SPEN_ReasonforCancellation_Status__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SPEN_getSAPVendors.vendorList[$EachItem].emailprefrence</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>SPEN_ReasonForPayment__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SPEN_getSAPVendors.vendorList[$EachItem].telephoneprefrence</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>SPEN_LicenceArea__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SPEN_getSAPVendors.vendorList[$EachItem].street2</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>SPEN_JobTitle__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SPEN_getSAPVendors.vendorList[$EachItem].street3</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>SPEN_TransformSelectedVendor</name>
        <label>Transform Selected Vendor</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <apexClass>SPEN_SAPVendorDOMClass</apexClass>
        <connector>
            <targetReference>SPEN_AssignVendor</targetReference>
        </connector>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>address</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SPEN_VendorList.firstSelectedRow.SPEN_CICInvoiceNumber__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>businessPartner</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SPEN_VendorList.firstSelectedRow.SPEN_Comments__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>companyCode</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SPEN_VendorList.firstSelectedRow.SPEN_NoofOldPOreplaced__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>email</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SPEN_VendorList.firstSelectedRow.SPEN_Escoms_ReferenceNumber__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SPEN_VendorList.firstSelectedRow.SPEN_ExistingPOorPMONumber__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>postCode</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SPEN_VendorList.firstSelectedRow.SPEN_INDO_ICPInvolved__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>telephone</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SPEN_VendorList.firstSelectedRow.SPEN_InvoiceNumber__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>vendorNumber</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SPEN_VendorList.firstSelectedRow.SPEN_NewPOtoreplacedOld__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>city</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SPEN_VendorList.firstSelectedRow.SPEN_BudgetYearRaised__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>country</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SPEN_VendorList.firstSelectedRow.SPEN_PMONumber__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>state</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SPEN_VendorList.firstSelectedRow.SPEN_PO_NTSNumber__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>street</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SPEN_VendorList.firstSelectedRow.SPEN_ProjectNumber__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>emailprefrence</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SPEN_VendorList.firstSelectedRow.SPEN_ReasonforCancellation_Status__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>telephoneprefrence</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SPEN_VendorList.firstSelectedRow.SPEN_ReasonForPayment__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>street2</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SPEN_VendorList.firstSelectedRow.SPEN_LicenceArea__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>street3</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SPEN_VendorList.firstSelectedRow.SPEN_JobTitle__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>SPEN_SelectedVendor</name>
        <apexClass>SPEN_SAPVendorDOMClass</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
