force-app/main/default/flows/SPEN_CaseRecordTriggerFlowtosendanemailalert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ActionSendGECaseAutoresponseEmail_SPM</name>
        <label>Send GE Case Autoresponse Email - SPM</label>
        <locationX>1686</locationX>
        <locationY>692</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.ContactEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Label.SPEN_GESPMContactAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Thank you for your Enquiry {!$Record.CaseNumber}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;Thank you for contacting us.  We will review the information that you have provided and one of our team will contact you within two working days to discuss your enquiry.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;Get in touch.&lt;/strong&gt;&amp;nbsp;&lt;br /&gt; Should you need to contact us in the meantime, please reply to this email or call us quoting your case reference number:&amp;nbsp;&lt;strong&gt;{!$Record.CaseNumber} &lt;/strong&gt;&lt;br /&gt; &lt;br /&gt; Call: 0330 1010 444&lt;br /&gt; Our office hours are Monday - Friday, 8.30am - 4.45pm.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;General Enquiries Online Form&amp;nbsp; &lt;/strong&gt;&lt;/p&gt; &lt;p&gt;Did you know you can submit most enquiries vis our intuitive Online Form?&amp;nbsp; You can access the form here https://www.spenergynetworks.co.uk/pages/general_enquiries.aspx&lt;/p&gt; &lt;p&gt;&lt;strong&gt;Need more information?&lt;/strong&gt;&amp;nbsp;&lt;br /&gt; Our website contains useful information guidance leaflets can be found on our website at&amp;nbsp;&lt;a href=&quot;http://www.spenergynetworks.co.uk&quot;&gt;www.spenergynetworks.co.uk&lt;/a&gt;&amp;nbsp;&lt;br /&gt; &lt;br /&gt; &lt;span style=&quot;color: #ff0000;&quot;&gt;&lt;strong&gt;To report a power cut or damage to electricity power lines or substations call the national Freephone number&amp;nbsp;105.&lt;/strong&gt;&lt;/span&gt;&lt;/p&gt; &lt;p&gt;&amp;shy;&lt;img src=&quot;https://spenergynetworkscrm--devph3.sandbox.file.force.com/servlet/servlet.ImageServer?id=015TA000000myZl&amp;oid=00DTA000000ufbZ&amp;lastMod=1714742024000&quot; alt=&quot;Powercutlogo&quot; /&gt;&lt;br /&gt; &lt;br /&gt; Information on SP Energy Networks Data Privacy Policy can be found by using the following link &lt;br /&gt; &lt;a href=&quot;https://www.spenergynetworks.co.uk/pages/privacy.aspx&quot;&gt;https://www.spenergynetworks.co.uk/pages/privacy.aspx&lt;/a&gt;&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>ActionSendGECaseAutoresponseEmailSPD</name>
        <label>Send GE Case Autoresponse Email - SPD</label>
        <locationX>4228</locationX>
        <locationY>604</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Label.SPEN_GESPDContactAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Thank you for your Enquiry {!$Record.CaseNumber}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;Thank you for contacting us.  We will review the information that you have provided and one of our team will contact you within two working days to discuss your enquiry.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;Get in touch.&lt;/strong&gt;&amp;nbsp;&lt;br /&gt; Should you need to contact us in the meantime, please reply to this email or call us quoting your case reference number:&amp;nbsp;&lt;strong&gt;{!$Record.CaseNumber} &lt;/strong&gt;&lt;br /&gt; &lt;br /&gt; Call: 0330 1010 444&lt;br /&gt; Our office hours are Monday - Friday, 8.30am - 4.45pm.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;General Enquiries Online Form&amp;nbsp; &lt;/strong&gt;&lt;/p&gt; &lt;p&gt;Did you know you can submit most enquiries vis our intuitive Online Form?&amp;nbsp; You can access the form here https://www.spenergynetworks.co.uk/pages/general_enquiries.aspx&lt;/p&gt; &lt;p&gt;&lt;strong&gt;Need more information?&lt;/strong&gt;&amp;nbsp;&lt;br /&gt; Our website contains useful information guidance leaflets can be found on our website at&amp;nbsp;&lt;a href=&quot;http://www.spenergynetworks.co.uk&quot;&gt;www.spenergynetworks.co.uk&lt;/a&gt;&amp;nbsp;&lt;br /&gt; &lt;br /&gt; &lt;span style=&quot;color: #ff0000;&quot;&gt;&lt;strong&gt;To report a power cut or damage to electricity power lines or substations call the national Freephone number&amp;nbsp;105.&lt;/strong&gt;&lt;/span&gt;&lt;/p&gt; &lt;p&gt;&amp;shy;&lt;img src=&quot;https://spenergynetworkscrm--devph3.sandbox.file.force.com/servlet/servlet.ImageServer?id=015TA000000myZl&amp;oid=00DTA000000ufbZ&amp;lastMod=1714742024000&quot; alt=&quot;Powercutlogo&quot; /&gt;&lt;br /&gt; &lt;br /&gt; Information on SP Energy Networks Data Privacy Policy can be found by using the following link &lt;br /&gt; &lt;a href=&quot;https://www.spenergynetworks.co.uk/pages/privacy.aspx&quot;&gt;https://www.spenergynetworks.co.uk/pages/privacy.aspx&lt;/a&gt;&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>ActionSendGECaseAutoresponseEmailSPD_0</name>
        <label>Send GE Case Autoresponse Email - SPD</label>
        <locationX>1879</locationX>
        <locationY>948</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.ContactEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Label.SPEN_GESPDContactAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Thank you for your Enquiry {!$Record.CaseNumber}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;Thank you for contacting us.  We will review the information that you have provided and one of our team will contact you within two working days to discuss your enquiry.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;Get in touch.&lt;/strong&gt;&amp;nbsp;&lt;br /&gt; Should you need to contact us in the meantime, please reply to this email or call us quoting your case reference number:&amp;nbsp;&lt;strong&gt;{!$Record.CaseNumber} &lt;/strong&gt;&lt;br /&gt; &lt;br /&gt; Call: 0330 1010 444&lt;br /&gt; Our office hours are Monday - Friday, 8.30am - 4.45pm.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;General Enquiries Online Form&amp;nbsp; &lt;/strong&gt;&lt;/p&gt; &lt;p&gt;Did you know you can submit most enquiries vis our intuitive Online Form?&amp;nbsp; You can access the form here https://www.spenergynetworks.co.uk/pages/general_enquiries.aspx&lt;/p&gt; &lt;p&gt;&lt;strong&gt;Need more information?&lt;/strong&gt;&amp;nbsp;&lt;br /&gt; Our website contains useful information guidance leaflets can be found on our website at&amp;nbsp;&lt;a href=&quot;http://www.spenergynetworks.co.uk&quot;&gt;www.spenergynetworks.co.uk&lt;/a&gt;&amp;nbsp;&lt;br /&gt; &lt;br /&gt; &lt;span style=&quot;color: #ff0000;&quot;&gt;&lt;strong&gt;To report a power cut or damage to electricity power lines or substations call the national Freephone number&amp;nbsp;105.&lt;/strong&gt;&lt;/span&gt;&lt;/p&gt; &lt;p&gt;&amp;shy;&lt;img src=&quot;https://spenergynetworkscrm--devph3.sandbox.file.force.com/servlet/servlet.ImageServer?id=015TA000000myZl&amp;oid=00DTA000000ufbZ&amp;lastMod=1714742024000&quot; alt=&quot;Powercutlogo&quot; /&gt;&lt;br /&gt; &lt;br /&gt; Information on SP Energy Networks Data Privacy Policy can be found by using the following link &lt;br /&gt; &lt;a href=&quot;https://www.spenergynetworks.co.uk/pages/privacy.aspx&quot;&gt;https://www.spenergynetworks.co.uk/pages/privacy.aspx&lt;/a&gt;&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>ActionSendGECaseAutoresponseEmailSPM</name>
        <label>Send GE Case Autoresponse Email - SPM</label>
        <locationX>4492</locationX>
        <locationY>591</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Label.SPEN_GESPMContactAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Thank you for your Enquiry {!$Record.CaseNumber}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;Thank you for contacting us.  We will review the information that you have provided and one of our team will contact you within two working days to discuss your enquiry.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;Get in touch.&lt;/strong&gt;&amp;nbsp;&lt;br /&gt; Should you need to contact us in the meantime, please reply to this email or call us quoting your case reference number:&amp;nbsp;&lt;strong&gt;{!$Record.CaseNumber} &lt;/strong&gt;&lt;br /&gt; &lt;br /&gt; Call: 0330 1010 444&lt;br /&gt; Our office hours are Monday - Friday, 8.30am - 4.45pm.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;General Enquiries Online Form&amp;nbsp; &lt;/strong&gt;&lt;/p&gt; &lt;p&gt;Did you know you can submit most enquiries vis our intuitive Online Form?&amp;nbsp; You can access the form here https://www.spenergynetworks.co.uk/pages/general_enquiries.aspx&lt;/p&gt; &lt;p&gt;&lt;strong&gt;Need more information?&lt;/strong&gt;&amp;nbsp;&lt;br /&gt; Our website contains useful information guidance leaflets can be found on our website at&amp;nbsp;&lt;a href=&quot;http://www.spenergynetworks.co.uk&quot;&gt;www.spenergynetworks.co.uk&lt;/a&gt;&amp;nbsp;&lt;br /&gt; &lt;br /&gt; &lt;span style=&quot;color: #ff0000;&quot;&gt;&lt;strong&gt;To report a power cut or damage to electricity power lines or substations call the national Freephone number&amp;nbsp;105.&lt;/strong&gt;&lt;/span&gt;&lt;/p&gt; &lt;p&gt;&amp;shy;&lt;img src=&quot;https://spenergynetworkscrm--devph3.sandbox.file.force.com/servlet/servlet.ImageServer?id=015TA000000myZl&amp;oid=00DTA000000ufbZ&amp;lastMod=1714742024000&quot; alt=&quot;Powercutlogo&quot; /&gt;&lt;br /&gt; &lt;br /&gt; Information on SP Energy Networks Data Privacy Policy can be found by using the following link &lt;br /&gt; &lt;a href=&quot;https://www.spenergynetworks.co.uk/pages/privacy.aspx&quot;&gt;https://www.spenergynetworks.co.uk/pages/privacy.aspx&lt;/a&gt;&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>EmailFault</name>
        <label>EmailFault</label>
        <locationX>2250</locationX>
        <locationY>695</locationY>
        <actionName>SEL_LoggingServiceInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <stringValue>$Flow.FaultMessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>SPEN_CaseRecordTriggerFlowtosendanemailalert</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGuid</name>
            <value>
                <stringValue>$Flow.InterviewGuid</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>runningUserId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SEL_LoggingServiceInvocable</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Pace_Meeting_Auto_Response_Email_Alert</name>
        <label>Pace Meeting Auto Response Email Alert</label>
        <locationX>50</locationX>
        <locationY>587</locationY>
        <actionName>Case.SPEN_PaceMeetingAutoResponseNotification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.SPEN_PaceMeetingAutoResponseNotification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPD_Bypass_Mail</name>
        <label>SPD Bypass Mail</label>
        <locationX>3042</locationX>
        <locationY>587</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <targetReference>EmailFault</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Label.SPEN_SPDComplaintsAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Thank you for contacting SP Energy Networks - {!$Record.CaseNumber}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Thank you for taking the time to contact SP Energy Networks. Your case reference number is {!$Record.CaseNumber}. &lt;br/&gt;&lt;br/&gt; 	 We will investigate your concerns and you will receive further contact within 10 working days.&lt;br/&gt;&lt;br/&gt;  In the meantime, please do not hesitate to contact us on 0330 1010 109 Monday- Friday 08:30-16:45.&lt;br/&gt;&lt;br/&gt;  Further information on our Complaints Handling Procedure can be found &lt;a href=&quot;https://www.spenergynetworks.co.uk/userfiles/file/COP_Eng_12pp_V2_Web.pdf&quot;&gt;here&lt;/a&gt; &lt;br/&gt;&lt;br/&gt;  Regards&lt;br/&gt;&lt;br/&gt;  &lt;img src=&quot;https://spenergynetworkscrm--devph3.sandbox.file.force.com/servlet/servlet.ImageServer?id=015TA000000lUVh&amp;oid=00DTA000000ufbZ&amp;lastMod=1714450980000&quot;&gt;&lt;br/&gt; Customer Contact Team&lt;br/&gt; SP Energy Networks&lt;br/&gt; 3rd Floor 320 St Vincent Crescent&lt;br/&gt; Glasgow&lt;br/&gt; G2 5AD&lt;br/&gt; &lt;a href=&quot;Spencomplaintsnorth@spenergynetworks.co.uk&quot;&gt;Spencomplaintsnorth@spenergynetworks.co.uk&lt;/a&gt;&lt;br/&gt;&lt;br/&gt;  Information on SP Energy Networks Data Privacy Policy can be found by using the following link:&lt;br/&gt; &lt;a href=&quot;https://www.spenergynetworks.co.uk/pages/privacy.aspx&quot;&gt;https://www.spenergynetworks.co.uk/pages/privacy.aspx&lt;/a&gt;&lt;br/&gt;&lt;br/&gt;  &lt;a href=&quot;https://facebook.com/SPEnergyNetworks/&quot;&gt;&lt;img src=&quot;https://spenergynetworkscrm--devph3.sandbox.file.force.com/servlet/servlet.ImageServer?id=015TA000000lUSU&amp;oid=00DTA000000ufbZ&amp;lastMod=1714451471000&quot;&gt;&lt;/a&gt;  &lt;a href=&quot;https://twitter.com/SPEnergyNetworks/&quot;&gt;&lt;img src=&quot;https://spenergynetworkscrm--devph3.sandbox.file.force.com/servlet/servlet.ImageServer?id=015TA000000mSBh&amp;oid=00DTA000000ufbZ&amp;lastMod=1714638135000&quot;&gt;&lt;/a&gt;  &lt;a href=&quot;https://www.youtube.com/playlist?list=PLIohUAPrfWy7Lro7CV9eRdEbVMnPMDb8d&quot;&gt;&lt;img src=&quot;https://spenergynetworkscrm--devph3.sandbox.file.force.com/servlet/servlet.ImageServer?id=015TA000000lUYv&amp;oid=00DTA000000ufbZ&amp;lastMod=1714451688000&quot;&gt;&lt;/a&gt; &lt;a href=&quot;https://www.spenergynetworks.co.uk/&quot;&gt;&lt;img src=&quot;https://spenergynetworkscrm--devph3.sandbox.file.force.com/servlet/servlet.ImageServer?id=015TA000000lUdl&amp;oid=00DTA000000ufbZ&amp;lastMod=1714451941000&quot;&gt;&lt;/a&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPD_Mail</name>
        <label>SPD Mail</label>
        <locationX>1986</locationX>
        <locationY>587</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <targetReference>EmailFault</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.ContactEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Label.SPEN_SPDComplaintsAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Thank you for contacting SP Energy Networks - {!$Record.CaseNumber}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Thank you for taking the time to contact SP Energy Networks. Your case reference number is {!$Record.CaseNumber}. &lt;br/&gt;&lt;br/&gt; 	 We will investigate your concerns and you will receive further contact within 10 working days.&lt;br/&gt;&lt;br/&gt;  In the meantime, please do not hesitate to contact us on 0330 1010 109 Monday- Friday 08:30-16:45.&lt;br/&gt;&lt;br/&gt;  Further information on our Complaints Handling Procedure can be found &lt;a href=&quot;https://www.spenergynetworks.co.uk/userfiles/file/COP_Eng_12pp_V2_Web.pdf&quot;&gt;here&lt;/a&gt; &lt;br/&gt;&lt;br/&gt;  Regards&lt;br/&gt;&lt;br/&gt;  &lt;img src=&quot;https://spenergynetworkscrm--devph3.sandbox.file.force.com/servlet/servlet.ImageServer?id=015TA000000lUVh&amp;oid=00DTA000000ufbZ&amp;lastMod=1714450980000&quot;&gt;&lt;br/&gt; Customer Contact Team&lt;br/&gt; SP Energy Networks&lt;br/&gt; 3rd Floor 320 St Vincent Crescent&lt;br/&gt; Glasgow&lt;br/&gt; G2 5AD&lt;br/&gt; &lt;a href=&quot;Spencomplaintsnorth@spenergynetworks.co.uk&quot;&gt;Spencomplaintsnorth@spenergynetworks.co.uk&lt;/a&gt;&lt;br/&gt;&lt;br/&gt;  Information on SP Energy Networks Data Privacy Policy can be found by using the following link:&lt;br/&gt; &lt;a href=&quot;https://www.spenergynetworks.co.uk/pages/privacy.aspx&quot;&gt;https://www.spenergynetworks.co.uk/pages/privacy.aspx&lt;/a&gt;&lt;br/&gt;&lt;br/&gt;  &lt;a href=&quot;https://facebook.com/SPEnergyNetworks/&quot;&gt;&lt;img src=&quot;https://spenergynetworkscrm--devph3.sandbox.file.force.com/servlet/servlet.ImageServer?id=015TA000000lUSU&amp;oid=00DTA000000ufbZ&amp;lastMod=1714451471000&quot;&gt;&lt;/a&gt;  &lt;a href=&quot;https://twitter.com/SPEnergyNetworks/&quot;&gt;&lt;img src=&quot;https://spenergynetworkscrm--devph3.sandbox.file.force.com/servlet/servlet.ImageServer?id=015TA000000mSBh&amp;oid=00DTA000000ufbZ&amp;lastMod=1714638135000&quot;&gt;&lt;/a&gt;  &lt;a href=&quot;https://www.youtube.com/playlist?list=PLIohUAPrfWy7Lro7CV9eRdEbVMnPMDb8d&quot;&gt;&lt;img src=&quot;https://spenergynetworkscrm--devph3.sandbox.file.force.com/servlet/servlet.ImageServer?id=015TA000000lUYv&amp;oid=00DTA000000ufbZ&amp;lastMod=1714451688000&quot;&gt;&lt;/a&gt; &lt;a href=&quot;https://www.spenergynetworks.co.uk/&quot;&gt;&lt;img src=&quot;https://spenergynetworkscrm--devph3.sandbox.file.force.com/servlet/servlet.ImageServer?id=015TA000000lUdl&amp;oid=00DTA000000ufbZ&amp;lastMod=1714451941000&quot;&gt;&lt;/a&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_ConnectionCaseNumberToApplicantEmail</name>
        <label>Connection Case Number To Applicant Email</label>
        <locationX>578</locationX>
        <locationY>1103</locationY>
        <actionName>Case.SPEN_ConnectionCaseNumberToApplicantEmail</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.SPEN_ConnectionCaseNumberToApplicantEmail</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>This is sending an email to contact email id when a case is created with origin as email</description>
        <name>SPEN_NewEnquiryEmailAutoResponse</name>
        <label>New Enquiry Email Auto Response</label>
        <locationX>842</locationX>
        <locationY>1103</locationY>
        <actionName>Case.SPEN_ConnectionNewEnquiryEmailAutoResponse</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.SPEN_ConnectionNewEnquiryEmailAutoResponse</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPM_Bypass_Mail</name>
        <label>SPM Bypass Mail</label>
        <locationX>3570</locationX>
        <locationY>587</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <targetReference>EmailFault</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Label.SPEN_SPMComplaintsAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Thank you for contacting SP Energy Networks - {!$Record.CaseNumber}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Thank you for taking the time to contact SP Energy Networks. Your case reference number is {!$Record.CaseNumber}. &lt;br/&gt;&lt;br/&gt; 	 We will investigate your concerns and you will receive further contact within 10 working days.&lt;br/&gt;&lt;br/&gt;  In the meantime, please do not hesitate to contact us on 0330 1010 109 Monday- Friday 08:30-16:45.&lt;br/&gt;&lt;br/&gt;  Further information on our Complaints Handling Procedure can be found &lt;a href=&quot;https://www.spenergynetworks.co.uk/userfiles/file/COP_Eng_12pp_V2_Web.pdf&quot;&gt;here&lt;/a&gt; &lt;br/&gt;&lt;br/&gt;  Regards&lt;br/&gt;&lt;br/&gt;  &lt;img src=&quot;https://spenergynetworkscrm--devph3.sandbox.file.force.com/servlet/servlet.ImageServer?id=015TA000000lUVh&amp;oid=00DTA000000ufbZ&amp;lastMod=1714450980000&quot;&gt;&lt;br/&gt; Customer Contact Team&lt;br/&gt; 1st Floor, 3 Prenton Way, Prenton, Merseyside, CH43 3ET&lt;br/&gt;  &lt;a href=&quot;Spencomplaintssouth@spenergynetworks.co.uk&quot;&gt;Spencomplaintsouth@spenergynetworks.co.uk&lt;/a&gt;&lt;br/&gt;&lt;br/&gt;  Information on SP Energy Networks Data Privacy Policy can be found by using the following link:&lt;br/&gt; &lt;a href=&quot;https://www.spenergynetworks.co.uk/pages/privacy.aspx&quot;&gt;https://www.spenergynetworks.co.uk/pages/privacy.aspx&lt;/a&gt;&lt;br/&gt;&lt;br/&gt;  &lt;a href=&quot;https://facebook.com/SPEnergyNetworks/&quot;&gt;&lt;img src=&quot;https://spenergynetworkscrm--devph3.sandbox.file.force.com/servlet/servlet.ImageServer?id=015TA000000lUSU&amp;oid=00DTA000000ufbZ&amp;lastMod=1714451471000&quot;&gt;&lt;/a&gt;  &lt;a href=&quot;https://twitter.com/SPEnergyNetwork&quot;&gt;&lt;img src=&quot;https://spenergynetworkscrm--devph3.sandbox.file.force.com/servlet/servlet.ImageServer?id=015TA000000mSBh&amp;oid=00DTA000000ufbZ&amp;lastMod=1714638135000&quot;&gt;&lt;/a&gt;  &lt;a href=&quot;https://www.youtube.com/playlist?list=PLIohUAPrfWy7Lro7CV9eRdEbVMnPMDb8d&quot;&gt;&lt;img src=&quot;https://spenergynetworkscrm--devph3.sandbox.file.force.com/servlet/servlet.ImageServer?id=015TA000000lUYv&amp;oid=00DTA000000ufbZ&amp;lastMod=1714451688000&quot;&gt;&lt;/a&gt; &lt;a href=&quot;https://www.spenergynetworks.co.uk/&quot;&gt;&lt;img src=&quot;https://spenergynetworkscrm--devph3.sandbox.file.force.com/servlet/servlet.ImageServer?id=015TA000000lUdl&amp;oid=00DTA000000ufbZ&amp;lastMod=1714451941000&quot;&gt;&lt;/a&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPM_NonBypass_Mail</name>
        <label>SPM NonBypass Mail</label>
        <locationX>2514</locationX>
        <locationY>587</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <targetReference>EmailFault</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.ContactEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Label.SPEN_SPMComplaintsAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Thank you for contacting SP Energy Networks - {!$Record.CaseNumber}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Thank you for taking the time to contact SP Energy Networks. Your case reference number is {!$Record.CaseNumber}. &lt;br/&gt;&lt;br/&gt; 	 We will investigate your concerns and you will receive further contact within 10 working days.&lt;br/&gt;&lt;br/&gt;  In the meantime, please do not hesitate to contact us on 0330 1010 109 Monday- Friday 08:30-16:45.&lt;br/&gt;&lt;br/&gt;  Further information on our Complaints Handling Procedure can be found &lt;a href=&quot;https://www.spenergynetworks.co.uk/userfiles/file/COP_Eng_12pp_V2_Web.pdf&quot;&gt;here&lt;/a&gt; &lt;br/&gt;&lt;br/&gt;  Regards&lt;br/&gt;&lt;br/&gt;  &lt;img src=&quot;https://spenergynetworkscrm--devph3.sandbox.file.force.com/servlet/servlet.ImageServer?id=015TA000000lUVh&amp;oid=00DTA000000ufbZ&amp;lastMod=1714450980000&quot;&gt;&lt;br/&gt; Customer Contact Team&lt;br/&gt; 1st Floor, 3 Prenton Way, Prenton, Merseyside, CH43 3ET&lt;br/&gt;  &lt;a href=&quot;Spencomplaintssouth@spenergynetworks.co.uk&quot;&gt;Spencomplaintsouth@spenergynetworks.co.uk&lt;/a&gt;&lt;br/&gt;&lt;br/&gt;  Information on SP Energy Networks Data Privacy Policy can be found by using the following link:&lt;br/&gt; &lt;a href=&quot;https://www.spenergynetworks.co.uk/pages/privacy.aspx&quot;&gt;https://www.spenergynetworks.co.uk/pages/privacy.aspx&lt;/a&gt;&lt;br/&gt;&lt;br/&gt;  &lt;a href=&quot;https://facebook.com/SPEnergyNetworks/&quot;&gt;&lt;img src=&quot;https://spenergynetworkscrm--devph3.sandbox.file.force.com/servlet/servlet.ImageServer?id=015TA000000lUSU&amp;oid=00DTA000000ufbZ&amp;lastMod=1714451471000&quot;&gt;&lt;/a&gt;  &lt;a href=&quot;https://twitter.com/SPEnergyNetwork&quot;&gt;&lt;img src=&quot;https://spenergynetworkscrm--devph3.sandbox.file.force.com/servlet/servlet.ImageServer?id=015TA000000mSBh&amp;oid=00DTA000000ufbZ&amp;lastMod=1714638135000&quot;&gt;&lt;/a&gt;  &lt;a href=&quot;https://www.youtube.com/playlist?list=PLIohUAPrfWy7Lro7CV9eRdEbVMnPMDb8d&quot;&gt;&lt;img src=&quot;https://spenergynetworkscrm--devph3.sandbox.file.force.com/servlet/servlet.ImageServer?id=015TA000000lUYv&amp;oid=00DTA000000ufbZ&amp;lastMod=1714451688000&quot;&gt;&lt;/a&gt; &lt;a href=&quot;https://www.spenergynetworks.co.uk/&quot;&gt;&lt;img src=&quot;https://spenergynetworkscrm--devph3.sandbox.file.force.com/servlet/servlet.ImageServer?id=015TA000000lUdl&amp;oid=00DTA000000ufbZ&amp;lastMod=1714451941000&quot;&gt;&lt;/a&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Case_Record_Type</name>
        <label>Case Record Type</label>
        <locationX>2084</locationX>
        <locationY>479</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_record_type_is_Pre_Application</name>
            <conditionLogic>(1 AND 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Label.SPEN_CasePreApplicationRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.RecordType.DeveloperName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.SPEN_BypassFlowCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pace_Meeting_Auto_Response_Email_Alert</targetReference>
            </connector>
            <label>If record type is Pre-Application</label>
        </rules>
        <rules>
            <name>TransmissionDetailsUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.SPEN_TransmissionsRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.RecordType.DeveloperName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.SPEN_BypassFlowCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_CreatePlanningDetails</targetReference>
            </connector>
            <label>TransmissionDetailsUpdate</label>
        </rules>
        <rules>
            <name>SPEN_ConnectionsRecordType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.SPEN_ConnectionsRecordType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.RecordType.DeveloperName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.SPEN_BypassFlowCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Formal_And_Budget</targetReference>
            </connector>
            <label>Connections Record Type</label>
        </rules>
        <rules>
            <name>GE_SPD_Email</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_GeneralEnquiries</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_SPD_SPM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactEmail</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>ActionSendGECaseAutoresponseEmailSPD_0</targetReference>
            </connector>
            <label>GE SPD Email</label>
        </rules>
        <rules>
            <name>GE_SPM_Email</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_GeneralEnquiries</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_SPD_SPM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Email</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>ActionSendGECaseAutoresponseEmail_SPM</targetReference>
            </connector>
            <label>GE SPM Email</label>
        </rules>
        <rules>
            <name>GE_Default_ACK_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_GeneralEnquiries</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Email</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_SPD_SPM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NO SPD/SPM MATCH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActionSendGECaseAutoresponseEmailSPD_0</targetReference>
            </connector>
            <label>GE Default ACK Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Record_Type_0</name>
        <label>Case Record Type</label>
        <locationX>4292</locationX>
        <locationY>196</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_to_Case_GE_Autoresponse_Email_SPD_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_GeneralEnquiries</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_SPDSPMIndicator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SPEN_SPDSPMIndicator__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>ActionSendGECaseAutoresponseEmailSPD</targetReference>
            </connector>
            <label>Email-to-Case GE Autoresponse Email-SPD</label>
        </rules>
        <rules>
            <name>Email_to_Case_GE_Autoresponse_Email_SPM_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_GeneralEnquiries</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_SPDSPMIndicator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SPEN_SPDSPMIndicator__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>ActionSendGECaseAutoresponseEmailSPM</targetReference>
            </connector>
            <label>Email-to-Case GE Autoresponse Email-SPM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Formal_And_Budget</name>
        <label>Formal And Budget</label>
        <locationX>842</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>SPEN_IfOriginis</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Formal_And_Budget_recrdtype</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_FormalConnectionEnquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_BudgetConnectionEnquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_ConnectionReadOnlyCase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delivery_Record_Create</targetReference>
            </connector>
            <label>Formal And Budget recrdtype</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_or_Updated</name>
        <label>New or Updated?</label>
        <locationX>3350</locationX>
        <locationY>371</locationY>
        <defaultConnector>
            <targetReference>Case_Record_Type_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Updated</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Record_Type</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_IfOriginis</name>
        <label>If Origin is</label>
        <locationX>842</locationX>
        <locationY>995</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Web</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_ConnectionCaseNumberToApplicantEmail</targetReference>
            </connector>
            <label>Web</label>
        </rules>
        <rules>
            <name>Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_NewEnquiryEmailAutoResponse</targetReference>
            </connector>
            <label>Email</label>
        </rules>
    </decisions>
    <description>Whenever Pre-Application case has created it sends an email alert to case contact.Auto Populate Contract Reference Number for the Transmission RecordsCRMD-10636</description>
    <environments>Default</environments>
    <formulas>
        <name>FinancialInformationNameFormula</name>
        <dataType>String</dataType>
        <expression>LEFT(({!$Record.CaseNumber}+&apos;-Financial Information-&apos;+{!$Record.SPEN_ProjectName__c}), 80)</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>PlanningDetailsNameFormula</name>
        <dataType>String</dataType>
        <expression>LEFT(({!$Record.CaseNumber}+&apos;-Planning Details-&apos;+{!$Record.SPEN_ProjectName__c}), 80)</expression>
    </formulas>
    <interviewLabel>Case Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Record Trigger Flow to send an email alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Delivery_Record_Create</name>
        <label>Delivery Record Create</label>
        <locationX>710</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Update_Case_record</targetReference>
        </connector>
        <inputAssignments>
            <field>SPEN_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_ExternalId__c</field>
            <value>
                <elementReference>$Record.SPEN_SAPReference__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_GSCallStatus__c</field>
            <value>
                <stringValue>None</stringValue>
            </value>
        </inputAssignments>
        <object>SPEN_Delivery__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>SPEN_CreateFinancialInformation</name>
        <label>createFinancialInformation</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>SPEN_UpdateCaseInformation</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FinancialInformationNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_ExternalId__c</field>
            <value>
                <elementReference>$Record.SPEN_ContractReferenceNumber__c</elementReference>
            </value>
        </inputAssignments>
        <object>SPEN_FinancialInformation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>SPEN_CreatePlanningDetails</name>
        <label>createPlanningDetails</label>
        <locationX>314</locationX>
        <locationY>587</locationY>
        <connector>
            <targetReference>SPEN_CreateFinancialInformation</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PlanningDetailsNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_ExternalId__c</field>
            <value>
                <elementReference>$Record.SPEN_ContractReferenceNumber__c</elementReference>
            </value>
        </inputAssignments>
        <object>SPEN_PlanningDetails__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>SPEN_UpdateCaseInformation</name>
        <label>UpdateCaseInformation</label>
        <locationX>314</locationX>
        <locationY>803</locationY>
        <inputAssignments>
            <field>SPEN_FinancialInformation__c</field>
            <value>
                <elementReference>SPEN_CreateFinancialInformation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_PlanningDetails__c</field>
            <value>
                <elementReference>SPEN_CreatePlanningDetails</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_record</name>
        <label>Update Case record</label>
        <locationX>710</locationX>
        <locationY>803</locationY>
        <connector>
            <targetReference>SPEN_IfOriginis</targetReference>
        </connector>
        <inputAssignments>
            <field>SPEN_Delivery__c</field>
            <value>
                <elementReference>Delivery_Record_Create</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>3224</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>New_or_Updated</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
