force-app/main/default/flows/SPEN_GEWebFormLogicFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GE_SPD_Customer_Resolution_Queue_ID</name>
        <label>GE SPD - Customer Resolution Queue ID</label>
        <locationX>994</locationX>
        <locationY>624</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Case_owner_to_SPD_queue</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN_GESPDCustomerResolution</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>GE_SPD_Land_and_Planning_Queue_ID</name>
        <label>GE SPD - Land and Planning Queue ID</label>
        <locationX>1699</locationX>
        <locationY>1264</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Case_owner_to_SPD_Land_and_planning_queue</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN_GESPDGELandPlanning</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>GE_SPD_Licence_Programme_Queue_ID</name>
        <label>GE SPD - Licence Programme Queue ID</label>
        <locationX>1695</locationX>
        <locationY>913</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Case_owner_to_SPD_Licence_queue</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN_GESPDLicenceProgrammes</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>GE_SPM_Customer_Resolution_Queue_ID</name>
        <label>GE SPM - Customer Resolution Queue ID</label>
        <locationX>1436</locationX>
        <locationY>603</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Case_owner_to_SPM_queue</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN_GESPMCustomerResolution</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>GE_SPM_Land_and_Planning_Queue_ID</name>
        <label>GE SPM - Land and Planning Queue ID</label>
        <locationX>1562</locationX>
        <locationY>1400</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Case_owner_to_SPM_Land_and_planning_queue</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN_GESPMGELandPlanning</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>GE_SPM_Licence_Programme_Queue_ID</name>
        <label>GE SPM - Licence Programme Queue ID</label>
        <locationX>1734</locationX>
        <locationY>1114</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Case_owner_to_SPM_Licence_queue</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN_GESPMLicenceProgrammes</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>loop_count</name>
        <label>loop count</label>
        <locationX>538</locationX>
        <locationY>696</locationY>
        <assignmentItems>
            <assignToReference>PremiseCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_case_applicant_building_name</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Route_to_queue_after_no_building_name_and_flat_number_match</name>
        <label>Case Route to queue after no building name and flat number match</label>
        <locationX>163</locationX>
        <locationY>1069</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Route_to_queue_after_no_building_name_and_flat_number_match_SPD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_ApplicantLocation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Central &amp; Southern Scotland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GE_SPD_Customer_Resolution_Queue_ID</targetReference>
            </connector>
            <label>Case Route to queue after no building name and flat number match SPD</label>
        </rules>
        <rules>
            <name>Case_Route_to_queue_after_no_building_name_and_flat_number_match_SPM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_ApplicantLocation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Merseyside. Cheshire. North Wales and North Shropshire</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GE_SPM_Customer_Resolution_Queue_ID</targetReference>
            </connector>
            <label>Case Route to queue after no building name and flat number match SPM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_case_applicant_building_name</name>
        <label>Check case applicant building name</label>
        <locationX>707</locationX>
        <locationY>717</locationY>
        <defaultConnector>
            <targetReference>loop_for_post_code_match_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_case_applicant_building_name_contains</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_ApplicantBuildingName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loop_for_post_code_match_records.SPEN_BuildingNameNumber__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_case_record_with_premise_only</targetReference>
            </connector>
            <label>Check case applicant building name contains</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_licence_programme_and_SPD_SPM_Land_and_planning_queue</name>
        <label>Check for licence programme and SPD SPM Land and planning queue</label>
        <locationX>1282</locationX>
        <locationY>1006</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Licence_Programme_SPD_queue</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GE - Trees</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GE - Cut out / Cable head</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GE - Earthing enquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GE - Unlooping</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GE - Service refurbishment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_SPD_SPM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GE_SPD_Licence_Programme_Queue_ID</targetReference>
            </connector>
            <label>Check for Licence Programme SPD queue</label>
        </rules>
        <rules>
            <name>Check_for_Licence_Programme_SPM_queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GE - Substation -Graffiti, Litter, Weeds Pests, Vandalism, Needles, Roofs</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_SPD_SPM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GE_SPM_Licence_Programme_Queue_ID</targetReference>
            </connector>
            <label>Check for Licence Programme SPM queue</label>
        </rules>
        <rules>
            <name>Route_for_SPD_CR_queue_when_Category_is_GE_Advice</name>
            <conditionLogic>(1 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GE - Advice</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_SPD_SPM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GE - Overhead Lines</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GE - Meter boards</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GE - GS6 / Clearances</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GE - Site excavation &amp; Reinstatement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GE - Substation- Fencing, Hedges, Trees</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GE - Substation -Graffiti, Litter, Weeds Pests, Vandalism, Needles, Roofs</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GE - Unclip/Reclip</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GE_SPD_Customer_Resolution_Queue_ID</targetReference>
            </connector>
            <label>Route for SPD CR queue when Category is GE - Advice</label>
        </rules>
        <rules>
            <name>Check_for_GE_Wayleaves_Land_Planning_Category_SPD_queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GE - Wayleaves/Land &amp; Planning</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_SPD_SPM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GE_SPD_Land_and_Planning_Queue_ID</targetReference>
            </connector>
            <label>Check for GE - Wayleaves/Land &amp; Planning Category SPD queue</label>
        </rules>
        <rules>
            <name>Check_for_GE_Wayleaves_Land_Planning_Category_SPM_queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GE - Wayleaves/Land &amp; Planning</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_SPD_SPM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GE_SPM_Land_and_Planning_Queue_ID</targetReference>
            </connector>
            <label>Check for GE - Wayleaves/Land &amp; Planning Category SPM queue</label>
        </rules>
        <rules>
            <name>Route_for_SPM_CR_queue_when_Category_is_GE_Advice</name>
            <conditionLogic>(1 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GE - Advice</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_SPD_SPM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GE - Earthing enquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GE - Cut out / Cable head</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GE - Unlooping</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GE - Overhead Lines</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GE - Meter boards</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GE - Trees</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GE - Unclip/Reclip</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GE - Service refurbishment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GE - GS6 / Clearances</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GE - Site excavation &amp; Reinstatement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GE - Substation- Fencing, Hedges, Trees</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GE_SPM_Customer_Resolution_Queue_ID</targetReference>
            </connector>
            <label>Route for SPM CR queue when Category is GE - Advice</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_Contact_first_and_last_name_with_Case_Applicant_first_and_last_name</name>
        <label>Checking Contact first and last name with Case Applicant first and last name</label>
        <locationX>873</locationX>
        <locationY>975</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_contact_first_and_last_name_same_with_case_app_first_and_last_name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_contact_premise_role_customer_records.SPEN_RelatedContact__r.FirstName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SPEN_ApplicantFirstName__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_contact_premise_role_customer_records.SPEN_RelatedContact__r.LastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SPEN_ApplicantLastName__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_case_record_with_premise_only_post_code_match_0</targetReference>
            </connector>
            <label>If contact first and last name same with case app first and last name</label>
        </rules>
        <rules>
            <name>if_contact_first_and_last_name_not_same_with_case_app_first_and_last_name_SPD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_contact_premise_role_customer_records.SPEN_RelatedContact__r.FirstName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SPEN_ApplicantFirstName__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_contact_premise_role_customer_records.SPEN_RelatedContact__r.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SPEN_ApplicantLastName__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_SPD_SPM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GE_SPD_Customer_Resolution_Queue_ID</targetReference>
            </connector>
            <label>if contact first and last name not same with case app first and last name SPD</label>
        </rules>
        <rules>
            <name>if_contact_first_and_last_name_not_same_with_case_app_first_and_last_name_SPM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_contact_premise_role_customer_records.SPEN_RelatedContact__r.FirstName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SPEN_ApplicantFirstName__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_contact_premise_role_customer_records.SPEN_RelatedContact__r.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SPEN_ApplicantLastName__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_SPD_SPM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GE_SPM_Customer_Resolution_Queue_ID</targetReference>
            </connector>
            <label>if contact first and last name not same with case app first and last name SPM</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordTypeCheckGE</name>
        <label>Record Type Check - GE</label>
        <locationX>521</locationX>
        <locationY>538</locationY>
        <defaultConnectorLabel>All other customers</defaultConnectorLabel>
        <rules>
            <name>If_GE_Case_with_post_code_match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_GeneralEnquiries</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Webform</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Premise_Post_Code</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_for_post_code_match_records</targetReference>
            </connector>
            <label>If GE Case with post code match</label>
        </rules>
        <rules>
            <name>If_GE_case_with_no_post_code_match_SPD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_GeneralEnquiries</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Webform</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Premise_Post_Code</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_ApplicantLocation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Central &amp; Southern Scotland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GE_SPD_Customer_Resolution_Queue_ID</targetReference>
            </connector>
            <label>If GE case with no post code match SPD</label>
        </rules>
        <rules>
            <name>If_GE_case_with_no_post_code_match_SPM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_GeneralEnquiries</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Webform</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Premise_Post_Code</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_ApplicantLocation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Merseyside. Cheshire. North Wales and North Shropshire</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GE_SPM_Customer_Resolution_Queue_ID</targetReference>
            </connector>
            <label>If GE case with no post code match SPM</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>GE Web Form Logic Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GE Web Form Logic Flow</label>
    <loops>
        <name>loop_for_post_code_match_records</name>
        <label>loop for post code match records</label>
        <locationX>181</locationX>
        <locationY>828</locationY>
        <collectionReference>Get_Premise_Post_Code</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>loop_count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Case_Route_to_queue_after_no_building_name_and_flat_number_match</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_contact_premise_role_customer_records</name>
        <label>get contact premise role customer records</label>
        <locationX>770</locationX>
        <locationY>1122</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checking_Contact_first_and_last_name_with_Case_Applicant_first_and_last_name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SPEN_Premise__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_for_post_code_match_records.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SPEN_ContactPremise__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Premise_Post_Code</name>
        <label>Get Premise Post Code</label>
        <locationX>670</locationX>
        <locationY>353</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecordTypeCheckGE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SPEN_PostCode__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SPEN_PostCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SPEN_ApplicantPostCode__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SPEN_Premise__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_owner_to_SPD_Land_and_planning_queue</name>
        <label>Update Case owner to SPD Land and planning queue</label>
        <locationX>1900</locationX>
        <locationY>1261</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GE_SPD_Land_and_Planning_Queue_ID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_owner_to_SPD_Licence_queue</name>
        <label>Update Case owner to SPD Licence queue</label>
        <locationX>1878</locationX>
        <locationY>927</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GE_SPD_Licence_Programme_Queue_ID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_owner_to_SPD_queue</name>
        <label>Update Case owner to SPD queue</label>
        <locationX>1037</locationX>
        <locationY>805</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GE_SPD_Customer_Resolution_Queue_ID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_owner_to_SPM_Land_and_planning_queue</name>
        <label>Update Case owner to SPM Land and planning queue</label>
        <locationX>1896</locationX>
        <locationY>1403</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GE_SPM_Land_and_Planning_Queue_ID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_owner_to_SPM_Licence_queue</name>
        <label>Update Case owner to SPM Licence queue</label>
        <locationX>1939</locationX>
        <locationY>1087</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GE_SPM_Licence_Programme_Queue_ID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_owner_to_SPM_queue</name>
        <label>Update Case owner to SPM queue</label>
        <locationX>1629</locationX>
        <locationY>800</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GE_SPM_Customer_Resolution_Queue_ID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_case_record_with_premise_only</name>
        <label>Update case record with premise only</label>
        <locationX>715</locationX>
        <locationY>920</locationY>
        <connector>
            <targetReference>get_contact_premise_role_customer_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_AddressPremise__c</field>
            <value>
                <elementReference>loop_for_post_code_match_records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_case_record_with_premise_only_post_code_match_0</name>
        <label>Update case record with premise only post code match</label>
        <locationX>1112</locationX>
        <locationY>1029</locationY>
        <connector>
            <targetReference>Check_for_licence_programme_and_SPD_SPM_Land_and_planning_queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>get_contact_premise_role_customer_records.SPEN_RelatedContact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>538</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Premise_Post_Code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Webform</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>The case record that is being inputted into the flow. Necessary for the flow to run.</description>
        <name>CaseInputRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>currentItem_All_premise_records</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SPEN_Premise__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Premise_only_post_code_match_collection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SPEN_Premise__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Premise_only_post_code_match_collection_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SPEN_Premise__c</objectType>
    </variables>
    <variables>
        <name>Ispremisebuildingnamechecked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Ispremiseflatnumberchecked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PremiseCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
