force-app/main/default/flows/SPEN_Land_Interest_Record_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>ServitudeStatus_HoTsAgreed</name>
        <label>ServitudeStatus HoTsAgreed</label>
        <locationX>2602</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.SPEN_ServitudeStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>HoTs Agreed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SPEN_LandInterestRecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SPEN_BothCompulsoryDateDecisionReceivedSubmission</name>
        <label>Both CompulsoryDate DecisionReceived &amp; Submission</label>
        <locationX>2690</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>$Record.SPEN_ConsentAcquiredDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SPEN_DecisionDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SPEN_ConsentIssueDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SPEN_SubmissionDate__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SPEN_BothServitudeDateSignedLegal_InternalLegal</name>
        <label>Both ServitudeDate SignedLegal&amp;InternalLegal</label>
        <locationX>1370</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>$Record.SPEN_ConsentAcquiredDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SPEN_SignedLegalDocumentReturned__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SPEN_ConsentIssueDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SPEN_InternalLegalInstructionDate__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SPEN_ClearConsentIssueDate</name>
        <label>Clear Consent Issue Date</label>
        <locationX>842</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>$Record.SPEN_ConsentIssueDate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SPEN_ClearConsentIssueDateSer</name>
        <label>Clear Consent Issue Date Servitude</label>
        <locationX>2162</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>$Record.SPEN_ConsentIssueDate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SPEN_ClearConsentIssueStatutory</name>
        <label>Clear Consent Issue Date Statutory</label>
        <locationX>3482</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>$Record.SPEN_ConsentIssueDate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SPEN_CompulsoryDateDecisionReceived</name>
        <label>CompulsoryDate DecisionReceived</label>
        <locationX>2954</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>$Record.SPEN_ConsentAcquiredDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SPEN_DecisionDate__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SPEN_CompulsoryDateSubmitted</name>
        <label>CompulsoryDate Submitted</label>
        <locationX>3218</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>$Record.SPEN_ConsentIssueDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SPEN_PreparationStartDate__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SPEN_CompulsoryStatus_DecisionReceived</name>
        <label>CompulsoryStatus DecisionReceived</label>
        <locationX>3042</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.SPEN_CompulsoryStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Decision Received</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SPEN_LandInterestRecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SPEN_CompulsoryStatus_InPreparation</name>
        <label>CompulsoryStatus InPreparation</label>
        <locationX>3570</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.SPEN_CompulsoryStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Preparation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SPEN_LandInterestRecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SPEN_CompulsoryStatus_Submitted</name>
        <label>CompulsoryStatus Submitted</label>
        <locationX>3306</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.SPEN_CompulsoryStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SPEN_LandInterestRecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SPEN_ServitudeDate_SignedLegalDocumentReturned</name>
        <label>ServitudeDate SignedLegalDocumentReturned</label>
        <locationX>1634</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>$Record.SPEN_ConsentAcquiredDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SPEN_SignedLegalDocumentReturned__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SPEN_ServitudeDateInternalLegalInstructed</name>
        <label>ServitudeDate InternalLegalInstructed</label>
        <locationX>1898</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>$Record.SPEN_ConsentIssueDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SPEN_InternalLegalInstructionDate__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SPEN_ServitudeStatus_DraftDocumentAgreed</name>
        <label>ServitudeStatus DraftDocumentAgreed</label>
        <locationX>1546</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.SPEN_ServitudeStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft Documents Agreed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SPEN_LandInterestRecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SPEN_ServitudeStatus_DraftDocumentIssued</name>
        <label>ServitudeStatus DraftDocumentIssued</label>
        <locationX>1810</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.SPEN_ServitudeStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft Documents Issued</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SPEN_LandInterestRecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SPEN_ServitudeStatus_ExternalLegalTeam</name>
        <label>ServitudeStatus ExternalLegalTeam</label>
        <locationX>2074</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.SPEN_ServitudeStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal Legal Instruct External Legal Team</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SPEN_LandInterestRecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SPEN_ServitudeStatus_InternalLegalInstructed</name>
        <label>ServitudeStatus InternalLegalInstructed</label>
        <locationX>2338</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.SPEN_ServitudeStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal Legal Instructed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SPEN_LandInterestRecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SPEN_ServitudeStatus_SignedLegalDocumentReturned</name>
        <label>ServitudeStatus SignedLegalDocumentReturned</label>
        <locationX>1282</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.SPEN_ServitudeStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Legal Milestones Complete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SPEN_LandInterestRecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SPEN_UpdateLandInterestNumber</name>
        <label>Update LandInterest Number</label>
        <locationX>2558</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LandInterestNumberFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SPEN_Date_Update_in_Consent_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SPEN_UpdateNewExistingRefurbRecord</name>
        <label>Update New Existing/Refurb Record</label>
        <locationX>4010</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>$Record.SPEN_Land__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SPEN_ExistingLandRight__r.SPEN_Land__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SPEN_ConsentIssueDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SPEN_ExistingLandRight__r.SPEN_ConsentIssueDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SPEN_Land_Interest_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SPEN_ExistingLandRight__r.SPEN_Land_Interest_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SPEN_Apparatus_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SPEN_ExistingLandRight__r.SPEN_Apparatus_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SPEN_ConsentType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SPEN_ExistingLandRight__r.SPEN_ConsentType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SPEN_ConsentAcquiredDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SPEN_ExistingLandRight__r.SPEN_ConsentAcquiredDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SPEN_SAPContract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SPEN_ExistingLandRight__r.SPEN_SAPContract__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SPEN_Existing_Refurb_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Awaiting Design</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SPEN_Contract_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SPEN_ExistingLandRight__r.SPEN_Contract_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SPEN_ApproximateCableLengthonProperty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SPEN_ExistingLandRight__r.SPEN_ApproximateCableLengthonProperty__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SPEN_WayleaveDateAcquired</name>
        <label>WayleaveDate Acquired</label>
        <locationX>578</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>$Record.SPEN_ConsentAcquiredDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SPEN_Land_Right_Acquired__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SPEN_WayleaveDateIssued</name>
        <label>WayleaveDate Issued</label>
        <locationX>314</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>$Record.SPEN_ConsentIssueDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SPEN_Land_Right_Issued__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SPEN_WayleaveDateIssuedAcquired</name>
        <label>WayleaveDate Issued Acquired</label>
        <locationX>50</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>$Record.SPEN_ConsentAcquiredDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SPEN_Land_Right_Acquired__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SPEN_ConsentIssueDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SPEN_Land_Right_Issued__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SPEN_WayleaveStatus_Acquired</name>
        <label>WayleaveStatus Acquired</label>
        <locationX>842</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.SPEN_WayleaveStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Consent Acquired</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SPEN_LandInterestRecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SPEN_WayleaveStatus_Issued</name>
        <label>WayleaveStatus Issued</label>
        <locationX>578</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.SPEN_WayleaveStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Consent Issued</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SPEN_LandInterestRecordType</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <description>Error message to be shown if SAP contract is null.</description>
        <name>SPEN_SAPContractErrorMessage</name>
        <label>SAP Contract Error Message</label>
        <locationX>2030</locationX>
        <locationY>395</locationY>
        <customErrorMessages>
            <errorMessage>SAP contract is required before acquiring consent.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <description>Error message to be shown if SAP contract is null for Existing/Refurb Record type.</description>
        <name>SPEN_SAPContractErrorMessageforExistingRefurb</name>
        <label>SAP Contract Error Message for Existing/Refurb</label>
        <locationX>2294</locationX>
        <locationY>395</locationY>
        <customErrorMessages>
            <errorMessage>A SAP RE contract number must be entered</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>LicenseAreaCheck</name>
        <label>LicenseAreaCheck</label>
        <locationX>2426</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>SPEN_Date_Update_in_Consent_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_SAPContractRequired</name>
            <conditionLogic>1 AND ( (2 AND 3) OR (4 AND 5) OR (6 AND 7) )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_SAPContract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wayleave</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_Land_Right_Acquired__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Permanent Land Right</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_SignedLegalDocumentReturned__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Statutory Land Right</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_DecisionDate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_SAPContractErrorMessage</targetReference>
            </connector>
            <label>SAP Contract Required</label>
        </rules>
        <rules>
            <name>SPEN_SAPContractRequiredforExistingRefurb</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_SAPContract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing/Refurb</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_Existing_Refurb_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_Existing_Refurb_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Land Right Confirmed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_Existing_Refurb_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_SAPContractErrorMessageforExistingRefurb</targetReference>
            </connector>
            <label>SAP Contract Required for Existing/Refurb</label>
        </rules>
        <rules>
            <name>Update_Land_Interest_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_Job__r.SPEN_LicenseArea__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>LandInterestNumberFormula</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_UpdateLandInterestNumber</targetReference>
            </connector>
            <label>Update Land Interest Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_CompulsoryStatus_Change</name>
        <label>Compulsory Status Change</label>
        <locationX>3438</locationX>
        <locationY>803</locationY>
        <defaultConnector>
            <targetReference>SPEN_LandInterestRecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_DecisionReceived</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_DecisionDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SPEN_DecisionDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_CompulsoryStatus_DecisionReceived</targetReference>
            </connector>
            <label>DecisionReceived</label>
        </rules>
        <rules>
            <name>SPEN_Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_SubmissionDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SPEN_SubmissionDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_CompulsoryStatus_Submitted</targetReference>
            </connector>
            <label>Submitted</label>
        </rules>
        <rules>
            <name>SPEN_InPreparation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_PreparationStartDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SPEN_PreparationStartDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_CompulsoryStatus_InPreparation</targetReference>
            </connector>
            <label>In Preparation</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_Date_Update_in_Consent_Type</name>
        <label>Date Update in Consent Type</label>
        <locationX>2426</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>SPEN_LandInterestRecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_WayLeave</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_Land_Right_Issued__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_Land_Right_Acquired__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_WayleaveStatus_Change</targetReference>
            </connector>
            <label>WayLeave</label>
        </rules>
        <rules>
            <name>SPEN_Servitude</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_HeadofTermAgreedDate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_InternalLegalInstructionDate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_InternalLegalInstructExternalTeam__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_DraftdocumentsIssuedDate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_DraftDocumentAgreedDate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_SignedLegalDocumentReturned__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_Servitude_Status_Change</targetReference>
            </connector>
            <label>Servitude</label>
        </rules>
        <rules>
            <name>SPEN_Statutory</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_PreparationStartDate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_SubmissionDate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_DecisionDate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_CompulsoryStatus_Change</targetReference>
            </connector>
            <label>Statutory</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_DateUpdateBasedOnServitude</name>
        <label>Date Update Based On Servitude</label>
        <locationX>1898</locationX>
        <locationY>1295</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_BothSignedLegalInternalLegalInstructionCheck</name>
            <conditionLogic>(1 AND 2) OR ( 3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_SignedLegalDocumentReturned__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_InternalLegalInstructionDate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_SignedLegalDocumentReturned__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_InternalLegalInstructionDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_BothServitudeDateSignedLegal_InternalLegal</targetReference>
            </connector>
            <label>Both Signed Legal &amp; Internal Legal Instruction Check</label>
        </rules>
        <rules>
            <name>SPEN_SignedLegalDocumentsReturnedCheck</name>
            <conditionLogic>1 OR( 2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_SignedLegalDocumentReturned__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_SignedLegalDocumentReturned__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_ServitudeDate_SignedLegalDocumentReturned</targetReference>
            </connector>
            <label>Signed Legal documents Returned Check</label>
        </rules>
        <rules>
            <name>SPEN_InternalLegalInstructionCheck</name>
            <conditionLogic>1 OR ( 2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_InternalLegalInstructionDate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_InternalLegalInstructionDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_ServitudeDateInternalLegalInstructed</targetReference>
            </connector>
            <label>Internal Legal Instruction Check</label>
        </rules>
        <rules>
            <name>SPEN_ClearConsentIssueDateServitude</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_InternalLegalInstructionDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_ConsentIssueDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_ClearConsentIssueDateSer</targetReference>
            </connector>
            <label>Clear Consent Issue Date Servitude</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_DateUpdateBasedOnStatutory</name>
        <label>Date Update Based On Statutory</label>
        <locationX>3218</locationX>
        <locationY>1295</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_BothDecisionReceivedSubmissionDateCheck</name>
            <conditionLogic>(1 AND 2) OR( 3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_DecisionDate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_SubmissionDate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_DecisionDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_SubmissionDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_BothCompulsoryDateDecisionReceivedSubmission</targetReference>
            </connector>
            <label>Both Decision Received &amp; Submission Date Check</label>
        </rules>
        <rules>
            <name>SPEN_DecisionReceivedCheck</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_DecisionDate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_DecisionDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_CompulsoryDateDecisionReceived</targetReference>
            </connector>
            <label>Decision Received Check</label>
        </rules>
        <rules>
            <name>SPEN_PreparationStartDateCheck</name>
            <conditionLogic>1 OR( 2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_PreparationStartDate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_PreparationStartDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_CompulsoryDateSubmitted</targetReference>
            </connector>
            <label>Preparation Start Date Check</label>
        </rules>
        <rules>
            <name>SPEN_ClearConsentIssueDateStatutory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_PreparationStartDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_ConsentIssueDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_ClearConsentIssueStatutory</targetReference>
            </connector>
            <label>Clear Consent Issue Date Statutory</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_DateUpdateBasedonWayleave</name>
        <label>Date update Based on wayleave</label>
        <locationX>578</locationX>
        <locationY>1295</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_BothConsentIssuedAndAcquiredCheck</name>
            <conditionLogic>(1 AND 2 ) OR (3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_Land_Right_Issued__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_Land_Right_Acquired__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_Land_Right_Issued__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_Land_Right_Acquired__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_WayleaveDateIssuedAcquired</targetReference>
            </connector>
            <label>Both Consent Issued and Acquired Check</label>
        </rules>
        <rules>
            <name>SPEN_ConsentIssuedCheck</name>
            <conditionLogic>1 OR ( 2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_Land_Right_Issued__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_Land_Right_Issued__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_WayleaveDateIssued</targetReference>
            </connector>
            <label>Consent Issued Check</label>
        </rules>
        <rules>
            <name>SPEN_ConsentAcquiredCheck</name>
            <conditionLogic>1 OR ( 2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_Land_Right_Acquired__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_Land_Right_Acquired__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_WayleaveDateAcquired</targetReference>
            </connector>
            <label>Consent Acquired Check</label>
        </rules>
        <rules>
            <name>SPENClearConsentIssueDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_Land_Right_Issued__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_ConsentIssueDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_ClearConsentIssueDate</targetReference>
            </connector>
            <label>Clear Consent Issue Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_LandInterestRecordType</name>
        <label>Land Interest Record Type</label>
        <locationX>2426</locationX>
        <locationY>1187</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_Wayleave_RT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_Wayleave</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_DateUpdateBasedonWayleave</targetReference>
            </connector>
            <label>Wayleave RT</label>
        </rules>
        <rules>
            <name>SPEN_ServitudeRT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_Servitude</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_DateUpdateBasedOnServitude</targetReference>
            </connector>
            <label>Servitude RT</label>
        </rules>
        <rules>
            <name>SPEN_StatuaryRT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_Statutory</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_DateUpdateBasedOnStatutory</targetReference>
            </connector>
            <label>Statuary RT</label>
        </rules>
        <rules>
            <name>SPEN_ExistingRT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_Existing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_ExistingLandRight__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_UpdateNewExistingRefurbRecord</targetReference>
            </connector>
            <label>Existing RT</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_Servitude_Status_Change</name>
        <label>Servitude Status Change</label>
        <locationX>2074</locationX>
        <locationY>803</locationY>
        <defaultConnector>
            <targetReference>SPEN_LandInterestRecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_SignedLegalDocumentRequired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_SignedLegalDocumentReturned__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SPEN_SignedLegalDocumentReturned__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_ServitudeStatus_SignedLegalDocumentReturned</targetReference>
            </connector>
            <label>Signed Legal Document Required</label>
        </rules>
        <rules>
            <name>SPEN_DraftDocumentAgreed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_DraftDocumentAgreedDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SPEN_DraftDocumentAgreedDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_ServitudeStatus_DraftDocumentAgreed</targetReference>
            </connector>
            <label>Draft Document Agreed</label>
        </rules>
        <rules>
            <name>SPEN_DraftDocumentIssued</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_DraftdocumentsIssuedDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SPEN_DraftdocumentsIssuedDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_ServitudeStatus_DraftDocumentIssued</targetReference>
            </connector>
            <label>Draft Document Issued</label>
        </rules>
        <rules>
            <name>SPEN_InternalLegalInstructExternalLegalTeam</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_InternalLegalInstructExternalTeam__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SPEN_InternalLegalInstructExternalTeam__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_ServitudeStatus_ExternalLegalTeam</targetReference>
            </connector>
            <label>Internal Legal Instruct External Legal Team</label>
        </rules>
        <rules>
            <name>SPEN_InternalLegalInstructed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_InternalLegalInstructionDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SPEN_InternalLegalInstructionDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_ServitudeStatus_InternalLegalInstructed</targetReference>
            </connector>
            <label>Internal Legal Instructed</label>
        </rules>
        <rules>
            <name>SPEN_HoTsAgreed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_HeadofTermAgreedDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SPEN_HeadofTermAgreedDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ServitudeStatus_HoTsAgreed</targetReference>
            </connector>
            <label>HoTs Agreed</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_WayleaveStatus_Change</name>
        <label>Wayleave Status Change</label>
        <locationX>842</locationX>
        <locationY>803</locationY>
        <defaultConnector>
            <targetReference>SPEN_LandInterestRecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_Consent_Issued</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_Land_Right_Issued__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SPEN_Land_Right_Issued__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_WayleaveStatus_Issued</targetReference>
            </connector>
            <label>Consent Issued</label>
        </rules>
        <rules>
            <name>SPEN_ConsentAcquired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_Land_Right_Acquired__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SPEN_Land_Right_Acquired__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_WayleaveStatus_Acquired</targetReference>
            </connector>
            <label>Consent Acquired</label>
        </rules>
    </decisions>
    <description>Create as part of ESC-122.
ESC-820: SAP contract changes.
ESC-569: Added condition for Existing/Refurb record type
ESC-952: Added error message for Existing/Refurb</description>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>LandInterestNumberFormula</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.SPEN_Job__r.SPEN_LicenseArea__c}) &amp; &quot; &quot; &amp; {!$Record.SPEN_Unique_Id__c}</expression>
    </formulas>
    <interviewLabel>SPEN Land Interest Record Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SPEN Land Interest Record Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>2300</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>LicenseAreaCheck</targetReference>
        </connector>
        <object>SPEN_Land_Interest__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
