force-app/main/default/flows/SPEN_NF_Weekly_Task_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Check_Weekly_Offsupply_Heating_Hot_water_checks_Welfare_offers</name>
        <label>Check_Weekly Offsupply Heating-Hot water checks &amp; Welfare offers</label>
        <locationX>669</locationX>
        <locationY>300</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Weekly_Offsupply_Heating_Hot_water_checks_Welfare_offers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Functional &amp; Electrical Checks Completed / Repaired</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>All Work Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEN_NeutralFaults</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Weekly_NF_Task</targetReference>
            </connector>
            <label>Weekly Offsupply Heating-Hot water checks &amp; Welfare offers</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CalculateWeeklyduedate</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+7</expression>
    </formulas>
    <interviewLabel>SPEN_NF_Weekly Task Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SPEN_NF_Weekly Task Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Weekly_NF_Task</name>
        <label>Create Weekly NF Task</label>
        <locationX>682</locationX>
        <locationY>520</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Due_DateTime__c</field>
            <value>
                <elementReference>CalculateWeeklyduedate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Weekly Offsupply Heating-Hot water checks &amp; Welfare offers</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Weekly_Offsupply_Heating_Hot_water_checks_Welfare_offers</targetReference>
        </connector>
        <object>Case</object>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2023-06-14</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
