force-app/main/default/flows/SPEN_Create3PDCasefromDamagedEquipmentWizard_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_3Pd_Case_Exists</name>
        <label>Check 3Pd Case Exists</label>
        <locationX>1004</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X3PD_Case_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_3PD_Case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decide_3PD_Case_Owner</targetReference>
            </connector>
            <label>3PD Case Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_3PD_Case_Owner</name>
        <label>Decide 3PD Case Owner</label>
        <locationX>835</locationX>
        <locationY>557</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_Incident__r.SPEN_SPDSPM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_3PD_SPD_queue</targetReference>
            </connector>
            <label>SPD</label>
        </rules>
        <rules>
            <name>SPM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_Incident__r.SPEN_SPDSPM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_3PD_SPM_queue</targetReference>
            </connector>
            <label>SPM</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Crea {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create 3PD Case from Damaged Equipment Wizard Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_3PD_Case_SPD</name>
        <label>Create 3PD Case SPD</label>
        <locationX>523</locationX>
        <locationY>563</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>No 3PD case created for the Damaged Equipment Wizard Case linked to the incident.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Faults Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_3PD_SPD_queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_3PD_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_IncidentReference__c</field>
            <value>
                <elementReference>$Record.SPEN_Incident__r.SPEN_IncidentReference__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Incident__c</field>
            <value>
                <elementReference>$Record.SPEN_Incident__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Missing Form</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_3PD_Case_SPM</name>
        <label>Create 3PD Case SPM</label>
        <locationX>1136</locationX>
        <locationY>572</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>No 3PD case created for the Damaged Equipment Wizard Case linked to the incident.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Faults Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_3PD_SPM_queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_3PD_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_IncidentReference__c</field>
            <value>
                <elementReference>$Record.SPEN_Incident__r.SPEN_IncidentReference__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Incident__c</field>
            <value>
                <elementReference>$Record.SPEN_Incident__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Missing Form</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_3PD_Case</name>
        <label>Get 3PD Case</label>
        <locationX>790</locationX>
        <locationY>391</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_3Pd_Case_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_3PD_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEN_Incident__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SPEN_Incident__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_3PD_Record_Type</name>
        <label>Get 3PD Record Type</label>
        <locationX>617</locationX>
        <locationY>363</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_3PD_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_ThirdPartyDamage</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_3PD_SPD_queue</name>
        <label>Get 3PD SPD queue</label>
        <locationX>678</locationX>
        <locationY>563</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_3PD_Case_SPD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_ThirdPartyDamageCasesSPD</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_3PD_SPM_queue</name>
        <label>Get 3PD SPM queue</label>
        <locationX>988</locationX>
        <locationY>568</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_3PD_Case_SPM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_Third_Party_Damage_Cases_SPM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>489</locationX>
        <locationY>48</locationY>
        <filterFormula>IF(AND(CONTAINS({!$Record.Subject}, {!$Label.SPEN_DamageEquipmentWizardCase}), OR({!$Record.RecordType.DeveloperName} = &apos;SPEN_UnplannedFault&apos; ,{!$Record.RecordType.DeveloperName} = &apos;SPEN_UnplannedBypass&apos;)), TRUE, FALSE)</filterFormula>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>X24_Hours_After_Created_Date_of_Damaged_Case</name>
            <connector>
                <targetReference>Get_3PD_Record_Type</targetReference>
            </connector>
            <label>24 Hours After Created Date of Damaged Case</label>
            <offsetNumber>24</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
