force-app/main/default/flows/SPEN_QuestionnaireLaunchFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>setOptionval</name>
        <label>setOptionval</label>
        <locationX>933</locationX>
        <locationY>467</locationY>
        <assignmentItems>
            <assignToReference>BCDWBooleanFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Issue_Category</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>BypassDynamicWizard</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(116, 116, 116);&quot;&gt;Log A Bypass Case with the help of Dynamic Wizard&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Log A Bypass Case with the help of Dynamic Wizard</stringValue>
        </value>
    </choices>
    <choices>
        <name>Launch_DynamicWizard</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(116, 116, 116);&quot;&gt;Launch Dynamic Wizard&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Launch Dynamic Wizard</stringValue>
        </value>
    </choices>
    <choices>
        <name>LogBypasscase</name>
        <choiceText>&lt;span style=&quot;color: rgb(116, 116, 116); background-color: rgb(255, 255, 255);&quot;&gt;Log a Bypass Case&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Log a Bypass Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>SPEN_FaultLines</name>
        <choiceText>Fault Lines</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>SPEN_NoPower</name>
        <choiceText>Faulty Meter Reading</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>SPEN_ShortCircuit</name>
        <choiceText>Short Circuit</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Bypasscase</name>
        <label>Create Bypass case</label>
        <locationX>742</locationX>
        <locationY>393</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Launch_Dynamic_Wizard</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>selectBypassOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Launch Dynamic Wizard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Issue_Category</targetReference>
            </connector>
            <label>Launch Dynamic Wizard</label>
        </rules>
        <rules>
            <name>LogBypasscasewithdynamic_wizard</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>selectBypassOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Log A Bypass Case with the help of Dynamic Wizard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setOptionval</targetReference>
            </connector>
            <label>Log a Bypass case with the help of dynamic wizard</label>
        </rules>
        <rules>
            <name>Log_a_Bypass_case</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>selectBypassOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Log a Bypass Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Bypass_Case_Record</targetReference>
            </connector>
            <label>Log a Bypass case</label>
        </rules>
    </decisions>
    <description>Voice Call Update with Incident Record Id Updated</description>
    <dynamicChoiceSets>
        <description>Options displayed for user to select the category of the issue they are facing.</description>
        <name>SPEN_IssueCategoryOptions</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>SFBG_Questionnaire__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Check if Dynamic Call Wizard</description>
        <name>SPEN_CheckIfDynamicCallWizard</name>
        <dataType>Boolean</dataType>
        <expression>{!Launch_DynamicWizard} != null</expression>
    </formulas>
    <interviewLabel>QuestionairreLaunchFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Call Wizard</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Bypass_Case_Record</name>
        <label>Create Bypass Case Record</label>
        <locationX>483</locationX>
        <locationY>537</locationY>
        <connector>
            <targetReference>SPEN_GetBYpassCaseRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetCasreRecType</name>
        <label>Get Case Record Type</label>
        <locationX>502</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bypasscase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_UnplannedBypass</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>SPEN_GetBYpassCaseRecord</name>
        <label>Get Bypass Case Record</label>
        <locationX>484</locationX>
        <locationY>682</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ByPass_Call_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Bypass_Case_Record</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>SPEN_BypassCaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>ByPass_Call_Summary</name>
        <label>ByPass Call Summary</label>
        <locationX>485</locationX>
        <locationY>847</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DynamicWizard</name>
            <extensionName>c:sPEN_DynamicCallWizard</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>caseId</name>
                <value>
                    <elementReference>ByPassCaseRecId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isBypass</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caseNumber</name>
                <value>
                    <elementReference>SPEN_BypassCaseNumber</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Bypass_case</name>
        <label>Create Bypass Case Record</label>
        <locationX>360</locationX>
        <locationY>257</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetCasreRecType</targetReference>
        </connector>
        <fields>
            <name>Bypass_case_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Bypass_case_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SPEN_DynamicCallWizardFlowContactLookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ContactId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Customer</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>SPEN_ContactIdSelectedForWizard</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>SPEN_ContactSelectedForWizard</assignToReference>
                        <name>recordName</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>SPEN_ContactIdSelectedForWizard</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Bypass_case_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SPEN_DynamicCallWizardFlowPremiseLookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Premise</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>SPEN_ContactPremise__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>SPEN_Premise__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>SPEN_PremiseIdSelectedLookup</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>SPEN_PremiseIdSelectedLookup</assignToReference>
                        <name>recordName</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>SPEN_PremiseIdSelectedLookup</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>selectBypassOption</name>
            <choiceReferences>Launch_DynamicWizard</choiceReferences>
            <choiceReferences>BypassDynamicWizard</choiceReferences>
            <choiceReferences>LogBypasscase</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to,</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Issue_Category</name>
        <label>What is the Case Problem Category?</label>
        <locationX>1131</locationX>
        <locationY>388</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Questionnaire</targetReference>
        </connector>
        <fields>
            <name>DynamicCallWizardFlow_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt;Call Wizard&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Issue_Category_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Issue_Category_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Issue_Category_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SPEN_WhatIssueCategory</name>
                    <choiceReferences>SPEN_IssueCategoryOptions</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>What is the Case Problem Category?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Issue_Category_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Questionnaire</name>
        <label>Questionnaire</label>
        <locationX>1343</locationX>
        <locationY>388</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SPEN_CallWizard</name>
            <extensionName>c:sPEN_DynamicCallWizard</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>issueCategory</name>
                <value>
                    <elementReference>SPEN_IssueCategoryOptions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isBypass</name>
                <value>
                    <elementReference>BCDWBooleanFlag</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactId</name>
                <value>
                    <elementReference>SPEN_ContactIdSelectedForWizard</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>premiseId</name>
                <value>
                    <elementReference>SPEN_PremiseIdSelectedLookup</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>incidentId</name>
                <value>
                    <elementReference>recordId.SPEN_RelatedIncident__r.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Bypass_case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BCDWBooleanFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>LogBypasscasewithdynamic_wizard</elementReference>
        </value>
    </variables>
    <variables>
        <name>ByPassCaseRecId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Create_Bypass_Case_Record</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>VoiceCall</objectType>
    </variables>
    <variables>
        <name>selectedoption</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SPEN_BypassCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SPEN_CaseContactLookup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>SPEn_CaseLookupValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SPEN_ContactIdSelectedForWizard</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SPEN_ContactLookupValue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SPEN_ContactSelectedForWizard</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SPEN_PremiseIdSelectedLookup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
