force-app/main/default/flows/Submit_Amended_Customer_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send Customer Address Info</description>
        <name>Send_Customer_Address_Info</name>
        <label>Send Customer Address Info</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <actionName>SPEN_Premise__c.SPEN_SubmitCustomerInformation</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>updatePremiserecord</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SPEN_Premise__c.SPEN_SubmitCustomerInformation</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPM_Email_Alert</name>
        <label>SPM Email Alert</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <actionName>SPEN_Premise__c.SPEN_SubmitCustomerInformation</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>updatePremiserecord</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SPEN_Premise__c.SPEN_SubmitCustomerInformation</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>MPAN_Check</name>
        <label>MPAN Check</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MPANstartswith18</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MpanValue</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>18</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Customer_Address_Info</targetReference>
            </connector>
            <label>MPANstartswith18</label>
        </rules>
        <rules>
            <name>MPANstartwith13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MpanValue</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>13</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPM_Email_Alert</targetReference>
            </connector>
            <label>MPANstartwith13</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Submit Amended Customer Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Submit Amended Customer Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updatePremiserecord</name>
        <label>updatePremiserecord</label>
        <locationX>314</locationX>
        <locationY>434</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_Button_Validation__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>SPEN_Premise__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>MPAN_Check</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>MpanValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
