force-app/main/default/flows/Test_Queue_change_to_High_Priority.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <description>For NRSWA Cases and SW/NRSWA work items – move to high priority queues before 30 min SLA due date.</description>
        <name>Record_Type_Check</name>
        <label>Record Type Check</label>
        <locationX>1238</locationX>
        <locationY>451</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NRSWA_Cases_OR_SW_NRSWA_work_items</name>
            <conditionLogic>((1 OR (2 AND 3)) AND (4 AND 5) )AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NRSWA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Query</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NRSWA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>GetNRSWAActionedQueue.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Id</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPD_SPM</targetReference>
            </connector>
            <label>NRSWA Cases OR NRSWA work items</label>
        </rules>
        <rules>
            <name>SW_work_items</name>
            <conditionLogic>((1 AND 2 )AND (3 AND (4 AND 6 AND 7))) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Query</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>StreetWorks</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_SW_Actioned_Queue.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Id</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_SW_StartStop_Queue.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_SW_StartStop_Queue_South.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPD_SPM_0</targetReference>
            </connector>
            <label>SW work items</label>
        </rules>
        <rules>
            <name>SW_Case_due_for_Today</name>
            <conditionLogic>((1 AND 2 )AND (3 AND 4)) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Streetworks</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetSWDueDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_SW_Actioned_Queue.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Id</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPD_SPM_0_0</targetReference>
            </connector>
            <label>SW Case due for Today</label>
        </rules>
    </decisions>
    <decisions>
        <description>For NRSWA Cases and SW/NRSWA work items – move to high priority queues before 30 min SLA due date.</description>
        <name>Record_Type_Check_0</name>
        <label>Record Type Check</label>
        <locationX>1741</locationX>
        <locationY>270</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SW_Case_not_due_for_Today</name>
            <conditionLogic>((1 AND 2 )AND (3 AND 4)) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Streetworks</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetSWDueDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_SW_Actioned_Queue_0.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Id</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPD_SPM_0_0</targetReference>
            </connector>
            <label>SW Case not due for Today</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPD_SPM</name>
        <label>SPD/SPM</label>
        <locationX>842</locationX>
        <locationY>559</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPD</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_SPD_SPM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_SPDSPMIndicator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_NRSWA_SPD_High_Priority_Queue_0</targetReference>
            </connector>
            <label>SPD</label>
        </rules>
        <rules>
            <name>SPM</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_SPD_SPM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_SPDSPMIndicator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_NRSWA_SPM_High_Priority_Queue</targetReference>
            </connector>
            <label>SPM</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPD_SPM_0</name>
        <label>SPD/SPM</label>
        <locationX>1457</locationX>
        <locationY>603</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPD_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_SPD_SPM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_SPDSPMIndicator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SW_workitem_SPD_High_Priority_Queue</targetReference>
            </connector>
            <label>SPD</label>
        </rules>
        <rules>
            <name>SPM_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_SPD_SPM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_SPDSPMIndicator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SW_Workitem_SPM_High_Priority_Queue</targetReference>
            </connector>
            <label>SPM</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPD_SPM_0_0</name>
        <label>SPD/SPM</label>
        <locationX>1802</locationX>
        <locationY>550</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPD_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_SPD_SPM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_SPDSPMIndicator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SW_Case_SPD_High_Priority_Queue</targetReference>
            </connector>
            <label>SPD</label>
        </rules>
        <rules>
            <name>SPM_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPEN_SPD_SPM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPEN_SPDSPMIndicator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SW_Case_SPM_High_Priority_Queue</targetReference>
            </connector>
            <label>SPM</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Calculates SLA due date in Date format from Date time format</description>
        <name>GetSWDueDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.SPEN_SLADueDate__c})</expression>
    </formulas>
    <interviewLabel>Test - Queue change to High Priority {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Queue change to High Priority</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_NRSWA_SPD_High_Priority_Queue_0</name>
        <label>Get NRSWA SPD – High Priority Queue</label>
        <locationX>669</locationX>
        <locationY>698</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NRSWA_SPD_Update_Routing_Priority</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_NRSWA_SPD_High_Priority</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_NRSWA_SPM_High_Priority_Queue</name>
        <label>Get NRSWA SPM – High Priority Queue</label>
        <locationX>938</locationX>
        <locationY>747</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NRSWA_SPM_Update_Routing_Priority</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_NRSWA_SPM_High_Priority</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SW_Actioned_Queue</name>
        <label>Get SW Actioned Queue</label>
        <locationX>1353</locationX>
        <locationY>324</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SW_StartStop_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Streetworks_Actioned_Cases</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SW_Actioned_Queue_0</name>
        <label>Get SW Actioned Queue</label>
        <locationX>1690</locationX>
        <locationY>81</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Type_Check_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Streetworks_Actioned_Cases</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SW_Case_SPD_High_Priority_Queue</name>
        <label>Get SW Case SPD – High Priority Queue</label>
        <locationX>1722</locationX>
        <locationY>694</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NRSWA_SPD_Update_Routing_Priority_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_Streetworks_SPD_Cases_High_Priority</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SW_Case_SPM_High_Priority_Queue</name>
        <label>Get SW Case SPM – High Priority Queue</label>
        <locationX>1978</locationX>
        <locationY>706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NRSWA_SPM_Update_Routing_Priority_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_Streetworks_SPM_Cases_High_Priority</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SW_StartStop_Queue</name>
        <label>Get SW StartStop Queue</label>
        <locationX>1445</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SW_StartStop_Queue_South</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_SPDStartStopQueue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SW_StartStop_Queue_South</name>
        <label>Get SW StartStop Queue South</label>
        <locationX>1566</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Type_Check</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_SPMStartStopQueue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SW_workitem_SPD_High_Priority_Queue</name>
        <label>Get SW workitem SPD – High Priority Queue</label>
        <locationX>1293</locationX>
        <locationY>719</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NRSWA_SPD_Update_Routing_Priority_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_StreetworksSPDWorkItemsHighPriority</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SW_Workitem_SPM_High_Priority_Queue</name>
        <label>Get SW Workitem SPM – High Priority Queue</label>
        <locationX>1593</locationX>
        <locationY>735</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NRSWA_SPM_Update_Routing_Priority_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPEN_StreetworksSPMWorkItemsHighPriority</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetNRSWAActionedQueue</name>
        <label>Get NRSWA Actioned Queue</label>
        <locationX>1176</locationX>
        <locationY>321</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SW_Actioned_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NRSWA_Actioned_Cases</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>NRSWA_SPD_Update_Routing_Priority</name>
        <label>Update Routing Priority</label>
        <locationX>675</locationX>
        <locationY>884</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Route to high priority</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_NRSWA_SPD_High_Priority_Queue_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Email_WI_Queue_Routing_Outcome__c</field>
            <value>
                <stringValue>SW/NRSWA High Priority</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>NRSWA_SPD_Update_Routing_Priority_0</name>
        <label>Update Routing Priority</label>
        <locationX>1328</locationX>
        <locationY>905</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Route to high priority</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_SW_workitem_SPD_High_Priority_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Email_WI_Queue_Routing_Outcome__c</field>
            <value>
                <stringValue>SW/NRSWA High Priority</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>NRSWA_SPD_Update_Routing_Priority_0_0</name>
        <label>Update Routing Priority</label>
        <locationX>1815</locationX>
        <locationY>877</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Route to high priority</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_SW_Case_SPD_High_Priority_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Email_WI_Queue_Routing_Outcome__c</field>
            <value>
                <stringValue>SW/NRSWA High Priority</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>NRSWA_SPM_Update_Routing_Priority</name>
        <label>Update Routing Priority</label>
        <locationX>960</locationX>
        <locationY>924</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Route to high priority</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_NRSWA_SPM_High_Priority_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Email_WI_Queue_Routing_Outcome__c</field>
            <value>
                <stringValue>SW/NRSWA High Priority</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>NRSWA_SPM_Update_Routing_Priority_0</name>
        <label>Update Routing Priority</label>
        <locationX>1623</locationX>
        <locationY>908</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Route to high priority</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_SW_Workitem_SPM_High_Priority_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Email_WI_Queue_Routing_Outcome__c</field>
            <value>
                <stringValue>SW/NRSWA High Priority</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>NRSWA_SPM_Update_Routing_Priority_0_0</name>
        <label>Update Routing Priority</label>
        <locationX>2043</locationX>
        <locationY>882</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Route to high priority</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_SW_Case_SPM_High_Priority_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPEN_Email_WI_Queue_Routing_Outcome__c</field>
            <value>
                <stringValue>SW/NRSWA High Priority</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>686</locationX>
        <locationY>50</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SPEN_Email_WI_Queue_Routing_Outcome__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Change_Owner</name>
            <connector>
                <targetReference>GetNRSWAActionedQueue</targetReference>
            </connector>
            <label>Change Owner</label>
            <offsetNumber>-30</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>SPEN_SLADueDate__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>SW_Case_Change_Owner</name>
            <connector>
                <targetReference>Get_SW_Actioned_Queue_0</targetReference>
            </connector>
            <label>SW Case Change Owner</label>
            <offsetNumber>-24</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>SPEN_SLADueDate__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
