force-app/main/default/flows/Voice_Calls_Routed_to_Agents_and_Queues_connections.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>BorderDelivery</name>
        <label>Border Delivery</label>
        <locationX>4142</locationX>
        <locationY>866</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>SPEN_UpdateVCQueueAssignedDatetime</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>SPEN_BorderDeliveryContactDetails.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98d000000skg0CAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>INVOKE_BorderDelivery</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>NRSWA-North</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>INVOKE_AyrshireClydeSouthDelivery</name>
        <label>GetAyrshireClydeSouthDelivery</label>
        <locationX>3702</locationX>
        <locationY>758</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SPEN_AyrshireClydeSouthDelivery</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN_AyrshireClydeSouthDelivery</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>INVOKE_BorderDelivery</name>
        <label>GetBorderDelivery</label>
        <locationX>4142</locationX>
        <locationY>758</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>BorderDelivery</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN_BorderDelivery</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>INVOKE_ConnectionsServicesDelivery</name>
        <label>GetConnectionsServicesDelivery</label>
        <locationX>622</locationX>
        <locationY>758</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SPEN_ConnectionsServicesDelivery</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN_ConnectionsServices</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>INVOKE_CSAdminDelivery</name>
        <label>GetCSAdminDelivery</label>
        <locationX>9422</locationX>
        <locationY>758</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SPEN_CSAdmin</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN_ConnectionsCSAdmin</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>INVOKE_DeeValleyOswestryDelivery</name>
        <label>GetDeeValleyOswestryDelivery</label>
        <locationX>5022</locationX>
        <locationY>758</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SPEN_DeeValleyOswestryDelivery</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN_DeeValleyOswestryDelivery</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>INVOKE_DumfriesDelivery</name>
        <label>GetDumfriesDelivery</label>
        <locationX>5462</locationX>
        <locationY>758</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SPEN_DumfriesDelivery</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN_DumfriesDelivery</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>INVOKE_GetCentralFifeDelivery</name>
        <label>Get Central Fife Delivery</label>
        <locationX>4582</locationX>
        <locationY>758</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SPEN_CentralFifeDelivery</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN_CentralFifeDelivery</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>INVOKE_GetConnection</name>
        <label>GetConnection</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>RouteToConnection</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN_ConnectionsContact</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>INVOKE_GetEdinburghBordersDelivery</name>
        <label>GetEdinburghBordersDelivery</label>
        <locationX>5902</locationX>
        <locationY>758</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SPEN_EdinburghBordersDelivery</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN_EdinburghBordersDelivery</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>INVOKE_GetGlasgowClydeNorthDelivery</name>
        <label>GetGlasgowClydeNorthDelivery</label>
        <locationX>6342</locationX>
        <locationY>758</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SPEN_Debt</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN_GlasgowClydeNorthDelivery</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>INVOKE_LanarkshireDelivery</name>
        <label>GetLanarkshireDelivery</label>
        <locationX>6782</locationX>
        <locationY>758</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SPEN_LanarkshireDelivery</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN_LanarkshireDelivery	</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>INVOKE_MerseysideDelivery</name>
        <label>GetMerseysideDelivery</label>
        <locationX>7222</locationX>
        <locationY>758</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SPEN_MerseysideDelivery</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN_MerseysideDelivery</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>INVOKE_MidCheshireDelivery</name>
        <label>GetMidCheshireDelivery</label>
        <locationX>7662</locationX>
        <locationY>758</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SPEN_MidCheshireDelivery</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN_MidCheshireDelivery	</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>INVOKE_MidWalesDelivery</name>
        <label>GetMidWalesDelivery</label>
        <locationX>8102</locationX>
        <locationY>758</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SPEN_MidWalesDelivery</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN_MidWalesDelivery</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>INVOKE_NorthWalesDelivery</name>
        <label>GetNorthWalesDelivery</label>
        <locationX>8542</locationX>
        <locationY>758</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SPEN_NorthWalesDelivery</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN_NorthWalesDelivery</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>INVOKE_SPDDesignEastDelivery</name>
        <label>GetSPDDesignEastDelivery</label>
        <locationX>1062</locationX>
        <locationY>758</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SPEN_SPDDesignEastDelivery</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN_SPDDesign_East</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>INVOKE_SPDDesignMajorDelivery</name>
        <label>GetSPDDesignMajorDelivery</label>
        <locationX>1942</locationX>
        <locationY>758</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SPEN_SPDDesignMajorDelivery</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN_SPDDesign_Major</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>INVOKE_SPDDesignWestDelivery</name>
        <label>GetSPDDesignWestDelivery</label>
        <locationX>1502</locationX>
        <locationY>758</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SPEN_SPDDesignWestDelivery</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN_SPDDesign_West</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>INVOKE_SPMDesign132kVDelivery</name>
        <label>GetSPMDesign132kVDelivery</label>
        <locationX>9862</locationX>
        <locationY>758</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SPMDesign132kV</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN_SPMDesign_132kV</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>INVOKE_SPMDesignCheshireDelivery</name>
        <label>GetSPMDesignCheshireDelivery</label>
        <locationX>2382</locationX>
        <locationY>758</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SPEN_SPMDesignCheshireDelivery</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN_SPMDesign_Cheshire</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>INVOKE_SPMDesignMerseysideDelivery</name>
        <label>GetSPMDesignMerseysideDelivery</label>
        <locationX>2822</locationX>
        <locationY>758</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SPEN_SPMDesignMerseysideDelivery</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN_SPMDesign_Merseyside</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>INVOKE_SPMDesignWalesDelivery</name>
        <label>GetSPMDesignWalesDelivery</label>
        <locationX>3262</locationX>
        <locationY>758</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SPEN_SPMDesignWalesDelivery</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN_SPMDesign_Wales	</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>INVOKE_WirralDelivery</name>
        <label>GetWirralDelivery</label>
        <locationX>8982</locationX>
        <locationY>758</locationY>
        <actionName>SPEN_GroupsSelectorByNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SPEN_WirralDelivery</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>SPEN_WirralDelivery</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SPEN_GroupsSelectorByNameInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>RouteToConnection</name>
        <label>RouteToConnection</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>SPEN_UpdateVCQueueAssignedDatetime</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>SPEN_RouteToConnectionContactDetails.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98d000000skg0CAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>INVOKE_GetConnection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>StreetWorks - North</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_AyrshireClydeSouthDelivery</name>
        <label>AyrshireClydeSouthDelivery</label>
        <locationX>3702</locationX>
        <locationY>866</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>SPEN_UpdateVCQueueAssignedDatetime</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>SPEN_AyrshireClydeSouthDeliveryContactDetails.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98d000000skg0CAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>INVOKE_AyrshireClydeSouthDelivery</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_AyrshireClydeSouthDeliveryContactDetails</name>
        <label>AyrshireClydeSouthDeliveryContactDetails</label>
        <locationX>3570</locationX>
        <locationY>566</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>INVOKE_AyrshireClydeSouthDelivery</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;920f1713&quot;,&quot;targetObjectId&quot;:&quot;{!input_record.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_BorderDeliveryContactDetails</name>
        <label>BorderDeliveryContactDetails</label>
        <locationX>4010</locationX>
        <locationY>566</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>INVOKE_BorderDelivery</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;920f1713&quot;,&quot;targetObjectId&quot;:&quot;{!input_record.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_CentralFifeDelivery</name>
        <label>Central Fife Delivery</label>
        <locationX>4582</locationX>
        <locationY>866</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>SPEN_UpdateVCQueueAssignedDatetime</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>SPEN_CentralFifeDeliveryContactDetails.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98d000000skg0CAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>INVOKE_GetCentralFifeDelivery</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_CentralFifeDeliveryContactDetails</name>
        <label>Central Fife Delivery Contact Details</label>
        <locationX>4450</locationX>
        <locationY>566</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>INVOKE_GetCentralFifeDelivery</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;920f1713&quot;,&quot;targetObjectId&quot;:&quot;{!input_record.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_ConnectionsServicesDelivery</name>
        <label>ConnectionsServicesDelivery</label>
        <locationX>622</locationX>
        <locationY>866</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>SPEN_UpdateVCQueueAssignedDatetime</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>SPEN_ConnectionsServicesDeliveryContactDetails.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98d000000skg0CAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>INVOKE_ConnectionsServicesDelivery</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_ConnectionsServicesDeliveryContactDetails</name>
        <label>ConnectionsServicesDeliveryContactDetails</label>
        <locationX>490</locationX>
        <locationY>566</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>INVOKE_ConnectionsServicesDelivery</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;920f1713&quot;,&quot;targetObjectId&quot;:&quot;{!input_record.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_CSAdmin</name>
        <label>CS Admin</label>
        <locationX>9422</locationX>
        <locationY>866</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>SPEN_UpdateVCQueueAssignedDatetime</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>SPEN_CSAdminDeliveryContactDetails.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98d000000skg0CAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>INVOKE_CSAdminDelivery</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_CSAdminDeliveryContactDetails</name>
        <label>CSAdminDeliveryContactDetails</label>
        <locationX>9290</locationX>
        <locationY>566</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>INVOKE_CSAdminDelivery</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;608e0fec&quot;,&quot;targetObjectId&quot;:&quot;{!input_record.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_Debt</name>
        <label>Debt</label>
        <locationX>6342</locationX>
        <locationY>866</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>SPEN_UpdateVCQueueAssignedDatetime</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>SPEN_GlasgowClydeNorthDeliveryContactDetails.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98d000000skg0CAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>INVOKE_GetGlasgowClydeNorthDelivery</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>Debt</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_DeeValleyOswestryDelivery</name>
        <label>Dee Valley Oswestry Delivery</label>
        <locationX>5022</locationX>
        <locationY>866</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>SPEN_UpdateVCQueueAssignedDatetime</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>SPEN_DeeValleyOswestryDeliveryContactDetails.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98d000000skg0CAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>INVOKE_DeeValleyOswestryDelivery</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_DeeValleyOswestryDeliveryContactDetails</name>
        <label>DeeValleyOswestryDeliveryContactDetails</label>
        <locationX>4890</locationX>
        <locationY>566</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>INVOKE_DeeValleyOswestryDelivery</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;51c31f47&quot;,&quot;targetObjectId&quot;:&quot;{!input_record.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_DumfriesDelivery</name>
        <label>Dumfries Delivery</label>
        <locationX>5462</locationX>
        <locationY>866</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>SPEN_UpdateVCQueueAssignedDatetime</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>SPEN_DumfriesDeliveryContactDetails.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98d000000skg0CAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>INVOKE_DumfriesDelivery</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>Social OBS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_DumfriesDeliveryContactDetails</name>
        <label>DumfriesDeliveryContactDetails</label>
        <locationX>5330</locationX>
        <locationY>566</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>INVOKE_DumfriesDelivery</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;51c31f47&quot;,&quot;targetObjectId&quot;:&quot;{!input_record.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_EdinburghBordersDelivery</name>
        <label>EdinburghBordersDelivery</label>
        <locationX>5902</locationX>
        <locationY>866</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>SPEN_UpdateVCQueueAssignedDatetime</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>SPEN_EdinburghBordersDelivery_ContactDetails.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98d000000skg0CAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>INVOKE_GetEdinburghBordersDelivery</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>3PD</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_EdinburghBordersDelivery_ContactDetails</name>
        <label>Edinburgh &amp; Borders Delivery Contact Details</label>
        <locationX>5770</locationX>
        <locationY>566</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>INVOKE_GetEdinburghBordersDelivery</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;58207123&quot;,&quot;targetObjectId&quot;:&quot;{!input_record.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pendingServiceRoutingInteractionInfoInputList</name>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_GlasgowClydeNorthDeliveryContactDetails</name>
        <label>GlasgowClydeNorthDeliveryContactDetails</label>
        <locationX>6210</locationX>
        <locationY>566</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>INVOKE_GetGlasgowClydeNorthDelivery</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;608e0fec&quot;,&quot;targetObjectId&quot;:&quot;{!input_record.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_LanarkshireDelivery</name>
        <label>Lanarkshire Delivery</label>
        <locationX>6782</locationX>
        <locationY>866</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>SPEN_UpdateVCQueueAssignedDatetime</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>SPEN_LanarkshireDeliveryContactDetails.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98d000000skg0CAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>INVOKE_LanarkshireDelivery</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_LanarkshireDeliveryContactDetails</name>
        <label>LanarkshireDeliveryContactDetails</label>
        <locationX>6650</locationX>
        <locationY>566</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>INVOKE_LanarkshireDelivery</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;608e0fec&quot;,&quot;targetObjectId&quot;:&quot;{!input_record.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_MerseysideDelivery</name>
        <label>Merseyside Delivery</label>
        <locationX>7222</locationX>
        <locationY>866</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>SPEN_UpdateVCQueueAssignedDatetime</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>SPEN_MerseysideDeliveryContactDetails.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98d000000skg0CAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>INVOKE_MerseysideDelivery</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_MerseysideDeliveryContactDetails</name>
        <label>MerseysideDeliveryContactDetails</label>
        <locationX>7090</locationX>
        <locationY>566</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>INVOKE_MerseysideDelivery</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;608e0fec&quot;,&quot;targetObjectId&quot;:&quot;{!input_record.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_MidCheshireDelivery</name>
        <label>Mid Cheshire Delivery</label>
        <locationX>7662</locationX>
        <locationY>866</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>SPEN_UpdateVCQueueAssignedDatetime</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>SPEN_MidCheshireDeliveryContactDetails.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98d000000skg0CAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>INVOKE_MidCheshireDelivery</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_MidCheshireDeliveryContactDetails</name>
        <label>MidCheshireDeliveryContactDetails</label>
        <locationX>7530</locationX>
        <locationY>566</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>INVOKE_MidCheshireDelivery</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;608e0fec&quot;,&quot;targetObjectId&quot;:&quot;{!input_record.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_MidWalesDelivery</name>
        <label>Mid Wales Delivery</label>
        <locationX>8102</locationX>
        <locationY>866</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>SPEN_UpdateVCQueueAssignedDatetime</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>SPEN_MidWalesDeliveryContactDetails.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98d000000skg0CAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>INVOKE_MidWalesDelivery</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_MidWalesDeliveryContactDetails</name>
        <label>MidWalesDeliveryContactDetails</label>
        <locationX>7970</locationX>
        <locationY>566</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>INVOKE_MidWalesDelivery</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;608e0fec&quot;,&quot;targetObjectId&quot;:&quot;{!input_record.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_NorthWalesDelivery</name>
        <label>North Wales Delivery</label>
        <locationX>8542</locationX>
        <locationY>866</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>SPEN_UpdateVCQueueAssignedDatetime</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>SPEN_NorthWalesDeliveryContactDetails.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98d000000skg0CAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>INVOKE_NorthWalesDelivery</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_NorthWalesDeliveryContactDetails</name>
        <label>NorthWalesDeliveryContactDetails</label>
        <locationX>8410</locationX>
        <locationY>566</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>INVOKE_NorthWalesDelivery</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;608e0fec&quot;,&quot;targetObjectId&quot;:&quot;{!input_record.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_RouteToConnectionContactDetails</name>
        <label>RouteToConnectionContactDetails</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>INVOKE_GetConnection</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;7aa56fed&quot;,&quot;targetObjectId&quot;:&quot;{!input_record.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_SPDDesignEastDelivery</name>
        <label>SPDDesignEastDelivery</label>
        <locationX>1062</locationX>
        <locationY>866</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>SPEN_UpdateVCQueueAssignedDatetime</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>SPEN_SPDDesignEastDeliveryContactDetails.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98d000000skg0CAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>INVOKE_SPDDesignEastDelivery</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_SPDDesignEastDeliveryContactDetails</name>
        <label>SPDDesignEastDeliveryContactDetails</label>
        <locationX>930</locationX>
        <locationY>566</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>INVOKE_SPDDesignEastDelivery</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;920f1713&quot;,&quot;targetObjectId&quot;:&quot;{!input_record.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_SPDDesignMajorDelivery</name>
        <label>SPDDesignMajorDelivery</label>
        <locationX>1942</locationX>
        <locationY>866</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>SPEN_UpdateVCQueueAssignedDatetime</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>SPEN_SPDDesignMajorDeliveryContactDetails.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98d000000skg0CAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>INVOKE_SPDDesignMajorDelivery</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_SPDDesignMajorDeliveryContactDetails</name>
        <label>SPDDesignMajorDeliveryContactDetails</label>
        <locationX>1810</locationX>
        <locationY>566</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>INVOKE_SPDDesignMajorDelivery</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;920f1713&quot;,&quot;targetObjectId&quot;:&quot;{!input_record.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_SPDDesignWestDelivery</name>
        <label>SPDDesignWestDelivery</label>
        <locationX>1502</locationX>
        <locationY>866</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>SPEN_UpdateVCQueueAssignedDatetime</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>SPEN_SPDDesignWestDeliveryContactDetails.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98d000000skg0CAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>INVOKE_SPDDesignWestDelivery</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_SPDDesignWestDeliveryContactDetails</name>
        <label>SPDDesignWestDeliveryContactDetails</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>INVOKE_SPDDesignWestDelivery</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;920f1713&quot;,&quot;targetObjectId&quot;:&quot;{!input_record.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_SPMDesign132kVDeliveryContactDetails</name>
        <label>SPMDesign132kVDeliveryContactDetails</label>
        <locationX>9730</locationX>
        <locationY>566</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>INVOKE_SPMDesign132kVDelivery</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;608e0fec&quot;,&quot;targetObjectId&quot;:&quot;{!input_record.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_SPMDesignCheshireDelivery</name>
        <label>SPMDesignCheshireDelivery</label>
        <locationX>2382</locationX>
        <locationY>866</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>SPEN_UpdateVCQueueAssignedDatetime</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>SPEN_SPMDesignCheshireDeliveryContactDetails.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98d000000skg0CAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>INVOKE_SPMDesignCheshireDelivery</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_SPMDesignCheshireDeliveryContactDetails</name>
        <label>SPMDesignCheshireDeliveryContactDetails</label>
        <locationX>2250</locationX>
        <locationY>566</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>INVOKE_SPMDesignCheshireDelivery</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;920f1713&quot;,&quot;targetObjectId&quot;:&quot;{!input_record.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_SPMDesignMerseysideDelivery</name>
        <label>SPMDesignMerseysideDelivery</label>
        <locationX>2822</locationX>
        <locationY>866</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>SPEN_UpdateVCQueueAssignedDatetime</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>SPEN_SPMDesignMerseysideDeliveryContactDetails.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98d000000skg0CAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>INVOKE_SPMDesignMerseysideDelivery</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_SPMDesignMerseysideDeliveryContactDetails</name>
        <label>SPMDesignMerseysideDeliveryContactDetails</label>
        <locationX>2690</locationX>
        <locationY>566</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>INVOKE_SPMDesignMerseysideDelivery</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;920f1713&quot;,&quot;targetObjectId&quot;:&quot;{!input_record.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_SPMDesignWalesDelivery</name>
        <label>SPMDesignWalesDelivery</label>
        <locationX>3262</locationX>
        <locationY>866</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>SPEN_UpdateVCQueueAssignedDatetime</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>SPEN_SPMDesignWalesDeliveryContactDetails.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98d000000skg0CAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>INVOKE_SPMDesignWalesDelivery</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_SPMDesignWalesDeliveryContactDetails</name>
        <label>SPMDesignWalesDeliveryContactDetails</label>
        <locationX>3130</locationX>
        <locationY>566</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>INVOKE_SPMDesignWalesDelivery</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;920f1713&quot;,&quot;targetObjectId&quot;:&quot;{!input_record.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_WirralDelivery</name>
        <label>Wirral Delivery</label>
        <locationX>8982</locationX>
        <locationY>866</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>SPEN_UpdateVCQueueAssignedDatetime</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>SPEN_WirralDeliveryContactDetails.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98d000000skg0CAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>INVOKE_WirralDelivery</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPEN_WirralDeliveryContactDetails</name>
        <label>WirralDeliveryContactDetails</label>
        <locationX>8850</locationX>
        <locationY>566</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>INVOKE_WirralDelivery</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;608e0fec&quot;,&quot;targetObjectId&quot;:&quot;{!input_record.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SPMDesign132kV</name>
        <label>SPM Design-132kV</label>
        <locationX>9862</locationX>
        <locationY>866</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>SPEN_UpdateVCQueueAssignedDatetime</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>SPEN_SPMDesign132kVDeliveryContactDetails.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98d000000skg0CAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>INVOKE_SPMDesign132kVDelivery</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <description>This example decision node looks at the Contact that is calling and decides which Queue they should be routed to. Here, it checks both the name and country of the customer.</description>
        <name>CustomerRoutingDecision</name>
        <label>How should the customer be routed?</label>
        <locationX>5176</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>All Other Customers</defaultConnectorLabel>
        <rules>
            <name>Connection_Enquiry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Connections Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_VerifyRouteToNorthContactRecord</targetReference>
            </connector>
            <label>Connection Enquiry</label>
        </rules>
        <rules>
            <name>Connections_Services</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Connections Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_VerifyConnectionsServicesDeliveryContactRecord</targetReference>
            </connector>
            <label>Connections Services</label>
        </rules>
        <rules>
            <name>SPD_Design_East</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPD Design-East</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_VerifySPDDesignEastDeliveryContactRecord</targetReference>
            </connector>
            <label>SPD Design-East</label>
        </rules>
        <rules>
            <name>SPD_Design_West</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPD Design-West</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_VerifySPDDesignWestDeliveryContactRecord</targetReference>
            </connector>
            <label>SPD Design-West</label>
        </rules>
        <rules>
            <name>SPD_Design_Major</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPD Design-Major</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_VerifySPDDesignMajorDeliveryContactRecord</targetReference>
            </connector>
            <label>SPD Design-Major</label>
        </rules>
        <rules>
            <name>SPM_Design_Cheshire</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPM Design-Cheshire</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_VerifySPMDesignCheshireDeliveryContactRecord</targetReference>
            </connector>
            <label>SPM Design-Cheshire</label>
        </rules>
        <rules>
            <name>SPM_Design_Merseyside</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPM Design-Merseyside</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_VerifySPMDesignMerseysideDeliveryContactRecord</targetReference>
            </connector>
            <label>SPM Design-Merseyside</label>
        </rules>
        <rules>
            <name>SPM_Design_Wales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPM Design-Wales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_VerifySPMDesignWalesDeliveryContactRecord</targetReference>
            </connector>
            <label>SPM Design-Wales</label>
        </rules>
        <rules>
            <name>Ayrshire_Clyde_South_Delivery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ayrshire &amp; Clyde South Delivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_VerifyAyrshireClydeSouthDeliveryContactRecord</targetReference>
            </connector>
            <label>Ayrshire &amp; Clyde South Delivery</label>
        </rules>
        <rules>
            <name>Border_Delivery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Border Delivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_VerifyBorderDeliveryContactRecord</targetReference>
            </connector>
            <label>Border Delivery</label>
        </rules>
        <rules>
            <name>Central_Fife_Delivery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Central &amp; Fife Delivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_VerifyCentralFifeDeliveryContactRecord</targetReference>
            </connector>
            <label>Central &amp; Fife Delivery</label>
        </rules>
        <rules>
            <name>Dee_Valley_Oswestry_Delivery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dee Valley Oswestry Delivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_VerifyingDeeValleyOswestryDeliveryContactRecord</targetReference>
            </connector>
            <label>Dee Valley &amp; Oswestry Delivery</label>
        </rules>
        <rules>
            <name>DumfriesDelivery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dumfries Delivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_VerifyingDumfriesDeliveryContactRecord</targetReference>
            </connector>
            <label>Dumfries Delivery</label>
        </rules>
        <rules>
            <name>Edinburgh_Borders_Delivery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edinburgh &amp; Borders Delivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_EdinburghBordersDeliveryContactRecord</targetReference>
            </connector>
            <label>Edinburgh &amp; Borders Delivery</label>
        </rules>
        <rules>
            <name>Glasgow_Clyde_North_Delivery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Glasgow &amp; Clyde North Delivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_VerifyGlasgowClydeNorthDelivery_ContactRecord</targetReference>
            </connector>
            <label>Glasgow &amp; Clyde North Delivery</label>
        </rules>
        <rules>
            <name>Lanarkshire_Delivery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lanarkshire Delivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_VerifyLanarkshireDeliveryContactRecord</targetReference>
            </connector>
            <label>Lanarkshire Delivery</label>
        </rules>
        <rules>
            <name>Merseyside_Delivery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Merseyside Delivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_VerifyMerseysideDeliveryContactRecord</targetReference>
            </connector>
            <label>Merseyside Delivery</label>
        </rules>
        <rules>
            <name>Mid_Cheshire_Delivery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mid Cheshire Delivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_VerifyMidCheshireDeliveryContactRecord</targetReference>
            </connector>
            <label>Mid Cheshire Delivery</label>
        </rules>
        <rules>
            <name>Mid_Wales_Delivery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mid Wales Delivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_VerifyMidWalesDeliveryContactRecord</targetReference>
            </connector>
            <label>Mid Wales Delivery</label>
        </rules>
        <rules>
            <name>North_Wales_Delivery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>North Wales Delivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_VerifyNorthWalesDeliveryContactRecord</targetReference>
            </connector>
            <label>North Wales Delivery</label>
        </rules>
        <rules>
            <name>WirralDelivery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wirral Delivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_WirralDeliveryContactRecord</targetReference>
            </connector>
            <label>Wirral Delivery</label>
        </rules>
        <rules>
            <name>CSAdmin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS Admin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_CSAdminContactRecord</targetReference>
            </connector>
            <label>CS Admin</label>
        </rules>
        <rules>
            <name>SPEN_SPMDesign132kV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPM Design-132kV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_SPMDesign132kVContactRecord</targetReference>
            </connector>
            <label>SPM Design-132kV</label>
        </rules>
        <rules>
            <name>CheckingFaultQueues</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DCCFaultsAgentQueue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DCCFaultsAgentCallbackQueue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DCCVIPFaultsAgentQueue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DCCVIPFaultsAgentCallbackQueue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DCCPSRFaultsAgentQueue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DCCRepeatCallerFaultsAgentQueue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DCCNoMessageHeardFaultsAgentQueue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DialledNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DCCDangerCheckFaultsAgentQueue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FaultQueueFlow</targetReference>
            </connector>
            <label>CheckingFaultQueues</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_CSAdminContactRecord</name>
        <label>CS Admin Contact Record</label>
        <locationX>9422</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>INVOKE_CSAdminDelivery</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CSAdminContactRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_GetContactRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_CSAdminUpdateVoiceCallRecord</targetReference>
            </connector>
            <label>CSAdminContactRecord</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_EdinburghBordersDeliveryContactRecord</name>
        <label>Edinburgh Borders Delivery Contact Record</label>
        <locationX>5902</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>INVOKE_GetEdinburghBordersDelivery</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ContactRecordExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_GetContactRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPENEdinburghBordersDeliveryUpdate_VoiceCallRecord</targetReference>
            </connector>
            <label>Contact Record Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_SPMDesign132kVContactRecord</name>
        <label>SPM Design-132kV	Contact Record</label>
        <locationX>9862</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>INVOKE_SPMDesign132kVDelivery</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPMDesign132kVContactRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_GetContactRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_SPMDesign132kVUpdateVoiceCallRecord</targetReference>
            </connector>
            <label>SPMDesign132kVContactRecord</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_VerifyAyrshireClydeSouthDeliveryContactRecord</name>
        <label>Verify Ayrshire Clyde South Delivery Contact Record</label>
        <locationX>3702</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>INVOKE_AyrshireClydeSouthDelivery</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_AyrshireClydeSouthDeliveryContactRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_GetContactRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_AyrshireClydeSouthDeliveryUpdateVoiceCallRecord</targetReference>
            </connector>
            <label>Ayrshire Clyde South Delivery Contact Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_VerifyBorderDeliveryContactRecord</name>
        <label>Verify BorderDelivery Contact Record</label>
        <locationX>4142</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>INVOKE_BorderDelivery</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_BorderDeliveryContactRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_GetContactRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_BorderDeliveryUpdateVoiceCallRecord</targetReference>
            </connector>
            <label>Border Delivery Contact Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_VerifyCentralFifeDeliveryContactRecord</name>
        <label>Verify CentralFifeDelivery Contact Record</label>
        <locationX>4582</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>INVOKE_GetCentralFifeDelivery</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_CentralFifeDeliveryContactRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_GetContactRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_CentralFifeDeliveryUpdateVoiceCallRecord</targetReference>
            </connector>
            <label>Central Fife Delivery Contact Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_VerifyConnectionsServicesDeliveryContactRecord</name>
        <label>Verify Connections Services Delivery Contact Record</label>
        <locationX>622</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>INVOKE_ConnectionsServicesDelivery</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_ConnectionsServicesDeliveryContactRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_GetContactRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_ConnectionsServicesDeliveryUpdateVoiceCallRecord</targetReference>
            </connector>
            <label>Connections Services Delivery Contact Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_VerifyGlasgowClydeNorthDelivery_ContactRecord</name>
        <label>Verify Glasgow &amp; Clyde North Delivery Contact Record</label>
        <locationX>6342</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>INVOKE_GetGlasgowClydeNorthDelivery</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_GlasgowClydeNorthDeliveryContactRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_GetContactRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_GlasgowClydeNorthDeliveryUpdateVoiceCallRecord</targetReference>
            </connector>
            <label>GlasgowClydeNorthDeliveryContactRecord</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_VerifyingDeeValleyOswestryDeliveryContactRecord</name>
        <label>Verifying Dee Valley Oswestry Delivery Contact Record</label>
        <locationX>5022</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>INVOKE_DeeValleyOswestryDelivery</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_DeeValleyOswestryDeliveryContactRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_GetContactRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_DeeValleyOswestryDeliveryUpdateVoiceCallRecord</targetReference>
            </connector>
            <label>Dee Valley Oswestry Delivery Contact Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_VerifyingDumfriesDeliveryContactRecord</name>
        <label>Verifying Dumfries Delivery Contact Record</label>
        <locationX>5462</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>INVOKE_DumfriesDelivery</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_DumfriesDeliveryContactRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_GetContactRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_DumfriesDeliveryUpdateVoiceCallRecord</targetReference>
            </connector>
            <label>Dumfries Delivery Contact Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_VerifyLanarkshireDeliveryContactRecord</name>
        <label>Verify Lanarkshire Delivery Contact Record</label>
        <locationX>6782</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>INVOKE_LanarkshireDelivery</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_LanarkshireDeliveryContactRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_GetContactRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_LanarkshireDeliveryUpdateVoiceCallRecord</targetReference>
            </connector>
            <label>LanarkshireDeliveryContactRecord</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_VerifyMerseysideDeliveryContactRecord</name>
        <label>Verify Merseyside Delivery Contact Record</label>
        <locationX>7222</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>INVOKE_MerseysideDelivery</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_MerseysideDeliveryContactRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_GetContactRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_MerseysideDeliveryUpdateVoiceCallRecord</targetReference>
            </connector>
            <label>MerseysideDeliveryContactRecord</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_VerifyMidCheshireDeliveryContactRecord</name>
        <label>Verify Mid Cheshire Delivery Contact Record</label>
        <locationX>7662</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>INVOKE_MidCheshireDelivery</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_MidCheshireDeliveryContactRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_GetContactRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_MidCheshireDeliveryUpdateVoiceCallRecord</targetReference>
            </connector>
            <label>MidCheshireDeliveryContactRecord</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_VerifyMidWalesDeliveryContactRecord</name>
        <label>Verify Mid Wales Delivery Contact Record</label>
        <locationX>8102</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>INVOKE_MidWalesDelivery</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_MidWalesDeliveryContactRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_GetContactRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_MidWalesDeliveryUpdateVoiceCallRecord</targetReference>
            </connector>
            <label>MidWalesDeliveryContactRecord</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_VerifyNorthWalesDeliveryContactRecord</name>
        <label>Verify North Wales Delivery Contact Record</label>
        <locationX>8542</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>INVOKE_NorthWalesDelivery</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_NorthWalesDeliveryContactRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_GetContactRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_NorthWalesDeliveryUpdateVoiceCallRecord</targetReference>
            </connector>
            <label>NorthWalesDeliveryContactRecord</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_VerifyRouteToNorthContactRecord</name>
        <label>VerifyRouteToNorthContactRecord</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>INVOKE_GetConnection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_RouteToConnectionContactRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_GetContactRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_RouteToConnectionUpdateVoiceCallRecord</targetReference>
            </connector>
            <label>RouteToConnectionContactRecord</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_VerifySPDDesignEastDeliveryContactRecord</name>
        <label>Verify SPD Design East Delivery Contact Record</label>
        <locationX>1062</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>INVOKE_SPDDesignEastDelivery</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_SPDDesignEastDeliveryContactRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_GetContactRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_SPDDesignEastDeliveryUpdateVoiceCallRecord</targetReference>
            </connector>
            <label>SPD Design East Delivery Contact Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_VerifySPDDesignMajorDeliveryContactRecord</name>
        <label>Verify SPD Design Major Delivery Contact Record</label>
        <locationX>1942</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>INVOKE_SPDDesignMajorDelivery</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_SPDDesignMajorDeliveryContactRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_GetContactRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_SPDDesignMajorDeliveryUpdateVoiceCallRecord</targetReference>
            </connector>
            <label>SPD Design Major Delivery Contact Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_VerifySPDDesignWestDeliveryContactRecord</name>
        <label>Verify SPD Design West Delivery Contact Record</label>
        <locationX>1502</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>INVOKE_SPDDesignWestDelivery</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_SPDDesignWestDeliveryContactRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_GetContactRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_SPDDesignWestDeliveryUpdateVoiceCallRecord</targetReference>
            </connector>
            <label>SPD Design West Delivery Contact Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_VerifySPMDesignCheshireDeliveryContactRecord</name>
        <label>Verify SPM Design Cheshire Delivery Contact Record</label>
        <locationX>2382</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>INVOKE_SPMDesignCheshireDelivery</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_SPMDesignCheshireDeliveryContactRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_GetContactRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_SPMDesignCheshireDeliveryUpdateVoiceCallRecord</targetReference>
            </connector>
            <label>SPM Design Cheshire Delivery Contact Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_VerifySPMDesignMerseysideDeliveryContactRecord</name>
        <label>Verify SPM Design Merseyside Delivery Contact Record</label>
        <locationX>2822</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>INVOKE_SPMDesignMerseysideDelivery</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_SPMDesignMerseysideDeliveryContactRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_GetContactRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_SPMDesignMerseysideDeliveryUpdateVoiceCallRecord</targetReference>
            </connector>
            <label>SPM Design Merseyside Delivery Contact Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_VerifySPMDesignWalesDeliveryContactRecord</name>
        <label>Verify SPM Design Wales Delivery Contact Record</label>
        <locationX>3262</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>INVOKE_SPMDesignWalesDelivery</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPEN_SPMDesignWalesDeliveryContactRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_GetContactRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_SPMDesignWalesDeliveryUpdateVoiceCallRecord</targetReference>
            </connector>
            <label>SPM Design Wales Delivery Contact Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPEN_WirralDeliveryContactRecord</name>
        <label>Wirral Delivery Contact Record</label>
        <locationX>8982</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>INVOKE_WirralDelivery</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WirralDeliveryDebtContactRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPEN_GetContactRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPEN_WirralUpdateVoiceCallRecord</targetReference>
            </connector>
            <label>WirralDeliveryContactRecord</label>
        </rules>
    </decisions>
    <description>This flow is used to route voice call record in correct omni channel for connections calls</description>
    <environments>Default</environments>
    <interviewLabel>Voice Calls Routed to Agents and connection Queues {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Voice Calls Routed to Agents and Queues connections</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordLookups>
        <name>SPEN_GetContactRecords</name>
        <label>Get Contact Records</label>
        <locationX>5176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CustomerRoutingDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.SPEN_ContactId__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>SPEN_AyrshireClydeSouthDeliveryUpdateVoiceCallRecord</name>
        <label>Ayrshire Clyde South Delivery Update Voice Call Record</label>
        <locationX>3570</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>SPEN_AyrshireClydeSouthDeliveryContactDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_ContactId__c</field>
            <value>
                <elementReference>SPEN_GetContactRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>SPEN_BorderDeliveryUpdateVoiceCallRecord</name>
        <label>BorderDelivery Update Voice Call Record</label>
        <locationX>4010</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>SPEN_BorderDeliveryContactDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_ContactId__c</field>
            <value>
                <elementReference>SPEN_GetContactRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>SPEN_CentralFifeDeliveryUpdateVoiceCallRecord</name>
        <label>Central Fife Delivery Update Voice Call Record</label>
        <locationX>4450</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>SPEN_CentralFifeDeliveryContactDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_ContactId__c</field>
            <value>
                <elementReference>SPEN_GetContactRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>SPEN_ConnectionsServicesDeliveryUpdateVoiceCallRecord</name>
        <label>Connections Services Delivery Update Voice Call Record</label>
        <locationX>490</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>SPEN_ConnectionsServicesDeliveryContactDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_ContactId__c</field>
            <value>
                <elementReference>SPEN_GetContactRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>SPEN_CSAdminUpdateVoiceCallRecord</name>
        <label>CS Admin Update Voice Call Record</label>
        <locationX>9290</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>SPEN_CSAdminDeliveryContactDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_ContactId__c</field>
            <value>
                <elementReference>SPEN_GetContactRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>SPEN_DeeValleyOswestryDeliveryUpdateVoiceCallRecord</name>
        <label>Dee Valley Oswestry Delivery Update Voice Call Record</label>
        <locationX>4890</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>SPEN_DeeValleyOswestryDeliveryContactDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_ContactId__c</field>
            <value>
                <elementReference>SPEN_GetContactRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>SPEN_DumfriesDeliveryUpdateVoiceCallRecord</name>
        <label>Dumfries Delivery Update Voice Call Record</label>
        <locationX>5330</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>SPEN_DumfriesDeliveryContactDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_ContactId__c</field>
            <value>
                <elementReference>SPEN_GetContactRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>SPEN_GlasgowClydeNorthDeliveryUpdateVoiceCallRecord</name>
        <label>Glasgow ClydeNorth Delivery Update Voice Call Record</label>
        <locationX>6210</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>SPEN_GlasgowClydeNorthDeliveryContactDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_ContactId__c</field>
            <value>
                <elementReference>SPEN_GetContactRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>SPEN_LanarkshireDeliveryUpdateVoiceCallRecord</name>
        <label>Lanarkshire Delivery Update Voice Call Record</label>
        <locationX>6650</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>SPEN_LanarkshireDeliveryContactDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_ContactId__c</field>
            <value>
                <elementReference>SPEN_GetContactRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>SPEN_MerseysideDeliveryUpdateVoiceCallRecord</name>
        <label>Merseyside Delivery Update Voice Call Record</label>
        <locationX>7090</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>SPEN_MerseysideDeliveryContactDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_ContactId__c</field>
            <value>
                <elementReference>SPEN_GetContactRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>SPEN_MidCheshireDeliveryUpdateVoiceCallRecord</name>
        <label>Mid Cheshire Delivery Update Voice Call Record</label>
        <locationX>7530</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>SPEN_MidCheshireDeliveryContactDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_ContactId__c</field>
            <value>
                <elementReference>SPEN_GetContactRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>SPEN_MidWalesDeliveryUpdateVoiceCallRecord</name>
        <label>Mid Wales Delivery Update Voice Call Record</label>
        <locationX>7970</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>SPEN_MidWalesDeliveryContactDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_ContactId__c</field>
            <value>
                <elementReference>SPEN_GetContactRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>SPEN_NorthWalesDeliveryUpdateVoiceCallRecord</name>
        <label>North Wales Delivery Update Voice Call Record</label>
        <locationX>8410</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>SPEN_NorthWalesDeliveryContactDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_ContactId__c</field>
            <value>
                <elementReference>SPEN_GetContactRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>SPEN_RouteToConnectionUpdateVoiceCallRecord</name>
        <label>RouteToConnection Update Voice Call Record</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>SPEN_RouteToConnectionContactDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_ContactId__c</field>
            <value>
                <elementReference>SPEN_GetContactRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>SPEN_SPDDesignEastDeliveryUpdateVoiceCallRecord</name>
        <label>SPD Design East Delivery Update Voice Call Record</label>
        <locationX>930</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>SPEN_SPDDesignEastDeliveryContactDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_ContactId__c</field>
            <value>
                <elementReference>SPEN_GetContactRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>SPEN_SPDDesignMajorDeliveryUpdateVoiceCallRecord</name>
        <label>SPD Design Major Delivery Update Voice Call Record</label>
        <locationX>1810</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>SPEN_SPDDesignMajorDeliveryContactDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_ContactId__c</field>
            <value>
                <elementReference>SPEN_GetContactRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>SPEN_SPDDesignWestDeliveryUpdateVoiceCallRecord</name>
        <label>SPD Design West Delivery Update Voice Call Record</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>SPEN_SPDDesignWestDeliveryContactDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_ContactId__c</field>
            <value>
                <elementReference>SPEN_GetContactRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>SPEN_SPMDesign132kVUpdateVoiceCallRecord</name>
        <label>SPM Design-132kV	Update Voice Call Record</label>
        <locationX>9730</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>SPEN_SPMDesign132kVDeliveryContactDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_ContactId__c</field>
            <value>
                <elementReference>SPEN_GetContactRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>SPEN_SPMDesignCheshireDeliveryUpdateVoiceCallRecord</name>
        <label>SPM Design Cheshire Delivery Update Voice Call Record</label>
        <locationX>2250</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>SPEN_SPMDesignCheshireDeliveryContactDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_ContactId__c</field>
            <value>
                <elementReference>SPEN_GetContactRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>SPEN_SPMDesignMerseysideDeliveryUpdateVoiceCallRecord</name>
        <label>SPM Design Merseyside Delivery Update Voice Call Record</label>
        <locationX>2690</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>SPEN_SPMDesignMerseysideDeliveryContactDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_ContactId__c</field>
            <value>
                <elementReference>SPEN_GetContactRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>SPEN_SPMDesignWalesDeliveryUpdateVoiceCallRecord</name>
        <label>SPM Design Wales Delivery Update Voice Call Record</label>
        <locationX>3130</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>SPEN_SPMDesignWalesDeliveryContactDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_ContactId__c</field>
            <value>
                <elementReference>SPEN_GetContactRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>SPEN_UpdateVCQueueAssignedDatetime</name>
        <label>Update VC queue assigned Datetime</label>
        <locationX>5176</locationX>
        <locationY>1058</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_QueueEnteredDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>SPEN_WirralUpdateVoiceCallRecord</name>
        <label>Wirral Update Voice Call Record</label>
        <locationX>8850</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>SPEN_WirralDeliveryContactDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_ContactId__c</field>
            <value>
                <elementReference>SPEN_GetContactRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>SPENEdinburghBordersDeliveryUpdate_VoiceCallRecord</name>
        <label>Edinburgh Borders DeliveryUpdate Voice Call Record</label>
        <locationX>5770</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>SPEN_EdinburghBordersDelivery_ContactDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPEN_ContactId__c</field>
            <value>
                <elementReference>SPEN_GetContactRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <sourceTemplate>omnichannel_voice__VoiceRouting</sourceTemplate>
    <start>
        <locationX>5050</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SPEN_GetContactRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>CRMD-9789</description>
        <name>FaultQueueFlow</name>
        <label>FaultQueueFlow</label>
        <locationX>10170</locationX>
        <locationY>350</locationY>
        <flowName>SPEN_VoiceCallsRoutedtoFaultQueues</flowName>
        <inputAssignments>
            <name>DialledNumber</name>
            <value>
                <elementReference>DialledNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_record</name>
            <value>
                <elementReference>input_record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>DialledNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The voice call record that is being inputted into the flow. Necessary for the flow to run.</description>
        <name>input_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>VoiceCall</objectType>
    </variables>
    <variables>
        <description>The ID of the record being inputted into the flow. Necessary for the flow to run.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SPEN_CaseOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
